node-red/flows/Announcements.json
[
  {
    "id": "f34519812e7522cf",
    "type": "tab",
    "label": "Announcements",
    "disabled": false,
    "info": ""
  },
  {
    "id": "84206afeef95c58e",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 920,
    "y": 240,
    "wires": [
      [
        "6a24f25866833dac"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "7a4888271498757c",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2020,
    "y": 240,
    "wires": [
      [
        "2664a360b33cbe83"
      ]
    ]
  },
  {
    "id": "c05947f0c2a5e334",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1620,
    "y": 240,
    "wires": [
      [
        "0fcca2f73cc8dc68"
      ]
    ]
  },
  {
    "id": "0fcca2f73cc8dc68",
    "type": "template",
    "z": "f34519812e7522cf",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 1820,
    "y": 240,
    "wires": [
      [
        "7a4888271498757c"
      ]
    ]
  },
  {
    "id": "3cc1279d7d4190e8",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "2",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1460,
    "y": 240,
    "wires": [
      [
        "c05947f0c2a5e334"
      ]
    ]
  },
  {
    "id": "6a24f25866833dac",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 240,
    "wires": [
      [
        "2a9be14b8d78b8bc"
      ]
    ]
  },
  {
    "id": "2a9be14b8d78b8bc",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1300,
    "y": 240,
    "wires": [
      [
        "3cc1279d7d4190e8"
      ]
    ]
  },
  {
    "id": "6b7d8f02abb2fbce",
    "type": "inject",
    "z": "f34519812e7522cf",
    "name": "",
    "props": [
      {
        "p": "payload1",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 510,
    "y": 240,
    "wires": [
      [
        "4de509c258fd2282"
      ]
    ]
  },
  {
    "id": "4de509c258fd2282",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "A person is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 240,
    "wires": [
      [
        "84206afeef95c58e"
      ]
    ]
  },
  {
    "id": "2664a360b33cbe83",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2280,
    "y": 240,
    "wires": [
      [
        "0377e3552bbaeafb"
      ]
    ]
  },
  {
    "id": "1b6fac9d5413a108",
    "type": "debug",
    "z": "f34519812e7522cf",
    "name": "test ici 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3280,
    "y": 3180,
    "wires": []
  },
  {
    "id": "0377e3552bbaeafb",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2130,
    "y": 200,
    "wires": [
      [
        "7a4888271498757c"
      ]
    ]
  },
  {
    "id": "0605a87c938686a1",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "Lights",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 1070,
    "y": 3380,
    "wires": [
      [
        "d4c7ee1c0e38fd48",
        "dbef7ffde79a4607",
        "3005bd6970ed485f",
        "bdf39e4857ea8416",
        "cf7546cf063c2051",
        "e8d9ad3d4692ddee",
        "b921506c085c5cd0"
      ]
    ]
  },
  {
    "id": "42c825401540ba4d",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "Party Mode?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 790,
    "y": 740,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "9d67dac53993c6aa",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_name",
        "pt": "msg",
        "to": "red",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "A person is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 3280,
    "wires": [
      [
        "b921506c085c5cd0"
      ]
    ]
  },
  {
    "id": "d4c7ee1c0e38fd48",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.patio",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.patio_notification_light",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1240,
    "y": 3640,
    "wires": [
      [
        "2bb9d64b9347bf12"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "dbef7ffde79a4607",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.hotbox_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1270,
    "y": 3560,
    "wires": [
      [
        "807a082d88d07649"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "3005bd6970ed485f",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.kitchen_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_kitchen_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1270,
    "y": 3480,
    "wires": [
      [
        "7ee4c55f07a86639"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "bdf39e4857ea8416",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.entrance_in",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_entrance_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1260,
    "y": 3400,
    "wires": [
      [
        "c5094f52f8b73bc6"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "76367dcda5cece85",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "",
    "property": "color_value",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 890,
    "y": 860,
    "wires": [
      [
        "42c825401540ba4d",
        "8c30f74dfacc4b95"
      ]
    ]
  },
  {
    "id": "06b392b476daed51",
    "type": "inject",
    "z": "f34519812e7522cf",
    "name": "",
    "props": [
      {
        "p": "payload1",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 790,
    "y": 3080,
    "wires": [
      [
        "9d67dac53993c6aa"
      ]
    ]
  },
  {
    "id": "2bb9d64b9347bf12",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 3640,
    "wires": [
      [
        "cf527c5b3fb9dcd1"
      ]
    ]
  },
  {
    "id": "807a082d88d07649",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 3560,
    "wires": [
      [
        "2d77b28b0bed2a6a"
      ]
    ]
  },
  {
    "id": "7ee4c55f07a86639",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 3480,
    "wires": [
      [
        "b769e7a0d5728de6"
      ]
    ]
  },
  {
    "id": "c5094f52f8b73bc6",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 3400,
    "wires": [
      [
        "77504ef5fbf4ef2d"
      ]
    ]
  },
  {
    "id": "3d2e4e2ab35afcbe",
    "type": "trigger",
    "z": "f34519812e7522cf",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "30",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 750,
    "y": 860,
    "wires": [
      [
        "76367dcda5cece85"
      ]
    ]
  },
  {
    "id": "cf527c5b3fb9dcd1",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1660,
    "y": 3640,
    "wires": [
      [
        "c516aa7d9074d4cc"
      ]
    ]
  },
  {
    "id": "2d77b28b0bed2a6a",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1660,
    "y": 3560,
    "wires": [
      [
        "24e3ca07178d7599"
      ]
    ]
  },
  {
    "id": "b769e7a0d5728de6",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1660,
    "y": 3480,
    "wires": [
      [
        "d0d3af3880fb8143"
      ]
    ]
  },
  {
    "id": "77504ef5fbf4ef2d",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1660,
    "y": 3400,
    "wires": [
      [
        "cda650a1d6dfc699"
      ]
    ]
  },
  {
    "id": "45904ca6429d867d",
    "type": "link in",
    "z": "f34519812e7522cf",
    "name": "Lights output",
    "links": [
      "cda6edfe40da167c",
      "621cf8c7437be5fe",
      "50b11c0933d47453",
      "07dc8ff772761239",
      "26bb1943455ffac1",
      "3c31668009a3d6e2",
      "9790cd5589899bc8",
      "dec00629dd8d0b6f",
      "2185ba65d3b32ccb",
      "e02e42d8570d1e35",
      "1101083478bf6895",
      "f22fd5c50ad88bbd",
      "9bcf0ff17f4166b3",
      "7a91de5bae6af973",
      "fa139ab7677a02b0",
      "363e437bccdc57b7",
      "3c1cab3d3f4be5ea",
      "63e9f2977e9e3d61",
      "d8ce205edf2e27bc",
      "f66eb3a9e4a19b70",
      "16eb9b57ee4552c0",
      "ce20e38b68c63777",
      "ff853761685c9da6",
      "9ad961f55f0e53d5",
      "464e1cbb64c196f9",
      "1336b94421bca8c6",
      "691a7adae76a461c",
      "902a23bee759d216",
      "3c74b545f5aa3550",
      "917e13c9a14ee4b7",
      "333bc07437e9824c",
      "800c68555a289aa4",
      "e5e32b2a64fc9eb4",
      "b61e3fe82467cd65",
      "07013d535d8ccc49",
      "a6b24fae2a2006c2",
      "bdf9d4affd3d3d05",
      "bac611cb0f32e2df",
      "1e08241f8b92a3c6"
    ],
    "x": 615,
    "y": 900,
    "wires": [
      [
        "844fb9a7583614fa"
      ]
    ]
  },
  {
    "id": "c516aa7d9074d4cc",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1820,
    "y": 3640,
    "wires": [
      [
        "24acfb8c936f3f76"
      ]
    ]
  },
  {
    "id": "24e3ca07178d7599",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1820,
    "y": 3560,
    "wires": [
      [
        "8e8d44abe3b9cbd0"
      ]
    ]
  },
  {
    "id": "d0d3af3880fb8143",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1820,
    "y": 3480,
    "wires": [
      [
        "5e989e505c0e8306"
      ]
    ]
  },
  {
    "id": "cda650a1d6dfc699",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1820,
    "y": 3400,
    "wires": [
      [
        "667982ad2bab18b7"
      ]
    ]
  },
  {
    "id": "fcba611dafc02871",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "",
    "property": "message",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 750,
    "y": 1120,
    "wires": [
      [
        "9d61e81ca21d4495"
      ]
    ]
  },
  {
    "id": "24acfb8c936f3f76",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1980,
    "y": 3640,
    "wires": [
      [
        "5a8b19789337b84d"
      ]
    ]
  },
  {
    "id": "8e8d44abe3b9cbd0",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1980,
    "y": 3560,
    "wires": [
      [
        "9ee487958c658fa5"
      ]
    ]
  },
  {
    "id": "5e989e505c0e8306",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1980,
    "y": 3480,
    "wires": [
      [
        "0b33595834c69a02"
      ]
    ]
  },
  {
    "id": "667982ad2bab18b7",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1980,
    "y": 3400,
    "wires": [
      [
        "cb893b8694b9689e"
      ]
    ]
  },
  {
    "id": "9cd688e5d17c4e4b",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_name",
        "pt": "global",
        "to": "Cyan",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "global",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Broadcast Test",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 1120,
    "wires": [
      [
        "fcba611dafc02871"
      ]
    ]
  },
  {
    "id": "9d61e81ca21d4495",
    "type": "function",
    "z": "f34519812e7522cf",
    "name": " Set payload for assistant relay",
    "func": "var msg = {\n    \"payload\": \n{\n    \"command\": msg.message,\n    \"broadcast\": true,\n    \"converse\": false,\n    \"user\": \"Maxi1134\"\n}\n\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 1120,
    "wires": [
      [
        "366ed4a484a24d93",
        "2db9515607e68945"
      ]
    ]
  },
  {
    "id": "5a8b19789337b84d",
    "type": "template",
    "z": "f34519812e7522cf",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 2180,
    "y": 3640,
    "wires": [
      [
        "dc7de45a9436430f"
      ]
    ]
  },
  {
    "id": "9ee487958c658fa5",
    "type": "template",
    "z": "f34519812e7522cf",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 2180,
    "y": 3560,
    "wires": [
      [
        "8c1883bb079789e5"
      ]
    ]
  },
  {
    "id": "0b33595834c69a02",
    "type": "template",
    "z": "f34519812e7522cf",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 2180,
    "y": 3480,
    "wires": [
      [
        "024d29cb0ffe7553"
      ]
    ]
  },
  {
    "id": "cb893b8694b9689e",
    "type": "template",
    "z": "f34519812e7522cf",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 2180,
    "y": 3400,
    "wires": [
      [
        "50006cb305bbe2cd"
      ]
    ]
  },
  {
    "id": "8564fd8bcc8dd174",
    "type": "inject",
    "z": "f34519812e7522cf",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 290,
    "y": 1120,
    "wires": [
      [
        "9cd688e5d17c4e4b"
      ]
    ]
  },
  {
    "id": "366ed4a484a24d93",
    "type": "http request",
    "z": "f34519812e7522cf",
    "name": "POST request",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.15:3000/api/assistant",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1200,
    "y": 1120,
    "wires": [
      [
        "2db9515607e68945"
      ]
    ]
  },
  {
    "id": "2db9515607e68945",
    "type": "debug",
    "z": "f34519812e7522cf",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1390,
    "y": 1120,
    "wires": []
  },
  {
    "id": "dc7de45a9436430f",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 3640,
    "wires": [
      [
        "abfe3b488f4bf0f4"
      ]
    ]
  },
  {
    "id": "8c1883bb079789e5",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 3560,
    "wires": [
      [
        "d34d98cf5cd24c91"
      ]
    ]
  },
  {
    "id": "024d29cb0ffe7553",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 3480,
    "wires": [
      [
        "aef339e88675e471"
      ]
    ]
  },
  {
    "id": "50006cb305bbe2cd",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 3400,
    "wires": [
      [
        "2598ea7ec0c06ec8"
      ]
    ]
  },
  {
    "id": "fb491212c6780cf2",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2490,
    "y": 3600,
    "wires": [
      [
        "dc7de45a9436430f"
      ]
    ]
  },
  {
    "id": "abfe3b488f4bf0f4",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.patio",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.patio_notification_light",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2560,
    "y": 3640,
    "wires": [
      [
        "fb491212c6780cf2"
      ]
    ]
  },
  {
    "id": "2f1e51bb8fdf11b7",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2490,
    "y": 3520,
    "wires": [
      [
        "8c1883bb079789e5"
      ]
    ]
  },
  {
    "id": "d34d98cf5cd24c91",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.hotbox_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2590,
    "y": 3560,
    "wires": [
      [
        "2f1e51bb8fdf11b7"
      ]
    ]
  },
  {
    "id": "9ffac0a5b77c636e",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2490,
    "y": 3440,
    "wires": [
      [
        "024d29cb0ffe7553"
      ]
    ]
  },
  {
    "id": "aef339e88675e471",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.kitchen_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_kitchen_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2590,
    "y": 3480,
    "wires": [
      [
        "9ffac0a5b77c636e"
      ]
    ]
  },
  {
    "id": "a03722945fbbdfaa",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2490,
    "y": 3360,
    "wires": [
      [
        "50006cb305bbe2cd"
      ]
    ]
  },
  {
    "id": "2598ea7ec0c06ec8",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.entrance_in",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_entrance_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2580,
    "y": 3400,
    "wires": [
      [
        "a03722945fbbdfaa"
      ]
    ]
  },
  {
    "id": "cf7546cf063c2051",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.livingroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_livingroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1280,
    "y": 3320,
    "wires": [
      [
        "d05d6637664a0dce"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "3fd18274e9e1bd73",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 3320,
    "wires": [
      [
        "cc8256ba0583e06c"
      ]
    ]
  },
  {
    "id": "3aa859e9e815cae3",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1980,
    "y": 3320,
    "wires": [
      [
        "eb28c35dfd55656e"
      ]
    ]
  },
  {
    "id": "eb28c35dfd55656e",
    "type": "template",
    "z": "f34519812e7522cf",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 2180,
    "y": 3320,
    "wires": [
      [
        "3fd18274e9e1bd73"
      ]
    ]
  },
  {
    "id": "656a71f1cd23f867",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1820,
    "y": 3320,
    "wires": [
      [
        "3aa859e9e815cae3"
      ]
    ]
  },
  {
    "id": "d05d6637664a0dce",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 3320,
    "wires": [
      [
        "c5d2d10c8e686f48"
      ]
    ]
  },
  {
    "id": "c5d2d10c8e686f48",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1660,
    "y": 3320,
    "wires": [
      [
        "656a71f1cd23f867"
      ]
    ]
  },
  {
    "id": "cc8256ba0583e06c",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.livingroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_livingroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2600,
    "y": 3320,
    "wires": [
      [
        "7aec7ce90475d813"
      ]
    ]
  },
  {
    "id": "7aec7ce90475d813",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2490,
    "y": 3280,
    "wires": [
      [
        "3fd18274e9e1bd73"
      ]
    ]
  },
  {
    "id": "2549655911d7e342",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1800,
    "y": 3240,
    "wires": [
      [
        "d1d37998ee841405",
        "3561a14b2e4e83f4"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "95b18c742ad346a2",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2900,
    "y": 3240,
    "wires": [
      [
        "e9cf8feebea1fa1b",
        "1b6fac9d5413a108"
      ]
    ]
  },
  {
    "id": "862234128b55035f",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2500,
    "y": 3240,
    "wires": [
      [
        "c70f7ddbaf6229c5"
      ]
    ]
  },
  {
    "id": "c70f7ddbaf6229c5",
    "type": "template",
    "z": "f34519812e7522cf",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 2700,
    "y": 3240,
    "wires": [
      [
        "95b18c742ad346a2"
      ]
    ]
  },
  {
    "id": "036e4f7581c049a0",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2340,
    "y": 3240,
    "wires": [
      [
        "862234128b55035f"
      ]
    ]
  },
  {
    "id": "d1d37998ee841405",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1970,
    "y": 3240,
    "wires": [
      [
        "2f306deca9f8f71f"
      ]
    ]
  },
  {
    "id": "2f306deca9f8f71f",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2140,
    "y": 3240,
    "wires": [
      [
        "036e4f7581c049a0"
      ]
    ]
  },
  {
    "id": "e9cf8feebea1fa1b",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3120,
    "y": 3240,
    "wires": [
      [
        "99649a611ce21cfe",
        "1b6fac9d5413a108"
      ]
    ]
  },
  {
    "id": "99649a611ce21cfe",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3010,
    "y": 3200,
    "wires": [
      [
        "95b18c742ad346a2"
      ]
    ]
  },
  {
    "id": "e8d9ad3d4692ddee",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.thierry",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.thierry",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1250,
    "y": 3120,
    "wires": [
      [
        "19b7c2e8240f6382"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "19b7c2e8240f6382",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 3120,
    "wires": [
      [
        "42e5f41425abe751"
      ]
    ]
  },
  {
    "id": "42e5f41425abe751",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1660,
    "y": 3120,
    "wires": [
      [
        "e116b72649f5eabc"
      ]
    ]
  },
  {
    "id": "e116b72649f5eabc",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "2",
    "randomLast": "3",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1820,
    "y": 3120,
    "wires": [
      [
        "b242e3eae8cb626b"
      ]
    ]
  },
  {
    "id": "b242e3eae8cb626b",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1980,
    "y": 3120,
    "wires": [
      [
        "bc5ffcf1e6016dba"
      ]
    ]
  },
  {
    "id": "bc5ffcf1e6016dba",
    "type": "template",
    "z": "f34519812e7522cf",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 2180,
    "y": 3120,
    "wires": [
      [
        "1eac1c90635fcf2f"
      ]
    ]
  },
  {
    "id": "1eac1c90635fcf2f",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 3120,
    "wires": [
      [
        "eb9e0977fd4823c7"
      ]
    ]
  },
  {
    "id": "fa4a190a5a8cb07b",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2490,
    "y": 3080,
    "wires": [
      [
        "1eac1c90635fcf2f"
      ]
    ]
  },
  {
    "id": "eb9e0977fd4823c7",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "light.thierry",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.thierry",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2570,
    "y": 3120,
    "wires": [
      [
        "fa4a190a5a8cb07b"
      ]
    ]
  },
  {
    "id": "430ef7f959f3acbe",
    "type": "inject",
    "z": "f34519812e7522cf",
    "name": "",
    "props": [
      {
        "p": "payload1",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 350,
    "y": 740,
    "wires": [
      [
        "123864baed111d3f"
      ]
    ]
  },
  {
    "id": "123864baed111d3f",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "A person is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 740,
    "wires": [
      [
        "42c825401540ba4d"
      ]
    ]
  },
  {
    "id": "b921506c085c5cd0",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "sleeping",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.maxi_sleeping",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1260,
    "y": 3240,
    "wires": [
      [
        "2549655911d7e342"
      ],
      [
        "20d1f9c83d8d1753"
      ]
    ],
    "outputLabels": [
      "data.attributes",
      ""
    ]
  },
  {
    "id": "6c95d201f6c9daf3",
    "type": "link in",
    "z": "f34519812e7522cf",
    "name": "TV output",
    "links": [
      "d7ccb3af1a82f471",
      "4a05baf3976bade9",
      "836799ab5789bfdd",
      "e139f44c71b58e6e",
      "c83706e06ce524aa",
      "bdb95ccd4331168c",
      "87741f0405d05c21",
      "071e62f4a8fb4411",
      "2be68eeca4b12515",
      "0361e9a0a13608d3",
      "a9f7a85966e01bbb",
      "f0ab80a27fc67e71",
      "b0a24e5ad5a07b47",
      "4969fb0496c2bff9",
      "5b78416ba629eb77",
      "e00c45cbe3e63bd3",
      "5b1999c656658823",
      "f5393864d1b87876",
      "20a73ed621cdb1fa",
      "d3ff46bcfad26357",
      "679f1d97bea54b16"
    ],
    "x": 605,
    "y": 2300,
    "wires": [
      [
        "59b850a1f6e39faf"
      ]
    ]
  },
  {
    "id": "6f09247fb47e9c18",
    "type": "inject",
    "z": "f34519812e7522cf",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 450,
    "y": 2440,
    "wires": [
      [
        "59b850a1f6e39faf"
      ]
    ]
  },
  {
    "id": "3561a14b2e4e83f4",
    "type": "debug",
    "z": "f34519812e7522cf",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1830,
    "y": 3180,
    "wires": []
  },
  {
    "id": "20d1f9c83d8d1753",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "!=green",
    "property": "color_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "green",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1580,
    "y": 3260,
    "wires": [
      [
        "2549655911d7e342"
      ]
    ]
  },
  {
    "id": "1aac65146ab06f79",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "Living Room  TV?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.living_room_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1020,
    "y": 2580,
    "wires": [
      [
        "69737479af458639"
      ],
      [
        "fadf7b02800992bc"
      ]
    ]
  },
  {
    "id": "e0301454afc920c4",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "Patio TV?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.patio_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 990,
    "y": 2200,
    "wires": [
      [
        "ce2fa106504ff344"
      ],
      [
        "c7106c1b5d18bf04"
      ]
    ]
  },
  {
    "id": "ce2fa106504ff344",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1230,
    "y": 2200,
    "wires": [
      [
        "1a084bc551c189fa"
      ]
    ]
  },
  {
    "id": "1a084bc551c189fa",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "pause patio TV",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.patio_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1410,
    "y": 2200,
    "wires": [
      []
    ]
  },
  {
    "id": "69737479af458639",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1230,
    "y": 2560,
    "wires": [
      [
        "dd10c7f7948c1914"
      ]
    ]
  },
  {
    "id": "dd10c7f7948c1914",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "pause living room tv",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.living_room_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1430,
    "y": 2560,
    "wires": [
      []
    ]
  },
  {
    "id": "fadf7b02800992bc",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "Living Room LG?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.living_room_lg",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1240,
    "y": 2600,
    "wires": [
      [
        "caa2b1f3cc24b5c3"
      ]
    ]
  },
  {
    "id": "caa2b1f3cc24b5c3",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "",
    "property": "payload.attributes.source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "HDMI 2",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "HDMI 2",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1400,
    "y": 2600,
    "wires": [
      [
        "df06240f96fe6139"
      ],
      [
        "360c1e3a5d3a9ce3"
      ]
    ]
  },
  {
    "id": "edce802b1e60377b",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "stop",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.living_room_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2420,
    "y": 2660,
    "wires": [
      []
    ]
  },
  {
    "id": "c7106c1b5d18bf04",
    "type": "exec",
    "z": "f34519812e7522cf",
    "command": "/root/.local/bin/catt -d 'Patio TV' cast_site 'http://192.168.0.15:8123/local/reolink.jpg'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 1440,
    "y": 2240,
    "wires": [
      [
        "86b7bdca6f8133c7"
      ],
      [],
      [
        "86b7bdca6f8133c7"
      ]
    ]
  },
  {
    "id": "86b7bdca6f8133c7",
    "type": "ha-wait-until",
    "z": "f34519812e7522cf",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 1950,
    "y": 2240,
    "wires": [
      [
        "77bba7d8ced92853"
      ],
      [
        "77bba7d8ced92853"
      ]
    ]
  },
  {
    "id": "77bba7d8ced92853",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "stop",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.patio_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2160,
    "y": 2240,
    "wires": [
      []
    ]
  },
  {
    "id": "b61c27e2c6f21854",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "Hotbox TV Down",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.hotbox_down_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1020,
    "y": 2280,
    "wires": [
      [
        "c3d06d30b3d41fae"
      ],
      [
        "9531e41420bdfe66"
      ]
    ]
  },
  {
    "id": "c3d06d30b3d41fae",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1230,
    "y": 2280,
    "wires": [
      [
        "1906d50d4bbc0fb4"
      ]
    ]
  },
  {
    "id": "1906d50d4bbc0fb4",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "pause",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hotbox_down_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1380,
    "y": 2280,
    "wires": [
      []
    ]
  },
  {
    "id": "9531e41420bdfe66",
    "type": "exec",
    "z": "f34519812e7522cf",
    "command": "/root/.local/bin/catt -d 'Hotbox Top TV' cast_site 'http://192.168.0.15:8123/local/reolink.jpg'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 1460,
    "y": 2320,
    "wires": [
      [
        "0b4b69550bfc584f"
      ],
      [],
      [
        "0b4b69550bfc584f"
      ]
    ]
  },
  {
    "id": "0b4b69550bfc584f",
    "type": "ha-wait-until",
    "z": "f34519812e7522cf",
    "name": "lock opens",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door, ",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 1900,
    "y": 2320,
    "wires": [
      [
        "2d361fc5737bb3e6"
      ],
      [
        "2d361fc5737bb3e6"
      ]
    ]
  },
  {
    "id": "2d361fc5737bb3e6",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "stop",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hotbox_down_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2220,
    "y": 2320,
    "wires": [
      []
    ]
  },
  {
    "id": "2702e16aba4ee822",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "Hotbox TV",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.hotbox_top_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1000,
    "y": 2360,
    "wires": [
      [
        "f57c9b853de6efab"
      ],
      [
        "69e537dc26949598"
      ]
    ]
  },
  {
    "id": "f57c9b853de6efab",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1230,
    "y": 2360,
    "wires": [
      [
        "b6c7584f06d247af"
      ]
    ]
  },
  {
    "id": "b6c7584f06d247af",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "pause",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hotbox_top_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1380,
    "y": 2360,
    "wires": [
      []
    ]
  },
  {
    "id": "69e537dc26949598",
    "type": "exec",
    "z": "f34519812e7522cf",
    "command": "/root/.local/bin/catt -d 'Hotbox Down TV' cast_site 'http://192.168.0.15:8123/local/reolink.jpg'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 1470,
    "y": 2400,
    "wires": [
      [
        "94583770890a2ced"
      ],
      [],
      [
        "94583770890a2ced"
      ]
    ]
  },
  {
    "id": "94583770890a2ced",
    "type": "ha-wait-until",
    "z": "f34519812e7522cf",
    "name": "lock opens",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door, ",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 1900,
    "y": 2400,
    "wires": [
      [
        "a2d2def8c8fc0b8b"
      ],
      [
        "a2d2def8c8fc0b8b"
      ]
    ]
  },
  {
    "id": "a2d2def8c8fc0b8b",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "stop",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hotbox_top_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2220,
    "y": 2400,
    "wires": [
      []
    ]
  },
  {
    "id": "ea684b5f9c34dcdc",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "Bedroom TV",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "idle",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.bedroom_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1000,
    "y": 2460,
    "wires": [
      [
        "995e9d4420541afd"
      ],
      [
        "c6b7d506afe2864a"
      ]
    ]
  },
  {
    "id": "995e9d4420541afd",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1230,
    "y": 2460,
    "wires": [
      [
        "b453f66c371a80be"
      ]
    ]
  },
  {
    "id": "b453f66c371a80be",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "pause",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bedroom_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1380,
    "y": 2460,
    "wires": [
      []
    ]
  },
  {
    "id": "c6b7d506afe2864a",
    "type": "exec",
    "z": "f34519812e7522cf",
    "command": "/root/.local/bin/catt -d 'Bedroom TV' cast_site 'http://192.168.0.15:8123/local/reolink.jpg'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 1450,
    "y": 2500,
    "wires": [
      [
        "11ad85976f1a5319"
      ],
      [],
      [
        "11ad85976f1a5319"
      ]
    ]
  },
  {
    "id": "34c48140f16abd1d",
    "type": "ha-wait-until",
    "z": "f34519812e7522cf",
    "name": "lock opens",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door, ",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2080,
    "y": 2500,
    "wires": [
      [
        "a2105bf9432218ec"
      ],
      [
        "a2105bf9432218ec"
      ]
    ]
  },
  {
    "id": "a2105bf9432218ec",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "stop",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bedroom_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2260,
    "y": 2480,
    "wires": [
      [
        "e1f9fb727008e812"
      ]
    ]
  },
  {
    "id": "df06240f96fe6139",
    "type": "exec",
    "z": "f34519812e7522cf",
    "command": "/root/.local/bin/catt -d 'Living Room TV' cast_site 'http://192.168.0.15:8123/local/reolink.jpg'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 1800,
    "y": 2600,
    "wires": [
      [
        "dea542cb24956ffc"
      ],
      [],
      []
    ]
  },
  {
    "id": "dea542cb24956ffc",
    "type": "ha-wait-until",
    "z": "f34519812e7522cf",
    "name": "lock opens",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door, ",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2260,
    "y": 2600,
    "wires": [
      [
        "dd1bbe7445e9647d"
      ],
      [
        "dd1bbe7445e9647d"
      ]
    ]
  },
  {
    "id": "dd1bbe7445e9647d",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "stop",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.living_room_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2420,
    "y": 2600,
    "wires": [
      [
        "3fc0c17eb04935ce"
      ]
    ]
  },
  {
    "id": "360c1e3a5d3a9ce3",
    "type": "exec",
    "z": "f34519812e7522cf",
    "command": "/root/.local/bin/catt -d 'Living Room TV' cast_site 'http://192.168.0.15:8123/local/reolink.jpg'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 1800,
    "y": 2660,
    "wires": [
      [
        "a7767430eda890f3"
      ],
      [],
      []
    ]
  },
  {
    "id": "a7767430eda890f3",
    "type": "ha-wait-until",
    "z": "f34519812e7522cf",
    "name": "lock opens",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2260,
    "y": 2660,
    "wires": [
      [
        "edce802b1e60377b"
      ],
      [
        "edce802b1e60377b"
      ]
    ]
  },
  {
    "id": "3fc0c17eb04935ce",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "change source",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "select_source",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.living_room_lg"
    ],
    "data": "{\"source\":\"HDMI 2\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2570,
    "y": 2600,
    "wires": [
      []
    ]
  },
  {
    "id": "e1f9fb727008e812",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "change source",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "select_source",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bedroom_tv"
    ],
    "data": "{\"source\":\"PC\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2590,
    "y": 2480,
    "wires": [
      []
    ]
  },
  {
    "id": "11ad85976f1a5319",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "change source",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "lock.lock_front_door, ",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bedroom_tv"
    ],
    "data": "{\"source\":\"chromecast\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1890,
    "y": 2520,
    "wires": [
      [
        "34c48140f16abd1d"
      ]
    ]
  },
  {
    "id": "59b850a1f6e39faf",
    "type": "api-current-state",
    "z": "f34519812e7522cf",
    "name": "Party",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 800,
    "y": 2340,
    "wires": [
      [
        "e0301454afc920c4",
        "b61c27e2c6f21854",
        "2702e16aba4ee822",
        "ea684b5f9c34dcdc",
        "1aac65146ab06f79"
      ],
      []
    ]
  },
  {
    "id": "91d140293e8cb5a5",
    "type": "inject",
    "z": "f34519812e7522cf",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1030,
    "y": 3600,
    "wires": [
      [
        "d4c7ee1c0e38fd48"
      ]
    ]
  },
  {
    "id": "492e31e090146e2c",
    "type": "inject",
    "z": "f34519812e7522cf",
    "name": "",
    "props": [
      {
        "p": "inject",
        "v": "",
        "vt": "date"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1090,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "8c30f74dfacc4b95",
    "type": "ha-get-entities",
    "z": "f34519812e7522cf",
    "name": "Get Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "^light.*[a-z].*(?<!s)$",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is_not",
        "value": "unavailable",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 1450,
    "y": 860,
    "wires": [
      [
        "0a11cdf9b61ead73"
      ]
    ]
  },
  {
    "id": "877c737f94f33adc",
    "type": "debug",
    "z": "f34519812e7522cf",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1870,
    "y": 1180,
    "wires": []
  },
  {
    "id": "0a11cdf9b61ead73",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "Check color support",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "xy",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1700,
    "y": 860,
    "wires": [
      [
        "7687968e986402bb"
      ]
    ]
  },
  {
    "id": "7687968e986402bb",
    "type": "switch",
    "z": "f34519812e7522cf",
    "name": "Check initial light state",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1980,
    "y": 860,
    "wires": [
      [
        "f64325639791dc5d",
        "7525a7496c9c954a"
      ],
      []
    ]
  },
  {
    "id": "603f2117ae97f231",
    "type": "comment",
    "z": "f34519812e7522cf",
    "name": "Pull all individual lights",
    "info": "",
    "x": 1460,
    "y": 820,
    "wires": []
  },
  {
    "id": "54d13ada3eb1bd61",
    "type": "comment",
    "z": "f34519812e7522cf",
    "name": "Check if they support color",
    "info": "",
    "x": 1710,
    "y": 820,
    "wires": []
  },
  {
    "id": "9d5c68c7b67c9280",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2440,
    "y": 860,
    "wires": [
      [
        "877c737f94f33adc",
        "810667f9b644c3b4"
      ]
    ]
  },
  {
    "id": "7525a7496c9c954a",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "Set desired Values",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2210,
    "y": 860,
    "wires": [
      [
        "877c737f94f33adc",
        "9d5c68c7b67c9280"
      ]
    ]
  },
  {
    "id": "f64325639791dc5d",
    "type": "debug",
    "z": "f34519812e7522cf",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1290,
    "y": 1500,
    "wires": []
  },
  {
    "id": "ad39d3fba55e2a22",
    "type": "change",
    "z": "f34519812e7522cf",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload.data.brightness_pct",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "payload.attributes.rgb_color",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "payload.attributes.brightness",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2940,
    "y": 860,
    "wires": [
      [
        "9e4f2dedb594de4f",
        "cc068abe1e972515"
      ]
    ]
  },
  {
    "id": "9e4f2dedb594de4f",
    "type": "api-call-service",
    "z": "f34519812e7522cf",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3140,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "cc068abe1e972515",
    "type": "debug",
    "z": "f34519812e7522cf",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3070,
    "y": 800,
    "wires": []
  },
  {
    "id": "810667f9b644c3b4",
    "type": "delay",
    "z": "f34519812e7522cf",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2700,
    "y": 860,
    "wires": [
      [
        "ad39d3fba55e2a22"
      ]
    ]
  },
  {
    "id": "844fb9a7583614fa",
    "type": "subflow:233ac7dcd801a802",
    "z": "f34519812e7522cf",
    "name": "",
    "x": 830,
    "y": 940,
    "wires": []
  }
]