node-red/flows/Bathroom Old.json
[
  {
    "id": "2cc7bfce9974187b",
    "type": "tab",
    "label": "Bathroom Old",
    "disabled": true,
    "info": ""
  },
  {
    "id": "72bfd397cd702c8e",
    "type": "trigger",
    "z": "2cc7bfce9974187b",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "3",
    "extend": false,
    "units": "min",
    "reset": "motion",
    "bytopic": "all",
    "outputs": 1,
    "x": 810,
    "y": 160,
    "wires": [
      [
        "84e18e21e9dd9ff4"
      ]
    ]
  },
  {
    "id": "a08f57b1171dda68",
    "type": "comment",
    "z": "2cc7bfce9974187b",
    "name": "This prevent the Light from going off as long as the humidity is over 40%(Shower)",
    "info": "",
    "x": 480,
    "y": 280,
    "wires": []
  },
  {
    "id": "ac3673555eeffef9",
    "type": "change",
    "z": "2cc7bfce9974187b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "A",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1320,
    "y": 400,
    "wires": [
      [
        "9879e858bca8da07"
      ]
    ]
  },
  {
    "id": "77e5d0056da4a761",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bathrooms",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 650,
    "y": 400,
    "wires": [
      [],
      [
        "fadf63c0ba97e35a",
        "c486434c68967ba8"
      ]
    ]
  },
  {
    "id": "8d27e7aef34d8dab",
    "type": "trigger",
    "z": "2cc7bfce9974187b",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "units": "s",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 990,
    "y": 400,
    "wires": [
      [
        "0b9fb1d9b33f9466"
      ]
    ]
  },
  {
    "id": "9879e858bca8da07",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1510,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "798f2bb5acabecfe",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "36",
    "inte": "true",
    "property": "number",
    "x": 1220,
    "y": 220,
    "wires": [
      [
        "24cab57cb10e5c89"
      ]
    ]
  },
  {
    "id": "fadf63c0ba97e35a",
    "type": "change",
    "z": "2cc7bfce9974187b",
    "name": "on",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 400,
    "wires": [
      [
        "8d27e7aef34d8dab"
      ]
    ]
  },
  {
    "id": "22c7389336042dde",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "cast Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_stop",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2020,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "0b9fb1d9b33f9466",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "Motion state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_bathroom",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1150,
    "y": 400,
    "wires": [
      [],
      [
        "ac3673555eeffef9"
      ]
    ]
  },
  {
    "id": "0725e0584ea76f47",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload1",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1630,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "84e18e21e9dd9ff4",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "Humidity",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.humidity_bathroom",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 960,
    "y": 120,
    "wires": [
      [
        "706ed5be7a91d3e0"
      ]
    ]
  },
  {
    "id": "f4d7e893a7e154e0",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Light on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "{\"color_temp\":\"255\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1290,
    "y": 260,
    "wires": [
      [
        "feba2e5b4509af16"
      ]
    ]
  },
  {
    "id": "706ed5be7a91d3e0",
    "type": "switch",
    "z": "2cc7bfce9974187b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "65",
        "vt": "str"
      },
      {
        "t": "gt",
        "v": "65",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1110,
    "y": 140,
    "wires": [
      [
        "929d2e17b7d7b5ae",
        "0725e0584ea76f47"
      ],
      [
        "72bfd397cd702c8e"
      ]
    ]
  },
  {
    "id": "c3a67edf4a8fa7e6",
    "type": "trigger",
    "z": "2cc7bfce9974187b",
    "name": "",
    "op1": "1",
    "op2": "",
    "op1type": "str",
    "op2type": "str",
    "duration": "-30",
    "extend": true,
    "units": "s",
    "reset": "no_motion",
    "bytopic": "all",
    "outputs": 1,
    "x": 810,
    "y": 220,
    "wires": [
      [
        "647c57e703d4c7af",
        "f13cfb67bbf400d5"
      ]
    ]
  },
  {
    "id": "e748d3e4a6d8acc7",
    "type": "change",
    "z": "2cc7bfce9974187b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 220,
    "wires": [
      [
        "72bfd397cd702c8e",
        "c3a67edf4a8fa7e6"
      ]
    ]
  },
  {
    "id": "de4d3a6119fb72fd",
    "type": "change",
    "z": "2cc7bfce9974187b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "no_motion",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 140,
    "wires": [
      [
        "72bfd397cd702c8e",
        "c3a67edf4a8fa7e6"
      ]
    ]
  },
  {
    "id": "0949695b2744d2bf",
    "type": "switch",
    "z": "2cc7bfce9974187b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "on",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 490,
    "y": 880,
    "wires": [
      [
        "bb3d35298bb0f780"
      ],
      [
        "302111b2c104b0c5"
      ]
    ]
  },
  {
    "id": "1e3486819572b13d",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\":\"0.0\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1070,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "f2e31ce0ff5a5b1c",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1210,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "647c57e703d4c7af",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "Speaker state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.bathroom_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1040,
    "y": 220,
    "wires": [
      [],
      [
        "798f2bb5acabecfe"
      ]
    ]
  },
  {
    "id": "7e85042e228f6e2d",
    "type": "server-state-changed",
    "z": "2cc7bfce9974187b",
    "name": "Door change?",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.door_bathroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 330,
    "y": 880,
    "wires": [
      [
        "0949695b2744d2bf"
      ]
    ]
  },
  {
    "id": "f13cfb67bbf400d5",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bathrooms",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 930,
    "y": 260,
    "wires": [
      [],
      [
        "0ea02b5030d1e7c1"
      ]
    ]
  },
  {
    "id": "4c6da4d01d3f88ca",
    "type": "server-state-changed",
    "z": "2cc7bfce9974187b",
    "name": "Humidity over 65",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.humidity_bathroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "65",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 540,
    "wires": [
      [
        "909f646954961822"
      ],
      [
        "0390741daffca5b2"
      ]
    ]
  },
  {
    "id": "909f646954961822",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.bathroom_fan"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 500,
    "wires": [
      [
        "a62f85af1cd5362b"
      ]
    ]
  },
  {
    "id": "0390741daffca5b2",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.bathroom_fan"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "7dddb776442f3bf6",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "Door state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.door_bathroom",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "door",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1670,
    "y": 220,
    "wires": [
      [
        "a6f2af2b1910de58"
      ]
    ]
  },
  {
    "id": "a6f2af2b1910de58",
    "type": "switch",
    "z": "2cc7bfce9974187b",
    "name": "",
    "property": "door",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1810,
    "y": 220,
    "wires": [
      [
        "8a6dfab444a65854"
      ],
      [
        "27438a98bf41c717"
      ]
    ]
  },
  {
    "id": "0ea02b5030d1e7c1",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"80\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"75\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"50\";\n}\nelse{\n    var brightness = \"100\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness_pct\": brightness                      }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1130,
    "y": 260,
    "wires": [
      [
        "f4d7e893a7e154e0"
      ]
    ]
  },
  {
    "id": "3ce1bd2af33f10ed",
    "type": "ha-wait-until",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_bathroom",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "off",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2400,
    "y": 220,
    "wires": [
      [
        "9d53207076965daa"
      ],
      []
    ]
  },
  {
    "id": "9d53207076965daa",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\":\"0.4\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2550,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "c486434c68967ba8",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"80\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"75\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"50\";\n}\nelse{\n    var brightness = \"100\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness_pct\": brightness                      }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 850,
    "y": 440,
    "wires": [
      [
        "040c052c317ea502"
      ]
    ]
  },
  {
    "id": "040c052c317ea502",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Light on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "{\"color_temp\":\"255\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1010,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "e03992e5db39fc03",
    "type": "cast-to-client",
    "z": "2cc7bfce9974187b",
    "name": "",
    "url": "",
    "contentType": "audio",
    "message": "",
    "language": "en",
    "ip": "192.168.40.26",
    "port": "",
    "volume": "10",
    "x": 2210,
    "y": 220,
    "wires": [
      [
        "3ce1bd2af33f10ed"
      ]
    ]
  },
  {
    "id": "f415c5780d5c46a2",
    "type": "cast-to-client",
    "z": "2cc7bfce9974187b",
    "name": "",
    "url": "",
    "contentType": "audio",
    "message": "",
    "language": "en",
    "ip": "192.168.40.26",
    "port": "",
    "volume": "40",
    "x": 2210,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "bb3d35298bb0f780",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "switch.bathroom_fan",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 740,
    "y": 820,
    "wires": [
      [
        "f47f068525e5c9ee"
      ],
      [
        "8dde3ccdeea9f81e"
      ]
    ]
  },
  {
    "id": "90d3f381bf7b6b5a",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1210,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "24cab57cb10e5c89",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "36",
    "inte": "true",
    "property": "number1",
    "x": 1380,
    "y": 220,
    "wires": [
      [
        "da6220a10da3b0db"
      ]
    ]
  },
  {
    "id": "da6220a10da3b0db",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "36",
    "inte": "true",
    "property": "number2",
    "x": 1520,
    "y": 220,
    "wires": [
      [
        "7dddb776442f3bf6"
      ]
    ]
  },
  {
    "id": "8a6dfab444a65854",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Music Selector",
    "func": "var number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"]\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1960,
    "y": 220,
    "wires": [
      [
        "e03992e5db39fc03"
      ]
    ]
  },
  {
    "id": "a62f85af1cd5362b",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.door_bathroom",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 950,
    "y": 500,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "d43ad0c97eb40662",
    "type": "server-state-changed",
    "z": "2cc7bfce9974187b",
    "name": "Humidity over 65",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.humidity_bathroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "65",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "output_only_on_state_change": true,
    "x": 280,
    "y": 660,
    "wires": [
      [
        "c68bfe6d7b1dce87"
      ],
      []
    ]
  },
  {
    "id": "c68bfe6d7b1dce87",
    "type": "trigger",
    "z": "2cc7bfce9974187b",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "20",
    "extend": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 510,
    "y": 640,
    "wires": [
      [
        "89bc79868ccab1c9"
      ]
    ]
  },
  {
    "id": "89bc79868ccab1c9",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.door_bathroom",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 790,
    "y": 640,
    "wires": [
      [],
      [
        "4496a13e8fecdf98"
      ]
    ]
  },
  {
    "id": "017caa3fded6319a",
    "type": "server-state-changed",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_bathroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 280,
    "y": 200,
    "wires": [
      [
        "de4d3a6119fb72fd"
      ],
      [
        "e748d3e4a6d8acc7"
      ]
    ]
  },
  {
    "id": "34542c1839078cfc",
    "type": "server-state-changed",
    "z": "2cc7bfce9974187b",
    "name": "Kitchen Entrance",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_kitchen_entrance",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 360,
    "y": 400,
    "wires": [
      [
        "77e5d0056da4a761"
      ],
      []
    ]
  },
  {
    "id": "302111b2c104b0c5",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.living_room_tv",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 750,
    "y": 900,
    "wires": [
      [
        "1e3486819572b13d"
      ],
      [
        "33e279e38362db46"
      ]
    ]
  },
  {
    "id": "991e3c063bacac2c",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\":\"0.1\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1310,
    "y": 960,
    "wires": [
      []
    ]
  },
  {
    "id": "b8ba99a2c157e81a",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Light on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "{\"color_temp\":\"255\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1770,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "feba2e5b4509af16",
    "type": "trigger",
    "z": "2cc7bfce9974187b",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "4",
    "extend": false,
    "units": "s",
    "reset": "motion",
    "bytopic": "all",
    "outputs": 1,
    "x": 1460,
    "y": 260,
    "wires": [
      [
        "a42972d9aaa1fc4c"
      ]
    ]
  },
  {
    "id": "a42972d9aaa1fc4c",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"80\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"75\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"50\";\n}\nelse{\n    var brightness = \"100\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness_pct\": brightness                      }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1590,
    "y": 260,
    "wires": [
      [
        "b8ba99a2c157e81a"
      ]
    ]
  },
  {
    "id": "7bcc74c430267c7b",
    "type": "server-state-changed",
    "z": "2cc7bfce9974187b",
    "name": "LV Entrance",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_livingroom_entry",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 350,
    "y": 440,
    "wires": [
      [
        "77e5d0056da4a761"
      ],
      []
    ]
  },
  {
    "id": "33e279e38362db46",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.party_group",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1000,
    "y": 960,
    "wires": [
      [
        "af14d9a12d4a59bc"
      ],
      [
        "991e3c063bacac2c"
      ]
    ]
  },
  {
    "id": "106c085522e3711c",
    "type": "inject",
    "z": "2cc7bfce9974187b",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 500,
    "y": 980,
    "wires": [
      [
        "302111b2c104b0c5"
      ]
    ]
  },
  {
    "id": "69d559c61533a359",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1510,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "f3699917c5030c49",
    "type": "server-state-changed",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_bathroom_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(on|off)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 520,
    "y": 1240,
    "wires": [
      [
        "73eb582d270883a0"
      ],
      []
    ]
  },
  {
    "id": "dbf2ec4f77027946",
    "type": "trigger",
    "z": "2cc7bfce9974187b",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "3",
    "extend": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 1010,
    "y": 1240,
    "wires": [
      [
        "652772e71a16d7b5"
      ]
    ]
  },
  {
    "id": "73eb582d270883a0",
    "type": "switch",
    "z": "2cc7bfce9974187b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 850,
    "y": 1240,
    "wires": [
      [
        "4d380fd2d7b3ab61",
        "dbf2ec4f77027946"
      ],
      [
        "dbf2ec4f77027946"
      ]
    ]
  },
  {
    "id": "4d380fd2d7b3ab61",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1190,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "652772e71a16d7b5",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1230,
    "y": 1240,
    "wires": [
      []
    ]
  },
  {
    "id": "8681b7e5b00b09a7",
    "type": "inject",
    "z": "2cc7bfce9974187b",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 260,
    "y": 260,
    "wires": [
      [
        "e748d3e4a6d8acc7"
      ]
    ]
  },
  {
    "id": "38f077a757506538",
    "type": "inject",
    "z": "2cc7bfce9974187b",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 240,
    "y": 100,
    "wires": [
      [
        "de4d3a6119fb72fd"
      ]
    ]
  },
  {
    "id": "a70b30bcf42f719b",
    "type": "cast-to-client",
    "z": "2cc7bfce9974187b",
    "name": "",
    "url": "",
    "contentType": "audio",
    "message": "",
    "language": "en",
    "ip": "192.168.40.26",
    "port": "",
    "volume": "10",
    "x": 2010,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "2f3cadb8a25ae06e",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Music Selector",
    "func": "var number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"]\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1820,
    "y": 600,
    "wires": [
      [
        "a70b30bcf42f719b"
      ]
    ]
  },
  {
    "id": "b4fd6126ba52bc5a",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "24",
    "inte": "true",
    "property": "number",
    "x": 1460,
    "y": 520,
    "wires": [
      [
        "125a838d269315da"
      ]
    ]
  },
  {
    "id": "125a838d269315da",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "25",
    "inte": "true",
    "property": "number1",
    "x": 1620,
    "y": 520,
    "wires": [
      [
        "f8c91f51c2505f6e"
      ]
    ]
  },
  {
    "id": "f8c91f51c2505f6e",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "25",
    "inte": "true",
    "property": "number2",
    "x": 1760,
    "y": 520,
    "wires": [
      [
        "2f3cadb8a25ae06e"
      ]
    ]
  },
  {
    "id": "d3bd72c59869e55f",
    "type": "inject",
    "z": "2cc7bfce9974187b",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "str",
    "x": 1570,
    "y": 660,
    "wires": [
      [
        "b4fd6126ba52bc5a"
      ]
    ]
  },
  {
    "id": "4496a13e8fecdf98",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1090,
    "y": 640,
    "wires": [
      [
        "86fa788a366e9443"
      ]
    ]
  },
  {
    "id": "9faf5885ac1f4b09",
    "type": "inject",
    "z": "2cc7bfce9974187b",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 820,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "86fa788a366e9443",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1290,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "4dc927806423e211",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\":\"0.7\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1150,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "929d2e17b7d7b5ae",
    "type": "api-current-state",
    "z": "2cc7bfce9974187b",
    "name": "Speaker state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.bathroom_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1500,
    "y": 100,
    "wires": [
      [
        "3d9ba4db5de4d062",
        "3c4d2f55695bd15b"
      ]
    ]
  },
  {
    "id": "6f9b638ff2bf736b",
    "type": "inject",
    "z": "2cc7bfce9974187b",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1000,
    "y": 40,
    "wires": [
      [
        "929d2e17b7d7b5ae"
      ]
    ]
  },
  {
    "id": "3d9ba4db5de4d062",
    "type": "debug",
    "z": "2cc7bfce9974187b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1660,
    "y": 60,
    "wires": []
  },
  {
    "id": "3c4d2f55695bd15b",
    "type": "switch",
    "z": "2cc7bfce9974187b",
    "name": "",
    "property": "entity.attributes.app_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "YouTube Music",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": true,
    "outputs": 2,
    "x": 1670,
    "y": 100,
    "wires": [
      [
        "22c7389336042dde"
      ],
      [
        "779a26c8815a8b98"
      ]
    ]
  },
  {
    "id": "44538583e2aefeeb",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Music/Selector Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\n\n\nif (h > 22){\n    var brightness = \"30\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"20\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"10\";\n}\nelse{\n    var brightness = \"40\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"],\n            \"volume\": brightness\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 2270,
    "y": 520,
    "wires": [
      [
        "4f03e8191637daa8",
        "964eb61456296b66"
      ]
    ]
  },
  {
    "id": "4f03e8191637daa8",
    "type": "cast-to-client",
    "z": "2cc7bfce9974187b",
    "name": "",
    "url": "",
    "contentType": "audio",
    "message": "",
    "language": "en",
    "ip": "192.168.40.26",
    "port": "",
    "volume": "10",
    "x": 2510,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "3fe9ada2261aacf2",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "24",
    "inte": "true",
    "property": "number",
    "x": 1980,
    "y": 420,
    "wires": [
      [
        "88263d677b7cd8e3"
      ]
    ]
  },
  {
    "id": "88263d677b7cd8e3",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "25",
    "inte": "true",
    "property": "number1",
    "x": 2140,
    "y": 420,
    "wires": [
      [
        "1571cdbcb7410dd5"
      ]
    ]
  },
  {
    "id": "1571cdbcb7410dd5",
    "type": "random",
    "z": "2cc7bfce9974187b",
    "name": "",
    "low": "1",
    "high": "25",
    "inte": "true",
    "property": "number2",
    "x": 2280,
    "y": 420,
    "wires": [
      [
        "44538583e2aefeeb"
      ]
    ]
  },
  {
    "id": "9d98bd31319ef852",
    "type": "inject",
    "z": "2cc7bfce9974187b",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1780,
    "y": 420,
    "wires": [
      [
        "3fe9ada2261aacf2"
      ]
    ]
  },
  {
    "id": "964eb61456296b66",
    "type": "debug",
    "z": "2cc7bfce9974187b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2460,
    "y": 440,
    "wires": []
  },
  {
    "id": "16101b9482ba94f1",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Music Selector",
    "func": "var number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"]\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1960,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "27438a98bf41c717",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Music/Selector Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\n\n\nif (h > 22){\n    var brightness = \"30\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"20\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"10\";\n}\nelse{\n    var brightness = \"40\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"],\n            \"volume\": brightness\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1990,
    "y": 260,
    "wires": [
      [
        "f415c5780d5c46a2"
      ]
    ]
  },
  {
    "id": "18337752adde25a7",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Volume Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\nif (h > 22){\n    var brightness = \"0.3\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"0.2\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"0.1\";\n}\nelse{\n    var brightness = \"0.4\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"data\": {\n            \"volume_level\": brightness\n            }\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1020,
    "y": 1100,
    "wires": [
      [
        "bb9aaf7ba88daf40",
        "5b0399a8082b4ded"
      ]
    ]
  },
  {
    "id": "92e85c8e307db927",
    "type": "inject",
    "z": "2cc7bfce9974187b",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 820,
    "y": 1100,
    "wires": [
      [
        "18337752adde25a7"
      ]
    ]
  },
  {
    "id": "bb9aaf7ba88daf40",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1230,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "5b0399a8082b4ded",
    "type": "debug",
    "z": "2cc7bfce9974187b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1180,
    "y": 1140,
    "wires": []
  },
  {
    "id": "8dde3ccdeea9f81e",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Volume Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\nif (h > 22){\n    var brightness = \"0.35\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"0.25\";\n}\nelse if (h>2 && h<8){\n    var brightness = \"0.15\";\n}\nelse{\n    var brightness = \"0.4\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"data\": {\n            \"volume_level\": brightness\n            }\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1000,
    "y": 820,
    "wires": [
      [
        "f2e31ce0ff5a5b1c"
      ]
    ]
  },
  {
    "id": "f47f068525e5c9ee",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Volume Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\nif (h > 22){\n    var brightness = \"0.4\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"0.35\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"0.3\";\n}\nelse{\n    var brightness = \"0.4\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"data\": {\n            \"volume_level\": brightness\n            }\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1000,
    "y": 760,
    "wires": [
      [
        "90d3f381bf7b6b5a"
      ]
    ]
  },
  {
    "id": "0b6d18d1e8b70efd",
    "type": "api-call-service",
    "z": "2cc7bfce9974187b",
    "name": "cast Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_stop",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2040,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "779a26c8815a8b98",
    "type": "trigger",
    "z": "2cc7bfce9974187b",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "5",
    "extend": false,
    "units": "min",
    "reset": "motion",
    "bytopic": "all",
    "outputs": 1,
    "x": 1850,
    "y": 140,
    "wires": [
      [
        "0b6d18d1e8b70efd"
      ]
    ]
  },
  {
    "id": "57b7182be5211537",
    "type": "server-state-changed",
    "z": "2cc7bfce9974187b",
    "name": "Bathroom door",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.door_bathroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 160,
    "wires": [
      [
        "de4d3a6119fb72fd"
      ],
      [
        "e748d3e4a6d8acc7"
      ]
    ]
  },
  {
    "id": "af14d9a12d4a59bc",
    "type": "function",
    "z": "2cc7bfce9974187b",
    "name": "Volume Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\nif (h > 22){\n    var brightness = \"0.35\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"0.25\";\n}\nelse if (h>2 && h<8){\n    var brightness = \"0.15\";\n}\nelse{\n    var brightness = \"0.4\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"data\": {\n            \"volume_level\": brightness\n            }\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1280,
    "y": 920,
    "wires": [
      [
        "69d559c61533a359"
      ]
    ]
  }
]