node-red/flows/Bathroom 3.0.json
[
  {
    "id": "fbee724e036776a8",
    "type": "tab",
    "label": "Bathroom 3.0",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b24be01b08a4ae3e",
    "type": "server-state-changed",
    "z": "fbee724e036776a8",
    "name": "Humidity over 65",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.sensor_bathroom_temperature_humidity",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "70",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 260,
    "y": 1200,
    "wires": [
      [
        "8f5029a7732431a1",
        "f186e9ea925af2ec"
      ],
      [
        "2852a4909668e796"
      ]
    ]
  },
  {
    "id": "8f5029a7732431a1",
    "type": "api-call-service",
    "z": "fbee724e036776a8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.bathroom_fan"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 710,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "2852a4909668e796",
    "type": "api-call-service",
    "z": "fbee724e036776a8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.bathroom_fan"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 710,
    "y": 1240,
    "wires": [
      []
    ]
  },
  {
    "id": "f186e9ea925af2ec",
    "type": "trigger",
    "z": "fbee724e036776a8",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "20",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 690,
    "y": 1140,
    "wires": [
      [
        "d9fca36cb2a4092d"
      ]
    ]
  },
  {
    "id": "d9fca36cb2a4092d",
    "type": "api-current-state",
    "z": "fbee724e036776a8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_bathroom_door_contact",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1020,
    "y": 1140,
    "wires": [
      [],
      [
        "b596e9a2015af841"
      ]
    ]
  },
  {
    "id": "b596e9a2015af841",
    "type": "api-call-service",
    "z": "fbee724e036776a8",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1350,
    "y": 1140,
    "wires": [
      [
        "b2412d064f56fa8f"
      ]
    ]
  },
  {
    "id": "b2412d064f56fa8f",
    "type": "api-call-service",
    "z": "fbee724e036776a8",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1550,
    "y": 1140,
    "wires": [
      []
    ]
  }
]