node-red/flows/Bathroom.json
[
  {
    "id": "881898b44ee6eb81",
    "type": "tab",
    "label": "Bathroom",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "de9f4c34e00835c7",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 400,
    "y": 740,
    "wires": [
      [
        "8a87371543b31002"
      ]
    ]
  },
  {
    "id": "12dd6306bdf52a97",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 400,
    "y": 780,
    "wires": [
      [
        "cf3320ead9bdaf99"
      ]
    ]
  },
  {
    "id": "6c7ad1714992bdd3",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 400,
    "y": 460,
    "wires": [
      [
        "e921ceff2ed05761"
      ]
    ]
  },
  {
    "id": "ed840b70957315b2",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 400,
    "y": 500,
    "wires": [
      [
        "68230369115ebbb3"
      ]
    ]
  },
  {
    "id": "8ecacc3680df8a66",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 300,
    "y": 1200,
    "wires": [
      [
        "c21d3f05ccdb3e9f"
      ]
    ]
  },
  {
    "id": "c21d3f05ccdb3e9f",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 400,
    "y": 1200,
    "wires": [
      [
        "c7d7869cf88446c1"
      ]
    ]
  },
  {
    "id": "471b6b35d2f07b2f",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 340,
    "y": 1300,
    "wires": [
      [
        "1e251d84255e0657"
      ]
    ]
  },
  {
    "id": "d26eadfb6228a626",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 780,
    "y": 1100,
    "wires": [
      [
        "1823da52dbb438b3"
      ]
    ]
  },
  {
    "id": "695dbd47c25a51cc",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 780,
    "y": 1180,
    "wires": [
      [
        "73508ebeaf49e873"
      ]
    ]
  },
  {
    "id": "73508ebeaf49e873",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 1560,
    "y": 1180,
    "wires": [
      [
        "40902a85fa0988ab"
      ]
    ]
  },
  {
    "id": "1823da52dbb438b3",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 1560,
    "y": 1100,
    "wires": [
      [
        "2676640708d0f3db"
      ]
    ]
  },
  {
    "id": "1e251d84255e0657",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 420,
    "y": 1300,
    "wires": [
      [
        "ade0768cb997a2b3"
      ]
    ]
  },
  {
    "id": "7fcd0180ea269945",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 880,
    "y": 1280,
    "wires": [
      [
        "3c2838394f50a39a"
      ]
    ]
  },
  {
    "id": "340260f5e20a06a1",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 880,
    "y": 1320,
    "wires": [
      [
        "cf3f9442d8a57374"
      ]
    ]
  },
  {
    "id": "6886824c46b97a7c",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 560,
    "y": 1540,
    "wires": [
      []
    ]
  },
  {
    "id": "3502a2624820f68a",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 500,
    "y": 1640,
    "wires": [
      []
    ]
  },
  {
    "id": "b6b49543ca03433b",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 440,
    "y": 1560,
    "wires": [
      [
        "9b337d8762637eaa"
      ]
    ]
  },
  {
    "id": "5391dd8b0174feca",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 440,
    "y": 1600,
    "wires": [
      [
        "0b8ee3f939557602"
      ]
    ]
  },
  {
    "id": "717a4409aab31cce",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 1120,
    "y": 1500,
    "wires": [
      [
        "4ce58926e7976eb0"
      ]
    ]
  },
  {
    "id": "eb2007c7b6292a41",
    "type": "junction",
    "z": "881898b44ee6eb81",
    "x": 1000,
    "y": 1500,
    "wires": [
      [
        "717a4409aab31cce"
      ]
    ]
  },
  {
    "id": "e66e110e65248f33",
    "type": "trigger-state",
    "z": "881898b44ee6eb81",
    "name": "Bathroom empty",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_bathroom_motion_occupancy",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "binary_sensor.sensor_bathroom_door_contact",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      },
      {
        "targetType": "entity_id",
        "targetValue": "binary_sensor.shower_in_use",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 140,
    "y": 760,
    "wires": [
      [
        "de9f4c34e00835c7"
      ],
      [
        "12dd6306bdf52a97"
      ]
    ]
  },
  {
    "id": "f00baa6a10259753",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Bathroom Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_bathroom_lights"
    ],
    "data": "{\"transition\": 10}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1030,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "4df7dfe163f24063",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Stop cast",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1440,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "133f0e3df82044b9",
    "type": "trigger-state",
    "z": "881898b44ee6eb81",
    "name": "Bathroom Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_bathroom_motion_occupancy",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      },
      {
        "targetType": "entity_id",
        "targetValue": "media_player.bathroom_speaker",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 140,
    "y": 260,
    "wires": [
      [
        "2b67f9d16cec1c09"
      ],
      []
    ]
  },
  {
    "id": "2792eb2e57bd9533",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Speaker 30% volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\": 0.3}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 980,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "13d82a2362d4ab1a",
    "type": "api-current-state",
    "z": "881898b44ee6eb81",
    "name": "Door state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_bathroom_door_contact",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 770,
    "y": 260,
    "wires": [
      [
        "faa507096bd4db40"
      ],
      [
        "2792eb2e57bd9533"
      ]
    ]
  },
  {
    "id": "2b67f9d16cec1c09",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Plex shuffle",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"media_content_id\":\"plex://{ \\\"library_name\\\": \\\"Muzak\\\", \\\"shuffle\\\": 1, \\\"allow_multiple\\\": 1 }\",\"media_content_type\":\"music\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 490,
    "y": 260,
    "wires": [
      [
        "13d82a2362d4ab1a"
      ]
    ]
  },
  {
    "id": "faa507096bd4db40",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Speaker 10% volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\": 0.1}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 980,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "f25da7166587499b",
    "type": "trigger",
    "z": "881898b44ee6eb81",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "5",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "0",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 770,
    "y": 760,
    "wires": [
      [
        "f00baa6a10259753"
      ]
    ]
  },
  {
    "id": "b90340783739c82f",
    "type": "api-current-state",
    "z": "881898b44ee6eb81",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.group_home_speakers",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1150,
    "y": 480,
    "wires": [
      [
        "4df7dfe163f24063"
      ],
      []
    ]
  },
  {
    "id": "8a87371543b31002",
    "type": "change",
    "z": "881898b44ee6eb81",
    "name": "1",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 740,
    "wires": [
      [
        "f25da7166587499b"
      ]
    ]
  },
  {
    "id": "cf3320ead9bdaf99",
    "type": "change",
    "z": "881898b44ee6eb81",
    "name": "0",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 780,
    "wires": [
      [
        "f25da7166587499b"
      ]
    ]
  },
  {
    "id": "9ef1ba67723e18e1",
    "type": "trigger-state",
    "z": "881898b44ee6eb81",
    "name": "Bathroom empty",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_bathroom_motion_occupancy",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "binary_sensor.sensor_bathroom_door_contact",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      },
      {
        "targetType": "entity_id",
        "targetValue": "binary_sensor.shower_in_use",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "media_player.group_home_speakers",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 140,
    "y": 480,
    "wires": [
      [
        "6c7ad1714992bdd3"
      ],
      [
        "ed840b70957315b2"
      ]
    ]
  },
  {
    "id": "e00a291148e13b68",
    "type": "trigger",
    "z": "881898b44ee6eb81",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "0",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 850,
    "y": 480,
    "wires": [
      [
        "b90340783739c82f"
      ]
    ]
  },
  {
    "id": "e921ceff2ed05761",
    "type": "change",
    "z": "881898b44ee6eb81",
    "name": "1",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 460,
    "wires": [
      [
        "e00a291148e13b68"
      ]
    ]
  },
  {
    "id": "68230369115ebbb3",
    "type": "change",
    "z": "881898b44ee6eb81",
    "name": "0",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 500,
    "wires": [
      [
        "e00a291148e13b68"
      ]
    ]
  },
  {
    "id": "be846337e1b080d5",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Check if bathroom is empty using multiple conditions",
    "info": "",
    "x": 250,
    "y": 720,
    "wires": []
  },
  {
    "id": "11e99b692d36dd6f",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set payload to 1",
    "info": "",
    "x": 540,
    "y": 700,
    "wires": []
  },
  {
    "id": "486e4e44fc47ef9b",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set payload to 0",
    "info": "",
    "x": 540,
    "y": 820,
    "wires": []
  },
  {
    "id": "2faeb6d246f87e69",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "wait 5 minutes",
    "info": "",
    "x": 770,
    "y": 720,
    "wires": []
  },
  {
    "id": "4ed1b3f13e1f7666",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "(resets on payload = 0)",
    "info": "",
    "x": 780,
    "y": 800,
    "wires": []
  },
  {
    "id": "63ed7065e90c3759",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Turn the lights off",
    "info": "",
    "x": 1020,
    "y": 720,
    "wires": []
  },
  {
    "id": "5b9f41bf5bb52993",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Motion in bathroom and speaker off",
    "info": "",
    "x": 200,
    "y": 220,
    "wires": []
  },
  {
    "id": "b690d3c56536fcd0",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Shuffle plex Muzak Library",
    "info": "",
    "x": 490,
    "y": 220,
    "wires": []
  },
  {
    "id": "c0c076ef598dc692",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Check door state",
    "info": "This will determine wich volume to set",
    "x": 760,
    "y": 220,
    "wires": []
  },
  {
    "id": "ae8d2eaf6737b656",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set volume to 10% if door open",
    "info": "This will determine wich volume to set",
    "x": 970,
    "y": 160,
    "wires": []
  },
  {
    "id": "d630bbf362b918ed",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set volume to 30% if door closed",
    "info": "This will determine wich volume to set",
    "x": 970,
    "y": 360,
    "wires": []
  },
  {
    "id": "d43d39fed9776b80",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "wait 2 minutes",
    "info": "",
    "x": 850,
    "y": 440,
    "wires": []
  },
  {
    "id": "2a7b69dbbb324c60",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "(resets on payload = 0)",
    "info": "",
    "x": 860,
    "y": 520,
    "wires": []
  },
  {
    "id": "9b0a35b03915e31d",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Confirm that home group is  not playing",
    "info": "",
    "x": 1150,
    "y": 440,
    "wires": []
  },
  {
    "id": "806564fbd87d694f",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Stop the Bathroom speaker",
    "info": "",
    "x": 1430,
    "y": 440,
    "wires": []
  },
  {
    "id": "d919924c879f0ff6",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set payload to 1",
    "info": "",
    "x": 560,
    "y": 420,
    "wires": []
  },
  {
    "id": "942b5609d3df03a0",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set payload to 0",
    "info": "",
    "x": 560,
    "y": 540,
    "wires": []
  },
  {
    "id": "8c5ecae5186f35af",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Check if bathroom is empty using multiple conditions",
    "info": "",
    "x": 250,
    "y": 440,
    "wires": []
  },
  {
    "id": "3c2838394f50a39a",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\":\"0.0\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1070,
    "y": 1280,
    "wires": [
      []
    ]
  },
  {
    "id": "4330840189d888ec",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1910,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "cecc49282031c619",
    "type": "server-state-changed",
    "z": "881898b44ee6eb81",
    "name": "Door Closes?",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_bathroom_door_contact",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "str",
    "ifState": "off",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 130,
    "y": 1220,
    "wires": [
      [
        "8ecacc3680df8a66"
      ],
      [
        "471b6b35d2f07b2f"
      ]
    ]
  },
  {
    "id": "c7d7869cf88446c1",
    "type": "api-current-state",
    "z": "881898b44ee6eb81",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "switch.bathroom_fan",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 600,
    "y": 1140,
    "wires": [
      [
        "d26eadfb6228a626"
      ],
      [
        "695dbd47c25a51cc"
      ]
    ]
  },
  {
    "id": "ade0768cb997a2b3",
    "type": "api-current-state",
    "z": "881898b44ee6eb81",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.livingroom_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 650,
    "y": 1300,
    "wires": [
      [
        "7fcd0180ea269945"
      ],
      [
        "340260f5e20a06a1"
      ]
    ]
  },
  {
    "id": "965baad3e9a7ca9b",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\":\"0.1\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1710,
    "y": 1340,
    "wires": [
      []
    ]
  },
  {
    "id": "cf3f9442d8a57374",
    "type": "api-current-state",
    "z": "881898b44ee6eb81",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.group_home_speakers",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1290,
    "y": 1320,
    "wires": [
      [
        "73508ebeaf49e873"
      ],
      [
        "965baad3e9a7ca9b"
      ]
    ]
  },
  {
    "id": "40902a85fa0988ab",
    "type": "function",
    "z": "881898b44ee6eb81",
    "name": "Volume Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\nif (h > 22){\n    var brightness = \"0.25\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"0.20\";\n}\nelse if (h>2 && h<8){\n    var brightness = \"0.15\";\n}\nelse{\n    var brightness = \"0.30\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"data\": {\n            \"volume_level\": brightness\n            }\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1680,
    "y": 1180,
    "wires": [
      [
        "4330840189d888ec"
      ]
    ]
  },
  {
    "id": "2676640708d0f3db",
    "type": "function",
    "z": "881898b44ee6eb81",
    "name": "Volume Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\nif (h > 22){\n    var brightness = \"0.4\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"0.35\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"0.3\";\n}\nelse{\n    var brightness = \"0.4\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"data\": {\n            \"volume_level\": brightness\n            }\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1680,
    "y": 1100,
    "wires": [
      [
        "4330840189d888ec"
      ]
    ]
  },
  {
    "id": "34a00fb595015780",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Is the nearby TV playing ?",
    "info": "",
    "x": 650,
    "y": 1260,
    "wires": []
  },
  {
    "id": "141562d5a8ac39c9",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Door Closed?",
    "info": "",
    "x": 130,
    "y": 1180,
    "wires": []
  },
  {
    "id": "0e570e07fd90d8a7",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Yes",
    "info": "",
    "x": 370,
    "y": 1180,
    "wires": []
  },
  {
    "id": "f95a1288136cfdb1",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "No",
    "info": "",
    "x": 370,
    "y": 1280,
    "wires": []
  },
  {
    "id": "d9531c85373b51e8",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Is the bathroom fan on?",
    "info": "",
    "x": 600,
    "y": 1100,
    "wires": []
  },
  {
    "id": "aba3ce96d79d9717",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Yes",
    "info": "",
    "x": 830,
    "y": 1120,
    "wires": []
  },
  {
    "id": "2362a16cf52e522c",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "No",
    "info": "",
    "x": 830,
    "y": 1160,
    "wires": []
  },
  {
    "id": "2e212d74dcc00a3e",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set volume depending on time",
    "info": "",
    "x": 1660,
    "y": 1140,
    "wires": []
  },
  {
    "id": "2ac64f2e64f9c56e",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Call set_volume service",
    "info": "",
    "x": 1920,
    "y": 1100,
    "wires": []
  },
  {
    "id": "a7b97a0090d21f1d",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set Volume to 0%",
    "info": "",
    "x": 1070,
    "y": 1240,
    "wires": []
  },
  {
    "id": "e121ef702275cf9c",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Is Home Group playing?",
    "info": "",
    "x": 1290,
    "y": 1280,
    "wires": []
  },
  {
    "id": "d03d9553579bdd5c",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Set speaker volume to 10%",
    "info": "",
    "x": 1720,
    "y": 1300,
    "wires": []
  },
  {
    "id": "36c17d265566d694",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Yes",
    "info": "",
    "x": 1510,
    "y": 1240,
    "wires": []
  },
  {
    "id": "27d73f462b3c06e7",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "No",
    "info": "",
    "x": 1530,
    "y": 1340,
    "wires": []
  },
  {
    "id": "41bc22242e8b6353",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Yes",
    "info": "",
    "x": 910,
    "y": 1280,
    "wires": []
  },
  {
    "id": "aa83552c8e86c590",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "No",
    "info": "",
    "x": 910,
    "y": 1320,
    "wires": []
  },
  {
    "id": "e2d076fca2183a33",
    "type": "server-state-changed",
    "z": "881898b44ee6eb81",
    "name": "Shower Music speaker Playing?",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "media_player.bathroom_music_speaker",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "str",
    "ifState": "off",
    "ifStateType": "str",
    "ifStateOperator": "is_not",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 190,
    "y": 1580,
    "wires": [
      [
        "b6b49543ca03433b"
      ],
      [
        "5391dd8b0174feca"
      ]
    ]
  },
  {
    "id": "9b337d8762637eaa",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Mute bathroom speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"is_volume_muted\":\"1\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 690,
    "y": 1560,
    "wires": [
      [
        "dbd6485bf75b90c2"
      ]
    ]
  },
  {
    "id": "0b8ee3f939557602",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "unMute bathroom speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"is_volume_muted\":\"0\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 690,
    "y": 1600,
    "wires": [
      []
    ]
  },
  {
    "id": "ed5811c87bcd2804",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Stop bathroom speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_music_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1530,
    "y": 1560,
    "wires": [
      []
    ]
  },
  {
    "id": "4ce58926e7976eb0",
    "type": "change",
    "z": "881898b44ee6eb81",
    "name": "Set value to 1",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 1560,
    "wires": [
      [
        "ed5811c87bcd2804"
      ]
    ]
  },
  {
    "id": "dbd6485bf75b90c2",
    "type": "trigger",
    "z": "881898b44ee6eb81",
    "name": "40m",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "40",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1050,
    "y": 1560,
    "wires": [
      [
        "4ce58926e7976eb0"
      ]
    ]
  },
  {
    "id": "7ed30b7a5aeffa79",
    "type": "server-state-changed",
    "z": "881898b44ee6eb81",
    "name": "door_open",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_bathroom_door_contact",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 880,
    "y": 1520,
    "wires": [
      [
        "dbd6485bf75b90c2",
        "eb2007c7b6292a41"
      ],
      []
    ]
  },
  {
    "id": "a78bc5e9643a7e13",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Is the shower speaker playing?",
    "info": "",
    "x": 190,
    "y": 1540,
    "wires": []
  },
  {
    "id": "e7dedef2dd79771b",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Yes",
    "info": "",
    "x": 510,
    "y": 1560,
    "wires": []
  },
  {
    "id": "46547f4052ae769d",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "No",
    "info": "",
    "x": 510,
    "y": 1600,
    "wires": []
  },
  {
    "id": "ff7531b46d7d9fa1",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Mute the bathroom speaker",
    "info": "",
    "x": 680,
    "y": 1520,
    "wires": []
  },
  {
    "id": "d58ec3650bf91ab4",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Unmute the bathroom speaker",
    "info": "",
    "x": 680,
    "y": 1640,
    "wires": []
  },
  {
    "id": "c8c832241b285a32",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Doors turns \"on\" (Opened)",
    "info": "",
    "x": 890,
    "y": 1480,
    "wires": []
  },
  {
    "id": "76e8d92ef97c7ab4",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "reset on \"on\"",
    "info": "",
    "x": 1050,
    "y": 1600,
    "wires": []
  },
  {
    "id": "e6888a73c8e897af",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "wait 40 minutes",
    "info": "",
    "x": 1060,
    "y": 1520,
    "wires": []
  },
  {
    "id": "acd37fe93cc74038",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Reset the payload to 1",
    "info": "",
    "x": 1260,
    "y": 1520,
    "wires": []
  },
  {
    "id": "bee9cc9f62cdb66e",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Stop Bathroom Speaker",
    "info": "",
    "x": 1520,
    "y": 1520,
    "wires": []
  },
  {
    "id": "16350980bdaeb03d",
    "type": "server-state-changed",
    "z": "881898b44ee6eb81",
    "name": "Get bathroom humidity",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entityId": "sensor.sensor_bathroom_temperature_humidity",
    "entityIdType": "exact",
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "num",
    "ifStateOperator": "gt",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "current_humidity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 160,
    "y": 1920,
    "wires": [
      [
        "6a1ed2ffc9ac17c7"
      ]
    ]
  },
  {
    "id": "7d0f5838de6d82b3",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.bathroom_fan"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1220,
    "y": 1880,
    "wires": [
      []
    ]
  },
  {
    "id": "e035b4b481bedb26",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.bathroom_fan"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1220,
    "y": 1940,
    "wires": [
      []
    ]
  },
  {
    "id": "983cafc3d10300b1",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Pull bathroom humidity",
    "info": "",
    "x": 160,
    "y": 1880,
    "wires": []
  },
  {
    "id": "f893d5d64f4338ba",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Actuate on decided outcome",
    "info": "",
    "x": 980,
    "y": 1880,
    "wires": []
  },
  {
    "id": "f241683f39e10522",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Turn on the bathroom fan",
    "info": "",
    "x": 1220,
    "y": 1840,
    "wires": []
  },
  {
    "id": "6834fab31c07eae3",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Turn off the bathroom fan",
    "info": "",
    "x": 1250,
    "y": 1980,
    "wires": []
  },
  {
    "id": "f186e9ea925af2ec",
    "type": "trigger",
    "z": "881898b44ee6eb81",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "20",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 470,
    "y": 2200,
    "wires": [
      [
        "d9fca36cb2a4092d"
      ]
    ]
  },
  {
    "id": "d9fca36cb2a4092d",
    "type": "api-current-state",
    "z": "881898b44ee6eb81",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_bathroom_door_contact",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 800,
    "y": 2200,
    "wires": [
      [
        "be9128ea6c1c91d2"
      ],
      []
    ]
  },
  {
    "id": "b596e9a2015af841",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1670,
    "y": 2200,
    "wires": [
      [
        "b2412d064f56fa8f"
      ]
    ]
  },
  {
    "id": "b2412d064f56fa8f",
    "type": "api-call-service",
    "z": "881898b44ee6eb81",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1870,
    "y": 2200,
    "wires": [
      []
    ]
  },
  {
    "id": "6ef59f8cc4579f7d",
    "type": "server-state-changed",
    "z": "881898b44ee6eb81",
    "name": "Bathroom fan on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "switch.bathroom_fan",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "str",
    "ifState": "on",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 2200,
    "wires": [
      [
        "f186e9ea925af2ec"
      ],
      []
    ]
  },
  {
    "id": "ee6a97d031ef2629",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Is the BAthroom FAN on?",
    "info": "",
    "x": 170,
    "y": 2160,
    "wires": []
  },
  {
    "id": "b28d79f724a4f365",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Only act every 20 minutes",
    "info": "",
    "x": 470,
    "y": 2160,
    "wires": []
  },
  {
    "id": "1cbb6e7c1f59768f",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Is the door closed?",
    "info": "",
    "x": 790,
    "y": 2160,
    "wires": []
  },
  {
    "id": "ec84c53be5f75a87",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Raise the volume twice",
    "info": "",
    "x": 1760,
    "y": 2160,
    "wires": []
  },
  {
    "id": "be9128ea6c1c91d2",
    "type": "api-current-state",
    "z": "881898b44ee6eb81",
    "name": "Make sure secondary shower speaker is off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.bathroom_music_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1270,
    "y": 2200,
    "wires": [
      [
        "b596e9a2015af841"
      ],
      []
    ]
  },
  {
    "id": "9015d3ed9860c863",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Make sure secondary shower speaker is off",
    "info": "",
    "x": 1340,
    "y": 2160,
    "wires": []
  },
  {
    "id": "6a1ed2ffc9ac17c7",
    "type": "api-current-state",
    "z": "881898b44ee6eb81",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.house_median_humidity",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "house_humidity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 460,
    "y": 1920,
    "wires": [
      [
        "89ed08e358bc7512"
      ]
    ]
  },
  {
    "id": "89ed08e358bc7512",
    "type": "function",
    "z": "881898b44ee6eb81",
    "name": "function 2",
    "func": "var current_humidity = msg.current_humidity;\nvar house_humidity = msg.house_humidity;\nvar house_plus_20_temp = house_humidity;\nvar house_plus_20 = parseInt(house_plus_20_temp) + 20;\nvar house_plus_5_temp = house_humidity;\nvar house_plus_5 = parseInt(house_plus_5_temp) + 5;\n\n\nvar command = \"\";\n\nif (current_humidity > house_plus_20  ){\n    var command = \"on\";\n} else if (current_humidity < house_plus_5)\n    var command = \"off\";\n\nvar newMsg = {\n    \"payload\": {\n        \"command\": command,\n        \"house_plus_5\": house_plus_5,\n        \"house_plus_20\": house_plus_20\n    }\n\n}\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 1920,
    "wires": [
      [
        "ef290e1185171945"
      ]
    ]
  },
  {
    "id": "0fee623451db75ab",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "Pull house median humidity",
    "info": "",
    "x": 460,
    "y": 1880,
    "wires": []
  },
  {
    "id": "4d4b72714716512d",
    "type": "comment",
    "z": "881898b44ee6eb81",
    "name": "compare the two",
    "info": "",
    "x": 760,
    "y": 1880,
    "wires": []
  },
  {
    "id": "ef290e1185171945",
    "type": "switch",
    "z": "881898b44ee6eb81",
    "name": "On or off?",
    "property": "payload.command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 980,
    "y": 1920,
    "wires": [
      [
        "7d0f5838de6d82b3"
      ],
      [
        "e035b4b481bedb26"
      ]
    ]
  }
]