node-red/flows/Bathroom 2.0.json
[
  {
    "id": "62914984f579d881",
    "type": "tab",
    "label": "Bathroom 2.0",
    "disabled": true,
    "info": ""
  },
  {
    "id": "7a28dcc41462f8d0",
    "type": "trigger",
    "z": "62914984f579d881",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "motion",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 770,
    "y": 160,
    "wires": [
      [
        "31bebf3958fcf0e0"
      ]
    ]
  },
  {
    "id": "fc016d7d841dc253",
    "type": "comment",
    "z": "62914984f579d881",
    "name": "This prevent the Light from going off as long as the humidity is over 40%(Shower)",
    "info": "",
    "x": 380,
    "y": 360,
    "wires": []
  },
  {
    "id": "5f50084e74c02bc3",
    "type": "change",
    "z": "62914984f579d881",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "A",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 400,
    "wires": [
      [
        "dd93311cd91a73d1"
      ]
    ]
  },
  {
    "id": "a2ce03d101a308e9",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bathrooms",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 550,
    "y": 400,
    "wires": [
      [],
      [
        "64c3ec1015818ca1",
        "17d3bbda6788aad5"
      ]
    ]
  },
  {
    "id": "91a8dc11fdd22505",
    "type": "trigger",
    "z": "62914984f579d881",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "units": "s",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 890,
    "y": 400,
    "wires": [
      [
        "b9f683ce8421d3e1"
      ]
    ]
  },
  {
    "id": "dd93311cd91a73d1",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1410,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "ad83e9172b3261e5",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "37",
    "inte": "true",
    "property": "number",
    "x": 1120,
    "y": 300,
    "wires": [
      [
        "16f65f5fa0edd049"
      ]
    ]
  },
  {
    "id": "64c3ec1015818ca1",
    "type": "change",
    "z": "62914984f579d881",
    "name": "on",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 400,
    "wires": [
      [
        "91a8dc11fdd22505"
      ]
    ]
  },
  {
    "id": "1056df852f1797e7",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "cast Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_stop",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1940,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "b9f683ce8421d3e1",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "Motion state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_bathroom",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1050,
    "y": 400,
    "wires": [
      [],
      [
        "5f50084e74c02bc3"
      ]
    ]
  },
  {
    "id": "b342c608e970b24c",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "{\"transition\": \"60\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload1",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1310,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "31bebf3958fcf0e0",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "Humidity",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.shower_in_use",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 760,
    "y": 220,
    "wires": [
      [
        "7a28dcc41462f8d0"
      ],
      [
        "b342c608e970b24c",
        "f5861041d494f37e"
      ]
    ]
  },
  {
    "id": "e95d11698cb134f6",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Light on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "{\"color_temp\":\"255\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1190,
    "y": 340,
    "wires": [
      [
        "0b6a796c40e84fa2"
      ]
    ]
  },
  {
    "id": "d46e459824e86588",
    "type": "change",
    "z": "62914984f579d881",
    "name": "motion",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 300,
    "wires": [
      [
        "c6df82b35cd45d70",
        "738649c7c49ba0be",
        "7a28dcc41462f8d0"
      ]
    ]
  },
  {
    "id": "42e2e246c6d7057e",
    "type": "change",
    "z": "62914984f579d881",
    "name": "no_motion",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "no_motion",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 180,
    "wires": [
      [
        "7a28dcc41462f8d0"
      ]
    ]
  },
  {
    "id": "c6df82b35cd45d70",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "Speaker state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.bathroom_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 940,
    "y": 300,
    "wires": [
      [],
      [
        "ad83e9172b3261e5"
      ]
    ]
  },
  {
    "id": "738649c7c49ba0be",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "light.bathrooms",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 790,
    "y": 340,
    "wires": [
      [
        "2db415b636da4c52"
      ],
      []
    ]
  },
  {
    "id": "005ba27c7bfbbe3a",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "Door state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.door_bathroom",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1570,
    "y": 300,
    "wires": [
      [
        "0d0b01759e483177"
      ],
      [
        "622de50bd63e6252"
      ]
    ]
  },
  {
    "id": "2db415b636da4c52",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"80\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"75\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"50\";\n}\nelse{\n    var brightness = \"100\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness_pct\": brightness                      }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1030,
    "y": 340,
    "wires": [
      [
        "e95d11698cb134f6"
      ]
    ]
  },
  {
    "id": "cda6b5abac0d7b3c",
    "type": "ha-wait-until",
    "z": "62914984f579d881",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_bathroom",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "off",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2280,
    "y": 260,
    "wires": [
      [
        "457aa2e66b9e0cb6"
      ],
      []
    ]
  },
  {
    "id": "457aa2e66b9e0cb6",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\":\"0.4\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2450,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "17d3bbda6788aad5",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"80\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"75\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"50\";\n}\nelse{\n    var brightness = \"100\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness_pct\": brightness                      }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 750,
    "y": 440,
    "wires": [
      [
        "c7ef108fa33f0253"
      ]
    ]
  },
  {
    "id": "c7ef108fa33f0253",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Light on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "{\"color_temp\":\"255\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 910,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "8c62be6a200a3ae2",
    "type": "cast-to-client",
    "z": "62914984f579d881",
    "name": "",
    "url": "",
    "contentType": "audio",
    "message": "",
    "language": "en",
    "ip": "192.168.40.26",
    "port": "",
    "volume": "10",
    "x": 2110,
    "y": 260,
    "wires": [
      [
        "cda6b5abac0d7b3c"
      ]
    ]
  },
  {
    "id": "ce1932e8d523fa22",
    "type": "cast-to-client",
    "z": "62914984f579d881",
    "name": "",
    "url": "",
    "contentType": "audio",
    "message": "",
    "language": "en",
    "ip": "192.168.40.26",
    "port": "",
    "volume": "40",
    "x": 2110,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "16f65f5fa0edd049",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "37",
    "inte": "true",
    "property": "number1",
    "x": 1280,
    "y": 300,
    "wires": [
      [
        "3a47aa1af562161c"
      ]
    ]
  },
  {
    "id": "3a47aa1af562161c",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "37",
    "inte": "true",
    "property": "number2",
    "x": 1420,
    "y": 300,
    "wires": [
      [
        "005ba27c7bfbbe3a"
      ]
    ]
  },
  {
    "id": "0d0b01759e483177",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Music Selector",
    "func": "var number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"]\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1860,
    "y": 260,
    "wires": [
      [
        "8c62be6a200a3ae2"
      ]
    ]
  },
  {
    "id": "a4cdefc2674d8b0d",
    "type": "server-state-changed",
    "z": "62914984f579d881",
    "name": "Bathroom Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_bathroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 180,
    "y": 260,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "30c4c03d146af7ba",
    "type": "server-state-changed",
    "z": "62914984f579d881",
    "name": "Kitchen Entrance",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_kitchen_entrance",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 260,
    "y": 400,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "7ed52a7170b8a213",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Light on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "{\"color_temp\":\"255\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1670,
    "y": 340,
    "wires": [
      [
        "ceb9c26d369631c5"
      ]
    ]
  },
  {
    "id": "0b6a796c40e84fa2",
    "type": "trigger",
    "z": "62914984f579d881",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "4",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "motion",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1360,
    "y": 340,
    "wires": [
      [
        "e65f89e364490324"
      ]
    ]
  },
  {
    "id": "e65f89e364490324",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"80\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"75\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"50\";\n}\nelse{\n    var brightness = \"100\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness_pct\": brightness                      }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1490,
    "y": 340,
    "wires": [
      [
        "7ed52a7170b8a213"
      ]
    ]
  },
  {
    "id": "24135e7fd269aea2",
    "type": "server-state-changed",
    "z": "62914984f579d881",
    "name": "LV Entrance",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_livingroom_entry",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 250,
    "y": 440,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "ac9f7a787f36a843",
    "type": "server-state-changed",
    "z": "62914984f579d881",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_bathroom_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(on|off)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 420,
    "y": 1320,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "c1130de3bab69922",
    "type": "trigger",
    "z": "62914984f579d881",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "3",
    "extend": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 910,
    "y": 1320,
    "wires": [
      [
        "6de65ecb56f2c8fb"
      ]
    ]
  },
  {
    "id": "d8675594a9b0b0c4",
    "type": "switch",
    "z": "62914984f579d881",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 750,
    "y": 1320,
    "wires": [
      [
        "24ef072cbe343aaf",
        "c1130de3bab69922"
      ],
      [
        "c1130de3bab69922"
      ]
    ]
  },
  {
    "id": "24ef072cbe343aaf",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1330,
    "y": 1240,
    "wires": [
      []
    ]
  },
  {
    "id": "6de65ecb56f2c8fb",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1390,
    "y": 1320,
    "wires": [
      []
    ]
  },
  {
    "id": "8357a15d22ab6e4f",
    "type": "inject",
    "z": "62914984f579d881",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 340,
    "wires": [
      [
        "d46e459824e86588"
      ]
    ]
  },
  {
    "id": "0106224d5177a94d",
    "type": "cast-to-client",
    "z": "62914984f579d881",
    "name": "",
    "url": "",
    "contentType": "audio",
    "message": "",
    "language": "en",
    "ip": "192.168.40.26",
    "port": "",
    "volume": "10",
    "x": 1910,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "edb50470abfa6de1",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Music Selector",
    "func": "var number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"]\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1720,
    "y": 680,
    "wires": [
      [
        "0106224d5177a94d"
      ]
    ]
  },
  {
    "id": "d8094eafcc6de7a5",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "24",
    "inte": "true",
    "property": "number",
    "x": 1360,
    "y": 600,
    "wires": [
      [
        "6b913194f6f015c8"
      ]
    ]
  },
  {
    "id": "6b913194f6f015c8",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "25",
    "inte": "true",
    "property": "number1",
    "x": 1520,
    "y": 600,
    "wires": [
      [
        "25afc1e0b6179878"
      ]
    ]
  },
  {
    "id": "25afc1e0b6179878",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "25",
    "inte": "true",
    "property": "number2",
    "x": 1660,
    "y": 600,
    "wires": [
      [
        "edb50470abfa6de1"
      ]
    ]
  },
  {
    "id": "f4a41e9483461728",
    "type": "inject",
    "z": "62914984f579d881",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "str",
    "x": 1470,
    "y": 740,
    "wires": [
      [
        "d8094eafcc6de7a5"
      ]
    ]
  },
  {
    "id": "6637c3bb52f120c9",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "{\"volume_level\":\"0.7\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1050,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "f5861041d494f37e",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "Speaker state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.bathroom_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1460,
    "y": 120,
    "wires": [
      [
        "735f509d94b7b468",
        "b7f55b5b852817d7"
      ]
    ]
  },
  {
    "id": "dbdfaa6896bcae66",
    "type": "inject",
    "z": "62914984f579d881",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 920,
    "y": 60,
    "wires": [
      [
        "f5861041d494f37e"
      ]
    ]
  },
  {
    "id": "735f509d94b7b468",
    "type": "debug",
    "z": "62914984f579d881",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1490,
    "y": 60,
    "wires": []
  },
  {
    "id": "b7f55b5b852817d7",
    "type": "switch",
    "z": "62914984f579d881",
    "name": "",
    "property": "entity.attributes.app_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "YouTube Music",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": true,
    "outputs": 2,
    "x": 1650,
    "y": 120,
    "wires": [
      [
        "1056df852f1797e7"
      ],
      [
        "6d3644c9de866147"
      ]
    ]
  },
  {
    "id": "367c6690fe1384fa",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Music/Selector Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\n\n\nif (h > 22){\n    var brightness = \"30\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"20\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"10\";\n}\nelse{\n    var brightness = \"40\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"],\n            \"volume\": brightness\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 2170,
    "y": 600,
    "wires": [
      [
        "07556d8fb3b72051",
        "6aa56fbbf0d53594"
      ]
    ]
  },
  {
    "id": "07556d8fb3b72051",
    "type": "cast-to-client",
    "z": "62914984f579d881",
    "name": "",
    "url": "",
    "contentType": "audio",
    "message": "",
    "language": "en",
    "ip": "192.168.40.26",
    "port": "",
    "volume": "10",
    "x": 2410,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "3fde5cf9716d799a",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "24",
    "inte": "true",
    "property": "number",
    "x": 1880,
    "y": 500,
    "wires": [
      [
        "3796a1ccda9b9cc1"
      ]
    ]
  },
  {
    "id": "3796a1ccda9b9cc1",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "25",
    "inte": "true",
    "property": "number1",
    "x": 2040,
    "y": 500,
    "wires": [
      [
        "7f024601e6f9e27e"
      ]
    ]
  },
  {
    "id": "7f024601e6f9e27e",
    "type": "random",
    "z": "62914984f579d881",
    "name": "",
    "low": "1",
    "high": "25",
    "inte": "true",
    "property": "number2",
    "x": 2180,
    "y": 500,
    "wires": [
      [
        "367c6690fe1384fa"
      ]
    ]
  },
  {
    "id": "cee5335ff58e67eb",
    "type": "inject",
    "z": "62914984f579d881",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1680,
    "y": 500,
    "wires": [
      [
        "3fde5cf9716d799a"
      ]
    ]
  },
  {
    "id": "6aa56fbbf0d53594",
    "type": "debug",
    "z": "62914984f579d881",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2360,
    "y": 520,
    "wires": []
  },
  {
    "id": "67df1142d788cf83",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Music Selector",
    "func": "var number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"]\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1860,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "622de50bd63e6252",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Music/Selector Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar number = msg.number;\nvar number1 = msg.number1;\nvar number2 = msg.number2;\n\n\nif (h > 22){\n    var brightness = \"30\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"20\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"10\";\n}\nelse{\n    var brightness = \"40\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"urlList\": [\"http://192.168.0.15:8123/local/muzak/muzak\" + number + \".mp3\",\n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number1 + \".mp3\", \n            \"http://192.168.0.15:8123/local/muzak/muzak\" + number2 + \".mp3\"],\n            \"volume\": brightness\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1890,
    "y": 300,
    "wires": [
      [
        "ce1932e8d523fa22"
      ]
    ]
  },
  {
    "id": "28b3047be7d84633",
    "type": "function",
    "z": "62914984f579d881",
    "name": "Volume Selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\nif (h > 22){\n    var brightness = \"0.3\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"0.2\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"0.1\";\n}\nelse{\n    var brightness = \"0.4\";\n}\n\n\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"data\": {\n            \"volume_level\": brightness\n            }\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 920,
    "y": 1180,
    "wires": [
      [
        "584d53eae6c02f02",
        "5e847e2c822d9d97"
      ]
    ]
  },
  {
    "id": "ca593d28ce376205",
    "type": "inject",
    "z": "62914984f579d881",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 720,
    "y": 1180,
    "wires": [
      [
        "28b3047be7d84633"
      ]
    ]
  },
  {
    "id": "584d53eae6c02f02",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1130,
    "y": 1160,
    "wires": [
      []
    ]
  },
  {
    "id": "5e847e2c822d9d97",
    "type": "debug",
    "z": "62914984f579d881",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1120,
    "y": 1200,
    "wires": []
  },
  {
    "id": "f0b1f2ee9bc2b208",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "cast Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_stop",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1960,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "6d3644c9de866147",
    "type": "trigger",
    "z": "62914984f579d881",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "5",
    "extend": false,
    "units": "min",
    "reset": "motion",
    "bytopic": "all",
    "outputs": 1,
    "x": 1770,
    "y": 160,
    "wires": [
      [
        "f0b1f2ee9bc2b208"
      ]
    ]
  },
  {
    "id": "d840afe02cc6e920",
    "type": "server-state-changed",
    "z": "62914984f579d881",
    "name": "Bathroom door",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.door_bathroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 180,
    "y": 300,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "ceb9c26d369631c5",
    "type": "ha-wait-until",
    "z": "62914984f579d881",
    "name": "wait door open",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_bathroom",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "on",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 1920,
    "y": 340,
    "wires": [
      [
        "87df9e89784ae13d"
      ],
      []
    ]
  },
  {
    "id": "1c93657999d006e5",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "Bathroom Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bathrooms"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload1",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2930,
    "y": 340,
    "wires": [
      [
        "e6d4433069732c20"
      ]
    ]
  },
  {
    "id": "87df9e89784ae13d",
    "type": "trigger",
    "z": "62914984f579d881",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "67",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "motion",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2130,
    "y": 440,
    "wires": [
      [
        "df7f530cd34b0563"
      ]
    ]
  },
  {
    "id": "df7f530cd34b0563",
    "type": "ha-wait-until",
    "z": "62914984f579d881",
    "name": "wait door open",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_bathroom",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "on",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2180,
    "y": 380,
    "wires": [
      [
        "655e470274dffae3"
      ],
      [
        "87df9e89784ae13d"
      ]
    ]
  },
  {
    "id": "cee25095cb24a6ac",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "cast Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_stop",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3940,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "784d065a47ce5ba3",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "Speaker state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.bathroom_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3520,
    "y": 340,
    "wires": [
      [
        "24e203f33a3e46c4"
      ]
    ]
  },
  {
    "id": "24e203f33a3e46c4",
    "type": "switch",
    "z": "62914984f579d881",
    "name": "",
    "property": "entity.attributes.app_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "YouTube Music",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": true,
    "outputs": 2,
    "x": 3690,
    "y": 340,
    "wires": [
      [
        "cee25095cb24a6ac"
      ],
      [
        "8c688c81ddfeca9a"
      ]
    ]
  },
  {
    "id": "5cd97bed1ec8569f",
    "type": "api-call-service",
    "z": "62914984f579d881",
    "name": "cast Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_stop",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bathroom_speaker"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3960,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "8c688c81ddfeca9a",
    "type": "trigger",
    "z": "62914984f579d881",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "5",
    "extend": false,
    "units": "min",
    "reset": "motion",
    "bytopic": "all",
    "outputs": 1,
    "x": 3810,
    "y": 380,
    "wires": [
      [
        "5cd97bed1ec8569f"
      ]
    ]
  },
  {
    "id": "e6d4433069732c20",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "Speaker state",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.home_group",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3220,
    "y": 340,
    "wires": [
      [
        "784d065a47ce5ba3"
      ],
      []
    ]
  },
  {
    "id": "18757545b19255e0",
    "type": "inject",
    "z": "62914984f579d881",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1110,
    "y": 120,
    "wires": [
      [
        "b342c608e970b24c"
      ]
    ]
  },
  {
    "id": "655e470274dffae3",
    "type": "api-current-state",
    "z": "62914984f579d881",
    "name": "Motion?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_bathroom",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2300,
    "y": 320,
    "wires": [
      [
        "1c93657999d006e5"
      ],
      [
        "df7f530cd34b0563"
      ]
    ]
  }
]