node-red/flows/Carla.json
[
  {
    "id": "4e6f57edbb2d3314",
    "type": "tab",
    "label": "Carla",
    "disabled": false,
    "info": ""
  },
  {
    "id": "073c437a9b98ae8b",
    "type": "junction",
    "z": "4e6f57edbb2d3314",
    "x": 660,
    "y": 460,
    "wires": [
      [
        "a9ed637a6f71bb73"
      ]
    ]
  },
  {
    "id": "651f3882df060fbe",
    "type": "bigtimer",
    "z": "4e6f57edbb2d3314",
    "outtopic": "",
    "outpayload1": "1",
    "outpayload2": "",
    "name": "Big Timer",
    "comment": "",
    "lat": 0,
    "lon": 0,
    "starttime": "525",
    "endtime": "540",
    "starttime2": "555",
    "endtime2": "570",
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": "",
    "xmonth7": "",
    "xday8": "",
    "xmonth8": "",
    "xday9": "",
    "xmonth9": "",
    "xday10": "",
    "xmonth10": "",
    "xday11": "",
    "xmonth11": "",
    "xday12": "",
    "xmonth12": "",
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": true,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 580,
    "y": 460,
    "wires": [
      [
        "073c437a9b98ae8b"
      ],
      [],
      []
    ]
  },
  {
    "id": "aeb4d53210de9530",
    "type": "api-current-state",
    "z": "4e6f57edbb2d3314",
    "name": "carla home",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "person.carla",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1070,
    "y": 460,
    "wires": [
      [
        "2c3d398365cd483b"
      ],
      []
    ]
  },
  {
    "id": "2c3d398365cd483b",
    "type": "change",
    "z": "4e6f57edbb2d3314",
    "name": "Move car",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Carla, go move your car now!",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1340,
    "y": 460,
    "wires": [
      [
        "045dde7288443b6d"
      ]
    ]
  },
  {
    "id": "a9ed637a6f71bb73",
    "type": "trigger",
    "z": "4e6f57edbb2d3314",
    "name": "trigger",
    "op1": "1",
    "op2": "",
    "op1type": "str",
    "op2type": "nul",
    "duration": "13",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 830,
    "y": 460,
    "wires": [
      [
        "aeb4d53210de9530"
      ]
    ]
  },
  {
    "id": "74acaaabe09823c1",
    "type": "comment",
    "z": "4e6f57edbb2d3314",
    "name": "Triggers at 8:45 and 9:15",
    "info": "",
    "x": 590,
    "y": 420,
    "wires": []
  },
  {
    "id": "5cb7d8fb27628a7a",
    "type": "comment",
    "z": "4e6f57edbb2d3314",
    "name": "Send \"1\" and wait 13 minutes",
    "info": "",
    "x": 840,
    "y": 420,
    "wires": []
  },
  {
    "id": "d67190033e428c09",
    "type": "comment",
    "z": "4e6f57edbb2d3314",
    "name": "Is carla even home?",
    "info": "",
    "x": 1070,
    "y": 420,
    "wires": []
  },
  {
    "id": "656626621424aeb7",
    "type": "comment",
    "z": "4e6f57edbb2d3314",
    "name": "Set announcement message",
    "info": "",
    "x": 1340,
    "y": 420,
    "wires": []
  },
  {
    "id": "045dde7288443b6d",
    "type": "subflow:233ac7dcd801a802",
    "z": "4e6f57edbb2d3314",
    "name": "",
    "x": 1610,
    "y": 460,
    "wires": []
  },
  {
    "id": "e38871881dfdeae1",
    "type": "comment",
    "z": "4e6f57edbb2d3314",
    "name": "Send to announcement subflow",
    "info": "",
    "x": 1610,
    "y": 420,
    "wires": []
  }
]