node-red/flows/Closet.json
[
  {
    "id": "9c255342f7ba0458",
    "type": "tab",
    "label": "Closet",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "9ee2a54ef22ef8f7",
    "type": "junction",
    "z": "9c255342f7ba0458",
    "x": 3380,
    "y": 880,
    "wires": [
      [
        "afc51c8149a63a45"
      ]
    ]
  },
  {
    "id": "8ff719e071b839ef",
    "type": "junction",
    "z": "9c255342f7ba0458",
    "x": 4040,
    "y": 860,
    "wires": [
      [
        "29dc8fa9b86b33d0"
      ]
    ]
  },
  {
    "id": "afc51c8149a63a45",
    "type": "junction",
    "z": "9c255342f7ba0458",
    "x": 3780,
    "y": 880,
    "wires": [
      [
        "259aa990286922dd"
      ]
    ]
  },
  {
    "id": "a8d6b266991a537a",
    "type": "junction",
    "z": "9c255342f7ba0458",
    "x": 3240,
    "y": 880,
    "wires": [
      [
        "9ee2a54ef22ef8f7"
      ]
    ]
  },
  {
    "id": "3a9e1453adabcfd6",
    "type": "server-state-changed",
    "z": "9c255342f7ba0458",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_closet",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 280,
    "y": 240,
    "wires": [
      [
        "e0187031691c94c7"
      ],
      [
        "88760d0fa7d9789a"
      ]
    ]
  },
  {
    "id": "e0187031691c94c7",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Mute hallway speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hallway_speaker"
    ],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 580,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "88760d0fa7d9789a",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Unmute hallway  speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hallway_speaker"
    ],
    "data": "{\"is_volume_muted\": \"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 590,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "a507dfb38dc7120e",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Mute hallway speaker if someone is sleeping",
    "info": "",
    "x": 270,
    "y": 200,
    "wires": []
  },
  {
    "id": "7be54e15c925e089",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Mute the hallway speaker",
    "info": "",
    "x": 590,
    "y": 180,
    "wires": []
  },
  {
    "id": "66bd1c68a56e3f5a",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Unmute the hallway speaker",
    "info": "",
    "x": 600,
    "y": 320,
    "wires": []
  },
  {
    "id": "75f9fd7ea23b3ab5",
    "type": "server-state-changed",
    "z": "9c255342f7ba0458",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.closet_lights_brightness",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 280,
    "y": 500,
    "wires": [
      [
        "a0998379eaec659d"
      ]
    ]
  },
  {
    "id": "0e7f0da92345edcc",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "change brightness",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "number",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "number.samsung_galaxy_tab_e_8_0_screen_brightness"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "sentdata",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1090,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "aaf9a4b2759a713b",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Set tablet brightness at the same level as the lights",
    "info": "",
    "x": 290,
    "y": 460,
    "wires": []
  },
  {
    "id": "2a03197f55179d0b",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "set brightness as payload",
    "info": "",
    "x": 650,
    "y": 460,
    "wires": []
  },
  {
    "id": "c8ec157336e2b0f4",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Apply brightness",
    "info": "",
    "x": 1060,
    "y": 460,
    "wires": []
  },
  {
    "id": "6dc3b93157f4eee7",
    "type": "trigger-state",
    "z": "9c255342f7ba0458",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "inputs": 0,
    "outputs": 2,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on",
        "propertyValue": "new_state.state"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "old_state.state"
      }
    ],
    "enableInput": false,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "binary_sensor.sensor_closet_motion_occupancy",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "x": 300,
    "y": 860,
    "wires": [
      [
        "1a50a5bcb3806d32"
      ],
      []
    ]
  },
  {
    "id": "1a50a5bcb3806d32",
    "type": "function",
    "z": "9c255342f7ba0458",
    "name": "Extract room from motion sensor entity an extract off lights to regex",
    "func": "var motion_entity_id = msg.data.event.new_state.entity_id; // binary_sensor.sensor_bedroom_motion_occupancy\nvar motion_entity_id_split = motion_entity_id.split(\".\");// split on the dot to separate domain and entity\nvar motion_entity_id_wihtout_binary = motion_entity_id_split[1].replace(\"sensor_\", \"\").replace(\"_motion\", \"\").replace(\"_fp1\", \"\").replace(\"_presence\", \"\").replace(\"_occupancy\", \"\").replace(\"_entry\", \"\").replace(\"_exit\", \"\");// remove sensor_ and more substrings\nvar regex = \"^light\\\\.(?!.*?group.*?)(?!.*?notification.*?)(?!.*?lights.*?).*\" + motion_entity_id_wihtout_binary + \".*\"; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is_not' , 'value': \"on\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\"room\": motion_entity_id_wihtout_binary\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 860,
    "wires": [
      [
        "939672c601e325f3"
      ]
    ]
  },
  {
    "id": "939672c601e325f3",
    "type": "ha-get-entities",
    "z": "9c255342f7ba0458",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1390,
    "y": 860,
    "wires": [
      [
        "81d70bbdf9741db6"
      ]
    ]
  },
  {
    "id": "aaa91d0350ae7f32",
    "type": "function",
    "z": "9c255342f7ba0458",
    "name": "Brightness selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\n\n\nif (h > 22){\n    var brightness_percentage = \"85\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness_percentage = \"75\";\n}\nelse if (h > 2 && h<8){\n    var brightness_percentage = \"50\";\n}\nelse if (h >= 8 && h<9){\n    var brightness_percentage = \"60\";\n}\nelse{\n    var brightness_percentage = \"100\";\n}\nmsg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_pct\": brightness_percentage,\n        \"color_name\":  \"white\"\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3910,
    "y": 840,
    "wires": [
      [
        "8ff719e071b839ef"
      ]
    ]
  },
  {
    "id": "29dc8fa9b86b33d0",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4350,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "fcac50d12c96b39b",
    "type": "function",
    "z": "9c255342f7ba0458",
    "name": "Extract room from sleeper sensor entity",
    "func": "var room = msg.room\nvar regex = \"sleeper_in_\" + room; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is' , 'value': \"on\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\n    \"entity\": msg.entity\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1960,
    "y": 860,
    "wires": [
      [
        "971b96c9a8f67a3b"
      ]
    ]
  },
  {
    "id": "971b96c9a8f67a3b",
    "type": "ha-get-entities",
    "z": "9c255342f7ba0458",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 2270,
    "y": 860,
    "wires": [
      [
        "dbd59e8b7b45edda"
      ]
    ]
  },
  {
    "id": "9de1925e2f2f9122",
    "type": "change",
    "z": "9c255342f7ba0458",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "entity",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2830,
    "y": 860,
    "wires": [
      [
        "756c3fd176449cfe",
        "8faf8c0ae225dd52"
      ]
    ]
  },
  {
    "id": "81d70bbdf9741db6",
    "type": "change",
    "z": "9c255342f7ba0458",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "entity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1630,
    "y": 860,
    "wires": [
      [
        "fcac50d12c96b39b"
      ]
    ]
  },
  {
    "id": "dbd59e8b7b45edda",
    "type": "switch",
    "z": "9c255342f7ba0458",
    "name": "",
    "property": "payload.results",
    "propertyType": "msg",
    "rules": [
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2590,
    "y": 860,
    "wires": [
      [
        "9de1925e2f2f9122"
      ]
    ]
  },
  {
    "id": "d2a71d4908f3ce56",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Detect motion across ocupancy sensors",
    "info": "",
    "x": 230,
    "y": 820,
    "wires": []
  },
  {
    "id": "456d75bd167eea94",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 1020,
    "y": 820,
    "wires": []
  },
  {
    "id": "d85b18b6bfa5c379",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Get off light entities",
    "info": "",
    "x": 1390,
    "y": 820,
    "wires": []
  },
  {
    "id": "340dbe17962dfb2c",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Move payload to entity",
    "info": "",
    "x": 1620,
    "y": 820,
    "wires": []
  },
  {
    "id": "670a19861b265e4d",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Prepare regex to check if someone is sleeping in the room",
    "info": "",
    "x": 1970,
    "y": 820,
    "wires": []
  },
  {
    "id": "3d97f491cf18f552",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Get sleeper entities in an array",
    "info": "",
    "x": 2310,
    "y": 820,
    "wires": []
  },
  {
    "id": "dfee70f77fd32876",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Make sure the array is empty",
    "info": "",
    "x": 2580,
    "y": 820,
    "wires": []
  },
  {
    "id": "247d63ee88333762",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Move entity to payload",
    "info": "",
    "x": 2820,
    "y": 820,
    "wires": []
  },
  {
    "id": "c798949c4a3296da",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Select color, brightness and set entity_id",
    "info": "",
    "x": 3920,
    "y": 800,
    "wires": []
  },
  {
    "id": "cccad8a3bdd93628",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Turn the lights on",
    "info": "",
    "x": 4340,
    "y": 820,
    "wires": []
  },
  {
    "id": "40be8c7613a4b78c",
    "type": "api-current-state",
    "z": "9c255342f7ba0458",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.all_present_sleeping",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3590,
    "y": 840,
    "wires": [
      [
        "aaa91d0350ae7f32",
        "2397a6d2a295233b"
      ],
      [
        "b893a8e9bc32fc6f"
      ]
    ]
  },
  {
    "id": "259aa990286922dd",
    "type": "function",
    "z": "9c255342f7ba0458",
    "name": "Effect selector",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar effects_list = msg.payload.attributes.effect_list\n\nvar r = Math.floor(Math.random() * effects_list.length );\nvar effect = effects_list[r];\n\n\n\n\n\n\nif (h > 22){\n    var brightness_percentage = \"45\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness_percentage = \"35\";\n}\nelse if (h > 2 && h<8){\n    var brightness_percentage = \"20\";\n}\nelse if (h >= 8 && h<9){\n    var brightness_percentage = \"30\";\n}\nelse{\n    var brightness_percentage = \"100\";\n}\nmsg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_pct\": brightness_percentage,\n        \"effect\":  effect\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3900,
    "y": 920,
    "wires": [
      [
        "8ff719e071b839ef"
      ]
    ]
  },
  {
    "id": "06b35f203544cf83",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Check if all are sleeping",
    "info": "",
    "x": 3540,
    "y": 800,
    "wires": []
  },
  {
    "id": "756c3fd176449cfe",
    "type": "api-current-state",
    "z": "9c255342f7ba0458",
    "name": "Acid time",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3140,
    "y": 860,
    "wires": [
      [
        "812e001d0a31927c"
      ],
      [
        "a8d6b266991a537a"
      ]
    ]
  },
  {
    "id": "2397a6d2a295233b",
    "type": "debug",
    "z": "9c255342f7ba0458",
    "name": "debug 136",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3890,
    "y": 660,
    "wires": []
  },
  {
    "id": "8faf8c0ae225dd52",
    "type": "debug",
    "z": "9c255342f7ba0458",
    "name": "debug 137",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3050,
    "y": 780,
    "wires": []
  },
  {
    "id": "812e001d0a31927c",
    "type": "api-current-state",
    "z": "9c255342f7ba0458",
    "name": "Party time",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3300,
    "y": 840,
    "wires": [
      [
        "40be8c7613a4b78c"
      ],
      [
        "9ee2a54ef22ef8f7"
      ]
    ]
  },
  {
    "id": "b893a8e9bc32fc6f",
    "type": "function",
    "z": "9c255342f7ba0458",
    "name": "Brightness selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\n\n\n\nif (h > 22){\n    var brightness_percentage = \"45\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness_percentage = \"35\";\n}\nelse if (h > 2 && h<8){\n    var brightness_percentage = \"20\";\n}\nelse if (h >= 8 && h<9){\n    var brightness_percentage = \"30\";\n}\nelse{\n    var brightness_percentage = \"100\";\n}\nmsg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_pct\": brightness_percentage,\n        \"color_name\":  \"white\"\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3910,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "6de4d10c953dab87",
    "type": "function",
    "z": "9c255342f7ba0458",
    "name": "JS",
    "func": "var old_color = msg.data.old_state.attributes.rgb_color;\nvar new_color = msg.data.new_state.attributes.rgb_color;\nvar old_brightness = msg.data.old_state.attributes.brightness;\nvar new_brightness = msg.data.new_state.attributes.brightness;\n\nif (old_color[0] != new_color[0] && old_color[1] != new_color[1] && old_color[2] != new_color[2] && old_brightness < new_brightness){\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"brightness\": old_brightness\n        }\n    }\n};\n} else if ((old_color[0]+old_color[1]+old_color[2]) != (new_color[0] + new_color[1] + new_color[2]) && old_brightness < new_brightness){\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"brightness\": old_brightness\n        }\n    }\n};\n} else {\nvar newMsg = {\n    \"payload\": {\n        \"bugged\": { }\n    }\n};\n}\n\nreturn newMsg;\n\n\n//Current bug:\n// If a similar color is used, it does not work\n//\n//",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "1d34d1ac275573a6",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "JS Magic to detect a color change and extract previous brightness",
    "info": "",
    "x": 970,
    "y": 680,
    "wires": []
  },
  {
    "id": "a0998379eaec659d",
    "type": "change",
    "z": "9c255342f7ba0458",
    "name": "",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "payload.data.value",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 500,
    "wires": [
      [
        "e465fd565a8ea9d6"
      ]
    ]
  },
  {
    "id": "e465fd565a8ea9d6",
    "type": "trigger",
    "z": "9c255342f7ba0458",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "100",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 880,
    "y": 500,
    "wires": [
      [
        "0e7f0da92345edcc"
      ]
    ]
  },
  {
    "id": "82d84d5b9d5e02b6",
    "type": "server-state-changed",
    "z": "9c255342f7ba0458",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "2",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_closet",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 280,
    "y": 1480,
    "wires": [
      [
        "49011b47e3a9b594"
      ],
      [
        "298147f466bd6bf5"
      ]
    ]
  },
  {
    "id": "49011b47e3a9b594",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Turn off tablet screen",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.samsung_galaxy_tab_e_8_0_screen"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 620,
    "y": 1460,
    "wires": [
      []
    ]
  },
  {
    "id": "298147f466bd6bf5",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Turn on tablet screen",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.samsung_galaxy_tab_e_8_0_screen"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 620,
    "y": 1520,
    "wires": [
      []
    ]
  },
  {
    "id": "a0592a995a4a1c4c",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Detect \"Sleeper in closet\" on",
    "info": "",
    "x": 260,
    "y": 1440,
    "wires": []
  },
  {
    "id": "73c3a95b7522cc4b",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Turn off tablet screen",
    "info": "",
    "x": 630,
    "y": 1420,
    "wires": []
  },
  {
    "id": "6316d959b5e1b2f4",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Turn on tablet screen",
    "info": "",
    "x": 620,
    "y": 1560,
    "wires": []
  },
  {
    "id": "f67a8d01e32f362c",
    "type": "server-state-changed",
    "z": "9c255342f7ba0458",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_closet",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 1160,
    "wires": [
      [
        "7b391a1b74b5d0fc"
      ],
      [
        "161e75e61d205626"
      ]
    ]
  },
  {
    "id": "7b391a1b74b5d0fc",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Turn off lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_closet_lights"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 580,
    "y": 1140,
    "wires": [
      [
        "bda32b6dd10c01da"
      ]
    ]
  },
  {
    "id": "c79bafaa6f2ae550",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Detect \"Sleeper in closet\" on",
    "info": "",
    "x": 240,
    "y": 1120,
    "wires": []
  },
  {
    "id": "161e75e61d205626",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Turn on lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_closet_lights"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 580,
    "y": 1200,
    "wires": [
      []
    ]
  },
  {
    "id": "a8cf218cd87d6cf7",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Toggle Sleeper in closet bool",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "toggle",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_closet"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 740,
    "y": 1820,
    "wires": [
      []
    ]
  },
  {
    "id": "4fe2e6ec4a529d16",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Toggle the \"sleeper in hotbox\" boolean",
    "info": "",
    "x": 750,
    "y": 1780,
    "wires": []
  },
  {
    "id": "1b05f8f6240505de",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Single press on closet dial",
    "info": "",
    "x": 230,
    "y": 1780,
    "wires": []
  },
  {
    "id": "ef04b9b1117ebd75",
    "type": "switch",
    "z": "9c255342f7ba0458",
    "name": "",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "toggle",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 470,
    "y": 1820,
    "wires": [
      [
        "a8cf218cd87d6cf7"
      ]
    ]
  },
  {
    "id": "e812ea09b1f216c2",
    "type": "mqtt in",
    "z": "9c255342f7ba0458",
    "name": "",
    "topic": "zigbee2mqtt/remote_closet_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 250,
    "y": 1820,
    "wires": [
      [
        "ef04b9b1117ebd75"
      ]
    ]
  },
  {
    "id": "e4934924eebbae47",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Dim light",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_closet_lights"
    ],
    "data": "{\"brightness_step_pct\": -10}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 2080,
    "wires": [
      []
    ]
  },
  {
    "id": "d18e82ed61468a87",
    "type": "trigger",
    "z": "9c255342f7ba0458",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "-400",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 900,
    "y": 2000,
    "wires": [
      [
        "7c19cec58b265628"
      ]
    ]
  },
  {
    "id": "f9a6809308f5dc89",
    "type": "change",
    "z": "9c255342f7ba0458",
    "name": "set reset",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 2040,
    "wires": [
      [
        "d18e82ed61468a87",
        "0336f2b6caaf7532"
      ]
    ]
  },
  {
    "id": "0336f2b6caaf7532",
    "type": "trigger",
    "z": "9c255342f7ba0458",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "-400",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 900,
    "y": 2080,
    "wires": [
      [
        "e4934924eebbae47"
      ]
    ]
  },
  {
    "id": "bae1322512dcc98f",
    "type": "mqtt in",
    "z": "9c255342f7ba0458",
    "name": "",
    "topic": "zigbee2mqtt/remote_closet_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 250,
    "y": 2040,
    "wires": [
      [
        "697f0e411c3c1ec4"
      ]
    ]
  },
  {
    "id": "697f0e411c3c1ec4",
    "type": "switch",
    "z": "9c255342f7ba0458",
    "name": "",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "brightness_move_up",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "brightness_stop",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "brightness_move_down",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 510,
    "y": 2040,
    "wires": [
      [
        "d18e82ed61468a87"
      ],
      [
        "f9a6809308f5dc89"
      ],
      [
        "0336f2b6caaf7532"
      ]
    ]
  },
  {
    "id": "7c19cec58b265628",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Raise light",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_closet_lights"
    ],
    "data": "{\"brightness_step_pct\": 10}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1190,
    "y": 2000,
    "wires": [
      []
    ]
  },
  {
    "id": "ad4b0e21c924a872",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Rotations on closet dial",
    "info": "",
    "x": 260,
    "y": 2000,
    "wires": []
  },
  {
    "id": "7254cab5dbeee34c",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Rotations on closet dial",
    "info": "",
    "x": 520,
    "y": 1980,
    "wires": []
  },
  {
    "id": "b914053697a3b5d1",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Only let \"Toggle\" through",
    "info": "",
    "x": 470,
    "y": 1780,
    "wires": []
  },
  {
    "id": "8789f9e140f9de03",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "### HANDLE CLOSET SLEEPER BOOL ###",
    "info": "",
    "x": 310,
    "y": 1740,
    "wires": []
  },
  {
    "id": "e4a9038ee615f81f",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Raise the lights",
    "info": "",
    "x": 1200,
    "y": 1960,
    "wires": []
  },
  {
    "id": "e54d197e34980b53",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Dim the lights",
    "info": "",
    "x": 1190,
    "y": 2120,
    "wires": []
  },
  {
    "id": "0184b428f65e8376",
    "type": "comment",
    "z": "9c255342f7ba0458",
    "name": "Repeat until rotate_stop is present",
    "info": "",
    "x": 920,
    "y": 2040,
    "wires": []
  },
  {
    "id": "bda32b6dd10c01da",
    "type": "api-call-service",
    "z": "9c255342f7ba0458",
    "name": "Turn off lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.closet_string_1",
      "light.closet_string_2"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 780,
    "y": 1140,
    "wires": [
      []
    ]
  }
]