node-red/flows/Face reco 10.0.json
[
  {
    "id": "cd7a606d7931c143",
    "type": "tab",
    "label": "Face reco 10.0",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "79c908dafb7c42a7",
    "type": "inject",
    "z": "cd7a606d7931c143",
    "name": "1",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 350,
    "y": 320,
    "wires": [
      [
        "5197a8dcb4f7e262"
      ]
    ]
  },
  {
    "id": "5197a8dcb4f7e262",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "Save Facecam Ring.jpg For Debug",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.faceshot_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 600,
    "y": 320,
    "wires": [
      [
        "e9bcf0e19b27ce97"
      ]
    ]
  },
  {
    "id": "8356b51a9007c3b7",
    "type": "http request",
    "z": "cd7a606d7931c143",
    "name": "POST request",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/ring.jpg&camera=camera.facecam",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1020,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "e9bcf0e19b27ce97",
    "type": "trigger",
    "z": "cd7a606d7931c143",
    "name": "20s Cooldown",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "3",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 840,
    "y": 320,
    "wires": [
      [
        "8356b51a9007c3b7"
      ]
    ]
  }
]