node-red/flows/Face Reco 8.0.json
[
  {
    "id": "90585768a7a619f8",
    "type": "tab",
    "label": "Face Reco 8.0",
    "disabled": true,
    "info": "",
    "env": []
  },
  {
    "id": "74e83bb54e13e800",
    "type": "server-state-changed",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_doorbell_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "None",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 200,
    "y": 540,
    "wires": [
      [
        "d2ec41d6aac3af0d",
        "de0d45e08d67309e"
      ],
      []
    ]
  },
  {
    "id": "ffe3bf33bb370856",
    "type": "inject",
    "z": "90585768a7a619f8",
    "name": "click",
    "props": [
      {
        "p": "payload.event.command",
        "v": "click",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 3090,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "5468d4ebbfa0037c",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "camera.facecam_person",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 580,
    "y": 480,
    "wires": [
      [
        "4c880ba1a1e1524c",
        "88a6d28e86a3933f"
      ]
    ]
  },
  {
    "id": "4c880ba1a1e1524c",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1070,
    "y": 360,
    "wires": []
  },
  {
    "id": "88a6d28e86a3933f",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Time Check + Cam Passthrough",
    "func": "\nvar timestamp = msg.data.last_updated;\nvar timestampUnix = new Date(timestamp).getTime();\nvar cameraurl = msg.data.attributes.entity_picture;\n\nvar now = Date.now();\nvar timedif = (now - timestampUnix);\n\n\nif (timedif < 50000 ){ // set back to 100000 after test\n     var nowfinal = 1;\n } else {\n     var nowfinal = 0;};\n\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"now\":  nowfinal\n\t\t\n   \t},\n   \t\"entity\": msg.entity,\n   \t\"data\": msg.data,\n   \t\"cameraurl\": \"http://192.168.0.15:8123\" + cameraurl\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 480,
    "wires": [
      [
        "7ae1ef352a10a3f3",
        "9ddf2dd94d18f1c7"
      ]
    ]
  },
  {
    "id": "7ae1ef352a10a3f3",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 280,
    "wires": []
  },
  {
    "id": "9ddf2dd94d18f1c7",
    "type": "switch",
    "z": "90585768a7a619f8",
    "name": "Now pic top, old pic bottom",
    "property": "payload.now",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1160,
    "y": 500,
    "wires": [
      [
        "02cd6a8a41ba903f"
      ],
      [
        "d53583062314d64f"
      ]
    ]
  },
  {
    "id": "7b192427da0ef0bd",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "camera.facecam",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1630,
    "y": 560,
    "wires": [
      [
        "c3229b8d83beacb2",
        "b3d64d1e907a6f10"
      ]
    ]
  },
  {
    "id": "02cd6a8a41ba903f",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Double take URL set",
    "func": "// SETTINGS\nvar required_conf = 75;\n// SETTINGS\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"url\": \"http://192.168.0.14:3000/api/recognize?url=\" + msg.cameraurl + \"&camera=camera.facecam\"\n   \t},\n   \t\"url\": \"http://192.168.0.14:3000/api/recognize?url=\" + msg.cameraurl + \"&camera=camera.facecam\"\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1400,
    "y": 520,
    "wires": [
      [
        "503b614ca1d1c1e4",
        "26f440787c731b08"
      ]
    ]
  },
  {
    "id": "503b614ca1d1c1e4",
    "type": "http request",
    "z": "90585768a7a619f8",
    "name": "[POST] Recognize Double-Take",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 1650,
    "y": 520,
    "wires": [
      [
        "68892ec178b704a0"
      ]
    ]
  },
  {
    "id": "26f440787c731b08",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1750,
    "y": 360,
    "wires": []
  },
  {
    "id": "200a580462a49ee8",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1950,
    "y": 340,
    "wires": []
  },
  {
    "id": "68892ec178b704a0",
    "type": "json",
    "z": "90585768a7a619f8",
    "name": "toJson",
    "property": "payload",
    "action": "",
    "pretty": true,
    "x": 1850,
    "y": 520,
    "wires": [
      [
        "200a580462a49ee8",
        "8aa52921be81dcd1"
      ]
    ]
  },
  {
    "id": "c3229b8d83beacb2",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1550,
    "y": 680,
    "wires": []
  },
  {
    "id": "6765ee0d50b6477f",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2090,
    "y": 880,
    "wires": []
  },
  {
    "id": "258189335764afac",
    "type": "http request",
    "z": "90585768a7a619f8",
    "name": "[POST] Recognize Double-Take",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 2130,
    "y": 560,
    "wires": [
      [
        "8fdb94790e6d465c"
      ]
    ]
  },
  {
    "id": "8fdb94790e6d465c",
    "type": "json",
    "z": "90585768a7a619f8",
    "name": "toJson",
    "property": "payload",
    "action": "",
    "pretty": true,
    "x": 2330,
    "y": 560,
    "wires": [
      [
        "08c4fd83861dd951",
        "8aa52921be81dcd1"
      ]
    ]
  },
  {
    "id": "b3d64d1e907a6f10",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Double take URL set",
    "func": "// SETTINGS\nvar cameraurl = \"http://192.168.0.15:8123\" + msg.data.attributes.entity_picture;\n// SETTINGS\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"url\": \"http://192.168.0.14:3000/api/recognize?url=\" + cameraurl + \"&camera=camera.facecam\"\n   \t},\n   \t\"url\": \"http://192.168.0.14:3000/api/recognize?url=\" + cameraurl + \"&camera=camera.facecam\"\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1880,
    "y": 560,
    "wires": [
      [
        "258189335764afac",
        "e3e49b9d016e2510",
        "7a252747939c703d"
      ]
    ]
  },
  {
    "id": "fe7d30b9a6cf08d3",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Time Check + Cam Passthrough",
    "func": "var cameraurl = msg.data.attributes.entity_picture;\n\n\n\n\n\n  var test = {\n   \t\"entity\": msg.entity,\n   \t\"data\": msg.data,\n   \t\"cameraurl\": \"http://192.168.0.15:8123\" + cameraurl\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1850,
    "y": 900,
    "wires": [
      [
        "6765ee0d50b6477f"
      ]
    ]
  },
  {
    "id": "d53583062314d64f",
    "type": "change",
    "z": "90585768a7a619f8",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "cameraurl",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "data",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1400,
    "y": 560,
    "wires": [
      [
        "7b192427da0ef0bd",
        "c3b86461750e7479"
      ]
    ]
  },
  {
    "id": "c3b86461750e7479",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1317.552734375,
    "y": 680.0081176757812,
    "wires": []
  },
  {
    "id": "e3e49b9d016e2510",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2070,
    "y": 660,
    "wires": []
  },
  {
    "id": "08c4fd83861dd951",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2230,
    "y": 780,
    "wires": []
  },
  {
    "id": "8aa52921be81dcd1",
    "type": "trigger",
    "z": "90585768a7a619f8",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2410,
    "y": 520,
    "wires": [
      [
        "e4922cf0cc301205"
      ]
    ]
  },
  {
    "id": "ef9acd7f7033be91",
    "type": "switch",
    "z": "90585768a7a619f8",
    "name": "Any recognition?",
    "property": "payload.matches",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2830,
    "y": 520,
    "wires": [
      [
        "b8b9ae0b6ea48a6c"
      ],
      [
        "b2fa752cb1061f91"
      ]
    ]
  },
  {
    "id": "d2ec41d6aac3af0d",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 480,
    "y": 720,
    "wires": [
      [
        "5a63b80c4e38e8e2"
      ]
    ]
  },
  {
    "id": "ef99c450fb2d33a0",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "5a63b80c4e38e8e2",
    "type": "ha-wait-until",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "60",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 660,
    "y": 700,
    "wires": [
      [
        "ef99c450fb2d33a0"
      ],
      [
        "ef99c450fb2d33a0"
      ]
    ]
  },
  {
    "id": "6c2461f1f43780f7",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "reco post process",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3250,
    "y": 400,
    "wires": []
  },
  {
    "id": "b8b9ae0b6ea48a6c",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Face Extractor compare 7.0",
    "func": "// SETTINGS\nvar required_conf = 80;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"\";\nvar conf = \"\";\nvar reconame = \"\";\nvar recognized = 69;\nvar confidence = \"\";\nvar reco = \"\";\nvar recognized_confidently = 0;\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n         for (y = 0; y < Object.keys(msg.payload.matches[i]).length; y++){\n                var name = msg.payload.matches[i].name;\n \t\t\t\tvar conf = msg.payload.matches[i].confidence;\n \t\t\t\tvar camera = msg.payload.camera;\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf]);\n \t\t\t// \t}\n \t\t\t\t\n        }\n    }\n    \n    \n     \trecofacesortable.sort(function(a, b) {\n \t\treturn a[1] - b[1];\n \t}).reverse();\n \t\n    for (i = 0; i < recofacesortable.length; i++){\n        var reconame = recofacesortable[0][0];\n        var confidence = recofacesortable[0][1]\n        \n        \n    }\n\n\n\nif (confidence > required_conf) {\n\tvar recognized_confidently = 1;\n}\n\nif (confidence != \"\") {\n\tvar recognized = 1;\n} else if (confidence == \"\") {\n    var recognized = 0;\n} else { \n var recognized = \"bugging\";\n    \n}\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"name\": reconame,\n\t\t\"confidence\": confidence,\n\t\t\"recognized_confidently\": recognized_confidently,\n\t\t\"recognized\": recognized,\n \t\t\"camera\": camera,\n \t\t\"recoface\": recoface\n\t}\n};\n\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2980,
    "y": 460,
    "wires": [
      [
        "6c2461f1f43780f7",
        "36a9e69a1f17495d",
        "38d03566a7dd39f1"
      ]
    ]
  },
  {
    "id": "c7e58e1c25d2264a",
    "type": "inject",
    "z": "90585768a7a619f8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "url",
        "v": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/api/camera_proxy/camera.facecam?token=97699652c0e63bfb128474ffcab6bd3f242378cdaecf961254f9c81db7285299&camera=camera.facecam",
        "vt": "str"
      },
      {
        "p": "_msgid",
        "v": "c296082d21604113",
        "vt": "str"
      },
      {
        "p": "header",
        "v": "{\"x-powered-by\":\"Express\",\"access-control-allow-origin\":\"*\",\"content-type\":\"application/json; charset=utf-8\",\"content-length\":\"400\",\"etag\":\"W/\\\"190-gyeGbs7LKPjnWp7g/2Mvq8RxVDs\\\"\",\"date\":\"Thu, 07 Apr 2022 20:24:54 GMT\",\"connection\":\"close\",\"x-node-red-request-node\":\"7940a9f0\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"15477d6e-7fff-4f82-84c2-badf6e1ed31a\",\"duration\":1.52,\"timestamp\":\"2022-04-07T20:24:54.253Z\",\"attempts\":1,\"camera\":\"camera.facecam\",\"zones\":[],\"matches\":[{\"name\":\"maxi\",\"confidence\":99.92,\"match\":true,\"box\":{\"top\":377,\"left\":388,\"width\":526,\"height\":652},\"type\":\"manual\",\"duration\":0.55,\"detector\":\"compreface\",\"filename\":\"b237ed80-7efb-4902-80f3-9b6b67a94675.jpg\",\"base64\":null},{\"name\":\"test\",\"confidence\":90.92,\"match\":true,\"box\":{\"top\":377,\"left\":388,\"width\":526,\"height\":652},\"type\":\"manual\",\"duration\":0.55,\"detector\":\"compreface\",\"filename\":\"b237ed80-7efb-4902-80f3-9b6b67a94675.jpg\",\"base64\":null}],\"misses\":[]}",
    "payloadType": "json",
    "x": 2510,
    "y": 400,
    "wires": [
      [
        "ef9acd7f7033be91"
      ]
    ]
  },
  {
    "id": "0facc085cf02d8de",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Name Payload",
    "func": "var name = msg.match.name;\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": name\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4020,
    "y": 140,
    "wires": [
      [
        "913adc0e99a5f42b"
      ]
    ]
  },
  {
    "id": "913adc0e99a5f42b",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4230,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "d32471499d5f1d14",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4200,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "dd39d946f8395675",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Javascript",
    "func": "var name = msg.payload.name;\nvar camera = \"/api/camera_proxy/\" + msg.payload.camera\n\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": \"Welcoming \" + name,\n\t\t\t\"data\": {\n\t\t\t\t\"image\": camera,\n\t\t\t\t\"actions\": [\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4020,
    "y": 180,
    "wires": [
      [
        "d32471499d5f1d14",
        "32523a71b60ee78b",
        "37fcf38a57be3072"
      ]
    ]
  },
  {
    "id": "32523a71b60ee78b",
    "type": "change",
    "z": "90585768a7a619f8",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4240,
    "y": 220,
    "wires": [
      [
        "150a6022ab095384"
      ]
    ]
  },
  {
    "id": "37fcf38a57be3072",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4650,
    "y": 180,
    "wires": []
  },
  {
    "id": "150a6022ab095384",
    "type": "subflow:233ac7dcd801a802",
    "z": "90585768a7a619f8",
    "name": "",
    "x": 4450,
    "y": 220,
    "wires": []
  },
  {
    "id": "5024bcdda15789c5",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4320,
    "y": 260,
    "wires": [
      [
        "5658d6f6198ff866"
      ]
    ]
  },
  {
    "id": "5658d6f6198ff866",
    "type": "ha-wait-until",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4480,
    "y": 260,
    "wires": [
      [
        "96968459f3bf5c4f"
      ],
      [
        "96968459f3bf5c4f"
      ]
    ]
  },
  {
    "id": "96968459f3bf5c4f",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized",
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4660,
    "y": 260,
    "wires": [
      [
        "88a988e7b7f4ba9f"
      ]
    ]
  },
  {
    "id": "88a988e7b7f4ba9f",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": " {             \"value\": \"UNKNOWN\"         }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4870,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "6bf9206f0b2560da",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "unlock",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4190,
    "y": 320,
    "wires": []
  },
  {
    "id": "e55293568958083e",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "unLock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4010,
    "y": 260,
    "wires": [
      [
        "6bf9206f0b2560da",
        "d2a5f7253ef0c10d"
      ]
    ]
  },
  {
    "id": "d2a5f7253ef0c10d",
    "type": "ha-wait-until",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4160,
    "y": 260,
    "wires": [
      [
        "5024bcdda15789c5"
      ],
      []
    ]
  },
  {
    "id": "36a9e69a1f17495d",
    "type": "switch",
    "z": "90585768a7a619f8",
    "name": "recognized_confidently = 1",
    "property": "payload.recognized_confidently",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2740,
    "y": 200,
    "wires": [
      [
        "5f1d4051491a8660"
      ]
    ]
  },
  {
    "id": "38d03566a7dd39f1",
    "type": "switch",
    "z": "90585768a7a619f8",
    "name": "recognized_confidently = 0",
    "property": "payload.recognized_confidently",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3360,
    "y": 460,
    "wires": [
      [
        "a40923a01527c162"
      ]
    ]
  },
  {
    "id": "610f658a4ddbf68f",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Name Payload",
    "func": "var name = msg.payload.name;\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": name\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4060,
    "y": 420,
    "wires": [
      [
        "232b1651138d30b5"
      ]
    ]
  },
  {
    "id": "232b1651138d30b5",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4270,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "d3cc5a4318a0557c",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold_3",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4310,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "79431cc4783087cc",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Javascript",
    "func": "var name = msg.payload.name;\nvar camera = \"/api/camera_proxy/\" + msg.payload.camera\n\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": camera,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4060,
    "y": 460,
    "wires": [
      [
        "d3cc5a4318a0557c",
        "830faea3f6b259f6",
        "cebf5df5cb373342"
      ]
    ]
  },
  {
    "id": "830faea3f6b259f6",
    "type": "change",
    "z": "90585768a7a619f8",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4280,
    "y": 500,
    "wires": [
      [
        "0113d96a7ff8e5a3"
      ]
    ]
  },
  {
    "id": "cebf5df5cb373342",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4690,
    "y": 460,
    "wires": []
  },
  {
    "id": "a40923a01527c162",
    "type": "delay",
    "z": "90585768a7a619f8",
    "name": "Semi Reco",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3830,
    "y": 460,
    "wires": [
      [
        "610f658a4ddbf68f",
        "79431cc4783087cc"
      ]
    ]
  },
  {
    "id": "0113d96a7ff8e5a3",
    "type": "subflow:233ac7dcd801a802",
    "z": "90585768a7a619f8",
    "name": "",
    "x": 4490,
    "y": 500,
    "wires": []
  },
  {
    "id": "4f82b69b536c66d0",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "kink off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3380,
    "y": 200,
    "wires": [
      [
        "2d86a08c6b26df85",
        "c20eb2b3b2ee5c62"
      ],
      [
        "a40923a01527c162"
      ]
    ]
  },
  {
    "id": "2d86a08c6b26df85",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "Party on",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3560,
    "y": 140,
    "wires": [
      [
        "ec17d2252465c097"
      ],
      [
        "a40923a01527c162"
      ]
    ]
  },
  {
    "id": "c20eb2b3b2ee5c62",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "Waiting Friend?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_someone",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3560,
    "y": 200,
    "wires": [
      [
        "ec17d2252465c097"
      ],
      [
        "a40923a01527c162"
      ]
    ]
  },
  {
    "id": "f39d0741c1e256e0",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "Front House Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_front",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3190,
    "y": 200,
    "wires": [
      [
        "4f82b69b536c66d0"
      ],
      [
        "a40923a01527c162"
      ]
    ]
  },
  {
    "id": "ec17d2252465c097",
    "type": "trigger",
    "z": "90585768a7a619f8",
    "name": "Full Reco",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3760,
    "y": 200,
    "wires": [
      [
        "0facc085cf02d8de",
        "dd39d946f8395675",
        "e55293568958083e"
      ]
    ]
  },
  {
    "id": "58966739a9aebde1",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold_3",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3550,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "cfe3eb50c94051d9",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Javascript",
    "func": "var camera = \"/api/camera_proxy/camera.front_door\"\n\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": \"Someone is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": camera,\n\t\t\t\t\"actions\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3300,
    "y": 820,
    "wires": [
      [
        "58966739a9aebde1",
        "2384943a9be9ba20",
        "5de2220a1888a23a",
        "2d83c2efb9055c1f"
      ]
    ]
  },
  {
    "id": "2384943a9be9ba20",
    "type": "change",
    "z": "90585768a7a619f8",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3520,
    "y": 860,
    "wires": [
      [
        "6e676f7506441f0e"
      ]
    ]
  },
  {
    "id": "5de2220a1888a23a",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3930,
    "y": 820,
    "wires": []
  },
  {
    "id": "6e676f7506441f0e",
    "type": "subflow:233ac7dcd801a802",
    "z": "90585768a7a619f8",
    "name": "",
    "x": 3730,
    "y": 860,
    "wires": []
  },
  {
    "id": "ec1e25816f47c86c",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "camera.front_door",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3080,
    "y": 820,
    "wires": [
      [
        "cfe3eb50c94051d9",
        "df1dfa3a6658beac"
      ]
    ]
  },
  {
    "id": "df1dfa3a6658beac",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3290,
    "y": 940,
    "wires": []
  },
  {
    "id": "2d83c2efb9055c1f",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3410,
    "y": 880,
    "wires": []
  },
  {
    "id": "b2fa752cb1061f91",
    "type": "trigger",
    "z": "90585768a7a619f8",
    "name": "No reco",
    "op1": "1",
    "op2": "",
    "op1type": "str",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2820,
    "y": 820,
    "wires": [
      [
        "ec1e25816f47c86c"
      ]
    ]
  },
  {
    "id": "c7146d518d08cb66",
    "type": "inject",
    "z": "90585768a7a619f8",
    "name": "click",
    "props": [
      {
        "p": "payload.event.command",
        "v": "click",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 2670,
    "y": 840,
    "wires": [
      [
        "b2fa752cb1061f91"
      ]
    ]
  },
  {
    "id": "de0d45e08d67309e",
    "type": "trigger",
    "z": "90585768a7a619f8",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 670,
    "y": 540,
    "wires": [
      [
        "d53583062314d64f"
      ]
    ]
  },
  {
    "id": "5f1d4051491a8660",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "Acid time off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2970,
    "y": 200,
    "wires": [
      [
        "f39d0741c1e256e0"
      ],
      [
        "a40923a01527c162"
      ]
    ]
  },
  {
    "id": "e4922cf0cc301205",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "Waiting Uber off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2600,
    "y": 520,
    "wires": [
      [
        "ef9acd7f7033be91"
      ],
      [
        "6b628ad5808dab81"
      ]
    ]
  },
  {
    "id": "baf4c87c046a4182",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "to package",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_package",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3030,
    "y": 560,
    "wires": [
      [
        "6ec6bc5e344c63f4"
      ]
    ]
  },
  {
    "id": "6b628ad5808dab81",
    "type": "trigger",
    "z": "90585768a7a619f8",
    "name": "Uber",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2830,
    "y": 560,
    "wires": [
      [
        "baf4c87c046a4182",
        "b2fa752cb1061f91"
      ]
    ]
  },
  {
    "id": "6ec6bc5e344c63f4",
    "type": "ha-wait-until",
    "z": "90585768a7a619f8",
    "name": "lock opens?",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 3190,
    "y": 560,
    "wires": [
      [
        "887c2c0e9969deb7"
      ],
      [
        "887c2c0e9969deb7"
      ]
    ]
  },
  {
    "id": "887c2c0e9969deb7",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "to regular position",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_doorway",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3370,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "d9656c1802b67624",
    "type": "api-current-state",
    "z": "90585768a7a619f8",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "camera.facecam",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1690,
    "y": 140,
    "wires": [
      [
        "f54605c1989db8fd"
      ]
    ]
  },
  {
    "id": "f54605c1989db8fd",
    "type": "function",
    "z": "90585768a7a619f8",
    "name": "Double take URL set",
    "func": "// SETTINGS\nvar cameraurl = \"http://192.168.0.15:8123\" + msg.data.attributes.entity_picture;\n// SETTINGS\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"url\": \"http://192.168.0.14:3000/api/recognize?url=\" + cameraurl + \"&camera=camera.facecam\"\n   \t},\n   \t\"url\": \"http://192.168.0.14:3000/api/recognize?url=\" + cameraurl + \"&camera=camera.facecam\"\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1940,
    "y": 140,
    "wires": [
      [
        "40bd41f74a42d282"
      ]
    ]
  },
  {
    "id": "40bd41f74a42d282",
    "type": "debug",
    "z": "90585768a7a619f8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2150,
    "y": 140,
    "wires": []
  },
  {
    "id": "f5e1098cf6bf7a83",
    "type": "inject",
    "z": "90585768a7a619f8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "url",
        "v": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/api/camera_proxy/camera.facecam?token=97699652c0e63bfb128474ffcab6bd3f242378cdaecf961254f9c81db7285299&camera=camera.facecam",
        "vt": "str"
      },
      {
        "p": "_msgid",
        "v": "c296082d21604113",
        "vt": "str"
      },
      {
        "p": "header",
        "v": "{\"x-powered-by\":\"Express\",\"access-control-allow-origin\":\"*\",\"content-type\":\"application/json; charset=utf-8\",\"content-length\":\"400\",\"etag\":\"W/\\\"190-gyeGbs7LKPjnWp7g/2Mvq8RxVDs\\\"\",\"date\":\"Thu, 07 Apr 2022 20:24:54 GMT\",\"connection\":\"close\",\"x-node-red-request-node\":\"7940a9f0\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"15477d6e-7fff-4f82-84c2-badf6e1ed31a\",\"duration\":1.52,\"timestamp\":\"2022-04-07T20:24:54.253Z\",\"attempts\":1,\"camera\":\"camera.facecam\",\"zones\":[],\"matches\":[{\"name\":\"maxi\",\"confidence\":99.92,\"match\":true,\"box\":{\"top\":377,\"left\":388,\"width\":526,\"height\":652},\"type\":\"manual\",\"duration\":0.55,\"detector\":\"compreface\",\"filename\":\"b237ed80-7efb-4902-80f3-9b6b67a94675.jpg\",\"base64\":null},{\"name\":\"test\",\"confidence\":90.92,\"match\":true,\"box\":{\"top\":377,\"left\":388,\"width\":526,\"height\":652},\"type\":\"manual\",\"duration\":0.55,\"detector\":\"compreface\",\"filename\":\"b237ed80-7efb-4902-80f3-9b6b67a94675.jpg\",\"base64\":null}],\"misses\":[]}",
    "payloadType": "json",
    "x": 1450,
    "y": 120,
    "wires": [
      [
        "d9656c1802b67624",
        "d1cd688cd46a6d30"
      ]
    ]
  },
  {
    "id": "d1cd688cd46a6d30",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "Save Facecam Ring.jpg",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.facecam"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1970,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "7a252747939c703d",
    "type": "api-call-service",
    "z": "90585768a7a619f8",
    "name": "Save Facecam Ring.jpg For Debug",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.facecam"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2140,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "679f1d97bea54b16",
    "type": "link out",
    "z": "90585768a7a619f8",
    "name": "",
    "mode": "link",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2535,
    "y": 480,
    "wires": []
  }
]