node-red/flows/Face reco 11.0.json
[
  {
    "id": "450c81641a10c42d",
    "type": "tab",
    "label": "Face reco 11.0",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d295dacce255c29b",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2200,
    "y": 600,
    "wires": [
      [
        "c56fe8b20a7f90a1"
      ]
    ]
  },
  {
    "id": "f8c3bad32eedc603",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2200,
    "y": 640,
    "wires": [
      [
        "76d8e20a37643152"
      ]
    ]
  },
  {
    "id": "c56fe8b20a7f90a1",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2300,
    "y": 600,
    "wires": [
      [
        "f0885d09dd221150"
      ]
    ]
  },
  {
    "id": "76d8e20a37643152",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2300,
    "y": 640,
    "wires": [
      [
        "91cd40af7f2cd956"
      ]
    ]
  },
  {
    "id": "38b109a5d10ff26d",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2700,
    "y": 540,
    "wires": [
      [
        "f422810e7e1914b6"
      ]
    ]
  },
  {
    "id": "96070bddb26b6c9e",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2580,
    "y": 580,
    "wires": [
      [
        "8ede2f6dc16928cf"
      ]
    ]
  },
  {
    "id": "91cd40af7f2cd956",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2580,
    "y": 620,
    "wires": [
      [
        "6c1872d6510312f9"
      ]
    ]
  },
  {
    "id": "8ede2f6dc16928cf",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2660,
    "y": 580,
    "wires": [
      [
        "38b109a5d10ff26d"
      ]
    ]
  },
  {
    "id": "6c1872d6510312f9",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2680,
    "y": 620,
    "wires": [
      [
        "1ffd8297d33ce07d"
      ]
    ]
  },
  {
    "id": "1ffd8297d33ce07d",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2720,
    "y": 640,
    "wires": [
      [
        "589a3f8b2961adce"
      ]
    ]
  },
  {
    "id": "e7a9cf41f73c99c1",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3280,
    "y": 560,
    "wires": [
      [
        "54a07d5786c0af49"
      ]
    ]
  },
  {
    "id": "1e06a97fc5de2f98",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3420,
    "y": 500,
    "wires": [
      [
        "19e1dce6a1046296"
      ]
    ]
  },
  {
    "id": "19e1dce6a1046296",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3440,
    "y": 520,
    "wires": [
      [
        "9fe78a4010227152"
      ]
    ]
  },
  {
    "id": "5acb3e3de8c5b17b",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2840,
    "y": 620,
    "wires": [
      [
        "589a3f8b2961adce"
      ]
    ]
  },
  {
    "id": "589a3f8b2961adce",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2880,
    "y": 640,
    "wires": [
      [
        "99a5842425262fe7"
      ]
    ]
  },
  {
    "id": "af19fdacd71359c6",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2780,
    "y": 620,
    "wires": [
      [
        "5acb3e3de8c5b17b"
      ]
    ]
  },
  {
    "id": "f5587072212db77b",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3020,
    "y": 620,
    "wires": [
      [
        "99a5842425262fe7"
      ]
    ]
  },
  {
    "id": "99a5842425262fe7",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3060,
    "y": 640,
    "wires": [
      [
        "0aee512896affe9e"
      ]
    ]
  },
  {
    "id": "9a3c4deebc1f79d4",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 2960,
    "y": 620,
    "wires": [
      [
        "f5587072212db77b"
      ]
    ]
  },
  {
    "id": "730f5f8e34438ea7",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3200,
    "y": 620,
    "wires": [
      [
        "0aee512896affe9e"
      ]
    ]
  },
  {
    "id": "0aee512896affe9e",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3240,
    "y": 640,
    "wires": [
      [
        "13f5412d8e9f0744"
      ]
    ]
  },
  {
    "id": "50c10993b072d895",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3140,
    "y": 620,
    "wires": [
      [
        "730f5f8e34438ea7"
      ]
    ]
  },
  {
    "id": "464cb39e0f997312",
    "type": "junction",
    "z": "450c81641a10c42d",
    "x": 3560,
    "y": 580,
    "wires": [
      [
        "13f5412d8e9f0744"
      ]
    ]
  },
  {
    "id": "64c326277e598dcd",
    "type": "server-events",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "eventData": "",
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 350,
    "y": 100,
    "wires": [
      [
        "d9da3f994551ca6c"
      ]
    ]
  },
  {
    "id": "d9da3f994551ca6c",
    "type": "switch",
    "z": "450c81641a10c42d",
    "name": "Enter text?",
    "property": "payload.event.action_1_title",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Enter Text",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 670,
    "y": 100,
    "wires": [
      [
        "1ffef80cf9b50e60"
      ]
    ]
  },
  {
    "id": "e38a31f12e417ca3",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Javascript code",
    "func": "var text = msg.payload.event.reply_text;\n\n\n\nvar newMsg = {\n    \"text\": msg.payload.event.image,\n    \"payload\": {\n        \"data\": {\n            \"value\": text\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1160,
    "y": 100,
    "wires": [
      [
        "1659698d4abd266c"
      ]
    ]
  },
  {
    "id": "1659698d4abd266c",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.front_door_phone_text"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1480,
    "y": 100,
    "wires": [
      [
        "447fe301a941b8f3"
      ]
    ]
  },
  {
    "id": "7406062f8995db1c",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.front_door_phone_text"
    ],
    "data": "{\"value\":\"Empty\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1960,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1ffef80cf9b50e60",
    "type": "switch",
    "z": "450c81641a10c42d",
    "name": "Reply function?",
    "property": "payload.event.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "REPLY",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 920,
    "y": 100,
    "wires": [
      [
        "e38a31f12e417ca3"
      ]
    ]
  },
  {
    "id": "447fe301a941b8f3",
    "type": "ha-wait-until",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "entityLocation": "data",
    "entityLocationType": "none",
    "x": 1700,
    "y": 100,
    "wires": [
      [
        "7406062f8995db1c"
      ],
      [
        "7406062f8995db1c"
      ]
    ]
  },
  {
    "id": "c0f99e79c11a8afe",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "Turn on Door Rang",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 550,
    "y": 560,
    "wires": [
      [
        "8c656af2e55c2c72"
      ]
    ]
  },
  {
    "id": "8c656af2e55c2c72",
    "type": "ha-wait-until",
    "z": "450c81641a10c42d",
    "name": "Wait for door to lock",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "3",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 780,
    "y": 560,
    "wires": [
      [
        "b836b5793868631e"
      ],
      [
        "b836b5793868631e"
      ]
    ]
  },
  {
    "id": "af5c4879977768eb",
    "type": "switch",
    "z": "450c81641a10c42d",
    "name": "Are there matches?",
    "property": "payload.counts.match",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2070,
    "y": 620,
    "wires": [
      [
        "d295dacce255c29b"
      ],
      [
        "f8c3bad32eedc603"
      ]
    ]
  },
  {
    "id": "b836b5793868631e",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "Turn off \"Door rang\"",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1000,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "f0885d09dd221150",
    "type": "change",
    "z": "450c81641a10c42d",
    "name": "Set msg.match",
    "rules": [
      {
        "t": "set",
        "p": "match",
        "pt": "msg",
        "to": "payload.matches[0]",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "match.camera",
        "pt": "msg",
        "to": "payload.camera",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2200,
    "y": 560,
    "wires": [
      [
        "2929b2bc450dd368"
      ]
    ]
  },
  {
    "id": "0f3727c6be7d985e",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "No",
    "info": "",
    "x": 2270,
    "y": 640,
    "wires": []
  },
  {
    "id": "b096c4dadcba5f39",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "Save faceshot image For Processing",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.faceshot_go2rtc"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 850,
    "y": 620,
    "wires": [
      [
        "60905036d5e0e18f"
      ]
    ]
  },
  {
    "id": "1ad406d0cb57b30c",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Set filename to timestamp.jpg",
    "func": "var timestamp = Date.now();\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": { \"filename\": \"/config/www/\" + timestamp + \".jpg\" }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 620,
    "wires": [
      [
        "b096c4dadcba5f39"
      ]
    ]
  },
  {
    "id": "60905036d5e0e18f",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Convert path to http path",
    "func": "var path = msg.payload.data.filename;\nvar http_path = path.replace('/config/www/', 'http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/');\n\nvar newMsg = { \n          \"url\": http_path\n        \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1210,
    "y": 620,
    "wires": [
      [
        "05f8cef37c645940"
      ]
    ]
  },
  {
    "id": "05f8cef37c645940",
    "type": "http request",
    "z": "450c81641a10c42d",
    "name": "GET request with link to current image on faceshot camera",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "query",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1640,
    "y": 620,
    "wires": [
      [
        "af5c4879977768eb"
      ]
    ]
  },
  {
    "id": "c5a435a10e0237a1",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "JavascriptNotification setter Reolink",
    "func": "var name = \"Someone\";\nvar url1 = \"https://hass.purgatoire.ca/local/reolinkring.jpg\";\nvar url2 = \"https://hass.purgatoire.ca/local/ring.jpg\";\nvar random = Date.now();\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"sticky\": 'true',\n\t\t\t\t\"clickAction\": '/phone-landing/reolink?kiosk=1',\n\t\t\t\t\"priority\": 'high',\n\t\t\t\t\"image\": url1 + \"?\" + random,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Enter Text\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3700,
    "y": 680,
    "wires": [
      [
        "8d9bfa2f53708c25",
        "128c9da2f61e9a86"
      ]
    ]
  },
  {
    "id": "13f5412d8e9f0744",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "Save Reolink.jpg for notif",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/reolinkring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3390,
    "y": 640,
    "wires": [
      [
        "c5a435a10e0237a1",
        "b4da22290e4ea336"
      ]
    ]
  },
  {
    "id": "b4da22290e4ea336",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Notification setter Facecam",
    "func": "var name = \"Someone\";\nvar url = msg.responseUrl.split('?');\nvar urlfinal = url[1].replace('url=http://192.168.0.15:8123/','https://hass.purgatoire.ca/');\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"sticky\": 'true',\n\t\t\t\t\"clickAction\": '/phone-landing/reolink?kiosk=1',\n\t\t\t\t\"priority\": 'high',\n\t\t\t\t\"image\": urlfinal,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3680,
    "y": 720,
    "wires": [
      [
        "8d9bfa2f53708c25"
      ]
    ]
  },
  {
    "id": "2929b2bc450dd368",
    "type": "switch",
    "z": "450c81641a10c42d",
    "name": "confidence over 80%?",
    "property": "match.confidence",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "80",
        "vt": "num"
      },
      {
        "t": "lt",
        "v": "80",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2420,
    "y": 560,
    "wires": [
      [
        "96070bddb26b6c9e"
      ],
      [
        "91cd40af7f2cd956"
      ]
    ]
  },
  {
    "id": "d2c02c47bf8cfdc5",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Yes",
    "info": "",
    "x": 2250,
    "y": 600,
    "wires": []
  },
  {
    "id": "7d7bac7229fbc3a3",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "No",
    "info": "",
    "x": 2630,
    "y": 620,
    "wires": []
  },
  {
    "id": "128c9da2f61e9a86",
    "type": "change",
    "z": "450c81641a10c42d",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "move",
        "p": "payload.data.title",
        "pt": "msg",
        "to": "message",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "video",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "video_content",
        "pt": "msg",
        "to": "payload.data.data.image",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4220,
    "y": 680,
    "wires": [
      [
        "18941321b47b01a9"
      ]
    ]
  },
  {
    "id": "18941321b47b01a9",
    "type": "subflow:233ac7dcd801a802",
    "z": "450c81641a10c42d",
    "name": "",
    "x": 4470,
    "y": 640,
    "wires": []
  },
  {
    "id": "72b7a8fc72115492",
    "type": "api-current-state",
    "z": "450c81641a10c42d",
    "name": "Acid time off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2990,
    "y": 540,
    "wires": [
      [
        "8a3c016bfb720319"
      ],
      [
        "9a3c4deebc1f79d4"
      ]
    ]
  },
  {
    "id": "8a3c016bfb720319",
    "type": "api-current-state",
    "z": "450c81641a10c42d",
    "name": "kink off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3160,
    "y": 540,
    "wires": [
      [
        "cbe71e8c31c91a64",
        "e7a9cf41f73c99c1"
      ],
      [
        "50c10993b072d895"
      ]
    ]
  },
  {
    "id": "54a07d5786c0af49",
    "type": "api-current-state",
    "z": "450c81641a10c42d",
    "name": "Waiting Friend?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_someone",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3420,
    "y": 580,
    "wires": [
      [
        "19e1dce6a1046296"
      ],
      [
        "464cb39e0f997312"
      ]
    ]
  },
  {
    "id": "cbe71e8c31c91a64",
    "type": "api-current-state",
    "z": "450c81641a10c42d",
    "name": "Party on",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3320,
    "y": 500,
    "wires": [
      [
        "1e06a97fc5de2f98"
      ],
      [
        "54a07d5786c0af49"
      ]
    ]
  },
  {
    "id": "f422810e7e1914b6",
    "type": "api-current-state",
    "z": "450c81641a10c42d",
    "name": "Waiting Uber off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2800,
    "y": 540,
    "wires": [
      [
        "72b7a8fc72115492"
      ],
      [
        "af19fdacd71359c6"
      ]
    ]
  },
  {
    "id": "cabc1736dc584d7d",
    "type": "api-current-state",
    "z": "450c81641a10c42d",
    "name": "Maxi is present in the front",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "(office|closet)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "entity_id": "sensor.maxi_location",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3720,
    "y": 540,
    "wires": [
      [
        "4e382e238eace54a",
        "3833068b40c659e5"
      ],
      [
        "464cb39e0f997312"
      ]
    ]
  },
  {
    "id": "f319f8df438f1828",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "No",
    "info": "",
    "x": 2790,
    "y": 580,
    "wires": []
  },
  {
    "id": "a1030f85d7a7b137",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "No",
    "info": "",
    "x": 2970,
    "y": 580,
    "wires": []
  },
  {
    "id": "c4c57a99a656baf9",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "No",
    "info": "",
    "x": 3150,
    "y": 580,
    "wires": []
  },
  {
    "id": "d64aa4088012144a",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "No",
    "info": "",
    "x": 3650,
    "y": 600,
    "wires": []
  },
  {
    "id": "4e382e238eace54a",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Notif setter",
    "func": "var name = msg.match.name;\nvar url = msg.responseUrl.split('?');\nvar urlfinal = url[1].replace('url=http://192.168.0.15:8123/', 'https://hass.purgatoire.ca/');\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is being let in\",\n\t\t\t\"data\": {\n\t\t\t\t\"sticky\": 'true',\n\t\t\t\t\"clickAction\": '/phone-landing/reolink?kiosk=1',\n\t\t\t\t\"priority\": 'high',\n\t\t\t\t\"image\": urlfinal\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3970,
    "y": 560,
    "wires": [
      [
        "99828ddfbdbdbcd6",
        "664ec24b8372b452"
      ]
    ]
  },
  {
    "id": "99828ddfbdbdbcd6",
    "type": "change",
    "z": "450c81641a10c42d",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "move",
        "p": "payload.data.title",
        "pt": "msg",
        "to": "message",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[200,200.0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "video",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "video_content",
        "pt": "msg",
        "to": "payload.data.data.image",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4220,
    "y": 640,
    "wires": [
      [
        "18941321b47b01a9"
      ]
    ]
  },
  {
    "id": "9fe78a4010227152",
    "type": "delay",
    "z": "450c81641a10c42d",
    "name": "1M/S",
    "pauseType": "queue",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 3510,
    "y": 520,
    "wires": [
      [
        "cabc1736dc584d7d"
      ]
    ]
  },
  {
    "id": "7ed3de1c9fa7f6f2",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "unLock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4570,
    "y": 500,
    "wires": [
      [
        "8ca04adb20e5bd7a"
      ]
    ]
  },
  {
    "id": "8ca04adb20e5bd7a",
    "type": "ha-wait-until",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4560,
    "y": 440,
    "wires": [
      [
        "b18d738a90d7095c"
      ],
      []
    ]
  },
  {
    "id": "7e1f4fdd27e1058b",
    "type": "ha-wait-until",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4560,
    "y": 320,
    "wires": [
      [
        "14689e8c491e2a54"
      ],
      [
        "14689e8c491e2a54"
      ]
    ]
  },
  {
    "id": "14689e8c491e2a54",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized",
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4580,
    "y": 260,
    "wires": [
      [
        "aa2f513c285041c5"
      ]
    ]
  },
  {
    "id": "aa2f513c285041c5",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": " {             \"value\": \"UNKNOWN\"         }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4600,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "3833068b40c659e5",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Name Payload",
    "func": "var name = msg.match.name;\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": name\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3980,
    "y": 500,
    "wires": [
      [
        "bc0edcf904abdb95"
      ]
    ]
  },
  {
    "id": "bc0edcf904abdb95",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4180,
    "y": 500,
    "wires": [
      [
        "2c82aef1d50ecdb6"
      ]
    ]
  },
  {
    "id": "b18d738a90d7095c",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4580,
    "y": 380,
    "wires": [
      [
        "7e1f4fdd27e1058b"
      ]
    ]
  },
  {
    "id": "cbcf55f52da90504",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "No",
    "info": "",
    "x": 3330,
    "y": 540,
    "wires": []
  },
  {
    "id": "8d97603bce8b64bb",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4510,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "b6e59cd9595ed79c",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4250,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "facfcedb027e2141",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3200,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "a31229c83d998a1a",
    "type": "server-state-changed",
    "z": "450c81641a10c42d",
    "name": "Doorbell",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_doorbell_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "single",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 220,
    "y": 620,
    "wires": [
      [
        "c0f99e79c11a8afe",
        "1ad406d0cb57b30c"
      ],
      []
    ]
  },
  {
    "id": "82a9919e4680d971",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Receive the actionable notification",
    "info": "",
    "x": 360,
    "y": 60,
    "wires": []
  },
  {
    "id": "77e91b817ef5acf7",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Check if the action is \"enter text\"",
    "info": "",
    "x": 670,
    "y": 60,
    "wires": []
  },
  {
    "id": "a1a3cebdf8ffe30c",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Confirm that this is a reply",
    "info": "",
    "x": 910,
    "y": 60,
    "wires": []
  },
  {
    "id": "6d202afea355b26a",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Set the text as the data value",
    "info": "",
    "x": 1180,
    "y": 60,
    "wires": []
  },
  {
    "id": "30a94d4d8ba45924",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Set the phone screen text",
    "info": "",
    "x": 1470,
    "y": 60,
    "wires": []
  },
  {
    "id": "97d555b41a081a9a",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Reset the phone screen text",
    "info": "",
    "x": 1960,
    "y": 60,
    "wires": []
  },
  {
    "id": "7e36b02423ed5780",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Wait till door locks",
    "info": "",
    "x": 1710,
    "y": 60,
    "wires": []
  },
  {
    "id": "7d5af98421225e69",
    "type": "switch",
    "z": "450c81641a10c42d",
    "name": "'Who is this?'?",
    "property": "payload.event.action_1_title",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Who is this?",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 240,
    "wires": [
      [
        "92086f4b0cddef66"
      ]
    ]
  },
  {
    "id": "9a56d9a48613392f",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Javascript",
    "func": "var name = msg.data.event.reply_text;\n\nvar newMsg = {\n \"url\": \"http://192.168.0.14:3000/api/train/retrain/\" + name,\n \"data\": msg.data\n };\n\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1640,
    "y": 240,
    "wires": [
      [
        "5b3a71af383f3e88"
      ]
    ]
  },
  {
    "id": "c4c2882ea1e0c324",
    "type": "server-events",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "eventData": "",
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 350,
    "y": 240,
    "wires": [
      [
        "7d5af98421225e69"
      ]
    ]
  },
  {
    "id": "5b3a71af383f3e88",
    "type": "http request",
    "z": "450c81641a10c42d",
    "name": "HTTP request",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1960,
    "y": 240,
    "wires": [
      [
        "fbe6702c9c2ef8a5"
      ]
    ]
  },
  {
    "id": "fbe6702c9c2ef8a5",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Javascript",
    "func": "var snapshot = msg.data.event.image;\nvar name = msg.data.event.reply_text;\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Faces learning for\" + \" \" + name,\n  \"data\": {\n    \"image\": snapshot\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2190,
    "y": 240,
    "wires": [
      [
        "ecb2c917f34c8209"
      ]
    ]
  },
  {
    "id": "ecb2c917f34c8209",
    "type": "api-call-service",
    "z": "450c81641a10c42d",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2430,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "92086f4b0cddef66",
    "type": "switch",
    "z": "450c81641a10c42d",
    "name": "",
    "property": "payload.event.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "REPLY",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 910,
    "y": 240,
    "wires": [
      [
        "2162299248bfc1b7"
      ]
    ]
  },
  {
    "id": "c64d9ed7449de049",
    "type": "exec",
    "z": "450c81641a10c42d",
    "command": "",
    "addpay": "command",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Command wget ",
    "x": 1400,
    "y": 240,
    "wires": [
      [
        "9a56d9a48613392f"
      ],
      [],
      []
    ]
  },
  {
    "id": "2162299248bfc1b7",
    "type": "function",
    "z": "450c81641a10c42d",
    "name": "Javascript",
    "func": "var image = msg.payload.event.image;\nvar name = msg.payload.event.reply_text;\nvar newMsg = {\n    \"command\": \"mkdir \" + \"/config/www/doubletake/\" + name + \";wget \" + image  + \" -P /config/www/doubletake/\" + name,\n    \"data\": msg.payload\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1160,
    "y": 240,
    "wires": [
      [
        "c64d9ed7449de049"
      ]
    ]
  },
  {
    "id": "cc8a04e83d793ac9",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Receive the actionable notification",
    "info": "",
    "x": 340,
    "y": 200,
    "wires": []
  },
  {
    "id": "d44564743e5c8b0e",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Check if the action is \"Who is this?\"",
    "info": "",
    "x": 640,
    "y": 200,
    "wires": []
  },
  {
    "id": "85dfa9b62c0fa7c7",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Confirm that this is a reply",
    "info": "",
    "x": 890,
    "y": 200,
    "wires": []
  },
  {
    "id": "7996f5f43b656f29",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Set WGET command",
    "info": "This requires to have a folder that is mounted on the Double-take machine and linked to the .storage/train folder",
    "x": 1160,
    "y": 200,
    "wires": []
  },
  {
    "id": "93333520d588e4e2",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Call Wget command",
    "info": "",
    "x": 1390,
    "y": 200,
    "wires": []
  },
  {
    "id": "2df6bced72655465",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Set GET command to train on new images",
    "info": "",
    "x": 1660,
    "y": 200,
    "wires": []
  },
  {
    "id": "4f381e20f259850e",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "LAunch the GET command",
    "info": "",
    "x": 1950,
    "y": 200,
    "wires": []
  },
  {
    "id": "5d62fb0b5e7396cd",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Set notification message",
    "info": "",
    "x": 2190,
    "y": 200,
    "wires": []
  },
  {
    "id": "e0703e656d7adf08",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "confirm the images are ingressed ",
    "info": "",
    "x": 2450,
    "y": 200,
    "wires": []
  },
  {
    "id": "abbeeaa80a7faea6",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Check for doorbell events",
    "info": "",
    "x": 290,
    "y": 580,
    "wires": []
  },
  {
    "id": "cb7ec906f237ece7",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "This takes care of the phone door welcome text",
    "info": "",
    "x": 780,
    "y": 520,
    "wires": []
  },
  {
    "id": "d7214089b00ab89f",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Set the desired timestamp",
    "info": "",
    "x": 510,
    "y": 660,
    "wires": []
  },
  {
    "id": "381de1a0cc1e483a",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Call the snapshot function",
    "info": "",
    "x": 830,
    "y": 660,
    "wires": []
  },
  {
    "id": "82c911781c9c12de",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Set url for HTML callback",
    "info": "",
    "x": 1230,
    "y": 660,
    "wires": []
  },
  {
    "id": "3d49a535ef2b4dac",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "This calls double-take with our image and looks for a match",
    "info": "",
    "x": 1630,
    "y": 580,
    "wires": []
  },
  {
    "id": "78e3db5e7ee67034",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Those set the two notifications ( one per cam)",
    "info": "",
    "x": 3690,
    "y": 640,
    "wires": []
  },
  {
    "id": "c087d16d86c3397c",
    "type": "comment",
    "z": "450c81641a10c42d",
    "name": "Here we have the inside broadcasts",
    "info": "",
    "x": 4500,
    "y": 680,
    "wires": []
  },
  {
    "id": "dc949857755b4c3a",
    "type": "inject",
    "z": "450c81641a10c42d",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 3680,
    "y": 960,
    "wires": [
      [
        "1ad406d0cb57b30c"
      ]
    ]
  },
  {
    "id": "8d9bfa2f53708c25",
    "type": "trigger",
    "z": "450c81641a10c42d",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "100",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3980,
    "y": 740,
    "wires": [
      [
        "b6e59cd9595ed79c"
      ]
    ]
  },
  {
    "id": "664ec24b8372b452",
    "type": "trigger",
    "z": "450c81641a10c42d",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "100",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4200,
    "y": 560,
    "wires": [
      [
        "8d97603bce8b64bb"
      ]
    ]
  },
  {
    "id": "2c82aef1d50ecdb6",
    "type": "trigger",
    "z": "450c81641a10c42d",
    "name": "",
    "op1": "1",
    "op2": "",
    "op1type": "str",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4390,
    "y": 500,
    "wires": [
      [
        "7ed3de1c9fa7f6f2"
      ]
    ]
  }
]