node-red/flows/Face Reco 6.1.json
[
  {
    "id": "904d418a12e6a4b0",
    "type": "tab",
    "label": "Face Reco 6.1",
    "disabled": true,
    "info": ""
  },
  {
    "id": "f7538e3f710d210e",
    "type": "switch",
    "z": "904d418a12e6a4b0",
    "name": "click",
    "property": "payload.event.command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "click",
        "vt": "str",
        "case": true
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 190,
    "y": 800,
    "wires": [
      [
        "626d390b494bc86d",
        "1cf2d343db1c089e",
        "b07092e47615b45f"
      ]
    ]
  },
  {
    "id": "1fe47840b92e7438",
    "type": "server-events",
    "z": "904d418a12e6a4b0",
    "name": "Ringer",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "zha_event",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 50,
    "y": 800,
    "wires": [
      [
        "f7538e3f710d210e"
      ]
    ]
  },
  {
    "id": "23685ea64ad822fc",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "45",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 850,
    "y": 780,
    "wires": [
      [
        "150cd5e00c84aade",
        "acdb4cbe807a4670",
        "f3c7ce0f95a036c8"
      ]
    ]
  },
  {
    "id": "150cd5e00c84aade",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "Snapshots",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1030,
    "y": 780,
    "wires": [
      [
        "90f8b95437a6b15f",
        "1e8f53f8970447d0"
      ]
    ]
  },
  {
    "id": "11239223a67ab481",
    "type": "inject",
    "z": "904d418a12e6a4b0",
    "name": "scan",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 1310,
    "y": 740,
    "wires": [
      [
        "1e8f53f8970447d0",
        "90f8b95437a6b15f"
      ]
    ]
  },
  {
    "id": "0f1732762ac40879",
    "type": "switch",
    "z": "904d418a12e6a4b0",
    "name": "Recod Faces 1/0",
    "property": "payload.recognized",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2230,
    "y": 740,
    "wires": [
      [
        "e458126bd5641b2e"
      ],
      [
        "7013d7b5775bf756"
      ]
    ]
  },
  {
    "id": "725592b772d2f831",
    "type": "api-current-state",
    "z": "904d418a12e6a4b0",
    "name": "party on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2660,
    "y": 720,
    "wires": [
      [
        "1ab167e6d548ddec"
      ],
      [
        "bfa891ca7c805714"
      ]
    ]
  },
  {
    "id": "de700ffb416bffb9",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3630,
    "y": 280,
    "wires": [
      [
        "f0ab80a27fc67e71"
      ]
    ]
  },
  {
    "id": "d3a54796c0c96850",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Name Payload",
    "func": "var name = msg.payload.name;\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": name\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3700,
    "y": 440,
    "wires": [
      [
        "df56ee8f0c6bb231"
      ]
    ]
  },
  {
    "id": "bfa891ca7c805714",
    "type": "api-current-state",
    "z": "904d418a12e6a4b0",
    "name": "Waiting Friend?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_someone",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2700,
    "y": 760,
    "wires": [
      [
        "1ab167e6d548ddec"
      ],
      [
        "67d7a5e70c4f1173"
      ]
    ]
  },
  {
    "id": "df56ee8f0c6bb231",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3930,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "700116e39062929e",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4160,
    "y": 320,
    "wires": [
      [
        "aad8dfcf35a5f778"
      ]
    ]
  },
  {
    "id": "7caca54b79a292ef",
    "type": "ha-wait-until",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_front_outside",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "on",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4540,
    "y": 300,
    "wires": [
      [
        "e0c4c89638370ea1"
      ],
      [
        "e0c4c89638370ea1"
      ]
    ]
  },
  {
    "id": "e0c4c89638370ea1",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4420,
    "y": 380,
    "wires": [
      [
        "4826327855dea551"
      ]
    ]
  },
  {
    "id": "4826327855dea551",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4520,
    "y": 420,
    "wires": [
      [
        "9df4fb50cafcd327"
      ]
    ]
  },
  {
    "id": "9df4fb50cafcd327",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Name Payload",
    "func": "var newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": \"UNKNOWN\"\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4660,
    "y": 360,
    "wires": [
      [
        "20814234fdc77097"
      ]
    ]
  },
  {
    "id": "20814234fdc77097",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4870,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "ba44446730be7bf1",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "Compare",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2140,
    "y": 580,
    "wires": []
  },
  {
    "id": "088cb81fd7b1e783",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "unlock",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4070,
    "y": 380,
    "wires": []
  },
  {
    "id": "67d7a5e70c4f1173",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "Not waiting",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2790,
    "y": 820,
    "wires": [
      [
        "7546d4fa774773c7",
        "e139f44c71b58e6e"
      ]
    ]
  },
  {
    "id": "3629533536809995",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2190,
    "y": 1440,
    "wires": [
      [
        "7e47c931d199b580",
        "b265d8c4006cbefb",
        "2a283d05b6b10ba0",
        "0361e9a0a13608d3"
      ]
    ]
  },
  {
    "id": "7e47c931d199b580",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var recoface = [];\nvar facestring = \"\"\nvar d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"https://hass.purgatoire.ca/local/ring.jpg?\" + m;\nvar facestring = msg.payload;\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Someone is at the door but system crashed\",\n  \"data\": {\n    \"image\": url,\n    \"actions\": [\n      {\n        \"action\": \"unlock_door\",\n        \"title\": \"Unlock The Door\"\n      }\n                \n    ]\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2440,
    "y": 1400,
    "wires": [
      [
        "d4a93a044d2c8587"
      ]
    ]
  },
  {
    "id": "d4a93a044d2c8587",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2620,
    "y": 1400,
    "wires": [
      []
    ]
  },
  {
    "id": "8737b486a882091c",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "Crash",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2070,
    "y": 1420,
    "wires": [
      [
        "3629533536809995"
      ]
    ]
  },
  {
    "id": "b265d8c4006cbefb",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Someone is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2480,
    "y": 1480,
    "wires": [
      [
        "9ad961f55f0e53d5"
      ]
    ]
  },
  {
    "id": "9ad961f55f0e53d5",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 2615,
    "y": 1480,
    "wires": []
  },
  {
    "id": "4ccc71fe76626676",
    "type": "catch",
    "z": "904d418a12e6a4b0",
    "name": "",
    "scope": [
      "06ef254284bf7af3",
      "1e8f53f8970447d0"
    ],
    "uncaught": false,
    "x": 1930,
    "y": 1380,
    "wires": [
      [
        "8737b486a882091c"
      ]
    ]
  },
  {
    "id": "f77a07bb408cd716",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = msg.image;\n\nvar url = url.replace(\"https:\\/\\/hass.purgatoire.ca\\/local\", \"\\/config\\/www\");\n\nvar newMsg = {\n \"name\": msg.payload.name,\n \"url\": \"http://192.168.0.14:3000/api/train/retrain/\" + msg.payload.name.toLowerCase(),\n \"data\":{\n    \"data\":{\n\t\"file_path\": url,\n\t\"name\": msg.payload.name.toLowerCase(),\n\t\"url\": \"http://192.168.0.14:3000/api/train/retrain/\" + msg.payload.name.toLowerCase()\n}}\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1720,
    "y": 220,
    "wires": [
      [
        "243b96d7cdc5d440",
        "50d9fa7e7c3800e4"
      ]
    ]
  },
  {
    "id": "694f1010c55e9e17",
    "type": "server-events",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 950,
    "y": 200,
    "wires": [
      [
        "901b9e8cae5d66bb",
        "6a2c4537d58a5c2f"
      ]
    ]
  },
  {
    "id": "243b96d7cdc5d440",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1990,
    "y": 140,
    "wires": []
  },
  {
    "id": "14c699202031c457",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = msg.data.data.file_path;\n\n\nvar snapshot = url.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Faces learning for\" + \" \" + msg.name,\n  \"data\": {\n    \"image\": snapshot\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2200,
    "y": 220,
    "wires": [
      [
        "9eb3d3bcb3053048",
        "08a258ae4d9f51b9"
      ]
    ]
  },
  {
    "id": "9eb3d3bcb3053048",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2420,
    "y": 220,
    "wires": [
      [
        "08a258ae4d9f51b9"
      ]
    ]
  },
  {
    "id": "671d15b4bb2861ae",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door"
    ],
    "data": "{\"filename\":\"/config/www/reolink.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 920,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "19e94e7c65b85b28",
    "type": "ha-wait-until",
    "z": "904d418a12e6a4b0",
    "name": "wait until facecam detect someone",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "sensor.double_take_facecam",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "gt",
    "value": "0",
    "valueType": "num",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 520,
    "y": 660,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "ce3728c13dfb8720",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 750,
    "y": 440,
    "wires": [
      [
        "19e94e7c65b85b28",
        "671d15b4bb2861ae"
      ]
    ]
  },
  {
    "id": "0df5acd3c1fad200",
    "type": "server-state-changed",
    "z": "904d418a12e6a4b0",
    "name": "frigate reolink over 0",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.front_persons",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 210,
    "y": 120,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "585381fe547bc719",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 560,
    "y": 500,
    "wires": [
      [
        "ce3728c13dfb8720"
      ]
    ]
  },
  {
    "id": "e5af5b96f50720e9",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 390,
    "y": 500,
    "wires": [
      [
        "585381fe547bc719"
      ]
    ]
  },
  {
    "id": "626d390b494bc86d",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "click",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 130,
    "y": 640,
    "wires": []
  },
  {
    "id": "e843854a6c48ebdb",
    "type": "inject",
    "z": "904d418a12e6a4b0",
    "name": "scan",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 3730,
    "y": 540,
    "wires": [
      [
        "dcab6140df1dc36d"
      ]
    ]
  },
  {
    "id": "acdb4cbe807a4670",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1120,
    "y": 940,
    "wires": [
      [
        "45bc0fa8d57f6768"
      ]
    ]
  },
  {
    "id": "f3c7ce0f95a036c8",
    "type": "switch",
    "z": "904d418a12e6a4b0",
    "name": "double",
    "property": "payload.event.args.click_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "double",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 950,
    "y": 1000,
    "wires": [
      [
        "f0e2a9aab2d39af9"
      ]
    ]
  },
  {
    "id": "45bc0fa8d57f6768",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "num",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 1430,
    "y": 940,
    "wires": [
      [
        "94f6e81203f67cbb"
      ]
    ]
  },
  {
    "id": "f0e2a9aab2d39af9",
    "type": "api-current-state",
    "z": "904d418a12e6a4b0",
    "name": "rang?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.door_rang",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1090,
    "y": 1000,
    "wires": [
      [
        "7952b48f4d8032d1"
      ],
      []
    ]
  },
  {
    "id": "94f6e81203f67cbb",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "7952b48f4d8032d1",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_double_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1260,
    "y": 1000,
    "wires": [
      [
        "f9569e59c0a776c6"
      ]
    ]
  },
  {
    "id": "f9569e59c0a776c6",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "num",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 1430,
    "y": 1000,
    "wires": [
      [
        "81492eb48aaa8da6"
      ]
    ]
  },
  {
    "id": "81492eb48aaa8da6",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_double_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 1000,
    "wires": [
      []
    ]
  },
  {
    "id": "f99077e2dc36f112",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3580,
    "y": 600,
    "wires": [
      [
        "7db5fd2d3aa6db7e"
      ]
    ]
  },
  {
    "id": "7db5fd2d3aa6db7e",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3760,
    "y": 600,
    "wires": [
      [
        "cdd5d0321269882c",
        "76218d6fce436e81"
      ]
    ]
  },
  {
    "id": "cdd5d0321269882c",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "result of snapchot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4010,
    "y": 480,
    "wires": []
  },
  {
    "id": "eb675614f65329ab",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4120,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "76218d6fce436e81",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": \"Welcoming \" + name,\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3940,
    "y": 600,
    "wires": [
      [
        "eb675614f65329ab",
        "f476ea5d167c3030",
        "92a5921275fef525"
      ]
    ]
  },
  {
    "id": "f476ea5d167c3030",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4120,
    "y": 640,
    "wires": [
      [
        "dec00629dd8d0b6f"
      ]
    ]
  },
  {
    "id": "dd50fb000b813d29",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "actionable",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1490,
    "y": 200,
    "wires": []
  },
  {
    "id": "92a5921275fef525",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4268.571533203125,
    "y": 545.7142944335938,
    "wires": []
  },
  {
    "id": "b2d3879e774d743e",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2235.71435546875,
    "y": 132.85714721679688,
    "wires": []
  },
  {
    "id": "dec00629dd8d0b6f",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 4255,
    "y": 640,
    "wires": []
  },
  {
    "id": "08a258ae4d9f51b9",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2390,
    "y": 100,
    "wires": []
  },
  {
    "id": "82b2857a071236b8",
    "type": "inject",
    "z": "904d418a12e6a4b0",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 740,
    "y": 380,
    "wires": [
      [
        "671d15b4bb2861ae"
      ]
    ]
  },
  {
    "id": "2a283d05b6b10ba0",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2430,
    "y": 1340,
    "wires": []
  },
  {
    "id": "e458126bd5641b2e",
    "type": "switch",
    "z": "904d418a12e6a4b0",
    "name": "",
    "property": "payload.name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2390,
    "y": 720,
    "wires": [
      [
        "93d0afd406ac15b9"
      ]
    ]
  },
  {
    "id": "1e8f53f8970447d0",
    "type": "http request",
    "z": "904d418a12e6a4b0",
    "name": "POST request to catch",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/reolink.jpg&camera=camera.front_door",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1280,
    "y": 700,
    "wires": [
      [
        "d3f48ad47a6eca11"
      ]
    ]
  },
  {
    "id": "d3f48ad47a6eca11",
    "type": "json",
    "z": "904d418a12e6a4b0",
    "name": "toJson",
    "property": "payload",
    "action": "",
    "pretty": true,
    "x": 1490,
    "y": 700,
    "wires": [
      [
        "7219126187207dfa",
        "e66b54c926156cea"
      ]
    ]
  },
  {
    "id": "c0780ce38288680f",
    "type": "http request",
    "z": "904d418a12e6a4b0",
    "name": "POST request",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/ring.jpg&camera=camera.facecam",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1360,
    "y": 800,
    "wires": [
      [
        "2ddab611dce859bf"
      ]
    ]
  },
  {
    "id": "90f8b95437a6b15f",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.facecam"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 800,
    "wires": [
      [
        "c0780ce38288680f"
      ]
    ]
  },
  {
    "id": "3a4d0b43583f798d",
    "type": "join",
    "z": "904d418a12e6a4b0",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload.matches",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "5",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 1790,
    "y": 740,
    "wires": [
      [
        "06ef254284bf7af3",
        "1bb02d2cdc9d745c"
      ]
    ]
  },
  {
    "id": "2ddab611dce859bf",
    "type": "json",
    "z": "904d418a12e6a4b0",
    "name": "toJson",
    "property": "payload",
    "action": "",
    "pretty": true,
    "x": 1510,
    "y": 800,
    "wires": [
      [
        "d3a5b3d7566830b1",
        "67688ca323561b6b"
      ]
    ]
  },
  {
    "id": "06ef254284bf7af3",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Face Extractor compare 5.1",
    "func": "// SETTINGS\nvar required_conf = 80;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar reco = \"\";\nvar recognized_confidently = 0;\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n         for (y = 0; y < Object.keys(msg.payload.matches[i]).length; y++){\n                var name = msg.payload.matches[i][y][0];\n \t\t\t\tvar conf = msg.payload.matches[i][y][1];\n \t\t\t\tvar camera = msg.payload.matches[i][y][2];\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        }\n    }\n    \n    \n     \trecofacesortable.sort(function(a, b) {\n \t\treturn a[1] - b[1];\n \t}).reverse();\n \t\n    for (i = 0; i < recofacesortable.length; i++){\n        var reconame = recofacesortable[0][0];\n        var confidence = recofacesortable[0][1]\n        var camera = recofacesortable[0][2]\n        \n        \n    }\n\n\n\nif (confidence > required_conf) \n\tvar recognized = 1;\n}\n\n if (camera == \"camera.front_door\"){\n     var camera = \"camera.reolink_static\";\n } else if (camera == \"camera.facecam\"){\n     var camera = \"camera.facecam_static\"\n }\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"name\": reconame,\n\t\t\"confidence\": confidence,\n\t//\t\"matched_faces\": total_matched_faces,\n\t//\t\"total_faces\": total_faces,\n\t\t\"recognized\": recognized,\n \t\t\"camera\": camera \n\t}\n};\n\nreturn newMsg;\n\n\n//  var test = {\n//  \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"matched_faces\": total_matched_faces,\n// \t\t\"total_faces\": total_faces,\n// \t\t\"recognized\": recognized,\n// \t\t\"camera\": camera ,\n// \t\t\"recofacesortable\": recofacesortable\n//  \t}\n//  };\n//  return test;",
    "outputs": 1,
    "noerr": 23,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2000,
    "y": 740,
    "wires": [
      [
        "0f1732762ac40879",
        "ba44446730be7bf1",
        "0ac672adeec6d647"
      ]
    ]
  },
  {
    "id": "e66b54c926156cea",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "post1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1630,
    "y": 620,
    "wires": []
  },
  {
    "id": "67688ca323561b6b",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "post2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1750,
    "y": 840,
    "wires": []
  },
  {
    "id": "1bb02d2cdc9d745c",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "tojson",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1810,
    "y": 660,
    "wires": []
  },
  {
    "id": "5f8de432d168d923",
    "type": "inject",
    "z": "904d418a12e6a4b0",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 2060,
    "y": 960,
    "wires": [
      [
        "150cd5e00c84aade"
      ]
    ]
  },
  {
    "id": "7219126187207dfa",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "cam set",
    "func": "// SETTINGS\nvar required_conf = 75;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"camera.front_door\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar reco = \"\";\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n\n                var name = msg.payload.matches[i].name;\n \t\t\t\tvar conf = msg.payload.matches[i].confidence;\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        \n    }\n\nif (typeof msg.payload.unknown!==\"undefined\"){\n    recofacesortable.push([\"Unknown\", \"0\", camera]);\n}\n    \n    \n//      \trecofacesortable.sort(function(a, b) {\n//  \t\treturn a[1] - b[1];\n//  \t}).reverse();\n \t\n//     for (i = 0; i < recofacesortable.length; i++){\n//         var reconame = recofacesortable[0][0];\n//         var confidence = recofacesortable[0][1]\n//         var camera = recofacesortable[0][2]\n        \n        \n//     }\n\n\n\n// if (confidence > required_conf) {\n// \tvar recognized = 1;\n// } else {\n// \tvar recognized = 0;\n// }\n\n// if (camera == \"face_counter_reolink\"){\n//     var camera = \"camera.reolink_static\";\n// } else if (camera == \"face_counter_facecam\"){\n//     var camera = \"camera.facecam_static\"\n// }\n\n// var newMsg = {\n// \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"recognized\": recognized,\n//  \t\t\"camera\": camera \n// \t}\n// };\n\n//return newMsg;\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"matches\": recofacesortable,\n// //  \t\t\"confidence\": confidence,\n// //  \t\t\"recognized\": recognized,\n// //  \t\t\"camera\": camera ,\n// //  \t\t\"recofacesortable\": recofacesortable\n   \t}\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1640,
    "y": 720,
    "wires": [
      [
        "3a4d0b43583f798d",
        "e66b54c926156cea"
      ]
    ]
  },
  {
    "id": "d3a5b3d7566830b1",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "cam set",
    "func": "// SETTINGS\nvar required_conf = 75;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"camera.facecam\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar reco = \"\";\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n\n                var name = msg.payload.matches[i].name;\n \t\t\t\tvar conf = msg.payload.matches[i].confidence;\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        \n    }\n\nif (typeof msg.payload.unknown!==\"undefined\"){\n    recofacesortable.push([\"Unknown\", \"0\", camera]);\n}\n    \n    \n//      \trecofacesortable.sort(function(a, b) {\n//  \t\treturn a[1] - b[1];\n//  \t}).reverse();\n \t\n//     for (i = 0; i < recofacesortable.length; i++){\n//         var reconame = recofacesortable[0][0];\n//         var confidence = recofacesortable[0][1]\n//         var camera = recofacesortable[0][2]\n        \n        \n//     }\n\n\n\n// if (confidence > required_conf) {\n// \tvar recognized = 1;\n// } else {\n// \tvar recognized = 0;\n// }\n\n// if (camera == \"face_counter_reolink\"){\n//     var camera = \"camera.reolink_static\";\n// } else if (camera == \"face_counter_facecam\"){\n//     var camera = \"camera.facecam_static\"\n// }\n\n// var newMsg = {\n// \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"recognized\": recognized,\n//  \t\t\"camera\": camera \n// \t}\n// };\n\n//return newMsg;\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"matches\": recofacesortable,\n// //  \t\t\"confidence\": confidence,\n// //  \t\t\"recognized\": recognized,\n// //  \t\t\"camera\": camera ,\n// //  \t\t\"recofacesortable\": recofacesortable\n   \t}\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1640,
    "y": 760,
    "wires": [
      [
        "3a4d0b43583f798d",
        "67688ca323561b6b"
      ]
    ]
  },
  {
    "id": "901b9e8cae5d66bb",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "actionable",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1450,
    "y": 80,
    "wires": []
  },
  {
    "id": "50d9fa7e7c3800e4",
    "type": "http request",
    "z": "904d418a12e6a4b0",
    "name": "POST request",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1940,
    "y": 220,
    "wires": [
      [
        "b2d3879e774d743e",
        "14c699202031c457"
      ]
    ]
  },
  {
    "id": "ec6cea7645c91b6a",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\n\nvar confidence = 0;\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\n\nvar who = msg.payload.event.reply_text.toLowerCase().replace(\" \",\"\");\nvar replacestring = \"https://hass.purgatoire.ca/local/portraits/\" + who.toLowerCase();\nvar replacestring1 = msg.payload.event.image.replace(replacestring);\nvar replacestring2 = replacestring1.split(\"-\");\nvar camera = replacestring2[1];\n\n\n\n\nvar newMsg = {\n    \"image\": msg.payload.event.image,\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/double-take/\" + who +  \"/\" + camera + \"_\" + h + m + s + \"_\" + confidence + \".jpg\",\n            \"entity_id\": camera,\n            // \"1\": replacestring,\n            // \"2\": replacestring1,\n            // \"3\": replacestring2\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1300,
    "y": 320,
    "wires": [
      [
        "dd50fb000b813d29",
        "30b540a24623fdf9"
      ]
    ]
  },
  {
    "id": "2c7e04d7b8d79fe4",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1680,
    "y": 320,
    "wires": [
      [
        "31ebe03fa4f5502a",
        "f77a07bb408cd716"
      ]
    ]
  },
  {
    "id": "31ebe03fa4f5502a",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "result of snapchot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2050,
    "y": 340,
    "wires": []
  },
  {
    "id": "7546d4fa774773c7",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2960,
    "y": 840,
    "wires": [
      [
        "fbe327880877a39a"
      ]
    ]
  },
  {
    "id": "fbe327880877a39a",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3140,
    "y": 840,
    "wires": [
      [
        "c95634890ca84687"
      ]
    ]
  },
  {
    "id": "293471c2ce12198b",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3500,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "c95634890ca84687",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3320,
    "y": 840,
    "wires": [
      [
        "293471c2ce12198b",
        "857a70342f2d7124"
      ]
    ]
  },
  {
    "id": "857a70342f2d7124",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3120,
    "y": 780,
    "wires": [
      [
        "ce20e38b68c63777"
      ]
    ]
  },
  {
    "id": "7a0fcae802a46c08",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "Face Not reco",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2620,
    "y": 1120,
    "wires": [
      [
        "aa5a286de68e5ce7",
        "88fe95a4556c899d",
        "2be68eeca4b12515"
      ]
    ]
  },
  {
    "id": "aa5a286de68e5ce7",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "face not reco",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2610,
    "y": 1280,
    "wires": []
  },
  {
    "id": "88fe95a4556c899d",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2800,
    "y": 1120,
    "wires": [
      [
        "5eda1fd916d75fc5"
      ]
    ]
  },
  {
    "id": "5eda1fd916d75fc5",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2980,
    "y": 1120,
    "wires": [
      [
        "e6f12c198a7ff8ce"
      ]
    ]
  },
  {
    "id": "407481c5ec78fe37",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3340,
    "y": 1120,
    "wires": [
      []
    ]
  },
  {
    "id": "e6f12c198a7ff8ce",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": \"Someone is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3140,
    "y": 1120,
    "wires": [
      [
        "407481c5ec78fe37",
        "04136d4e58b72b49"
      ]
    ]
  },
  {
    "id": "04136d4e58b72b49",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3340,
    "y": 1160,
    "wires": [
      [
        "f66eb3a9e4a19b70"
      ]
    ]
  },
  {
    "id": "f66eb3a9e4a19b70",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3475,
    "y": 1160,
    "wires": []
  },
  {
    "id": "93d0afd406ac15b9",
    "type": "api-current-state",
    "z": "904d418a12e6a4b0",
    "name": "uber",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2510,
    "y": 720,
    "wires": [
      [
        "725592b772d2f831"
      ],
      [
        "e4c7a28d349931be"
      ]
    ]
  },
  {
    "id": "7013d7b5775bf756",
    "type": "switch",
    "z": "904d418a12e6a4b0",
    "name": "",
    "property": "payload.name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "eq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2190,
    "y": 920,
    "wires": [
      [
        "dd33921d39d3ec9c"
      ],
      [
        "264198226c051236"
      ]
    ]
  },
  {
    "id": "30b540a24623fdf9",
    "type": "switch",
    "z": "904d418a12e6a4b0",
    "name": "Recod Faces 1/0",
    "property": "payload.data.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "camera.facecam_static",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1510,
    "y": 320,
    "wires": [
      [
        "2c7e04d7b8d79fe4"
      ]
    ]
  },
  {
    "id": "dcab6140df1dc36d",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "unLock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3910,
    "y": 380,
    "wires": [
      [
        "088cb81fd7b1e783",
        "18efd9deec536b5b"
      ]
    ]
  },
  {
    "id": "18efd9deec536b5b",
    "type": "api-current-state",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "unlocked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "lock.front_door",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3900,
    "y": 320,
    "wires": [
      [
        "700116e39062929e"
      ],
      [
        "dcab6140df1dc36d"
      ]
    ]
  },
  {
    "id": "bf68ef8d39f309d7",
    "type": "delay",
    "z": "904d418a12e6a4b0",
    "name": "Waiting someone",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3290,
    "y": 600,
    "wires": [
      [
        "de700ffb416bffb9",
        "d3a54796c0c96850",
        "f99077e2dc36f112",
        "dcab6140df1dc36d"
      ]
    ]
  },
  {
    "id": "1ab167e6d548ddec",
    "type": "api-current-state",
    "z": "904d418a12e6a4b0",
    "name": "Front House Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_front",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3010,
    "y": 720,
    "wires": [
      [
        "bf68ef8d39f309d7"
      ],
      [
        "67d7a5e70c4f1173"
      ]
    ]
  },
  {
    "id": "c971d4a0445aef2c",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1890,
    "y": 1160,
    "wires": [
      [
        "a883a03c81fd4859",
        "a537f90568a2331e",
        "d7ccb3af1a82f471"
      ]
    ]
  },
  {
    "id": "a883a03c81fd4859",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var recoface = [];\nvar facestring = \"\"\nvar d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"https://hass.purgatoire.ca/local/ring.jpg?\" + m;\nvar facestring = msg.payload;\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Someone is at the door\",\n  \"data\": {\n    \"image\": url,\n    \"actions\": [\n      {\n        \"action\": \"unlock_door\",\n        \"title\": \"Unlock The Door\"\n      }\n                \n    ]\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2060,
    "y": 1140,
    "wires": [
      [
        "482b132529f27f0f"
      ]
    ]
  },
  {
    "id": "482b132529f27f0f",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2240,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "f1df89f7f6273d40",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "No Face",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1740,
    "y": 1160,
    "wires": [
      [
        "c971d4a0445aef2c"
      ]
    ]
  },
  {
    "id": "a537f90568a2331e",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Someone is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2100,
    "y": 1220,
    "wires": [
      [
        "26bb1943455ffac1"
      ]
    ]
  },
  {
    "id": "26bb1943455ffac1",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 2235,
    "y": 1220,
    "wires": []
  },
  {
    "id": "6a2c4537d58a5c2f",
    "type": "switch",
    "z": "904d418a12e6a4b0",
    "name": "",
    "property": "payload.event.action_1_title",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Who is this?",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1190,
    "y": 260,
    "wires": [
      [
        "ec6cea7645c91b6a",
        "dd50fb000b813d29"
      ]
    ]
  },
  {
    "id": "ce20e38b68c63777",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3295,
    "y": 780,
    "wires": []
  },
  {
    "id": "e4c7a28d349931be",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "Uber",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2550,
    "y": 960,
    "wires": [
      [
        "923994cc630458f6",
        "d7ee96320385c85a"
      ]
    ]
  },
  {
    "id": "923994cc630458f6",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = \"camera.front_door\";\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2740,
    "y": 980,
    "wires": [
      [
        "60da29b51fca273a",
        "42cc2f7f3b9febbd"
      ]
    ]
  },
  {
    "id": "60da29b51fca273a",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2960,
    "y": 980,
    "wires": [
      [
        "8140863346e33c80",
        "2e41453782c86465"
      ]
    ]
  },
  {
    "id": "7656e9b692e9fc03",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3380,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "8140863346e33c80",
    "type": "function",
    "z": "904d418a12e6a4b0",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = \"Someone\";\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3140,
    "y": 980,
    "wires": [
      [
        "7656e9b692e9fc03",
        "9993335ff3898bdb"
      ]
    ]
  },
  {
    "id": "9993335ff3898bdb",
    "type": "change",
    "z": "904d418a12e6a4b0",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3320,
    "y": 940,
    "wires": [
      [
        "902a23bee759d216"
      ]
    ]
  },
  {
    "id": "902a23bee759d216",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3455,
    "y": 940,
    "wires": []
  },
  {
    "id": "d7ee96320385c85a",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "to package",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_package",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2710,
    "y": 940,
    "wires": [
      [
        "c83706e06ce524aa",
        "f7d1fdeab2abc3b3"
      ]
    ]
  },
  {
    "id": "d7ccb3af1a82f471",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2035,
    "y": 1180,
    "wires": []
  },
  {
    "id": "2be68eeca4b12515",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2775,
    "y": 1080,
    "wires": []
  },
  {
    "id": "c83706e06ce524aa",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 3015,
    "y": 940,
    "wires": []
  },
  {
    "id": "e139f44c71b58e6e",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2915,
    "y": 800,
    "wires": []
  },
  {
    "id": "0361e9a0a13608d3",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2415,
    "y": 1440,
    "wires": []
  },
  {
    "id": "f0ab80a27fc67e71",
    "type": "link out",
    "z": "904d418a12e6a4b0",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 3735,
    "y": 260,
    "wires": []
  },
  {
    "id": "efbcac8ae861406a",
    "type": "inject",
    "z": "904d418a12e6a4b0",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 510,
    "y": 740,
    "wires": [
      [
        "23685ea64ad822fc"
      ]
    ]
  },
  {
    "id": "264198226c051236",
    "type": "api-current-state",
    "z": "904d418a12e6a4b0",
    "name": "uber",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2270,
    "y": 1020,
    "wires": [
      [
        "e4c7a28d349931be"
      ],
      [
        "f1df89f7f6273d40"
      ]
    ]
  },
  {
    "id": "dd33921d39d3ec9c",
    "type": "api-current-state",
    "z": "904d418a12e6a4b0",
    "name": "uber",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2350,
    "y": 920,
    "wires": [
      [
        "e4c7a28d349931be"
      ],
      [
        "7a0fcae802a46c08"
      ]
    ]
  },
  {
    "id": "2e41453782c86465",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3150,
    "y": 1020,
    "wires": []
  },
  {
    "id": "42cc2f7f3b9febbd",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2850,
    "y": 1020,
    "wires": []
  },
  {
    "id": "fdfb55f783cdc525",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "to regular position",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_doorway",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3090,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "f7d1fdeab2abc3b3",
    "type": "ha-wait-until",
    "z": "904d418a12e6a4b0",
    "name": "lock opens",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2870,
    "y": 900,
    "wires": [
      [
        "fdfb55f783cdc525"
      ],
      [
        "fdfb55f783cdc525"
      ]
    ]
  },
  {
    "id": "0ac672adeec6d647",
    "type": "api-call-service",
    "z": "904d418a12e6a4b0",
    "name": "to door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_doorway",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2180,
    "y": 700,
    "wires": [
      []
    ]
  },
  {
    "id": "c084c153d3ab6ee7",
    "type": "mqtt in",
    "z": "904d418a12e6a4b0",
    "name": "",
    "topic": "frigate/faceshot_zone/person",
    "qos": "0",
    "datatype": "auto",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 440,
    "wires": [
      [
        "9ddcaabefcce8a21",
        "ca098420ae1420ee"
      ]
    ]
  },
  {
    "id": "9ddcaabefcce8a21",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 270,
    "y": 340,
    "wires": []
  },
  {
    "id": "ca098420ae1420ee",
    "type": "switch",
    "z": "904d418a12e6a4b0",
    "name": "click",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 390,
    "y": 440,
    "wires": [
      [
        "ce3728c13dfb8720"
      ],
      [
        "e5af5b96f50720e9"
      ]
    ]
  },
  {
    "id": "06a45ec0ea3134e4",
    "type": "server-state-changed",
    "z": "904d418a12e6a4b0",
    "name": "double-take facecam over 0",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.double_take_facecam",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 260,
    "y": 200,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "1cf2d343db1c089e",
    "type": "ha-wait-until",
    "z": "904d418a12e6a4b0",
    "name": "wait until Doubletake detect someone",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "sensor.double_take_facecam",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "gt",
    "value": "0",
    "valueType": "num",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "doubletake",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 490,
    "y": 800,
    "wires": [
      [
        "23685ea64ad822fc",
        "fd9e004bebcc4da9"
      ],
      [
        "23685ea64ad822fc",
        "fd9e004bebcc4da9"
      ]
    ]
  },
  {
    "id": "b07092e47615b45f",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "45",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 430,
    "y": 960,
    "wires": [
      [
        "acdb4cbe807a4670",
        "f3c7ce0f95a036c8"
      ]
    ]
  },
  {
    "id": "f0580e72171443ad",
    "type": "inject",
    "z": "904d418a12e6a4b0",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 3910,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "aad8dfcf35a5f778",
    "type": "trigger",
    "z": "904d418a12e6a4b0",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "25",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4350,
    "y": 320,
    "wires": [
      [
        "7caca54b79a292ef"
      ]
    ]
  },
  {
    "id": "f965de714ebd94de",
    "type": "inject",
    "z": "904d418a12e6a4b0",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 4180,
    "y": 500,
    "wires": [
      [
        "700116e39062929e"
      ]
    ]
  },
  {
    "id": "fd9e004bebcc4da9",
    "type": "debug",
    "z": "904d418a12e6a4b0",
    "name": "Doubletake output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 660,
    "wires": []
  }
]