node-red/flows/Face reco 10.0.json
[
  {
    "id": "cd7a606d7931c143",
    "type": "tab",
    "label": "Face reco 10.0",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d5035d7a4b8abde0",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 1320,
    "y": 700,
    "wires": [
      [
        "b1c8c154f909e20e"
      ]
    ]
  },
  {
    "id": "e8ce77d8da41bd8e",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 1320,
    "y": 740,
    "wires": [
      [
        "7ea8405b5138a79a"
      ]
    ]
  },
  {
    "id": "b1c8c154f909e20e",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 1420,
    "y": 700,
    "wires": [
      [
        "8a86d116cbd23a0c"
      ]
    ]
  },
  {
    "id": "7ea8405b5138a79a",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 1420,
    "y": 740,
    "wires": [
      [
        "7755d95655d67413"
      ]
    ]
  },
  {
    "id": "f1e47b926b68837c",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 2600,
    "y": 720,
    "wires": [
      [
        "6d399809f46da187"
      ]
    ]
  },
  {
    "id": "0f8df3cecc7769a3",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 2620,
    "y": 760,
    "wires": [
      [
        "de1538bda5a59999"
      ]
    ]
  },
  {
    "id": "6d399809f46da187",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 2700,
    "y": 720,
    "wires": [
      [
        "84662acf4451979c"
      ]
    ]
  },
  {
    "id": "de1538bda5a59999",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 2700,
    "y": 760,
    "wires": [
      [
        "fdc333b7d683f18c"
      ]
    ]
  },
  {
    "id": "a4c688e86f5f2b80",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3260,
    "y": 660,
    "wires": [
      [
        "acdce7f00366b401",
        "116f7fc3f104a266"
      ]
    ]
  },
  {
    "id": "79ea6e5eebeb3dc4",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 1840,
    "y": 660,
    "wires": [
      [
        "a338a4e199a28d06"
      ]
    ]
  },
  {
    "id": "a338a4e199a28d06",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 1940,
    "y": 660,
    "wires": [
      [
        "a4c688e86f5f2b80"
      ]
    ]
  },
  {
    "id": "1d8a1bf5c390d165",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 1840,
    "y": 740,
    "wires": [
      [
        "7755d95655d67413"
      ]
    ]
  },
  {
    "id": "94e15e45a5dd4895",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3140,
    "y": 700,
    "wires": [
      [
        "c177ff1a1286070d"
      ]
    ]
  },
  {
    "id": "13611f4c75079d74",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3140,
    "y": 740,
    "wires": [
      [
        "b85c085ce5640b8f"
      ]
    ]
  },
  {
    "id": "c177ff1a1286070d",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3220,
    "y": 700,
    "wires": [
      [
        "a4c688e86f5f2b80"
      ]
    ]
  },
  {
    "id": "b85c085ce5640b8f",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3240,
    "y": 740,
    "wires": [
      [
        "fdc333b7d683f18c"
      ]
    ]
  },
  {
    "id": "fdc333b7d683f18c",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3280,
    "y": 760,
    "wires": [
      [
        "5eb7dc5f5129f6ab"
      ]
    ]
  },
  {
    "id": "aeb41a7bbfd5f871",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3880,
    "y": 680,
    "wires": [
      [
        "8f42a1e376b2f151"
      ]
    ]
  },
  {
    "id": "f152504f7838b65f",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3840,
    "y": 680,
    "wires": [
      [
        "8f42a1e376b2f151"
      ]
    ]
  },
  {
    "id": "eca51006f7ccf6da",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3980,
    "y": 620,
    "wires": [
      [
        "622b280fd9e0e6f8"
      ]
    ]
  },
  {
    "id": "622b280fd9e0e6f8",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 4000,
    "y": 640,
    "wires": [
      [
        "9be2f214cabf3c56"
      ]
    ]
  },
  {
    "id": "d0547b86a59e926f",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3400,
    "y": 740,
    "wires": [
      [
        "5eb7dc5f5129f6ab"
      ]
    ]
  },
  {
    "id": "5eb7dc5f5129f6ab",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3440,
    "y": 760,
    "wires": [
      [
        "30eb2da0228e52db"
      ]
    ]
  },
  {
    "id": "625b7fb50bb7a849",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3340,
    "y": 740,
    "wires": [
      [
        "d0547b86a59e926f"
      ]
    ]
  },
  {
    "id": "25b0a99477e639be",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3580,
    "y": 740,
    "wires": [
      [
        "30eb2da0228e52db"
      ]
    ]
  },
  {
    "id": "30eb2da0228e52db",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3620,
    "y": 760,
    "wires": [
      [
        "0cc845d13352c21f"
      ]
    ]
  },
  {
    "id": "78575bad96d21598",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3520,
    "y": 740,
    "wires": [
      [
        "25b0a99477e639be"
      ]
    ]
  },
  {
    "id": "f8f4dd1f5ea9eeb9",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3760,
    "y": 740,
    "wires": [
      [
        "0cc845d13352c21f"
      ]
    ]
  },
  {
    "id": "0cc845d13352c21f",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3800,
    "y": 760,
    "wires": [
      [
        "759704f763b58501"
      ]
    ]
  },
  {
    "id": "f9d1114c3060999d",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 3700,
    "y": 740,
    "wires": [
      [
        "f8f4dd1f5ea9eeb9"
      ]
    ]
  },
  {
    "id": "e6e258ae376ae884",
    "type": "junction",
    "z": "cd7a606d7931c143",
    "x": 4120,
    "y": 700,
    "wires": [
      [
        "759704f763b58501"
      ]
    ]
  },
  {
    "id": "8356b51a9007c3b7",
    "type": "http request",
    "z": "cd7a606d7931c143",
    "name": "POST request with link to current image on faceshot camera",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.14:5000/api/faceshot_camera/latest.jpg?quality=100",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 720,
    "wires": [
      [
        "9d26e1a43b7468d6",
        "3654de3dfbdb6a8c"
      ]
    ]
  },
  {
    "id": "9bdca88a7d4fd421",
    "type": "server-state-changed",
    "z": "cd7a606d7931c143",
    "name": "Doorbell",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_doorbell_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "None",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 60,
    "y": 720,
    "wires": [
      [
        "ce230f98044f9ce1"
      ],
      []
    ]
  },
  {
    "id": "ce230f98044f9ce1",
    "type": "trigger",
    "z": "cd7a606d7931c143",
    "name": "2 minutes",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 200,
    "y": 720,
    "wires": [
      [
        "757ceece5ae2a82f",
        "8356b51a9007c3b7",
        "5197a8dcb4f7e262"
      ]
    ]
  },
  {
    "id": "acdce7f00366b401",
    "type": "debug",
    "z": "cd7a606d7931c143",
    "name": "debug 196",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3390,
    "y": 600,
    "wires": []
  },
  {
    "id": "ebe93d01362801ad",
    "type": "inject",
    "z": "cd7a606d7931c143",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 3500,
    "y": 480,
    "wires": [
      [
        "8356b51a9007c3b7"
      ]
    ]
  },
  {
    "id": "757ceece5ae2a82f",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "Turn on Door Rang",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 410,
    "y": 680,
    "wires": [
      [
        "19d4608aca40257c"
      ]
    ]
  },
  {
    "id": "19d4608aca40257c",
    "type": "ha-wait-until",
    "z": "cd7a606d7931c143",
    "name": "Wait for door to lock",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "3",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 620,
    "y": 680,
    "wires": [
      [
        "fec1201a9f096ec4"
      ],
      [
        "fec1201a9f096ec4"
      ]
    ]
  },
  {
    "id": "fec1201a9f096ec4",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "Turn off \"Door rang\"",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "9d26e1a43b7468d6",
    "type": "switch",
    "z": "cd7a606d7931c143",
    "name": "Are there matches?",
    "property": "payload.counts.match",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1190,
    "y": 720,
    "wires": [
      [
        "d5035d7a4b8abde0",
        "dc5c22f8fb2385a7"
      ],
      [
        "e8ce77d8da41bd8e"
      ]
    ]
  },
  {
    "id": "87766266822443bf",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "Yes",
    "info": "",
    "x": 1890,
    "y": 660,
    "wires": []
  },
  {
    "id": "ca41cbd48ba54a0e",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "No",
    "info": "",
    "x": 1370,
    "y": 740,
    "wires": []
  },
  {
    "id": "8a86d116cbd23a0c",
    "type": "change",
    "z": "cd7a606d7931c143",
    "name": "Set msg.match",
    "rules": [
      {
        "t": "set",
        "p": "match",
        "pt": "msg",
        "to": "payload.matches[0]",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "match.camera",
        "pt": "msg",
        "to": "payload.camera",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1520,
    "y": 700,
    "wires": [
      [
        "c4c2d8ee6f80df16"
      ]
    ]
  },
  {
    "id": "7755d95655d67413",
    "type": "http request",
    "z": "cd7a606d7931c143",
    "name": "POST request with Reolink-double-take last image",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.14:3000/api/storage/latest/front_door_camera.jpg&camera=front_door_camera",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 2170,
    "y": 740,
    "wires": [
      [
        "e1b5a65264dfc11d"
      ]
    ]
  },
  {
    "id": "9323da00227c8c8b",
    "type": "inject",
    "z": "cd7a606d7931c143",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1840,
    "y": 860,
    "wires": [
      [
        "7755d95655d67413"
      ]
    ]
  },
  {
    "id": "e1b5a65264dfc11d",
    "type": "switch",
    "z": "cd7a606d7931c143",
    "name": "Are there matches?",
    "property": "payload.counts.match",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2470,
    "y": 740,
    "wires": [
      [
        "f1e47b926b68837c"
      ],
      [
        "0f8df3cecc7769a3"
      ]
    ]
  },
  {
    "id": "b2a4e650595bca7e",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "Yes",
    "info": "",
    "x": 2650,
    "y": 720,
    "wires": []
  },
  {
    "id": "e204bf79e084d730",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "No",
    "info": "",
    "x": 2650,
    "y": 760,
    "wires": []
  },
  {
    "id": "44af510b1d02e54e",
    "type": "inject",
    "z": "cd7a606d7931c143",
    "name": "Maxi at door",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "data",
        "v": "{\"entity_id\":\"sensor.double_take_front_door\",\"state\":\"3\",\"attributes\":{\"id\":\"1659459685.953183-1shuyf\",\"duration\":3.53,\"timestamp\":\"2022-08-02T17:01:31.497Z\",\"attempts\":11,\"camera\":\"front_door\",\"zones\":[\"entrance\",\"faceshot_zone\"],\"misses\":[{\"name\":\"alphonso\",\"confidence\":79.16,\"match\":false,\"box\":{\"top\":210,\"left\":529,\"width\":85,\"height\":105},\"checks\":[\"box area too low: 8925 < 10000\"],\"type\":\"latest\",\"duration\":0.21,\"detector\":\"deepstack\",\"filename\":\"bcfcd360-f639-45ef-97fa-2f68aa01d8eb.jpg\",\"base64\":null},{\"name\":\"maxi\",\"confidence\":75.7,\"match\":false,\"box\":{\"top\":212,\"left\":354,\"width\":62,\"height\":95},\"checks\":[\"box area too low: 5890 < 10000\"],\"type\":\"latest\",\"duration\":0.19,\"detector\":\"deepstack\",\"filename\":\"49e449d6-65e0-45c6-a21d-237a673b91da.jpg\",\"base64\":null}],\"matches\":[{\"name\":\"maxi\",\"confidence\":72.28,\"match\":true,\"box\":{\"top\":220,\"left\":244,\"width\":102,\"height\":104},\"type\":\"latest\",\"duration\":0.19,\"detector\":\"deepstack\",\"filename\":\"2a731787-cb90-4c90-bbc2-05e910f1576e.jpg\",\"base64\":null},{\"name\":\"nate\",\"confidence\":72.15,\"match\":true,\"box\":{\"top\":228,\"left\":203,\"width\":106,\"height\":98},\"type\":\"snapshot\",\"duration\":0.2,\"detector\":\"deepstack\",\"filename\":\"b5678550-20b0-4b04-a1b5-db4297d7a7ed.jpg\",\"base64\":null}],\"personCount\":3,\"icon\":\"mdi:camera\",\"friendly_name\":\"double_take_front_door\"},\"last_changed\":\"2022-08-02T17:01:31.518682+00:00\",\"last_updated\":\"2022-08-02T17:01:31.518682+00:00\",\"context\":{\"id\":\"01G9FR2RZYY9SBNXVSHJ5T9E0S\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":1499,\"original_state\":\"3\"}",
        "vt": "json"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor.remote_doorbell_button_action",
    "payload": "3",
    "payloadType": "num",
    "x": 2830,
    "y": 860,
    "wires": [
      [
        "fdc333b7d683f18c"
      ]
    ]
  },
  {
    "id": "b2c03746e03a6726",
    "type": "function",
    "z": "cd7a606d7931c143",
    "name": "JavascriptNotification setter Reolink",
    "func": "var name = \"Someone\";\nvar url1 = \"https://hass.purgatoire.ca/local/reolinkring.jpg\";\nvar url2 = \"https://hass.purgatoire.ca/local/ring.jpg\";\nvar random = Date.now();\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"sticky\": 'true',\n\t\t\t\t\"clickAction\": '/phone-landing/reolink?kiosk=1',\n\t\t\t\t\"priority\": 'high',\n\t\t\t\t\"image\": url1 + \"?\" + random,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Enter Text\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4260,
    "y": 800,
    "wires": [
      [
        "1a15e85a29c4f2bf",
        "7e46a3d713abf079"
      ]
    ]
  },
  {
    "id": "7e46a3d713abf079",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_galaxy_fold_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4680,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "759704f763b58501",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "Save Reolink.jpg for notif",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/reolinkring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3970,
    "y": 760,
    "wires": [
      [
        "b2c03746e03a6726",
        "4d080cad7eb6e607"
      ]
    ]
  },
  {
    "id": "4d080cad7eb6e607",
    "type": "function",
    "z": "cd7a606d7931c143",
    "name": "Notification setter Facecam",
    "func": "var name = \"Someone\";\nvar url1 = \"https://hass.purgatoire.ca/local/reolinkring.jpg\";\nvar url2 = \"https://hass.purgatoire.ca/local/ring.jpg\";\nvar random = Date.now();\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"sticky\": 'true',\n\t\t\t\t\"clickAction\": '/phone-landing/reolink?kiosk=1',\n\t\t\t\t\"priority\": 'high',\n\t\t\t\t\"image\": url2 + \"?\" + random,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\"title\": \"Enter Text\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4260,
    "y": 840,
    "wires": [
      [
        "7e46a3d713abf079"
      ]
    ]
  },
  {
    "id": "7b4039020f84dc97",
    "type": "inject",
    "z": "cd7a606d7931c143",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 640,
    "wires": [
      [
        "8356b51a9007c3b7"
      ]
    ]
  },
  {
    "id": "dc5c22f8fb2385a7",
    "type": "debug",
    "z": "cd7a606d7931c143",
    "name": "debug 199",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1410,
    "y": 480,
    "wires": []
  },
  {
    "id": "c4c2d8ee6f80df16",
    "type": "switch",
    "z": "cd7a606d7931c143",
    "name": "confidence over 80%?",
    "property": "match.confidence",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "80",
        "vt": "num"
      },
      {
        "t": "lt",
        "v": "80",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1720,
    "y": 700,
    "wires": [
      [
        "79ea6e5eebeb3dc4"
      ],
      [
        "1d8a1bf5c390d165"
      ]
    ]
  },
  {
    "id": "eff0a4e4802948b8",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "No",
    "info": "",
    "x": 1890,
    "y": 740,
    "wires": []
  },
  {
    "id": "84662acf4451979c",
    "type": "change",
    "z": "cd7a606d7931c143",
    "name": "Set msg.match",
    "rules": [
      {
        "t": "set",
        "p": "match",
        "pt": "msg",
        "to": "payload.matches[0]",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "match.camera",
        "pt": "msg",
        "to": "payload.camera",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2800,
    "y": 720,
    "wires": [
      [
        "52ab15905efdccbf"
      ]
    ]
  },
  {
    "id": "52ab15905efdccbf",
    "type": "switch",
    "z": "cd7a606d7931c143",
    "name": "confidence over 80%?",
    "property": "match.confidence",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "80",
        "vt": "num"
      },
      {
        "t": "lt",
        "v": "80",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 3000,
    "y": 720,
    "wires": [
      [
        "94e15e45a5dd4895"
      ],
      [
        "13611f4c75079d74"
      ]
    ]
  },
  {
    "id": "93d6cda3f0e6e049",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "Yes",
    "info": "",
    "x": 3190,
    "y": 700,
    "wires": []
  },
  {
    "id": "bb918eb43d688bdd",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "No",
    "info": "",
    "x": 3190,
    "y": 740,
    "wires": []
  },
  {
    "id": "1a15e85a29c4f2bf",
    "type": "change",
    "z": "cd7a606d7931c143",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "move",
        "p": "payload.data.title",
        "pt": "msg",
        "to": "message",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "video",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4540,
    "y": 760,
    "wires": [
      [
        "869011ab1d65be1d"
      ]
    ]
  },
  {
    "id": "869011ab1d65be1d",
    "type": "subflow:233ac7dcd801a802",
    "z": "cd7a606d7931c143",
    "name": "",
    "x": 4770,
    "y": 760,
    "wires": []
  },
  {
    "id": "1802a44a8c51174f",
    "type": "api-current-state",
    "z": "cd7a606d7931c143",
    "name": "Acid time off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3550,
    "y": 660,
    "wires": [
      [
        "ed706878831ed655"
      ],
      [
        "78575bad96d21598"
      ]
    ]
  },
  {
    "id": "ed706878831ed655",
    "type": "api-current-state",
    "z": "cd7a606d7931c143",
    "name": "kink off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3720,
    "y": 660,
    "wires": [
      [
        "5b7f84552314f7fb",
        "f152504f7838b65f"
      ],
      [
        "f9d1114c3060999d"
      ]
    ]
  },
  {
    "id": "8f42a1e376b2f151",
    "type": "api-current-state",
    "z": "cd7a606d7931c143",
    "name": "Waiting Friend?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_someone",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3980,
    "y": 680,
    "wires": [
      [
        "622b280fd9e0e6f8"
      ],
      [
        "e6e258ae376ae884"
      ]
    ]
  },
  {
    "id": "5b7f84552314f7fb",
    "type": "api-current-state",
    "z": "cd7a606d7931c143",
    "name": "Party on",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3880,
    "y": 620,
    "wires": [
      [
        "eca51006f7ccf6da"
      ],
      [
        "8f42a1e376b2f151"
      ]
    ]
  },
  {
    "id": "116f7fc3f104a266",
    "type": "api-current-state",
    "z": "cd7a606d7931c143",
    "name": "Waiting Uber off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3360,
    "y": 660,
    "wires": [
      [
        "1802a44a8c51174f"
      ],
      [
        "625b7fb50bb7a849"
      ]
    ]
  },
  {
    "id": "a74c2ad35eac8a53",
    "type": "api-current-state",
    "z": "cd7a606d7931c143",
    "name": "Front House Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_front",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 4230,
    "y": 640,
    "wires": [
      [
        "36c151f20a99b664",
        "491b918fb32cff35"
      ],
      [
        "e6e258ae376ae884"
      ]
    ]
  },
  {
    "id": "037893fa810691e1",
    "type": "debug",
    "z": "cd7a606d7931c143",
    "name": "debug 200",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4790,
    "y": 620,
    "wires": []
  },
  {
    "id": "5b6f95c2a8b5d696",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "No",
    "info": "",
    "x": 3370,
    "y": 740,
    "wires": []
  },
  {
    "id": "8991ba94f70551a7",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "No",
    "info": "",
    "x": 3550,
    "y": 740,
    "wires": []
  },
  {
    "id": "f630f901bd03402a",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "No",
    "info": "",
    "x": 3730,
    "y": 740,
    "wires": []
  },
  {
    "id": "3286fb8b0a7a7ed7",
    "type": "comment",
    "z": "cd7a606d7931c143",
    "name": "No",
    "info": "",
    "x": 4130,
    "y": 700,
    "wires": []
  },
  {
    "id": "36c151f20a99b664",
    "type": "function",
    "z": "cd7a606d7931c143",
    "name": "Notif setter",
    "func": "var name = msg.match.name\nvar url1 = \"https://hass.purgatoire.ca/local/reolinkring.jpg\";\nvar url2 = \"https://hass.purgatoire.ca/local/ring.jpg\";\nvar random = Date.now();\nvar cameraused = msg.match.camera;\n\nif (cameraused == \"faceshot_camera\") {\n\tvar usedurl = url2;\n}\nif (cameraused == \"front_door_camera\") {\n\tvar usedurl = url1;\n}\n\n\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Guest Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"sticky\": 'true',\n\t\t\t\t\"clickAction\": '/phone-landing/reolink?kiosk=1',\n\t\t\t\t\"priority\": 'high',\n\t\t\t\t\"image\": usedurl + \"?\" + random,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\"title\": \"Enter Text\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4470,
    "y": 680,
    "wires": [
      [
        "037893fa810691e1",
        "37d31009dd04fd36",
        "71d964c98458df7d"
      ]
    ]
  },
  {
    "id": "37d31009dd04fd36",
    "type": "change",
    "z": "cd7a606d7931c143",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "move",
        "p": "payload.data.title",
        "pt": "msg",
        "to": "message",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,100,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "video",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4540,
    "y": 720,
    "wires": [
      [
        "869011ab1d65be1d"
      ]
    ]
  },
  {
    "id": "71d964c98458df7d",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_galaxy_fold_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4840,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "9be2f214cabf3c56",
    "type": "delay",
    "z": "cd7a606d7931c143",
    "name": "1M/S",
    "pauseType": "queue",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 4070,
    "y": 640,
    "wires": [
      [
        "a74c2ad35eac8a53"
      ]
    ]
  },
  {
    "id": "0751b4256605b31e",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "unLock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4010,
    "y": 520,
    "wires": [
      [
        "a6c151d464d2a7bb",
        "4b3622c38c8a3d4c"
      ]
    ]
  },
  {
    "id": "a6c151d464d2a7bb",
    "type": "debug",
    "z": "cd7a606d7931c143",
    "name": "unlock",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4150,
    "y": 480,
    "wires": []
  },
  {
    "id": "4b3622c38c8a3d4c",
    "type": "ha-wait-until",
    "z": "cd7a606d7931c143",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4160,
    "y": 520,
    "wires": [
      [
        "3929f62648b94b4f"
      ],
      []
    ]
  },
  {
    "id": "7329f3a0fc96f8f5",
    "type": "ha-wait-until",
    "z": "cd7a606d7931c143",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4500,
    "y": 520,
    "wires": [
      [
        "78e6c9cc2f3f3221"
      ],
      [
        "78e6c9cc2f3f3221"
      ]
    ]
  },
  {
    "id": "78e6c9cc2f3f3221",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized",
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4680,
    "y": 520,
    "wires": [
      [
        "578b9966eaf564a5"
      ]
    ]
  },
  {
    "id": "578b9966eaf564a5",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": " {             \"value\": \"UNKNOWN\"         }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4890,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "491b918fb32cff35",
    "type": "function",
    "z": "cd7a606d7931c143",
    "name": "Name Payload",
    "func": "var name = msg.match.name;\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": name\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4360,
    "y": 580,
    "wires": [
      [
        "ec5c61fd69030e8e"
      ]
    ]
  },
  {
    "id": "ec5c61fd69030e8e",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4560,
    "y": 580,
    "wires": [
      [
        "ceaf2b9901f10668"
      ]
    ]
  },
  {
    "id": "3929f62648b94b4f",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4320,
    "y": 520,
    "wires": [
      [
        "7329f3a0fc96f8f5"
      ]
    ]
  },
  {
    "id": "ceaf2b9901f10668",
    "type": "trigger",
    "z": "cd7a606d7931c143",
    "name": "",
    "op1": "1",
    "op2": "",
    "op1type": "str",
    "op2type": "nul",
    "duration": "250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4080,
    "y": 580,
    "wires": [
      [
        "0751b4256605b31e"
      ]
    ]
  },
  {
    "id": "a03781b4d453187a",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "Save Facecam Ring.jpg For Debug",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.faceshot_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 480,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "14716af57c8f9b9d",
    "type": "inject",
    "z": "cd7a606d7931c143",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 260,
    "y": 460,
    "wires": [
      [
        "a03781b4d453187a"
      ]
    ]
  },
  {
    "id": "6b34a4c899761c04",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "Save Reolink.jpg for notif",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/reolinkring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 830,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "8a39449972026570",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "Save Facecam Ring.jpg For Debug",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.faceshot_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 500,
    "y": 1000,
    "wires": [
      [
        "6b34a4c899761c04"
      ]
    ]
  },
  {
    "id": "31c62afa4e6e505f",
    "type": "inject",
    "z": "cd7a606d7931c143",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 280,
    "y": 960,
    "wires": [
      [
        "8a39449972026570"
      ]
    ]
  },
  {
    "id": "6b66e722564ac9a3",
    "type": "exec",
    "z": "cd7a606d7931c143",
    "command": "rm /config/www/ring.jpg",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 530,
    "y": 840,
    "wires": [
      [
        "aa50610b81b16971"
      ],
      [
        "aa50610b81b16971"
      ],
      [
        "aa50610b81b16971"
      ]
    ]
  },
  {
    "id": "aa50610b81b16971",
    "type": "debug",
    "z": "cd7a606d7931c143",
    "name": "debug 201",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1190,
    "y": 880,
    "wires": []
  },
  {
    "id": "53b3851fe8d777e6",
    "type": "inject",
    "z": "cd7a606d7931c143",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 314.89581298828125,
    "y": 840,
    "wires": [
      [
        "6b66e722564ac9a3"
      ]
    ]
  },
  {
    "id": "5197a8dcb4f7e262",
    "type": "api-call-service",
    "z": "cd7a606d7931c143",
    "name": "Save Facecam Ring.jpg For Debug",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.faceshot_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 460,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "3654de3dfbdb6a8c",
    "type": "debug",
    "z": "cd7a606d7931c143",
    "name": "debug 202",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 780,
    "wires": []
  }
]