node-red/flows/Face Reco 7.0.json
[
  {
    "id": "14484d2a357fa501",
    "type": "tab",
    "label": "Face Reco 7.0",
    "disabled": true,
    "info": ""
  },
  {
    "id": "e42173d3ee832046",
    "type": "server-events",
    "z": "14484d2a357fa501",
    "name": "Ringer",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "zha_event",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 170,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "af8b05e8de50da59",
    "type": "http request",
    "z": "14484d2a357fa501",
    "name": "[POST] Recognize Double-Take",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/ring.jpg&camera=camera.facecam",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1310,
    "y": 680,
    "wires": [
      [
        "076cb4627269321c",
        "f546f47e34358c73"
      ]
    ]
  },
  {
    "id": "96b3d130e3563de0",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "Save Facecam Ring.jpg",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.facecam"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1030,
    "y": 680,
    "wires": [
      [
        "af8b05e8de50da59"
      ]
    ]
  },
  {
    "id": "0bc207fe43223f88",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "Face",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1610,
    "y": 720,
    "wires": []
  },
  {
    "id": "34cdf332c6ebfd19",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "click",
    "props": [
      {
        "p": "payload.event.command",
        "v": "click",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 630,
    "y": 720,
    "wires": [
      [
        "57590a930154b3b5"
      ]
    ]
  },
  {
    "id": "9891b32c5fd5257a",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "click",
    "props": [
      {
        "p": "payload.event.command",
        "v": "click",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1550,
    "y": 460,
    "wires": [
      [
        "af8b05e8de50da59"
      ]
    ]
  },
  {
    "id": "076cb4627269321c",
    "type": "json",
    "z": "14484d2a357fa501",
    "name": "toJson",
    "property": "payload",
    "action": "",
    "pretty": true,
    "x": 1510,
    "y": 680,
    "wires": [
      [
        "f5b71d7a68b6bf15",
        "0bc207fe43223f88"
      ]
    ]
  },
  {
    "id": "5db6ae5b9dd8cdf8",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "scan",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 1250,
    "y": 900,
    "wires": [
      [
        "dd31bc940ba436cd"
      ]
    ]
  },
  {
    "id": "8e6e4a3476037a0a",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "Double take Wyzecam over 0",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "sensor.double_take_wyzecam",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1040,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "8fbdc854c3139373",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "Front",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1610,
    "y": 580,
    "wires": []
  },
  {
    "id": "5b10e27560a87f12",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1120,
    "y": 780,
    "wires": [
      [
        "dd31bc940ba436cd"
      ]
    ]
  },
  {
    "id": "85dd28056bc51434",
    "type": "switch",
    "z": "14484d2a357fa501",
    "name": "double",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "single",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "double",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 770,
    "y": 880,
    "wires": [
      [],
      [
        "fc8fbf5aa1970461"
      ]
    ]
  },
  {
    "id": "fc8fbf5aa1970461",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "rang?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.door_rang",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1190,
    "y": 840,
    "wires": [
      [
        "e6e3ef3912aff7f6"
      ],
      []
    ]
  },
  {
    "id": "e6e3ef3912aff7f6",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_double_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1340,
    "y": 840,
    "wires": [
      [
        "f1f790880aa9080d"
      ]
    ]
  },
  {
    "id": "f1f790880aa9080d",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "num",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 1510,
    "y": 840,
    "wires": [
      [
        "9c240a82d84da6d9"
      ]
    ]
  },
  {
    "id": "9c240a82d84da6d9",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_double_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1680,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "8e3afe4418dd544b",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "45",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 750,
    "y": 780,
    "wires": [
      [
        "5b10e27560a87f12"
      ]
    ]
  },
  {
    "id": "4e24196273b44e21",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1030,
    "y": 1260,
    "wires": []
  },
  {
    "id": "b438aff1211d4c4d",
    "type": "server-state-changed",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.double_take_reolink",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 710,
    "y": 1280,
    "wires": [
      [
        "4e24196273b44e21"
      ]
    ]
  },
  {
    "id": "c5041027b8e134e0",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "cam set",
    "func": "// SETTINGS\nvar required_conf = 75;\n// SETTINGS\n\n\nvar matches = msg.entity.attributes.matches;\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"camera.front_door\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar matched_faces_count = 0;\nvar reco = \"\";\n//declarations\nif ( matches.length > 0){\n\n\n    for (i = 0; i < matches.length; i++){\n\n                var name = matches[i].name;\n \t\t\t\tvar conf = matches[i].confidence;\n \t\t\t\trecofacesortable.push([name, conf, camera]);\n \t\t\t\tvar matched_faces_count = (matched_faces_count + 1);\n        \n    }\n} else {\n    \n}\n\nif (typeof msg.payload.unknown!==\"undefined\"){\n    recofacesortable.push([\"Unknown\", \"0\", camera]);\n}\n\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"matches\": recofacesortable,\n\t\t\"matched_faces_count\":  matched_faces_count\n   \t}\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1640,
    "y": 620,
    "wires": [
      [
        "8fbdc854c3139373",
        "18d023cf8cc0e4e3"
      ]
    ]
  },
  {
    "id": "d4cb39c44d10600f",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "cam set",
    "func": "// SETTINGS\nvar required_conf = 75;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"camera.facecam\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar reco = \"\";\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n\n                var name = msg.payload.matches[i].name;\n \t\t\t\tvar conf = msg.payload.matches[i].confidence;\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        \n    }\n\nif (typeof msg.payload.unknown!==\"undefined\"){\n    recofacesortable.push([\"Unknown\", \"0\", camera]);\n}\n    \n    \n//      \trecofacesortable.sort(function(a, b) {\n//  \t\treturn a[1] - b[1];\n//  \t}).reverse();\n \t\n//     for (i = 0; i < recofacesortable.length; i++){\n//         var reconame = recofacesortable[0][0];\n//         var confidence = recofacesortable[0][1]\n//         var camera = recofacesortable[0][2]\n        \n        \n//     }\n\n\n\n// if (confidence > required_conf) {\n// \tvar recognized = 1;\n// } else {\n// \tvar recognized = 0;\n// }\n\n// if (camera == \"face_counter_reolink\"){\n//     var camera = \"camera.reolink_static\";\n// } else if (camera == \"face_counter_facecam\"){\n//     var camera = \"camera.facecam_static\"\n// }\n\n// var newMsg = {\n// \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"recognized\": recognized,\n//  \t\t\"camera\": camera \n// \t}\n// };\n\n//return newMsg;\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"matches\": recofacesortable,\n// //  \t\t\"confidence\": confidence,\n// //  \t\t\"recognized\": recognized,\n// //  \t\t\"camera\": camera ,\n// //  \t\t\"recofacesortable\": recofacesortable\n   \t}\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1320,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "c10fbfb4d42df98e",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "click",
    "props": [
      {
        "p": "payload.event.command",
        "v": "click",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 810,
    "y": 520,
    "wires": [
      [
        "0861877d35bfe16e"
      ]
    ]
  },
  {
    "id": "18d023cf8cc0e4e3",
    "type": "join",
    "z": "14484d2a357fa501",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload.matches",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "6",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 1770,
    "y": 660,
    "wires": [
      [
        "81b44903ee46c869"
      ]
    ]
  },
  {
    "id": "81b44903ee46c869",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Face Extractor compare 7.0",
    "func": "// SETTINGS\nvar required_conf = 80;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"\";\nvar conf = \"\";\nvar reconame = \"\";\nvar recognized = 69;\nvar confidence = \"\";\nvar reco = \"\";\nvar recognized_confidently = 0;\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n         for (y = 0; y < Object.keys(msg.payload.matches[i]).length; y++){\n                var name = msg.payload.matches[i][y][0];\n \t\t\t\tvar conf = msg.payload.matches[i][y][1];\n \t\t\t\tvar camera = msg.payload.matches[i][y][2];\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        }\n    }\n    \n    \n     \trecofacesortable.sort(function(a, b) {\n \t\treturn a[1] - b[1];\n \t}).reverse();\n \t\n    for (i = 0; i < recofacesortable.length; i++){\n        var reconame = recofacesortable[0][0];\n        var confidence = recofacesortable[0][1]\n        var camera = recofacesortable[0][2]\n        \n        \n    }\n\n\n\nif (confidence > required_conf) {\n\tvar recognized_confidently = 1;\n}\n\nif (confidence != \"\") {\n\tvar recognized = 1;\n} else if (confidence == \"\") {\n    var recognized = 0;\n} else { \n var recognized = \"bugging\";\n    \n}\n\n if (camera == \"camera.front_door\"){\n     var camera = \"camera.reolink_static\";\n } else if (camera == \"camera.facecam\"){\n     var camera = \"camera.facecam_static\"\n }\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"name\": reconame,\n\t\t\"confidence\": confidence,\n\t//\t\"matched_faces\": total_matched_faces,\n\t//\t\"total_faces\": total_faces,\n\t\t\"recognized_confidently\": recognized_confidently,\n\t\t\"recognized\": recognized,\n \t\t\"camera\": camera \n\t}\n};\n\nreturn newMsg;\n\n\n//  var test = {\n//  \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"matched_faces\": total_matched_faces,\n// \t\t\"total_faces\": total_faces,\n// \t\t\"recognized\": recognized,\n// \t\t\"camera\": camera ,\n// \t\t\"recofacesortable\": recofacesortable\n//  \t}\n//  };\n//  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2040,
    "y": 660,
    "wires": [
      [
        "40f8e21c39f3f8bc",
        "afedb702f35b0c65",
        "0da283caf2f22ca9"
      ]
    ]
  },
  {
    "id": "f5b71d7a68b6bf15",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "cam set",
    "func": "// SETTINGS\nvar required_conf = 75;\n// SETTINGS\n\n\nvar matches = msg.payload.matches;\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"camera.front_door\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar matched_faces_count = 0;\nvar reco = \"\";\n//declarations\nif ( matches.length > 0){\n\n\n    for (i = 0; i < matches.length; i++){\n\n                var name = matches[i].name;\n \t\t\t\tvar conf = matches[i].confidence;\n \t\t\t\trecofacesortable.push([name, conf, camera]);\n \t\t\t\tvar matched_faces_count = (matched_faces_count + 1);\n        \n    }\n} else {\n    \n}\n\nif (typeof msg.payload.unknown!==\"undefined\"){\n    recofacesortable.push([\"Unknown\", \"0\", camera]);\n}\n\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"matches\": recofacesortable,\n\t\t\"matched_faces_count\":  matched_faces_count\n   \t}\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1640,
    "y": 680,
    "wires": [
      [
        "0bc207fe43223f88",
        "18d023cf8cc0e4e3"
      ]
    ]
  },
  {
    "id": "40f8e21c39f3f8bc",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "Compare",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2040,
    "y": 600,
    "wires": []
  },
  {
    "id": "6c570d7a5ff63f37",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "click",
    "props": [
      {
        "p": "payload.event.command",
        "v": "click",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 810,
    "y": 720,
    "wires": [
      [
        "af8b05e8de50da59",
        "0861877d35bfe16e"
      ]
    ]
  },
  {
    "id": "42988384b18c311e",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Time Check + Cam Passthrough",
    "func": "\nvar timestamp = msg.entity.attributes.timestamp;\n\nvar timestampUnix = new Date(timestamp).getTime();\n\n\nvar now = Date.now();\nvar timedif = (now - timestampUnix);\n\n\nif (timedif < 100000 ){\n     var nowfinal = 1;\n } else {\n     var nowfinal = 0;};\n\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"nowfinal\":  nowfinal\n\t\t\n   \t},\n   \t\"entity\": msg.entity,\n   \t\"data\": msg.data\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1410,
    "y": 620,
    "wires": [
      [
        "c5041027b8e134e0",
        "8fbdc854c3139373"
      ]
    ]
  },
  {
    "id": "0861877d35bfe16e",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "Double take Front Door",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "sensor.double_take_front_door",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1030,
    "y": 620,
    "wires": [
      [
        "42988384b18c311e",
        "8fbdc854c3139373"
      ]
    ]
  },
  {
    "id": "660692c291ce0d61",
    "type": "switch",
    "z": "14484d2a357fa501",
    "name": "Reco Confident?",
    "property": "payload.recognized_confidently",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2270,
    "y": 420,
    "wires": [
      [
        "68e202d57728a02c"
      ],
      [
        "26ed3a6f44375dca"
      ]
    ]
  },
  {
    "id": "b0ae24686447690e",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "Face Not reco Enough",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2660,
    "y": 420,
    "wires": [
      [
        "ef1dda3e1adf46b9",
        "4a05baf3976bade9"
      ]
    ]
  },
  {
    "id": "ef1dda3e1adf46b9",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2880,
    "y": 420,
    "wires": [
      [
        "f87196b3f1cac189"
      ]
    ]
  },
  {
    "id": "f87196b3f1cac189",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3060,
    "y": 420,
    "wires": [
      [
        "84ce3ec7603cd21c"
      ]
    ]
  },
  {
    "id": "4bc46934e4fad499",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3420,
    "y": 420,
    "wires": [
      [
        "ffd73041c96aeb47"
      ]
    ]
  },
  {
    "id": "84ce3ec7603cd21c",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": \"Someone is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3220,
    "y": 420,
    "wires": [
      [
        "4bc46934e4fad499",
        "0780bf362a29ae82"
      ]
    ]
  },
  {
    "id": "0780bf362a29ae82",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3440,
    "y": 460,
    "wires": [
      [
        "d71380d25baade5a"
      ]
    ]
  },
  {
    "id": "800c68555a289aa4",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Light and Speakers",
    "mode": "link",
    "links": [
      "45904ca6429d867d"
    ],
    "x": 3795,
    "y": 460,
    "wires": []
  },
  {
    "id": "4a05baf3976bade9",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Announcement input",
    "mode": "link",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2835,
    "y": 380,
    "wires": []
  },
  {
    "id": "f546f47e34358c73",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "Face",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1310,
    "y": 720,
    "wires": []
  },
  {
    "id": "0957f7e68479d041",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Name Payload",
    "func": "var name = msg.payload.name;\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": name\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3500,
    "y": 80,
    "wires": [
      [
        "7958beafd0e53872"
      ]
    ]
  },
  {
    "id": "7958beafd0e53872",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3730,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "c90ed1f0e41371e2",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3700,
    "y": 220,
    "wires": [
      [
        "2735223105cee635"
      ]
    ]
  },
  {
    "id": "9b2ed8dad4eaa555",
    "type": "ha-wait-until",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_front_outside",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "on",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4040,
    "y": 220,
    "wires": [
      [
        "40e5eb0d237b3098"
      ],
      [
        "40e5eb0d237b3098"
      ]
    ]
  },
  {
    "id": "40e5eb0d237b3098",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3820,
    "y": 300,
    "wires": [
      [
        "8d68879fab9b827e"
      ]
    ]
  },
  {
    "id": "8d68879fab9b827e",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4000,
    "y": 300,
    "wires": [
      [
        "e774c1e55caf8651"
      ]
    ]
  },
  {
    "id": "e774c1e55caf8651",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Reset Name",
    "func": "var newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": \"UNKNOWN\"\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4230,
    "y": 300,
    "wires": [
      [
        "c314da045d710791"
      ]
    ]
  },
  {
    "id": "c314da045d710791",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4450,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "a0dac4bb43fa12d7",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "unlock",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3630,
    "y": 280,
    "wires": []
  },
  {
    "id": "899a01a3f875d158",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3560,
    "y": 140,
    "wires": [
      [
        "60741d3ede1ab113"
      ]
    ]
  },
  {
    "id": "60741d3ede1ab113",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3740,
    "y": 140,
    "wires": [
      [
        "10d1a7633c410ac8",
        "37637e4f196eaa61"
      ]
    ]
  },
  {
    "id": "10d1a7633c410ac8",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "result of snapchot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3930,
    "y": 100,
    "wires": []
  },
  {
    "id": "8e2af2d4484e16bb",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4100,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "37637e4f196eaa61",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": \"Welcoming \" + name,\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3920,
    "y": 140,
    "wires": [
      [
        "8e2af2d4484e16bb",
        "85344f47f3f54884",
        "17893907670ec826"
      ]
    ]
  },
  {
    "id": "85344f47f3f54884",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4100,
    "y": 180,
    "wires": [
      [
        "04566cb55ad19575"
      ]
    ]
  },
  {
    "id": "17893907670ec826",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4248.571533203125,
    "y": 85.71429443359375,
    "wires": []
  },
  {
    "id": "b61e3fe82467cd65",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d"
    ],
    "x": 4495,
    "y": 180,
    "wires": []
  },
  {
    "id": "313337e23f238993",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "unLock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3470,
    "y": 280,
    "wires": [
      [
        "a0dac4bb43fa12d7",
        "80d0e06e2010c9a2"
      ]
    ]
  },
  {
    "id": "80d0e06e2010c9a2",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "unlocked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "lock.lock_front_door",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3440,
    "y": 220,
    "wires": [
      [
        "c90ed1f0e41371e2"
      ],
      [
        "313337e23f238993"
      ]
    ]
  },
  {
    "id": "86bd928d040cab78",
    "type": "delay",
    "z": "14484d2a357fa501",
    "name": "Waiting someone",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3270,
    "y": 140,
    "wires": [
      [
        "0957f7e68479d041",
        "899a01a3f875d158",
        "313337e23f238993",
        "1b2ca2456333eec4"
      ]
    ]
  },
  {
    "id": "a9f7a85966e01bbb",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2315,
    "y": 500,
    "wires": []
  },
  {
    "id": "2735223105cee635",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "25",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3870,
    "y": 220,
    "wires": [
      [
        "9b2ed8dad4eaa555"
      ]
    ]
  },
  {
    "id": "2b1a7a32e0739f94",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "Not waiting",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2550,
    "y": 320,
    "wires": [
      [
        "c08a9e734d4838af",
        "836799ab5789bfdd"
      ]
    ]
  },
  {
    "id": "c08a9e734d4838af",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2720,
    "y": 340,
    "wires": [
      [
        "8ff570914988d411"
      ]
    ]
  },
  {
    "id": "8ff570914988d411",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2900,
    "y": 340,
    "wires": [
      [
        "07f0e7c1e3ba7a5d"
      ]
    ]
  },
  {
    "id": "a4f5d2304535e7f3",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3260,
    "y": 340,
    "wires": [
      [
        "ffd73041c96aeb47"
      ]
    ]
  },
  {
    "id": "07f0e7c1e3ba7a5d",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3080,
    "y": 340,
    "wires": [
      [
        "a4f5d2304535e7f3",
        "0958bee360c44c1d"
      ]
    ]
  },
  {
    "id": "0958bee360c44c1d",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2880,
    "y": 280,
    "wires": [
      [
        "35a1804fd59f9be8"
      ]
    ]
  },
  {
    "id": "cda6edfe40da167c",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3235,
    "y": 280,
    "wires": []
  },
  {
    "id": "836799ab5789bfdd",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Announcement input",
    "mode": "link",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2675,
    "y": 300,
    "wires": []
  },
  {
    "id": "adca23ed01fc6039",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2330,
    "y": 1060,
    "wires": [
      [
        "b9c00de82e84dac3",
        "12c4c8382e0744d9",
        "1c53442f1f8346db",
        "071e62f4a8fb4411"
      ]
    ]
  },
  {
    "id": "b9c00de82e84dac3",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var recoface = [];\nvar facestring = \"\"\nvar d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"https://hass.purgatoire.ca/local/ring.jpg?\" + m;\nvar facestring = msg.payload;\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Someone is at the door but system crashed\",\n  \"data\": {\n    \"image\": url,\n    \"actions\": [\n      {\n        \"action\": \"unlock_door\",\n        \"title\": \"Unlock The Door\"\n      }\n                \n    ]\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2580,
    "y": 1020,
    "wires": [
      [
        "f8c520c15bdc3496"
      ]
    ]
  },
  {
    "id": "f8c520c15bdc3496",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2760,
    "y": 1020,
    "wires": [
      [
        "ffd73041c96aeb47"
      ]
    ]
  },
  {
    "id": "8591b7ba9e35795f",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "Crash",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2210,
    "y": 1040,
    "wires": [
      [
        "adca23ed01fc6039"
      ]
    ]
  },
  {
    "id": "12c4c8382e0744d9",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Someone is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2620,
    "y": 1100,
    "wires": [
      [
        "d97a6ca5f29095fa"
      ]
    ]
  },
  {
    "id": "3c31668009a3d6e2",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3035,
    "y": 1100,
    "wires": []
  },
  {
    "id": "3225b96d73d99955",
    "type": "catch",
    "z": "14484d2a357fa501",
    "name": "",
    "scope": [
      "af8b05e8de50da59"
    ],
    "uncaught": false,
    "x": 2070,
    "y": 1000,
    "wires": [
      [
        "8591b7ba9e35795f"
      ]
    ]
  },
  {
    "id": "1c53442f1f8346db",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2570,
    "y": 980,
    "wires": []
  },
  {
    "id": "071e62f4a8fb4411",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2555,
    "y": 1060,
    "wires": []
  },
  {
    "id": "68e202d57728a02c",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "party on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2540,
    "y": 80,
    "wires": [
      [
        "56d8698dc3949500"
      ],
      [
        "8cc2908d43c2b0e6"
      ]
    ]
  },
  {
    "id": "8cc2908d43c2b0e6",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "Waiting Friend?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_someone",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2720,
    "y": 140,
    "wires": [
      [
        "56d8698dc3949500"
      ],
      [
        "2b1a7a32e0739f94"
      ]
    ]
  },
  {
    "id": "56d8698dc3949500",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "Front House Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_front",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2890,
    "y": 80,
    "wires": [
      [
        "86bd928d040cab78"
      ],
      [
        "2b1a7a32e0739f94"
      ]
    ]
  },
  {
    "id": "26ed3a6f44375dca",
    "type": "switch",
    "z": "14484d2a357fa501",
    "name": "Reco?",
    "property": "payload.recognized",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2430,
    "y": 420,
    "wires": [
      [
        "b0ae24686447690e"
      ],
      [
        "e3baaad7235f860d"
      ]
    ]
  },
  {
    "id": "afedb702f35b0c65",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "uber",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "uber",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "uberentity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2270,
    "y": 660,
    "wires": [
      [
        "f4192181153226e6"
      ],
      []
    ]
  },
  {
    "id": "aca7f51d5f5467f6",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "Uber",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1750,
    "y": 780,
    "wires": [
      [
        "3aaca7bceb8c1e16",
        "fe9a07db7ec23343"
      ]
    ]
  },
  {
    "id": "3aaca7bceb8c1e16",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = \"camera.front_door\";\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1960,
    "y": 800,
    "wires": [
      [
        "003c13e20cc28ae5",
        "3e51ec47ed89c67e"
      ]
    ]
  },
  {
    "id": "003c13e20cc28ae5",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2100,
    "y": 800,
    "wires": [
      [
        "b1130b17e8e654ed",
        "30b831c8da8ccd2f"
      ]
    ]
  },
  {
    "id": "a3636fb3c619cfea",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2540,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "b1130b17e8e654ed",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = \"Someone\";\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2240,
    "y": 800,
    "wires": [
      [
        "a3636fb3c619cfea",
        "5ced15bcb2b21f09"
      ]
    ]
  },
  {
    "id": "5ced15bcb2b21f09",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2520,
    "y": 840,
    "wires": [
      [
        "dd61d0b2cad7a585",
        "5df29bf9a155a455"
      ]
    ]
  },
  {
    "id": "9bcf0ff17f4166b3",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d"
    ],
    "x": 2935,
    "y": 860,
    "wires": []
  },
  {
    "id": "fe9a07db7ec23343",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "to package",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_package",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1930,
    "y": 760,
    "wires": [
      [
        "87741f0405d05c21",
        "a3954cb431d13482",
        "93ce05f120ded01c"
      ]
    ]
  },
  {
    "id": "87741f0405d05c21",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2035,
    "y": 760,
    "wires": []
  },
  {
    "id": "30b831c8da8ccd2f",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2190,
    "y": 820,
    "wires": []
  },
  {
    "id": "3e51ec47ed89c67e",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2070,
    "y": 840,
    "wires": []
  },
  {
    "id": "ba467450b6d6dcd2",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "to regular position",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_doorway",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2290,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "a3954cb431d13482",
    "type": "ha-wait-until",
    "z": "14484d2a357fa501",
    "name": "lock opens?",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "120",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2090,
    "y": 720,
    "wires": [
      [
        "ba467450b6d6dcd2"
      ],
      [
        "ba467450b6d6dcd2"
      ]
    ]
  },
  {
    "id": "5297d6f39c193257",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2790,
    "y": 500,
    "wires": [
      [
        "734b7304e89ca79e",
        "99f47b25145a1f09",
        "bdb95ccd4331168c"
      ]
    ]
  },
  {
    "id": "734b7304e89ca79e",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var recoface = [];\nvar facestring = \"\"\nvar d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"https://hass.purgatoire.ca/local/ring.jpg?\" + m;\nvar facestring = msg.payload;\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Someone is at the door\",\n  \"data\": {\n    \"image\": url,\n    \"actions\": [\n      {\n        \"action\": \"unlock_door\",\n        \"title\": \"Unlock The Door\"\n      }\n                \n    ]\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2960,
    "y": 480,
    "wires": [
      [
        "f6b532ffea29d27b"
      ]
    ]
  },
  {
    "id": "f6b532ffea29d27b",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3140,
    "y": 480,
    "wires": [
      [
        "ffd73041c96aeb47",
        "40200dddf08a041f"
      ]
    ]
  },
  {
    "id": "e3baaad7235f860d",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "No Face",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2640,
    "y": 500,
    "wires": [
      [
        "5297d6f39c193257"
      ]
    ]
  },
  {
    "id": "99f47b25145a1f09",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Someone is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2990,
    "y": 520,
    "wires": [
      [
        "c7edae404be99e1a"
      ]
    ]
  },
  {
    "id": "e02e42d8570d1e35",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d"
    ],
    "x": 3375,
    "y": 520,
    "wires": []
  },
  {
    "id": "bdb95ccd4331168c",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Announcement input",
    "links": [
      "6c95d201f6c9daf3"
    ],
    "x": 2915,
    "y": 560,
    "wires": []
  },
  {
    "id": "41c58a88bcf4a030",
    "type": "server-events",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 430,
    "y": 200,
    "wires": [
      [
        "e5df440fd885d7bc",
        "49f2b70e9a7396bd"
      ]
    ]
  },
  {
    "id": "e5df440fd885d7bc",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "actionable",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 80,
    "wires": []
  },
  {
    "id": "49f2b70e9a7396bd",
    "type": "switch",
    "z": "14484d2a357fa501",
    "name": "",
    "property": "payload.event.action_1_title",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Who is this?",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 670,
    "y": 260,
    "wires": [
      [
        "7beed4a06521b3d3",
        "3a5e39d9485156dd"
      ]
    ]
  },
  {
    "id": "7beed4a06521b3d3",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\n\nvar confidence = 0;\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\n\nvar who = msg.payload.event.reply_text.toLowerCase().replace(\" \",\"\");\nvar replacestring = \"https://hass.purgatoire.ca/local/portraits/\" + who.toLowerCase();\nvar replacestring1 = msg.payload.event.image.replace(replacestring);\nvar replacestring2 = replacestring1.split(\"-\");\nvar camera = replacestring2[1];\n\n\n\n\nvar newMsg = {\n    \"image\": msg.payload.event.image,\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/double-take/\" + who +  \"/\" + camera + \"_\" + h + m + s + \"_\" + confidence + \".jpg\",\n            \"entity_id\": camera,\n            // \"1\": replacestring,\n            // \"2\": replacestring1,\n            // \"3\": replacestring2\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 320,
    "wires": [
      [
        "3a5e39d9485156dd",
        "868b65e07deac98b"
      ]
    ]
  },
  {
    "id": "3a5e39d9485156dd",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "actionable",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 970,
    "y": 200,
    "wires": []
  },
  {
    "id": "868b65e07deac98b",
    "type": "switch",
    "z": "14484d2a357fa501",
    "name": "Recod Faces 1/0",
    "property": "payload.data.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "camera.facecam_static",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 990,
    "y": 320,
    "wires": [
      [
        "f269e432af96e7cf"
      ]
    ]
  },
  {
    "id": "f269e432af96e7cf",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1160,
    "y": 320,
    "wires": [
      [
        "334a69225c8ff960",
        "d5e0364259c9d2f7"
      ]
    ]
  },
  {
    "id": "334a69225c8ff960",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "result of snapchot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1530,
    "y": 340,
    "wires": []
  },
  {
    "id": "d5e0364259c9d2f7",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = msg.image;\n\nvar url = url.replace(\"https:\\/\\/hass.purgatoire.ca\\/local\", \"\\/config\\/www\");\n\nvar newMsg = {\n \"name\": msg.payload.name,\n \"url\": \"http://192.168.0.14:3000/api/train/retrain/\" + msg.payload.name.toLowerCase(),\n \"data\":{\n    \"data\":{\n\t\"file_path\": url,\n\t\"name\": msg.payload.name.toLowerCase(),\n\t\"url\": \"http://192.168.0.14:3000/api/train/retrain/\" + msg.payload.name.toLowerCase()\n}}\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1200,
    "y": 220,
    "wires": [
      [
        "6bd4b336b2a94011",
        "3a041018b34a7a99"
      ]
    ]
  },
  {
    "id": "6bd4b336b2a94011",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1470,
    "y": 140,
    "wires": []
  },
  {
    "id": "3a041018b34a7a99",
    "type": "http request",
    "z": "14484d2a357fa501",
    "name": "POST request",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1420,
    "y": 220,
    "wires": [
      [
        "262670207fc2a028",
        "7177d9971a37d755"
      ]
    ]
  },
  {
    "id": "262670207fc2a028",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1715.71435546875,
    "y": 132.85714721679688,
    "wires": []
  },
  {
    "id": "7177d9971a37d755",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = msg.data.data.file_path;\n\n\nvar snapshot = url.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Faces learning for\" + \" \" + msg.name,\n  \"data\": {\n    \"image\": snapshot\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1680,
    "y": 220,
    "wires": [
      [
        "6da834e1d6cb8676",
        "a1f03d69aff0468d"
      ]
    ]
  },
  {
    "id": "6da834e1d6cb8676",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1900,
    "y": 220,
    "wires": [
      [
        "a1f03d69aff0468d"
      ]
    ]
  },
  {
    "id": "a1f03d69aff0468d",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1870,
    "y": 100,
    "wires": []
  },
  {
    "id": "4c173b13c52a7625",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 380,
    "wires": []
  },
  {
    "id": "130dabbc622bdd7c",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door"
    ],
    "data": "{\"filename\":\"/config/www/reolink.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 1340,
    "wires": [
      []
    ]
  },
  {
    "id": "52c7a029e3d99227",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1030,
    "y": 1340,
    "wires": [
      [
        "130dabbc622bdd7c"
      ]
    ]
  },
  {
    "id": "3e79915f8de8b345",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 1400,
    "wires": [
      [
        "52c7a029e3d99227"
      ]
    ]
  },
  {
    "id": "e529e2ebd8ba0cc3",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 670,
    "y": 1400,
    "wires": [
      [
        "3e79915f8de8b345"
      ]
    ]
  },
  {
    "id": "c198ab088fd12cf2",
    "type": "mqtt in",
    "z": "14484d2a357fa501",
    "name": "",
    "topic": "frigate/faceshot_zone/person",
    "qos": "0",
    "datatype": "auto",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 400,
    "y": 1340,
    "wires": [
      [
        "0741c816d5e61590"
      ]
    ]
  },
  {
    "id": "0741c816d5e61590",
    "type": "switch",
    "z": "14484d2a357fa501",
    "name": "click",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 1340,
    "wires": [
      [
        "52c7a029e3d99227"
      ],
      [
        "e529e2ebd8ba0cc3"
      ]
    ]
  },
  {
    "id": "57590a930154b3b5",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "45",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 750,
    "y": 600,
    "wires": [
      [
        "0861877d35bfe16e",
        "96b3d130e3563de0"
      ]
    ]
  },
  {
    "id": "a7c52589eb409444",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1480,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "dd31bc940ba436cd",
    "type": "ha-wait-until",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_front_outside",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "on",
    "valueType": "str",
    "timeout": "60",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 1300,
    "y": 780,
    "wires": [
      [
        "a7c52589eb409444"
      ],
      [
        "a7c52589eb409444"
      ]
    ]
  },
  {
    "id": "d4d993dd0b6b1e6d",
    "type": "ha-wait-until",
    "z": "14484d2a357fa501",
    "name": "wait until Doubletake detect someone",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "sensor.double_take_facecam",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "gt",
    "value": "0",
    "valueType": "num",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "doubletake",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 490,
    "y": 560,
    "wires": [
      [
        "57590a930154b3b5"
      ],
      [
        "57590a930154b3b5"
      ]
    ]
  },
  {
    "id": "93ce05f120ded01c",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "to package",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2180,
    "y": 760,
    "wires": []
  },
  {
    "id": "f4192181153226e6",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "Kink=1",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "uber",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "uberentity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2310,
    "y": 600,
    "wires": [
      [
        "660692c291ce0d61"
      ],
      [
        "458fbd5918128bfa"
      ]
    ]
  },
  {
    "id": "458fbd5918128bfa",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "Kink",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2570,
    "y": 660,
    "wires": [
      [
        "0bb5f84e75c93b34"
      ]
    ]
  },
  {
    "id": "0bb5f84e75c93b34",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = \"camera.front_door\";\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2780,
    "y": 680,
    "wires": [
      [
        "8761ead0cec960d3",
        "630cbead206160c0"
      ]
    ]
  },
  {
    "id": "8761ead0cec960d3",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2920,
    "y": 680,
    "wires": [
      [
        "40e28c855edef985",
        "1cd2dab97e94ddb6"
      ]
    ]
  },
  {
    "id": "0865a3bc30f7f16b",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3220,
    "y": 680,
    "wires": [
      [
        "ffd73041c96aeb47"
      ]
    ]
  },
  {
    "id": "40e28c855edef985",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = \"A perv\";\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3060,
    "y": 680,
    "wires": [
      [
        "0865a3bc30f7f16b",
        "87fbabb7f224a018"
      ]
    ]
  },
  {
    "id": "87fbabb7f224a018",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3200,
    "y": 640,
    "wires": [
      [
        "49ff1245733f7615"
      ]
    ]
  },
  {
    "id": "333bc07437e9824c",
    "type": "link out",
    "z": "14484d2a357fa501",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3555,
    "y": 640,
    "wires": []
  },
  {
    "id": "1cd2dab97e94ddb6",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3050,
    "y": 700,
    "wires": []
  },
  {
    "id": "630cbead206160c0",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2890,
    "y": 720,
    "wires": []
  },
  {
    "id": "18e6e4790a40d9dc",
    "type": "server-state-changed",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_doorbell_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "None",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "output_only_on_state_change": true,
    "x": 200,
    "y": 660,
    "wires": [
      [
        "79e4e71f5e0852e8",
        "d4d993dd0b6b1e6d",
        "8e3afe4418dd544b",
        "85dd28056bc51434"
      ],
      []
    ]
  },
  {
    "id": "79e4e71f5e0852e8",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 660,
    "wires": []
  },
  {
    "id": "1b2ca2456333eec4",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3280,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "62ebb57ee56b1998",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4700,
    "y": 760,
    "wires": [
      [
        "3f3e07f49c27ac01"
      ]
    ]
  },
  {
    "id": "c76a570fe0a7f2c9",
    "type": "ha-wait-until",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_front_outside",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "on",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 3780,
    "y": 840,
    "wires": [
      [
        "52c948979f3a3aca"
      ],
      [
        "52c948979f3a3aca"
      ]
    ]
  },
  {
    "id": "52c948979f3a3aca",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3940,
    "y": 840,
    "wires": [
      [
        "a51e1c8356c64b74"
      ]
    ]
  },
  {
    "id": "a51e1c8356c64b74",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4140,
    "y": 840,
    "wires": [
      [
        "5f99f60edf3b2662"
      ]
    ]
  },
  {
    "id": "5f99f60edf3b2662",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Reset Name",
    "func": "var newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": \"UNKNOWN\"\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4350,
    "y": 840,
    "wires": [
      [
        "43b8809b9dc8292a"
      ]
    ]
  },
  {
    "id": "43b8809b9dc8292a",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4730,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "3f3e07f49c27ac01",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "25",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4890,
    "y": 760,
    "wires": [
      [
        "c76a570fe0a7f2c9"
      ]
    ]
  },
  {
    "id": "ffd73041c96aeb47",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "Manual unlock",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3800,
    "y": 660,
    "wires": [
      [
        "e7dbb42f6b57e7ed"
      ]
    ]
  },
  {
    "id": "e7dbb42f6b57e7ed",
    "type": "ha-wait-until",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "60",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 3960,
    "y": 760,
    "wires": [
      [
        "99c11665f1ce940e"
      ],
      []
    ]
  },
  {
    "id": "b348709007cc3c6d",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4330,
    "y": 760,
    "wires": [
      [
        "92083edde6a1bc99"
      ]
    ]
  },
  {
    "id": "99c11665f1ce940e",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "Empty name",
    "func": "var newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": \" \"\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4130,
    "y": 760,
    "wires": [
      [
        "b348709007cc3c6d"
      ]
    ]
  },
  {
    "id": "23dab3195e4bf115",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 3900,
    "y": 600,
    "wires": [
      [
        "99c11665f1ce940e"
      ]
    ]
  },
  {
    "id": "92083edde6a1bc99",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4510,
    "y": 760,
    "wires": [
      [
        "62ebb57ee56b1998"
      ]
    ]
  },
  {
    "id": "d71380d25baade5a",
    "type": "subflow:233ac7dcd801a802",
    "z": "14484d2a357fa501",
    "name": "",
    "x": 3670,
    "y": 460,
    "wires": []
  },
  {
    "id": "49ff1245733f7615",
    "type": "subflow:233ac7dcd801a802",
    "z": "14484d2a357fa501",
    "name": "",
    "x": 3450,
    "y": 640,
    "wires": []
  },
  {
    "id": "d97a6ca5f29095fa",
    "type": "subflow:233ac7dcd801a802",
    "z": "14484d2a357fa501",
    "name": "",
    "x": 2890,
    "y": 1100,
    "wires": []
  },
  {
    "id": "04566cb55ad19575",
    "type": "subflow:233ac7dcd801a802",
    "z": "14484d2a357fa501",
    "name": "",
    "x": 4350,
    "y": 180,
    "wires": []
  },
  {
    "id": "dd61d0b2cad7a585",
    "type": "subflow:233ac7dcd801a802",
    "z": "14484d2a357fa501",
    "name": "",
    "x": 2870,
    "y": 840,
    "wires": []
  },
  {
    "id": "35a1804fd59f9be8",
    "type": "subflow:233ac7dcd801a802",
    "z": "14484d2a357fa501",
    "name": "",
    "x": 3110,
    "y": 260,
    "wires": []
  },
  {
    "id": "0da283caf2f22ca9",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "TV Announcement",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2210,
    "y": 540,
    "wires": [
      [
        "a9f7a85966e01bbb"
      ]
    ]
  },
  {
    "id": "5d8d33df42b78247",
    "type": "subflow:a4f0ac9a6eed6b71",
    "z": "14484d2a357fa501",
    "name": "TV Alerts",
    "x": 2440,
    "y": 540,
    "wires": []
  },
  {
    "id": "40200dddf08a041f",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3290,
    "y": 560,
    "wires": []
  },
  {
    "id": "c7edae404be99e1a",
    "type": "subflow:233ac7dcd801a802",
    "z": "14484d2a357fa501",
    "name": "",
    "x": 3210,
    "y": 520,
    "wires": []
  },
  {
    "id": "14a6954cfb02badb",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 2300,
    "y": 860,
    "wires": [
      [
        "5ced15bcb2b21f09"
      ]
    ]
  },
  {
    "id": "3a522a70e3e51c47",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_inital",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2540,
    "y": 1460,
    "wires": [
      [
        "266c477a16663fb0"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "b841b93f25f30a29",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{entity_inital.entity_id}}"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "payload.entity_id",
        "valueType": "msg"
      }
    ],
    "queue": "none",
    "x": 3000,
    "y": 1460,
    "wires": [
      [
        "7527924fc1f061a4",
        "e9ec6b1c73677558"
      ]
    ]
  },
  {
    "id": "266c477a16663fb0",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "payload.data.brightness_pct",
        "tot": "msg"
      },
      {
        "t": "move",
        "p": "color_value",
        "pt": "msg",
        "to": "payload.data.rgb_color",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2770,
    "y": 1460,
    "wires": [
      [
        "b841b93f25f30a29",
        "e9ec6b1c73677558"
      ]
    ]
  },
  {
    "id": "7527924fc1f061a4",
    "type": "trigger",
    "z": "14484d2a357fa501",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3200,
    "y": 1460,
    "wires": [
      [
        "22b5ad9b36ed6cc6"
      ]
    ]
  },
  {
    "id": "b64ae81ae20cf2a5",
    "type": "api-call-service",
    "z": "14484d2a357fa501",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3540,
    "y": 1460,
    "wires": [
      [
        "b0d705754518181d"
      ]
    ]
  },
  {
    "id": "b0d705754518181d",
    "type": "api-current-state",
    "z": "14484d2a357fa501",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3740,
    "y": 1460,
    "wires": [
      [
        "8ace3253f8070032"
      ]
    ]
  },
  {
    "id": "8ace3253f8070032",
    "type": "switch",
    "z": "14484d2a357fa501",
    "name": "!=same color",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3650,
    "y": 1420,
    "wires": [
      [
        "b64ae81ae20cf2a5"
      ]
    ]
  },
  {
    "id": "22b5ad9b36ed6cc6",
    "type": "function",
    "z": "14484d2a357fa501",
    "name": "",
    "func": "var brightness = msg.entity_inital.attributes.brightness;\nvar initial_color = msg.entity_inital.attributes.rgb_color;\nvar state = msg.entity_inital.state;\nvar entity = msg.entity_inital.entity_id;\nvar color_value = msg.payload.data.rgb_color;\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness\": brightness,\n                         \"rgb_color\": initial_color,\n                \"entity_id\": entity\n                    \n                },\n               \n                \"service\": \"turn_\" + state,\n                \"color_value\": color_value\n                \n               }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3360,
    "y": 1460,
    "wires": [
      [
        "b64ae81ae20cf2a5"
      ]
    ]
  },
  {
    "id": "e6776b38f590c7c8",
    "type": "change",
    "z": "14484d2a357fa501",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2250,
    "y": 1440,
    "wires": [
      [
        "3a522a70e3e51c47"
      ]
    ]
  },
  {
    "id": "78e3206309a9efd9",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 2040,
    "y": 1420,
    "wires": [
      [
        "e6776b38f590c7c8"
      ]
    ]
  },
  {
    "id": "e9ec6b1c73677558",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3000,
    "y": 1380,
    "wires": []
  },
  {
    "id": "ee4abadbba55767d",
    "type": "inject",
    "z": "14484d2a357fa501",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 2010,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "5df29bf9a155a455",
    "type": "debug",
    "z": "14484d2a357fa501",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2770,
    "y": 780,
    "wires": []
  }
]