node-red/flows/Face Reco 9.0.json
[
  {
    "id": "dd89857c15f353c7",
    "type": "tab",
    "label": "Face Reco 9.0",
    "disabled": true,
    "info": "",
    "env": []
  },
  {
    "id": "9b5bc74d89ac6854",
    "type": "junction",
    "z": "dd89857c15f353c7",
    "x": 740,
    "y": 1400,
    "wires": [
      [
        "3c28784c1321d67d"
      ]
    ]
  },
  {
    "id": "177471418c06f764",
    "type": "junction",
    "z": "dd89857c15f353c7",
    "x": 1120,
    "y": 1400,
    "wires": [
      [
        "3c28784c1321d67d"
      ]
    ]
  },
  {
    "id": "9c935c7956118916",
    "type": "junction",
    "z": "dd89857c15f353c7",
    "x": 3540,
    "y": 1560,
    "wires": [
      [
        "cc9b4a03e1350d55"
      ]
    ]
  },
  {
    "id": "0cfa322e2f86ac01",
    "type": "junction",
    "z": "dd89857c15f353c7",
    "x": 3500,
    "y": 1560,
    "wires": [
      [
        "cc9b4a03e1350d55"
      ]
    ]
  },
  {
    "id": "8494a9adf85edace",
    "type": "junction",
    "z": "dd89857c15f353c7",
    "x": 3620,
    "y": 1480,
    "wires": [
      [
        "7cb1321035bbdb44"
      ]
    ]
  },
  {
    "id": "7cb1321035bbdb44",
    "type": "junction",
    "z": "dd89857c15f353c7",
    "x": 3720,
    "y": 1480,
    "wires": [
      [
        "001784db32fff1e2"
      ]
    ]
  },
  {
    "id": "e2c29f7712b2d101",
    "type": "junction",
    "z": "dd89857c15f353c7",
    "x": 1020,
    "y": 1560,
    "wires": [
      [
        "2aafb5ed5fb7221d",
        "8b8ab6894608285c"
      ]
    ]
  },
  {
    "id": "e3a3ae9d2537c03e",
    "type": "server-state-changed",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_doorbell_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "None",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 300,
    "y": 520,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "911f051bb678cd1b",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2910,
    "y": 160,
    "wires": []
  },
  {
    "id": "5339f9d4e1b48ed7",
    "type": "server-state-changed",
    "z": "dd89857c15f353c7",
    "name": "Doorbell",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_doorbell_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "None",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 80,
    "y": 1480,
    "wires": [
      [
        "59f49b000db10ed9"
      ],
      []
    ]
  },
  {
    "id": "59f49b000db10ed9",
    "type": "trigger",
    "z": "dd89857c15f353c7",
    "name": "20s Cooldown",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 240,
    "y": 1480,
    "wires": [
      [
        "f0ad81c29d51bce5",
        "a8f19ee85e24054c"
      ]
    ]
  },
  {
    "id": "a8f19ee85e24054c",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Turn on Door Rang",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 450,
    "y": 1520,
    "wires": [
      [
        "9d0699203619db9f"
      ]
    ]
  },
  {
    "id": "9d0699203619db9f",
    "type": "ha-wait-until",
    "z": "dd89857c15f353c7",
    "name": "Wait for door to lock",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "60",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 660,
    "y": 1520,
    "wires": [
      [
        "717675b89a8e5a53"
      ],
      [
        "717675b89a8e5a53"
      ]
    ]
  },
  {
    "id": "717675b89a8e5a53",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Turn off \"Door rang\"",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 880,
    "y": 1520,
    "wires": [
      []
    ]
  },
  {
    "id": "3d6f34f957597508",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Double take URL set",
    "func": "// SETTINGS\nvar cameraurl = \"http://192.168.0.15:8123\" + msg.data.attributes.entity_picture;\n// SETTINGS\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"url\": \"http://192.168.0.14:3000/api/recognize?url=\" + cameraurl + \"&camera=camera.facecam\"\n   \t},\n   \t\"url\": \"http://192.168.0.14:3000/api/recognize?url=\" + cameraurl + \"&camera=camera.facecam\"\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "12d39ed3c0fd5f25",
    "type": "api-current-state",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "sensor.double_take_facecam",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 910,
    "y": 1480,
    "wires": [
      [
        "177471418c06f764"
      ],
      [
        "e2c29f7712b2d101"
      ]
    ]
  },
  {
    "id": "3c28784c1321d67d",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Face Extractor compare 10.4",
    "func": "var matches = msg.data.attributes.matches;\n//-----------------------------------------\nvar today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar hh = today.getHours();\nvar month = String(today.getMonth() + 1).padStart(2, '0');\nvar minutes = today.getMinutes();\nvar yyyy = today.getFullYear();\nvar today = yyyy + '-' + month  + '-' + dd + '---' + hh + minutes;\n\n//-----------------------------------------\n\nif ( matches.length > 0){\nmatches.sort(({confidence:a}, {confidence:b}) => b-a);\nvar highest_match = matches[0];\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": matches,\n\t\t\"highest_match\": highest_match ,\n\t\t\"image_url\": \"http://192.168.0.14:3000/api/storage/matches/\" + highest_match.filename,\n\t\t\"save_path\": \"/mnt/hass/\" + highest_match.name + \"/\" + today + \"---\" + highest_match.confidence + \".jpg\",\n\t\t\"confidence\": highest_match.confidence\n\t}\n}\n\nreturn newMsg;\n\n}\nelse {\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": \"none\"}}\n\nreturn newMsg; \n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1760,
    "y": 1400,
    "wires": [
      [
        "e5da28d1a2c6e1c8",
        "7a3e943cd0c65032"
      ]
    ]
  },
  {
    "id": "f0ad81c29d51bce5",
    "type": "api-current-state",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "sensor.double_take_front_door",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 530,
    "y": 1480,
    "wires": [
      [
        "2b2e4a2f72d68f73",
        "9b5bc74d89ac6854"
      ],
      [
        "12d39ed3c0fd5f25"
      ]
    ]
  },
  {
    "id": "84982b380a3a869b",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1960,
    "y": 1580,
    "wires": []
  },
  {
    "id": "8b0da6d89e41b31e",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Face Extractor compare 10.0",
    "func": "// SETTINGS\nvar required_conf = 80;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"\";\nvar conf = \"\";\nvar reconame = \"\";\nvar recognized = 69;\nvar confidence = \"\";\nvar reco = \"\";\nvar recognized_confidently = 0;\n//declarations\n\n    for (i = 0; i < msg.data.attributes.matches.length; i++){\n         for (y = 0; y < Object.keys(msg.data.attributes.matches[i]).length; y++){\n                var name = msg.data.attributes.matches[i][y][0];\n \t\t\t\tvar conf = msg.data.attributes.matches[i][y][1];\n \t\t\t\tvar camera = msg.data.attributes.matches[i][y][2];\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        }\n    }\n    var recomsg = {\n\t\"payload\": {\n\t\t\"recofacesortable\": recofacesortable\n\t}\n};\n\nreturn recomsg;\n    \n     \trecofacesortable.sort(function(a, b) {\n \t\treturn a[1] - b[1];\n \t}).reverse();\n \t\n\n    for (i = 0; i < recofacesortable.length; i++){\n        var reconame = recofacesortable[0][0];\n        var confidence = recofacesortable[0][1]\n        var camera = recofacesortable[0][2]\n        \n        \n    }\n\n\nif (confidence > required_conf) {\n\tvar recognized_confidently = 1;\n}\n\nif (confidence != \"\") {\n\tvar recognized = 1;\n} else if (confidence == \"\") {\n    var recognized = 0;\n} else { \n var recognized = \"bugging\";\n    \n}\n\n if (camera == \"camera.front_door\"){\n     var camera = \"camera.reolink_static\";\n } else if (camera == \"camera.facecam\"){\n     var camera = \"camera.facecam_static\"\n }\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"name\": reconame,\n\t\t\"confidence\": confidence,\n\t//\t\"matched_faces\": total_matched_faces,\n\t//\t\"total_faces\": total_faces,\n\t\t\"recognized_confidently\": recognized_confidently,\n\t\t\"recognized\": recognized,\n \t\t\"camera\": camera \n\t}\n};\n\nreturn newMsg;\n\n\n//  var test = {\n//  \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"matched_faces\": total_matched_faces,\n// \t\t\"total_faces\": total_faces,\n// \t\t\"recognized\": recognized,\n// \t\t\"camera\": camera ,\n// \t\t\"recofacesortable\": recofacesortable\n//  \t}\n//  };\n//  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "2b2e4a2f72d68f73",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 1300,
    "wires": []
  },
  {
    "id": "5945b7bdeca6f1f1",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2000,
    "y": 1760,
    "wires": []
  },
  {
    "id": "5775b7cccd31e62b",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Save Facecam Ring.jpg For Debug",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.facecam"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 900,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "4e0625ca602e7a8f",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Save Reolink.jpgFor Debug",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door"
    ],
    "data": "{\"filename\":\"/config/www/reolink.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 880,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "9fb469eeb7720250",
    "type": "http request",
    "z": "dd89857c15f353c7",
    "name": "[POST] Recognize Double-Take",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1870,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "d73bf749ab740a63",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "Doorbell pressed",
    "info": "",
    "x": 100,
    "y": 1440,
    "wires": []
  },
  {
    "id": "a6bc5667c6639558",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "20 seconds cooldown",
    "info": "",
    "x": 480,
    "y": 1200,
    "wires": []
  },
  {
    "id": "e3254a08ffcbaea5",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "Is double-take-front-door seeing someone?",
    "info": "",
    "x": 520,
    "y": 1440,
    "wires": []
  },
  {
    "id": "41b845b86c3c5d99",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "Is double-take-facecam seeing someone?",
    "info": "",
    "x": 1040,
    "y": 1060,
    "wires": []
  },
  {
    "id": "614f12eee2c671d3",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "1",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 270,
    "y": 1440,
    "wires": [
      [
        "f0ad81c29d51bce5"
      ]
    ]
  },
  {
    "id": "123f5ee375252c85",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "Maxi at door",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "data",
        "v": "{\"entity_id\":\"sensor.double_take_front_door\",\"state\":\"3\",\"attributes\":{\"id\":\"1659459685.953183-1shuyf\",\"duration\":3.53,\"timestamp\":\"2022-08-02T17:01:31.497Z\",\"attempts\":11,\"camera\":\"front_door\",\"zones\":[\"entrance\",\"faceshot_zone\"],\"misses\":[{\"name\":\"alphonso\",\"confidence\":79.16,\"match\":false,\"box\":{\"top\":210,\"left\":529,\"width\":85,\"height\":105},\"checks\":[\"box area too low: 8925 < 10000\"],\"type\":\"latest\",\"duration\":0.21,\"detector\":\"deepstack\",\"filename\":\"bcfcd360-f639-45ef-97fa-2f68aa01d8eb.jpg\",\"base64\":null},{\"name\":\"maxi\",\"confidence\":75.7,\"match\":false,\"box\":{\"top\":212,\"left\":354,\"width\":62,\"height\":95},\"checks\":[\"box area too low: 5890 < 10000\"],\"type\":\"latest\",\"duration\":0.19,\"detector\":\"deepstack\",\"filename\":\"49e449d6-65e0-45c6-a21d-237a673b91da.jpg\",\"base64\":null}],\"matches\":[{\"name\":\"maxi\",\"confidence\":72.28,\"match\":true,\"box\":{\"top\":220,\"left\":244,\"width\":102,\"height\":104},\"type\":\"latest\",\"duration\":0.19,\"detector\":\"deepstack\",\"filename\":\"2a731787-cb90-4c90-bbc2-05e910f1576e.jpg\",\"base64\":null},{\"name\":\"nate\",\"confidence\":72.15,\"match\":true,\"box\":{\"top\":228,\"left\":203,\"width\":106,\"height\":98},\"type\":\"snapshot\",\"duration\":0.2,\"detector\":\"deepstack\",\"filename\":\"b5678550-20b0-4b04-a1b5-db4297d7a7ed.jpg\",\"base64\":null}],\"personCount\":3,\"icon\":\"mdi:camera\",\"friendly_name\":\"double_take_front_door\"},\"last_changed\":\"2022-08-02T17:01:31.518682+00:00\",\"last_updated\":\"2022-08-02T17:01:31.518682+00:00\",\"context\":{\"id\":\"01G9FR2RZYY9SBNXVSHJ5T9E0S\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":1499,\"original_state\":\"3\"}",
        "vt": "json"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor.remote_doorbell_button_action",
    "payload": "3",
    "payloadType": "num",
    "x": 1510,
    "y": 1360,
    "wires": [
      [
        "3c28784c1321d67d"
      ]
    ]
  },
  {
    "id": "4e6508dd082279dc",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "Maxi recoed",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"matches\":[{\"name\":\"maxi\",\"confidence\":97.05,\"match\":true,\"box\":{\"top\":42,\"left\":6,\"width\":138,\"height\":171},\"type\":\"latest\",\"duration\":0,\"detector\":\"compreface\",\"filename\":\"248edd4f-c0e9-4060-88f5-ef9d9e36551d.jpg\",\"base64\":null}],\"highest_match\":{\"name\":\"maxi\",\"confidence\":97.05,\"match\":true,\"box\":{\"top\":42,\"left\":6,\"width\":138,\"height\":171},\"type\":\"latest\",\"duration\":0,\"detector\":\"compreface\",\"filename\":\"248edd4f-c0e9-4060-88f5-ef9d9e36551d.jpg\",\"base64\":null},\"image_url\":\"http://192.168.0.14:3000/api/storage/matches/248edd4f-c0e9-4060-88f5-ef9d9e36551d.jpg\"}",
    "payloadType": "json",
    "x": 1810,
    "y": 1480,
    "wires": [
      [
        "84982b380a3a869b"
      ]
    ]
  },
  {
    "id": "2a6a536226e61940",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Javascript",
    "func": "var name = msg.payload.highest_match.name;\nvar url = msg.payload.save_path.replace(\"/mnt/hass\",\"https://hass.purgatoire.ca/local/nodered/\")\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": url,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Enter Text\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2280,
    "y": 1500,
    "wires": [
      [
        "58d1fd26ab7e5f70"
      ]
    ]
  },
  {
    "id": "58d1fd26ab7e5f70",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_galaxy_fold_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2490,
    "y": 1440,
    "wires": [
      [
        "e9e86f9f799dfc77",
        "7e4a013511f695fb",
        "a0c364c1923cfa06"
      ]
    ]
  },
  {
    "id": "32cedbc3a70263d5",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Javascript",
    "func": "var name = \"Someone\";\nvar url = \"https://hass.purgatoire.ca/local/reolinkring.jpg\";\nvar random = Date.now();\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": url + \"?\" + random,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Enter Text\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2120,
    "y": 1300,
    "wires": [
      [
        "ca897dec181fdc7d"
      ]
    ]
  },
  {
    "id": "ca897dec181fdc7d",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_galaxy_fold_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2370,
    "y": 1300,
    "wires": [
      [
        "3a18cd6f1cd00ffc",
        "f415b56cb85073c5"
      ]
    ]
  },
  {
    "id": "97040eba8079d710",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "LINK TO FIX DOORBELL",
    "info": "",
    "x": 1450,
    "y": 560,
    "wires": []
  },
  {
    "id": "7e4a013511f695fb",
    "type": "change",
    "z": "dd89857c15f353c7",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "move",
        "p": "payload.data.title",
        "pt": "msg",
        "to": "message",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "video",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2820,
    "y": 1420,
    "wires": [
      [
        "e7bb87f2ce260b7c",
        "085bae77e989c9f5"
      ]
    ]
  },
  {
    "id": "e7bb87f2ce260b7c",
    "type": "subflow:233ac7dcd801a802",
    "z": "dd89857c15f353c7",
    "name": "",
    "x": 3050,
    "y": 1420,
    "wires": []
  },
  {
    "id": "e9e86f9f799dfc77",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2710,
    "y": 1660,
    "wires": []
  },
  {
    "id": "085bae77e989c9f5",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3010,
    "y": 1360,
    "wires": []
  },
  {
    "id": "e5da28d1a2c6e1c8",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "debug 18",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1800,
    "y": 1360,
    "wires": []
  },
  {
    "id": "7a3e943cd0c65032",
    "type": "switch",
    "z": "dd89857c15f353c7",
    "name": "Matches?",
    "property": "payload.matches",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "none",
        "vt": "str"
      },
      {
        "t": "nempty"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2000,
    "y": 1400,
    "wires": [
      [
        "5a9b99ad63b0e10d",
        "c183cccda922e06d"
      ],
      [
        "2a6a536226e61940"
      ]
    ]
  },
  {
    "id": "2aafb5ed5fb7221d",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Save Reolink.jpg for ingress",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door"
    ],
    "data": "{\"filename\":\"/config/www/reolink.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1160,
    "y": 1540,
    "wires": [
      [
        "de195cac02da5925"
      ]
    ]
  },
  {
    "id": "f415b56cb85073c5",
    "type": "change",
    "z": "dd89857c15f353c7",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "move",
        "p": "payload.data.title",
        "pt": "msg",
        "to": "message",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "video",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2720,
    "y": 1300,
    "wires": [
      [
        "74ae8cacb6d117d0"
      ]
    ]
  },
  {
    "id": "74ae8cacb6d117d0",
    "type": "subflow:233ac7dcd801a802",
    "z": "dd89857c15f353c7",
    "name": "",
    "x": 2970,
    "y": 1300,
    "wires": []
  },
  {
    "id": "4dcbf0f53e16ca0a",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "Save Reolink.jpg",
    "info": "",
    "x": 1200,
    "y": 1500,
    "wires": []
  },
  {
    "id": "84c1917b4af61c0e",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "No matches",
    "info": "",
    "x": 2130,
    "y": 1340,
    "wires": []
  },
  {
    "id": "2d52e4dfe1464a83",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "Matches over 85%",
    "info": "",
    "x": 2790,
    "y": 1560,
    "wires": []
  },
  {
    "id": "3a9125b4093ed157",
    "type": "api-current-state",
    "z": "dd89857c15f353c7",
    "name": "Acid time off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3210,
    "y": 1540,
    "wires": [
      [
        "25f8feee00f8a4ca"
      ],
      []
    ]
  },
  {
    "id": "813d47bcf5474aba",
    "type": "api-current-state",
    "z": "dd89857c15f353c7",
    "name": "Front House Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_front",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3270,
    "y": 1460,
    "wires": [
      [
        "25f8feee00f8a4ca"
      ],
      []
    ]
  },
  {
    "id": "25f8feee00f8a4ca",
    "type": "api-current-state",
    "z": "dd89857c15f353c7",
    "name": "kink off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3400,
    "y": 1540,
    "wires": [
      [
        "92b9b19da0cc50b3",
        "0cfa322e2f86ac01"
      ],
      []
    ]
  },
  {
    "id": "cc9b4a03e1350d55",
    "type": "api-current-state",
    "z": "dd89857c15f353c7",
    "name": "Waiting Friend?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_someone",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3640,
    "y": 1560,
    "wires": [
      [
        "001784db32fff1e2"
      ],
      []
    ]
  },
  {
    "id": "92b9b19da0cc50b3",
    "type": "api-current-state",
    "z": "dd89857c15f353c7",
    "name": "Party on",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3540,
    "y": 1500,
    "wires": [
      [
        "8494a9adf85edace"
      ],
      [
        "9c935c7956118916"
      ]
    ]
  },
  {
    "id": "47f7f690aa57721a",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "unLock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3950,
    "y": 1540,
    "wires": [
      [
        "9f712fd9a5e423d9",
        "12255b636177e345"
      ]
    ]
  },
  {
    "id": "9f712fd9a5e423d9",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "unlock",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4090,
    "y": 1500,
    "wires": []
  },
  {
    "id": "12255b636177e345",
    "type": "ha-wait-until",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4100,
    "y": 1540,
    "wires": [
      [
        "e6d464424eb269b3"
      ],
      []
    ]
  },
  {
    "id": "e6d464424eb269b3",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4260,
    "y": 1540,
    "wires": [
      [
        "6080d27c4c13a53e"
      ]
    ]
  },
  {
    "id": "6080d27c4c13a53e",
    "type": "ha-wait-until",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4440,
    "y": 1540,
    "wires": [
      [
        "f21a81aa4f977386"
      ],
      [
        "f21a81aa4f977386"
      ]
    ]
  },
  {
    "id": "f21a81aa4f977386",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized",
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4620,
    "y": 1540,
    "wires": [
      [
        "b4db6f7962fed84e"
      ]
    ]
  },
  {
    "id": "9f08c99e58fab78f",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 4420,
    "y": 1640,
    "wires": [
      [
        "f21a81aa4f977386"
      ]
    ]
  },
  {
    "id": "b4db6f7962fed84e",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": " {             \"value\": \"UNKNOWN\"         }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4830,
    "y": 1540,
    "wires": [
      []
    ]
  },
  {
    "id": "001784db32fff1e2",
    "type": "trigger",
    "z": "dd89857c15f353c7",
    "name": "1",
    "op1": "1",
    "op2": "",
    "op1type": "num",
    "op2type": "nul",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3810,
    "y": 1540,
    "wires": [
      [
        "47f7f690aa57721a"
      ]
    ]
  },
  {
    "id": "cc3499d9e94623c4",
    "type": "api-current-state",
    "z": "dd89857c15f353c7",
    "name": "Waiting Uber off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3020,
    "y": 1540,
    "wires": [
      [
        "3a9125b4093ed157"
      ],
      []
    ]
  },
  {
    "id": "8b8ab6894608285c",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Save Ring.jpg for ingress",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.facecam"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1150,
    "y": 1580,
    "wires": [
      [
        "bba1e45017de6f51"
      ]
    ]
  },
  {
    "id": "bba1e45017de6f51",
    "type": "http request",
    "z": "dd89857c15f353c7",
    "name": "POST request",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/ring.jpg&camera=camera.facecam",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1380,
    "y": 1580,
    "wires": [
      [
        "46dfa9ffd07570ac"
      ]
    ]
  },
  {
    "id": "972f72dcf25a5390",
    "type": "change",
    "z": "dd89857c15f353c7",
    "name": "Move matches",
    "rules": [
      {
        "t": "move",
        "p": "payload.matches",
        "pt": "msg",
        "to": "data.attributes.matches",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1680,
    "y": 1560,
    "wires": [
      [
        "5945b7bdeca6f1f1",
        "3c28784c1321d67d"
      ]
    ]
  },
  {
    "id": "3ed2d0362f2fb2d4",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Face Extractor compare 10.0",
    "func": "var matches = msg.data.attributes.matches;\n//-----------------------------------------\nvar today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar hh = today.getHours();\nvar month = String(today.getMonth() + 1).padStart(2, '0');\nvar minutes = today.getMinutes();\nvar yyyy = today.getFullYear();\nvar today = yyyy + '-' + month  + '-' + dd + '---' + hh + minutes;\n\n//-----------------------------------------\n\nif ( matches.length > 0){\nmatches.sort(function(a, b) {return a[1] - b[1];}).reverse();\n\nvar highest_match = matches[0];\n\nif (highest_match.confidence > 85){\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": matches,\n\t\t\"highest_match\": highest_match ,\n\t\t\"image_url\": \"http://192.168.0.14:3000/api/storage/matches/\" + highest_match.filename,\n\t\t\"save_path\": \"/mnt/hass/\" + highest_match.name + \"/\" + today + \"---\" + highest_match.confidence + \".jpg\"\n\t}\n}\n\nreturn newMsg;\n} else {\n    var newMsg = {\n\t\"payload\": {\n\t\t\"matches\": \"none\"}}\n\nreturn newMsg; \n}\n}\nelse {\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": \"none\"}}\n\nreturn newMsg; \n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1800,
    "y": 1060,
    "wires": [
      []
    ]
  },
  {
    "id": "a0c364c1923cfa06",
    "type": "switch",
    "z": "dd89857c15f353c7",
    "name": "Confidence > 85",
    "property": "payload.highest_match.confidence",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "85",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2800,
    "y": 1520,
    "wires": [
      [
        "cc3499d9e94623c4"
      ]
    ]
  },
  {
    "id": "b64c54bd69ba1414",
    "type": "comment",
    "z": "dd89857c15f353c7",
    "name": "Is double-take-facecam seeing someone?",
    "info": "",
    "x": 900,
    "y": 1440,
    "wires": []
  },
  {
    "id": "46dfa9ffd07570ac",
    "type": "join",
    "z": "dd89857c15f353c7",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "7",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 1530,
    "y": 1560,
    "wires": [
      [
        "972f72dcf25a5390"
      ]
    ]
  },
  {
    "id": "de195cac02da5925",
    "type": "http request",
    "z": "dd89857c15f353c7",
    "name": "POST request",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/reolink.jpg&camera=camera.front_door",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1380,
    "y": 1540,
    "wires": [
      [
        "46dfa9ffd07570ac"
      ]
    ]
  },
  {
    "id": "39b095ab9eebbffd",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Face Extractor compare 10.1",
    "func": "var matches = msg.data.attributes.matches;\n//-----------------------------------------\nvar today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar hh = today.getHours();\nvar month = String(today.getMonth() + 1).padStart(2, '0');\nvar minutes = today.getMinutes();\nvar yyyy = today.getFullYear();\nvar today = yyyy + '-' + month  + '-' + dd + '---' + hh + minutes;\n\n//-----------------------------------------\n\nif ( matches.length > 0){\nmatches.sort(function(a, b) {return a[1] - b[1];}).reverse();\n\nvar highest_match = matches[0];\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": matches,\n\t\t\"highest_match\": highest_match ,\n\t\t\"image_url\": \"http://192.168.0.14:3000/api/storage/matches/\" + highest_match.filename,\n\t\t\"save_path\": \"/mnt/hass/\" + highest_match.name + \"/\" + today + \"---\" + highest_match.confidence + \".jpg\",\n\t\t\"confidence\": highest_match.confidence\n\t}\n}\n\nreturn newMsg;\n\n}\nelse {\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": \"none\"}}\n\nreturn newMsg; \n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1800,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "5584461278c6fbeb",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Face Extractor compare 5.1",
    "func": "// SETTINGS\nvar required_conf = 80;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar reco = \"\";\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n         for (y = 0; y < Object.keys(msg.payload.matches[i]).length; y++){\n                var name = msg.payload.matches[i][y][0];\n \t\t\t\tvar conf = msg.payload.matches[i][y][1];\n \t\t\t\tvar camera = msg.payload.matches[i][y][2];\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        }\n    }\n    \n    \n     \trecofacesortable.sort(function(a, b) {\n \t\treturn a[1] - b[1];\n \t}).reverse();\n \t\n    for (i = 0; i < recofacesortable.length; i++){\n        var reconame = recofacesortable[0][0];\n        var confidence = recofacesortable[0][1]\n        var camera = recofacesortable[0][2]\n        \n        \n    }\n\n\n\nif (confidence > required_conf) {\n\tvar recognized = 1;\n} else {\n\tvar recognized = 0;\n}\n\n if (camera == \"camera.front_door\"){\n     var camera = \"camera.reolink_static\";\n } else if (camera == \"camera.facecam\"){\n     var camera = \"camera.facecam_static\"\n }\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"name\": reconame,\n\t\t\"confidence\": confidence,\n\t//\t\"matched_faces\": total_matched_faces,\n\t//\t\"total_faces\": total_faces,\n\t\t\"recognized\": recognized,\n \t\t\"camera\": camera \n\t}\n};\n\nreturn newMsg;\n\n\n//  var test = {\n//  \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"matched_faces\": total_matched_faces,\n// \t\t\"total_faces\": total_faces,\n// \t\t\"recognized\": recognized,\n// \t\t\"camera\": camera ,\n// \t\t\"recofacesortable\": recofacesortable\n//  \t}\n//  };\n//  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1800,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "ca9e4a8107a70787",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Face Extractor compare 10.2",
    "func": "var matches = msg.data.attributes.matches;\nvar recofacesortable = [];\n//-----------------------------------------\nvar today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar hh = today.getHours();\nvar month = String(today.getMonth() + 1).padStart(2, '0');\nvar minutes = today.getMinutes();\nvar yyyy = today.getFullYear();\nvar today = yyyy + '-' + month  + '-' + dd + '---' + hh + minutes;\n\n//-----------------------------------------\n\n\nif ( matches.length > 0){\n    \nfor (i = 0; i < matches.length; i++){\n    \n    if (matches[i].length > 0){\n\nrecofacesortable.push([name, confidence, filename]);\n}\n}\nrecofacesortable.sort(function(a, b) {return a[1] - b[1];}).reverse();\n\nvar highest_match = recofacesortable[0];\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": matches,\n\t\t\"highest_match\": highest_match ,\n\t\t\"image_url\": \"http://192.168.0.14:3000/api/storage/matches/\" + highest_match.filename,\n\t\t\"save_path\": \"/mnt/hass/\" + highest_match.name + \"/\" + today + \"---\" + highest_match.confidence + \".jpg\",\n\t\t\"confidence\": highest_match.confidence\n\t}\n}\n\nreturn newMsg;\n}\nelse {\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": \"none\"}}\n\nreturn newMsg; \n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1800,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "02421cc520e1fe71",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "Maxi recoed",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"matches\":[{\"name\":\"maxi\",\"confidence\":97.05,\"match\":true,\"box\":{\"top\":42,\"left\":6,\"width\":138,\"height\":171},\"type\":\"latest\",\"duration\":0,\"detector\":\"compreface\",\"filename\":\"248edd4f-c0e9-4060-88f5-ef9d9e36551d.jpg\",\"base64\":null}],\"highest_match\":{\"name\":\"maxi\",\"confidence\":97.05,\"match\":true,\"box\":{\"top\":42,\"left\":6,\"width\":138,\"height\":171},\"type\":\"latest\",\"duration\":0,\"detector\":\"compreface\",\"filename\":\"248edd4f-c0e9-4060-88f5-ef9d9e36551d.jpg\",\"base64\":null},\"image_url\":\"http://192.168.0.14:3000/api/storage/matches/248edd4f-c0e9-4060-88f5-ef9d9e36551d.jpg\"}",
    "payloadType": "json",
    "x": 2890,
    "y": 1600,
    "wires": [
      [
        "cc3499d9e94623c4"
      ]
    ]
  },
  {
    "id": "0b9af757ed9854ac",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Face Extractor compare 10.1",
    "func": "var matches = msg.data.attributes.matches;\n//-----------------------------------------\nvar today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar hh = today.getHours();\nvar month = String(today.getMonth() + 1).padStart(2, '0');\nvar minutes = today.getMinutes();\nvar yyyy = today.getFullYear();\nvar today = yyyy + '-' + month  + '-' + dd + '---' + hh + minutes;\n\n//-----------------------------------------\n\nif ( matches.length > 0){\nmatches.sort(function(a, b) {return a[1] - b[1];}).reverse();\n\nvar highest_match = matches[0];\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": matches,\n\t\t\"highest_match\": highest_match ,\n\t\t\"image_url\": \"http://192.168.0.14:3000/api/storage/matches/\" + highest_match.filename,\n\t\t\"save_path\": \"/mnt/hass/\" + highest_match.name + \"/\" + today + \"---\" + highest_match.confidence + \".jpg\",\n\t\t\"confidence\": highest_match.confidence\n\t}\n}\n\nreturn newMsg;\n\n}\nelse {\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"matches\": \"none\"}}\n\nreturn newMsg; \n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1800,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "5a9b99ad63b0e10d",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Save Reolink.jpg for notif",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door_camera_person"
    ],
    "data": "{\"filename\":\"/config/www/reolinkring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1930,
    "y": 1300,
    "wires": [
      [
        "32cedbc3a70263d5"
      ]
    ]
  },
  {
    "id": "2b01aa4d53a72942",
    "type": "server-events",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 510,
    "y": 2060,
    "wires": [
      [
        "c02a5fbe787f494c",
        "b204f545004af541"
      ]
    ]
  },
  {
    "id": "c02a5fbe787f494c",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "actionable",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 1940,
    "wires": []
  },
  {
    "id": "b204f545004af541",
    "type": "switch",
    "z": "dd89857c15f353c7",
    "name": "",
    "property": "payload.event.action_1_title",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Enter Text",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 750,
    "y": 2120,
    "wires": [
      [
        "c0da18a53116c3bd",
        "5e5f5fd648ca6fd0"
      ]
    ]
  },
  {
    "id": "c0da18a53116c3bd",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Javascript",
    "func": "var text = msg.payload.event.reply_text;\n\n\n\nvar newMsg = {\n    \"text\": msg.payload.event.image,\n    \"payload\": {\n        \"data\": {\n            \"value\": text\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 2180,
    "wires": [
      [
        "5e5f5fd648ca6fd0",
        "9b02d7dfc1fe644e"
      ]
    ]
  },
  {
    "id": "5e5f5fd648ca6fd0",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "actionable",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1050,
    "y": 2060,
    "wires": []
  },
  {
    "id": "776066a2f5ffd3ea",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1980,
    "y": 2080,
    "wires": [
      []
    ]
  },
  {
    "id": "9b02d7dfc1fe644e",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.front_door_phone_text"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1070,
    "y": 2180,
    "wires": [
      [
        "3c23b48c5835cf28"
      ]
    ]
  },
  {
    "id": "01d31433b8cc6c52",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.front_door_phone_text"
    ],
    "data": "{\"value\":\"Empty\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1770,
    "y": 2180,
    "wires": [
      []
    ]
  },
  {
    "id": "5ab089c1d413064b",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1300,
    "y": 2000,
    "wires": [
      [
        "01d31433b8cc6c52"
      ]
    ]
  },
  {
    "id": "f90dcdf6497b6ea0",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 2500,
    "y": 1200,
    "wires": [
      [
        "f415b56cb85073c5"
      ]
    ]
  },
  {
    "id": "3c23b48c5835cf28",
    "type": "trigger",
    "z": "dd89857c15f353c7",
    "name": "",
    "op1": "",
    "op2": "Empty",
    "op1type": "nul",
    "op2type": "str",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1310,
    "y": 2180,
    "wires": [
      [
        "01d31433b8cc6c52"
      ]
    ]
  },
  {
    "id": "ebb7333b43a91f16",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "Maxi at door",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "data",
        "v": "{\"entity_id\":\"sensor.double_take_front_door\",\"state\":\"3\",\"attributes\":{\"id\":\"1659459685.953183-1shuyf\",\"duration\":3.53,\"timestamp\":\"2022-08-02T17:01:31.497Z\",\"attempts\":11,\"camera\":\"front_door\",\"zones\":[\"entrance\",\"faceshot_zone\"],\"misses\":[{\"name\":\"alphonso\",\"confidence\":79.16,\"match\":false,\"box\":{\"top\":210,\"left\":529,\"width\":85,\"height\":105},\"checks\":[\"box area too low: 8925 < 10000\"],\"type\":\"latest\",\"duration\":0.21,\"detector\":\"deepstack\",\"filename\":\"bcfcd360-f639-45ef-97fa-2f68aa01d8eb.jpg\",\"base64\":null},{\"name\":\"maxi\",\"confidence\":75.7,\"match\":false,\"box\":{\"top\":212,\"left\":354,\"width\":62,\"height\":95},\"checks\":[\"box area too low: 5890 < 10000\"],\"type\":\"latest\",\"duration\":0.19,\"detector\":\"deepstack\",\"filename\":\"49e449d6-65e0-45c6-a21d-237a673b91da.jpg\",\"base64\":null}],\"matches\":[{\"name\":\"maxi\",\"confidence\":72.28,\"match\":true,\"box\":{\"top\":220,\"left\":244,\"width\":102,\"height\":104},\"type\":\"latest\",\"duration\":0.19,\"detector\":\"deepstack\",\"filename\":\"2a731787-cb90-4c90-bbc2-05e910f1576e.jpg\",\"base64\":null},{\"name\":\"nate\",\"confidence\":72.15,\"match\":true,\"box\":{\"top\":228,\"left\":203,\"width\":106,\"height\":98},\"type\":\"snapshot\",\"duration\":0.2,\"detector\":\"deepstack\",\"filename\":\"b5678550-20b0-4b04-a1b5-db4297d7a7ed.jpg\",\"base64\":null}],\"personCount\":3,\"icon\":\"mdi:camera\",\"friendly_name\":\"double_take_front_door\"},\"last_changed\":\"2022-08-02T17:01:31.518682+00:00\",\"last_updated\":\"2022-08-02T17:01:31.518682+00:00\",\"context\":{\"id\":\"01G9FR2RZYY9SBNXVSHJ5T9E0S\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":1499,\"original_state\":\"3\"}",
        "vt": "json"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor.remote_doorbell_button_action",
    "payload": "3",
    "payloadType": "num",
    "x": 1650,
    "y": 1280,
    "wires": [
      [
        "5a9b99ad63b0e10d",
        "c183cccda922e06d"
      ]
    ]
  },
  {
    "id": "cba214656fa06f15",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "Maxi at door",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "data",
        "v": "{\"entity_id\":\"sensor.double_take_front_door\",\"state\":\"3\",\"attributes\":{\"id\":\"1659459685.953183-1shuyf\",\"duration\":3.53,\"timestamp\":\"2022-08-02T17:01:31.497Z\",\"attempts\":11,\"camera\":\"front_door\",\"zones\":[\"entrance\",\"faceshot_zone\"],\"misses\":[{\"name\":\"alphonso\",\"confidence\":79.16,\"match\":false,\"box\":{\"top\":210,\"left\":529,\"width\":85,\"height\":105},\"checks\":[\"box area too low: 8925 < 10000\"],\"type\":\"latest\",\"duration\":0.21,\"detector\":\"deepstack\",\"filename\":\"bcfcd360-f639-45ef-97fa-2f68aa01d8eb.jpg\",\"base64\":null},{\"name\":\"maxi\",\"confidence\":75.7,\"match\":false,\"box\":{\"top\":212,\"left\":354,\"width\":62,\"height\":95},\"checks\":[\"box area too low: 5890 < 10000\"],\"type\":\"latest\",\"duration\":0.19,\"detector\":\"deepstack\",\"filename\":\"49e449d6-65e0-45c6-a21d-237a673b91da.jpg\",\"base64\":null}],\"matches\":[{\"name\":\"maxi\",\"confidence\":72.28,\"match\":true,\"box\":{\"top\":220,\"left\":244,\"width\":102,\"height\":104},\"type\":\"latest\",\"duration\":0.19,\"detector\":\"deepstack\",\"filename\":\"2a731787-cb90-4c90-bbc2-05e910f1576e.jpg\",\"base64\":null},{\"name\":\"nate\",\"confidence\":72.15,\"match\":true,\"box\":{\"top\":228,\"left\":203,\"width\":106,\"height\":98},\"type\":\"snapshot\",\"duration\":0.2,\"detector\":\"deepstack\",\"filename\":\"b5678550-20b0-4b04-a1b5-db4297d7a7ed.jpg\",\"base64\":null}],\"personCount\":3,\"icon\":\"mdi:camera\",\"friendly_name\":\"double_take_front_door\"},\"last_changed\":\"2022-08-02T17:01:31.518682+00:00\",\"last_updated\":\"2022-08-02T17:01:31.518682+00:00\",\"context\":{\"id\":\"01G9FR2RZYY9SBNXVSHJ5T9E0S\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":1499,\"original_state\":\"3\"}",
        "vt": "json"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor.remote_doorbell_button_action",
    "payload": "3",
    "payloadType": "num",
    "x": 2210,
    "y": 1220,
    "wires": [
      []
    ]
  },
  {
    "id": "3a18cd6f1cd00ffc",
    "type": "debug",
    "z": "dd89857c15f353c7",
    "name": "debug 177",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2590,
    "y": 1240,
    "wires": []
  },
  {
    "id": "e474e1b9570f0a2f",
    "type": "function",
    "z": "dd89857c15f353c7",
    "name": "Javascript",
    "func": "var name = \"Someone\";\nvar url = \"https://hass.purgatoire.ca/local/faceshot.jpg\";\nvar random = Date.now();\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": url + \"?\" + random,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Enter Text\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2100,
    "y": 1260,
    "wires": [
      [
        "e92f1d561b9915fa"
      ]
    ]
  },
  {
    "id": "e92f1d561b9915fa",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_galaxy_fold_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2350,
    "y": 1260,
    "wires": [
      []
    ]
  },
  {
    "id": "c183cccda922e06d",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Save Reolink.jpg for notif",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.faceshot_camera_person"
    ],
    "data": "{\"filename\":\"/config/www/faceshot.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1910,
    "y": 1260,
    "wires": [
      [
        "e474e1b9570f0a2f"
      ]
    ]
  },
  {
    "id": "d561e196abe3e3fe",
    "type": "inject",
    "z": "dd89857c15f353c7",
    "name": "1",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 310,
    "y": 880,
    "wires": [
      [
        "08afb0445661ccf3"
      ]
    ]
  },
  {
    "id": "08afb0445661ccf3",
    "type": "api-call-service",
    "z": "dd89857c15f353c7",
    "name": "Save Facecam Ring.jpg For Debug",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.faceshot_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 560,
    "y": 880,
    "wires": [
      [
        "4effb35fd04eac34"
      ]
    ]
  },
  {
    "id": "8ccb85b20be35531",
    "type": "http request",
    "z": "dd89857c15f353c7",
    "name": "POST request",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/ring.jpg&camera=camera.facecam",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "4effb35fd04eac34",
    "type": "trigger",
    "z": "dd89857c15f353c7",
    "name": "20s Cooldown",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "3",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 800,
    "y": 880,
    "wires": [
      [
        "8ccb85b20be35531"
      ]
    ]
  }
]