node-red/flows/Facial Reco 6.0 Double-Stack.json
[
  {
    "id": "dc434684164184f3",
    "type": "tab",
    "label": "Facial Reco 6.0 Double-Stack",
    "disabled": true,
    "info": ""
  },
  {
    "id": "f81f9066c3642e33",
    "type": "switch",
    "z": "dc434684164184f3",
    "name": "click",
    "property": "payload.event.command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(click)",
        "vt": "str",
        "case": true
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 250,
    "y": 840,
    "wires": [
      [
        "e454c3be539b6285",
        "d56d0261de5b568d"
      ]
    ]
  },
  {
    "id": "d0439c4b4704092f",
    "type": "server-events",
    "z": "dc434684164184f3",
    "name": "Ringer",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "zha_event",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 110,
    "y": 840,
    "wires": [
      [
        "f81f9066c3642e33"
      ]
    ]
  },
  {
    "id": "fcbc2284bd9e9322",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "45",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 840,
    "wires": [
      [
        "73d5a5506a43fcd1",
        "615613db29724c87",
        "e919893a9841580a"
      ]
    ]
  },
  {
    "id": "73d5a5506a43fcd1",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "Snapshots",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 790,
    "y": 860,
    "wires": [
      [
        "7c8ab89cab1b4956",
        "d49d22ab07c3d2ee"
      ]
    ]
  },
  {
    "id": "10758c426a0858aa",
    "type": "inject",
    "z": "dc434684164184f3",
    "name": "scan",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 2130,
    "y": 600,
    "wires": [
      [
        "9360acda1b161468",
        "d49d22ab07c3d2ee"
      ]
    ]
  },
  {
    "id": "4185710a31385ab9",
    "type": "switch",
    "z": "dc434684164184f3",
    "name": "Recod Faces 1/0",
    "property": "payload.recognized",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1990,
    "y": 820,
    "wires": [
      [
        "b4835ffffced14cd"
      ],
      [
        "2830e93ceb0cef1f"
      ]
    ]
  },
  {
    "id": "ca373eccc666f38c",
    "type": "api-current-state",
    "z": "dc434684164184f3",
    "name": "party on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2420,
    "y": 800,
    "wires": [
      [
        "89af71618b9c0faa"
      ],
      [
        "040c177eb917a566"
      ]
    ]
  },
  {
    "id": "d111259afef6d892",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3370,
    "y": 800,
    "wires": [
      [
        "c8843b8ac78ff90b"
      ]
    ]
  },
  {
    "id": "a9bdbe5fe49d2b6e",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Name Payload",
    "func": "var name = msg.payload.name;\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": name\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3440,
    "y": 960,
    "wires": [
      [
        "7a162e600a9e97be"
      ]
    ]
  },
  {
    "id": "040c177eb917a566",
    "type": "api-current-state",
    "z": "dc434684164184f3",
    "name": "Waiting Friend?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_someone",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2460,
    "y": 840,
    "wires": [
      [
        "89af71618b9c0faa"
      ],
      [
        "06d4b8e6ac09e9b5"
      ]
    ]
  },
  {
    "id": "c8843b8ac78ff90b",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Set Path",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\"+m;\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n    \"media_content_id\": url,\n    \"media_content_type\": \"image/jpg\"\n                      }\n                }         \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3500,
    "y": 800,
    "wires": [
      [
        "bc521ef8b67af4c3"
      ]
    ]
  },
  {
    "id": "7a162e600a9e97be",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3670,
    "y": 960,
    "wires": [
      []
    ]
  },
  {
    "id": "b499a1d86fc0a256",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3900,
    "y": 840,
    "wires": [
      [
        "c8765eb38fe5e2eb"
      ]
    ]
  },
  {
    "id": "bc521ef8b67af4c3",
    "type": "subflow:eb3b6592c8406c0d",
    "z": "dc434684164184f3",
    "name": "",
    "env": [],
    "x": 3730,
    "y": 780,
    "wires": []
  },
  {
    "id": "c8765eb38fe5e2eb",
    "type": "ha-wait-until",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.door_front_outside",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "on",
    "valueType": "str",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 4080,
    "y": 820,
    "wires": [
      [
        "6a1b71bb3d5da029"
      ],
      [
        "6a1b71bb3d5da029"
      ]
    ]
  },
  {
    "id": "6a1b71bb3d5da029",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4320,
    "y": 800,
    "wires": [
      [
        "54512cfe53d49af7"
      ]
    ]
  },
  {
    "id": "54512cfe53d49af7",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4480,
    "y": 860,
    "wires": [
      [
        "02440b086a01d79d"
      ]
    ]
  },
  {
    "id": "02440b086a01d79d",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Name Payload",
    "func": "var newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": \"UNKNOWN\"\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4620,
    "y": 800,
    "wires": [
      [
        "fd73e469e2a05453"
      ]
    ]
  },
  {
    "id": "fd73e469e2a05453",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4830,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "cc7516bbde4f135b",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "Compare",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1900,
    "y": 660,
    "wires": []
  },
  {
    "id": "e2e0e39a2bb3932e",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "unlock",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3810,
    "y": 900,
    "wires": []
  },
  {
    "id": "aa27da83f6d208af",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Set Path",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\"+m;\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n    \"media_content_id\": url,\n    \"media_content_type\": \"image/jpg\"\n                      }\n                }         \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2720,
    "y": 880,
    "wires": [
      [
        "67210b69f6801374"
      ]
    ]
  },
  {
    "id": "67210b69f6801374",
    "type": "subflow:eb3b6592c8406c0d",
    "z": "dc434684164184f3",
    "name": "",
    "env": [],
    "x": 2890,
    "y": 880,
    "wires": []
  },
  {
    "id": "06d4b8e6ac09e9b5",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "Not waiting",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2550,
    "y": 900,
    "wires": [
      [
        "aa27da83f6d208af",
        "32fd5b7cc87fce18"
      ]
    ]
  },
  {
    "id": "aa4d207fc89018f6",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1950,
    "y": 1520,
    "wires": [
      [
        "f9c54cc9d58ea2ce",
        "1f05f8606cdaa521",
        "59c279e0d389e66e",
        "12161e79cce07bcd"
      ]
    ]
  },
  {
    "id": "f9c54cc9d58ea2ce",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Set Path",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\"+m;\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n    \"media_content_id\": url,\n    \"media_content_type\": \"image/jpg\"\n                      }\n                }         \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 2200,
    "y": 1520,
    "wires": [
      [
        "b5b3990469a88f46"
      ]
    ]
  },
  {
    "id": "1f05f8606cdaa521",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var recoface = [];\nvar facestring = \"\"\nvar d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"https://hass.purgatoire.ca/local/ring.jpg?\" + m;\nvar facestring = msg.payload;\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Someone is at the door\",\n  \"data\": {\n    \"image\": url,\n    \"actions\": [\n      {\n        \"action\": \"unlock_door\",\n        \"title\": \"Unlock The Door\"\n      }\n                \n    ]\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2200,
    "y": 1480,
    "wires": [
      [
        "b985406500241595"
      ]
    ]
  },
  {
    "id": "b5b3990469a88f46",
    "type": "subflow:eb3b6592c8406c0d",
    "z": "dc434684164184f3",
    "name": "",
    "env": [],
    "x": 2370,
    "y": 1520,
    "wires": []
  },
  {
    "id": "b985406500241595",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 1480,
    "wires": [
      []
    ]
  },
  {
    "id": "a24b5102df8c3ebf",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "Crash",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2010,
    "y": 1380,
    "wires": [
      [
        "aa4d207fc89018f6"
      ]
    ]
  },
  {
    "id": "59c279e0d389e66e",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Someone is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2240,
    "y": 1560,
    "wires": [
      [
        "2185ba65d3b32ccb"
      ]
    ]
  },
  {
    "id": "2185ba65d3b32ccb",
    "type": "link out",
    "z": "dc434684164184f3",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 2375,
    "y": 1560,
    "wires": []
  },
  {
    "id": "faa50083e3ae1f1f",
    "type": "catch",
    "z": "dc434684164184f3",
    "name": "",
    "scope": [
      "9f56048afecabe35"
    ],
    "uncaught": false,
    "x": 1810,
    "y": 880,
    "wires": [
      [
        "a24b5102df8c3ebf"
      ]
    ]
  },
  {
    "id": "b3c65ffba062ab08",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = msg.image;\n\nvar url = url.replace(\"https:\\/\\/hass.purgatoire.ca\\/local\", \"\\/config\\/www\");\n\nvar newMsg = {\n \"name\": msg.payload.name,\n \"url\": \"http://192.168.0.14:3000/api/train/retrain/\" + msg.payload.name.toLowerCase(),\n \"data\":{\n    \"data\":{\n\t\"file_path\": url,\n\t\"name\": msg.payload.name.toLowerCase(),\n\t\"url\": \"http://192.168.0.14:3000/api/train/retrain/\" + msg.payload.name.toLowerCase()\n}}\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2480,
    "y": 420,
    "wires": [
      [
        "2487eb56be4a95b3",
        "1837bd252cf0b8b2"
      ]
    ]
  },
  {
    "id": "efcc0d26c6fb51c0",
    "type": "server-events",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "eventType": "mobile_app_notification_action",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      },
      {
        "property": "event_type",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "x": 1710,
    "y": 400,
    "wires": [
      [
        "fac725887b00c8f5",
        "bf36421868181d87"
      ]
    ]
  },
  {
    "id": "2487eb56be4a95b3",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2750,
    "y": 340,
    "wires": []
  },
  {
    "id": "3e6de3c6f5cb0f17",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = msg.data.data.file_path;\n\n\nvar snapshot = url.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Faces learning for\" + \" \" + msg.name,\n  \"data\": {\n    \"image\": snapshot\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2960,
    "y": 420,
    "wires": [
      [
        "e5cd95667df3b1f2",
        "757cc328cc541338"
      ]
    ]
  },
  {
    "id": "e5cd95667df3b1f2",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3180,
    "y": 420,
    "wires": [
      [
        "757cc328cc541338"
      ]
    ]
  },
  {
    "id": "87caa448533c8d9b",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door"
    ],
    "data": "{\"filename\":\"/config/www/reolink.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 740,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "ecb63bd121dd5c2d",
    "type": "ha-wait-until",
    "z": "dc434684164184f3",
    "name": "wait until facecam detect someone",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "sensor.facecam_persons",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "gt",
    "value": "0",
    "valueType": "num",
    "timeout": "30",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 380,
    "y": 740,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "d76b686b96f8befd",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 510,
    "y": 540,
    "wires": [
      [
        "ecb63bd121dd5c2d",
        "87caa448533c8d9b"
      ]
    ]
  },
  {
    "id": "59219d6d3e694135",
    "type": "server-state-changed",
    "z": "dc434684164184f3",
    "name": "frigate reolink over 0",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.front_persons",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "0",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "output_only_on_state_change": true,
    "x": 90,
    "y": 540,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "9ddf5ca3edccdd85",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 580,
    "wires": [
      [
        "d76b686b96f8befd"
      ]
    ]
  },
  {
    "id": "e65cd0635908707b",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 270,
    "y": 580,
    "wires": [
      [
        "9ddf5ca3edccdd85"
      ]
    ]
  },
  {
    "id": "e454c3be539b6285",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "click",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 90,
    "y": 720,
    "wires": []
  },
  {
    "id": "c1c0010cdeca663b",
    "type": "inject",
    "z": "dc434684164184f3",
    "name": "scan",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 3470,
    "y": 1060,
    "wires": [
      [
        "869e08ac92dc847d"
      ]
    ]
  },
  {
    "id": "615613db29724c87",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 880,
    "y": 1020,
    "wires": [
      [
        "9e34afd93f69bbba"
      ]
    ]
  },
  {
    "id": "e919893a9841580a",
    "type": "switch",
    "z": "dc434684164184f3",
    "name": "double",
    "property": "payload.event.args.click_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "double",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 710,
    "y": 1080,
    "wires": [
      [
        "051eaa0a3bc81fd8"
      ]
    ]
  },
  {
    "id": "9e34afd93f69bbba",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "num",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 1190,
    "y": 1020,
    "wires": [
      [
        "f9a2017b6a2a8e68"
      ]
    ]
  },
  {
    "id": "051eaa0a3bc81fd8",
    "type": "api-current-state",
    "z": "dc434684164184f3",
    "name": "rang?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.door_rang",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 850,
    "y": 1080,
    "wires": [
      [
        "135a89df5af43c6b"
      ],
      []
    ]
  },
  {
    "id": "f9a2017b6a2a8e68",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1400,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "135a89df5af43c6b",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_double_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1020,
    "y": 1080,
    "wires": [
      [
        "30759e3e74abfcbc"
      ]
    ]
  },
  {
    "id": "30759e3e74abfcbc",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "num",
    "duration": "1",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 1190,
    "y": 1080,
    "wires": [
      [
        "b43c21109dfa88c6"
      ]
    ]
  },
  {
    "id": "b43c21109dfa88c6",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.door_double_rang"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1400,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "8c06e0a3aebde655",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3340,
    "y": 680,
    "wires": [
      [
        "1c4f42af07633df5"
      ]
    ]
  },
  {
    "id": "1c4f42af07633df5",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3520,
    "y": 680,
    "wires": [
      [
        "609158bb18808aa9",
        "7b8fce8d5b789dee"
      ]
    ]
  },
  {
    "id": "609158bb18808aa9",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "result of snapchot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3770,
    "y": 560,
    "wires": []
  },
  {
    "id": "79fc99ef6e3fe4e8",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3880,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "7b8fce8d5b789dee",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": \"Welcoming \" + name,\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3700,
    "y": 680,
    "wires": [
      [
        "79fc99ef6e3fe4e8",
        "417d9ddbc2aedfbd",
        "4417fff8bb8b1560"
      ]
    ]
  },
  {
    "id": "417d9ddbc2aedfbd",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3880,
    "y": 720,
    "wires": [
      [
        "9790cd5589899bc8"
      ]
    ]
  },
  {
    "id": "daa9cae4d006c055",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "actionable",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2250,
    "y": 400,
    "wires": []
  },
  {
    "id": "4417fff8bb8b1560",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4028.571533203125,
    "y": 625.7142944335938,
    "wires": []
  },
  {
    "id": "2cf12fb174beb029",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2995.71435546875,
    "y": 332.8571472167969,
    "wires": []
  },
  {
    "id": "9790cd5589899bc8",
    "type": "link out",
    "z": "dc434684164184f3",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 4015,
    "y": 720,
    "wires": []
  },
  {
    "id": "757cc328cc541338",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3510,
    "y": 380,
    "wires": []
  },
  {
    "id": "37a8bfd412e08e5e",
    "type": "inject",
    "z": "dc434684164184f3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 560,
    "y": 460,
    "wires": [
      [
        "87caa448533c8d9b"
      ]
    ]
  },
  {
    "id": "12161e79cce07bcd",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2190,
    "y": 1420,
    "wires": []
  },
  {
    "id": "b4835ffffced14cd",
    "type": "switch",
    "z": "dc434684164184f3",
    "name": "",
    "property": "payload.name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2150,
    "y": 800,
    "wires": [
      [
        "da2860a614a49ff1"
      ]
    ]
  },
  {
    "id": "d49d22ab07c3d2ee",
    "type": "http request",
    "z": "dc434684164184f3",
    "name": "POST request",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/reolink.jpg&camera=camera.front_door",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1100,
    "y": 780,
    "wires": [
      [
        "f185509b6fd7311d"
      ]
    ]
  },
  {
    "id": "f185509b6fd7311d",
    "type": "json",
    "z": "dc434684164184f3",
    "name": "toJson",
    "property": "payload",
    "action": "",
    "pretty": true,
    "x": 1250,
    "y": 780,
    "wires": [
      [
        "f21d613ea08e3590",
        "7446c1cb0213acde"
      ]
    ]
  },
  {
    "id": "9360acda1b161468",
    "type": "http request",
    "z": "dc434684164184f3",
    "name": "POST request",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:3000/api/recognize?url=http://192.168.0.15:8123/local/ring.jpg&camera=camera.facecam",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1120,
    "y": 880,
    "wires": [
      [
        "0f1586ce7c4017e7"
      ]
    ]
  },
  {
    "id": "7c8ab89cab1b4956",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.facecam"
    ],
    "data": "{\"filename\":\"/config/www/ring.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 940,
    "y": 880,
    "wires": [
      [
        "9360acda1b161468"
      ]
    ]
  },
  {
    "id": "3a1df7f09ea211e4",
    "type": "join",
    "z": "dc434684164184f3",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload.matches",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "5",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 1550,
    "y": 820,
    "wires": [
      [
        "9f56048afecabe35",
        "ce41bc07cb1f5ec0"
      ]
    ]
  },
  {
    "id": "0f1586ce7c4017e7",
    "type": "json",
    "z": "dc434684164184f3",
    "name": "toJson",
    "property": "payload",
    "action": "",
    "pretty": true,
    "x": 1270,
    "y": 880,
    "wires": [
      [
        "104f147483ea4de5",
        "aa08583877f8a98d"
      ]
    ]
  },
  {
    "id": "9f56048afecabe35",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Face Extractor compare 5.1",
    "func": "// SETTINGS\nvar required_conf = 80;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar reco = \"\";\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n         for (y = 0; y < Object.keys(msg.payload.matches[i]).length; y++){\n                var name = msg.payload.matches[i][y][0];\n \t\t\t\tvar conf = msg.payload.matches[i][y][1];\n \t\t\t\tvar camera = msg.payload.matches[i][y][2];\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        }\n    }\n    \n    \n     \trecofacesortable.sort(function(a, b) {\n \t\treturn a[1] - b[1];\n \t}).reverse();\n \t\n    for (i = 0; i < recofacesortable.length; i++){\n        var reconame = recofacesortable[0][0];\n        var confidence = recofacesortable[0][1]\n        var camera = recofacesortable[0][2]\n        \n        \n    }\n\n\n\nif (confidence > required_conf) {\n\tvar recognized = 1;\n} else {\n\tvar recognized = 0;\n}\n\n if (camera == \"camera.front_door\"){\n     var camera = \"camera.reolink_static\";\n } else if (camera == \"camera.facecam\"){\n     var camera = \"camera.facecam_static\"\n }\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"name\": reconame,\n\t\t\"confidence\": confidence,\n\t//\t\"matched_faces\": total_matched_faces,\n\t//\t\"total_faces\": total_faces,\n\t\t\"recognized\": recognized,\n \t\t\"camera\": camera \n\t}\n};\n\nreturn newMsg;\n\n\n//  var test = {\n//  \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"matched_faces\": total_matched_faces,\n// \t\t\"total_faces\": total_faces,\n// \t\t\"recognized\": recognized,\n// \t\t\"camera\": camera ,\n// \t\t\"recofacesortable\": recofacesortable\n//  \t}\n//  };\n//  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1760,
    "y": 820,
    "wires": [
      [
        "4185710a31385ab9",
        "cc7516bbde4f135b"
      ]
    ]
  },
  {
    "id": "7446c1cb0213acde",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "post1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1390,
    "y": 700,
    "wires": []
  },
  {
    "id": "aa08583877f8a98d",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "post2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1510,
    "y": 920,
    "wires": []
  },
  {
    "id": "ce41bc07cb1f5ec0",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "tojson",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1570,
    "y": 740,
    "wires": []
  },
  {
    "id": "3fa7103aee25b943",
    "type": "inject",
    "z": "dc434684164184f3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1820,
    "y": 1040,
    "wires": [
      [
        "73d5a5506a43fcd1"
      ]
    ]
  },
  {
    "id": "f21d613ea08e3590",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "cam set",
    "func": "// SETTINGS\nvar required_conf = 75;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"camera.front_door\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar reco = \"\";\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n\n                var name = msg.payload.matches[i].name;\n \t\t\t\tvar conf = msg.payload.matches[i].confidence;\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        \n    }\n\nif (typeof msg.payload.unknown!==\"undefined\"){\n    recofacesortable.push([\"Unknown\", \"0\", camera]);\n}\n    \n    \n//      \trecofacesortable.sort(function(a, b) {\n//  \t\treturn a[1] - b[1];\n//  \t}).reverse();\n \t\n//     for (i = 0; i < recofacesortable.length; i++){\n//         var reconame = recofacesortable[0][0];\n//         var confidence = recofacesortable[0][1]\n//         var camera = recofacesortable[0][2]\n        \n        \n//     }\n\n\n\n// if (confidence > required_conf) {\n// \tvar recognized = 1;\n// } else {\n// \tvar recognized = 0;\n// }\n\n// if (camera == \"face_counter_reolink\"){\n//     var camera = \"camera.reolink_static\";\n// } else if (camera == \"face_counter_facecam\"){\n//     var camera = \"camera.facecam_static\"\n// }\n\n// var newMsg = {\n// \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"recognized\": recognized,\n//  \t\t\"camera\": camera \n// \t}\n// };\n\n//return newMsg;\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"matches\": recofacesortable,\n// //  \t\t\"confidence\": confidence,\n// //  \t\t\"recognized\": recognized,\n// //  \t\t\"camera\": camera ,\n// //  \t\t\"recofacesortable\": recofacesortable\n   \t}\n  };\n  return test;",
    "outputs": 1,
    "noerr": 7,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1400,
    "y": 800,
    "wires": [
      [
        "3a1df7f09ea211e4",
        "7446c1cb0213acde"
      ]
    ]
  },
  {
    "id": "104f147483ea4de5",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "cam set",
    "func": "// SETTINGS\nvar required_conf = 75;\n// SETTINGS\n\n\nvar recoface = new Object();\nvar recofacesortable = [];\nvar name = \"\";\nvar camera = \"camera.facecam\";\nvar conf = \"\";\nvar reconame = \"\";\nvar confidence = \"\";\nvar reco = \"\";\n//declarations\n\n    for (i = 0; i < msg.payload.matches.length; i++){\n\n                var name = msg.payload.matches[i].name;\n \t\t\t\tvar conf = msg.payload.matches[i].confidence;\n \t\t\t// \tif (conf > 0){\n \t\t\t\t    recofacesortable.push([name, conf, camera]);\n \t\t\t// \t}\n \t\t\t\t\n        \n    }\n\nif (typeof msg.payload.unknown!==\"undefined\"){\n    recofacesortable.push([\"Unknown\", \"0\", camera]);\n}\n    \n    \n//      \trecofacesortable.sort(function(a, b) {\n//  \t\treturn a[1] - b[1];\n//  \t}).reverse();\n \t\n//     for (i = 0; i < recofacesortable.length; i++){\n//         var reconame = recofacesortable[0][0];\n//         var confidence = recofacesortable[0][1]\n//         var camera = recofacesortable[0][2]\n        \n        \n//     }\n\n\n\n// if (confidence > required_conf) {\n// \tvar recognized = 1;\n// } else {\n// \tvar recognized = 0;\n// }\n\n// if (camera == \"face_counter_reolink\"){\n//     var camera = \"camera.reolink_static\";\n// } else if (camera == \"face_counter_facecam\"){\n//     var camera = \"camera.facecam_static\"\n// }\n\n// var newMsg = {\n// \t\"payload\": {\n// \t\t\"name\": reconame,\n// \t\t\"confidence\": confidence,\n// \t\t\"recognized\": recognized,\n//  \t\t\"camera\": camera \n// \t}\n// };\n\n//return newMsg;\n\n\n  var test = {\n   \t\"payload\":  {\n\t\t\"matches\": recofacesortable,\n// //  \t\t\"confidence\": confidence,\n// //  \t\t\"recognized\": recognized,\n// //  \t\t\"camera\": camera ,\n// //  \t\t\"recofacesortable\": recofacesortable\n   \t}\n  };\n  return test;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1400,
    "y": 840,
    "wires": [
      [
        "3a1df7f09ea211e4",
        "aa08583877f8a98d"
      ]
    ]
  },
  {
    "id": "fac725887b00c8f5",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "actionable",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2210,
    "y": 280,
    "wires": []
  },
  {
    "id": "1837bd252cf0b8b2",
    "type": "http request",
    "z": "dc434684164184f3",
    "name": "POST request",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 2700,
    "y": 420,
    "wires": [
      [
        "2cf12fb174beb029",
        "3e6de3c6f5cb0f17"
      ]
    ]
  },
  {
    "id": "2620e3257d6fa84d",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\n\nvar who = msg.payload.name;\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/double-take/\" + who.toLowerCase() +  \"/\" + who + \"_\" + camera + \"_\" + h + m + s + \"_\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3340,
    "y": 640,
    "wires": [
      [
        "d21500d7b53cd67a"
      ]
    ]
  },
  {
    "id": "d21500d7b53cd67a",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3520,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "ac6262324beb2749",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\n\nvar confidence = 0;\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\n\nvar who = msg.payload.event.reply_text.toLowerCase().replace(\" \",\"\");\nvar replacestring = \"https://hass.purgatoire.ca/local/portraits/\" + who.toLowerCase();\nvar replacestring1 = msg.payload.event.image.replace(replacestring);\nvar replacestring2 = replacestring1.split(\"-\");\nvar camera = replacestring2[1];\n\n\n\n\nvar newMsg = {\n    \"image\": msg.payload.event.image,\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/double-take/\" + who +  \"/\" + camera + \"_\" + h + m + s + \"_\" + confidence + \".jpg\",\n            \"entity_id\": camera,\n            // \"1\": replacestring,\n            // \"2\": replacestring1,\n            // \"3\": replacestring2\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2060,
    "y": 520,
    "wires": [
      [
        "daa9cae4d006c055",
        "febfacf98e14230f"
      ]
    ]
  },
  {
    "id": "914d208ac8e90c6b",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2440,
    "y": 520,
    "wires": [
      [
        "a55fc2865d50ea0f",
        "b3c65ffba062ab08"
      ]
    ]
  },
  {
    "id": "a55fc2865d50ea0f",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "result of snapchot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2610,
    "y": 540,
    "wires": []
  },
  {
    "id": "32fd5b7cc87fce18",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2720,
    "y": 920,
    "wires": [
      [
        "777be68bc82d9798"
      ]
    ]
  },
  {
    "id": "777be68bc82d9798",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2900,
    "y": 920,
    "wires": [
      [
        "a92451862222ae6a"
      ]
    ]
  },
  {
    "id": "11ade2d568b39f66",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3260,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "a92451862222ae6a",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3080,
    "y": 920,
    "wires": [
      [
        "11ade2d568b39f66",
        "18292d736069ab1a"
      ]
    ]
  },
  {
    "id": "18292d736069ab1a",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3240,
    "y": 860,
    "wires": [
      [
        "07dc8ff772761239"
      ]
    ]
  },
  {
    "id": "621cf8c7437be5fe",
    "type": "link out",
    "z": "dc434684164184f3",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3275,
    "y": 1180,
    "wires": []
  },
  {
    "id": "49d8d5ab57bc2780",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Set Path",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\"+m;\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n    \"media_content_id\": url,\n    \"media_content_type\": \"image/jpg\"\n                      }\n                }         \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2540,
    "y": 1260,
    "wires": [
      [
        "25416eae7693a8e4"
      ]
    ]
  },
  {
    "id": "25416eae7693a8e4",
    "type": "subflow:eb3b6592c8406c0d",
    "z": "dc434684164184f3",
    "name": "",
    "env": [],
    "x": 2710,
    "y": 1260,
    "wires": []
  },
  {
    "id": "8b7cf867e5dd6af0",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "Face Not reco",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2240,
    "y": 1100,
    "wires": [
      [
        "49d8d5ab57bc2780",
        "32980352dae1ed87",
        "a9477e0fd3c6f536"
      ]
    ]
  },
  {
    "id": "32980352dae1ed87",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "face not reco",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2590,
    "y": 1200,
    "wires": []
  },
  {
    "id": "a9477e0fd3c6f536",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2540,
    "y": 1300,
    "wires": [
      [
        "69902b6ab60ec2ea"
      ]
    ]
  },
  {
    "id": "69902b6ab60ec2ea",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2720,
    "y": 1300,
    "wires": [
      [
        "8a45cac1cf815583"
      ]
    ]
  },
  {
    "id": "fd6cc49b9bc3415b",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3080,
    "y": 1300,
    "wires": [
      []
    ]
  },
  {
    "id": "8a45cac1cf815583",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": \"Someone is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2880,
    "y": 1300,
    "wires": [
      [
        "fd6cc49b9bc3415b",
        "6fed897f15a1b7df"
      ]
    ]
  },
  {
    "id": "6fed897f15a1b7df",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3080,
    "y": 1340,
    "wires": [
      [
        "a6b24fae2a2006c2"
      ]
    ]
  },
  {
    "id": "a6b24fae2a2006c2",
    "type": "link out",
    "z": "dc434684164184f3",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3215,
    "y": 1340,
    "wires": []
  },
  {
    "id": "da2860a614a49ff1",
    "type": "api-current-state",
    "z": "dc434684164184f3",
    "name": "uber",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_uber",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2270,
    "y": 800,
    "wires": [
      [
        "ca373eccc666f38c"
      ],
      [
        "a4e503149ac458a8"
      ]
    ]
  },
  {
    "id": "2830e93ceb0cef1f",
    "type": "switch",
    "z": "dc434684164184f3",
    "name": "",
    "property": "payload.name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "eq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2090,
    "y": 1000,
    "wires": [
      [
        "8b7cf867e5dd6af0"
      ],
      [
        "b2a60458583628a1"
      ]
    ]
  },
  {
    "id": "febfacf98e14230f",
    "type": "switch",
    "z": "dc434684164184f3",
    "name": "Recod Faces 1/0",
    "property": "payload.data.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "camera.facecam_static",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2270,
    "y": 520,
    "wires": [
      [
        "914d208ac8e90c6b"
      ]
    ]
  },
  {
    "id": "869e08ac92dc847d",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "unLock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3650,
    "y": 900,
    "wires": [
      [
        "e2e0e39a2bb3932e",
        "db63be43a45de51e"
      ]
    ]
  },
  {
    "id": "db63be43a45de51e",
    "type": "api-current-state",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "unlocked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "lock.front_door",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3640,
    "y": 840,
    "wires": [
      [
        "b499a1d86fc0a256"
      ],
      [
        "869e08ac92dc847d"
      ]
    ]
  },
  {
    "id": "ff28ced5802c6663",
    "type": "inject",
    "z": "dc434684164184f3",
    "name": "scan",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 2910,
    "y": 1220,
    "wires": [
      [
        "a19802bc53c3e698"
      ]
    ]
  },
  {
    "id": "a19802bc53c3e698",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "PSA, THIS IS A TEST, DO NOT REACT TO THIS, IT IS A TEST.",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3100,
    "y": 1220,
    "wires": [
      [
        "621cf8c7437be5fe"
      ]
    ]
  },
  {
    "id": "29e077a48ee59080",
    "type": "delay",
    "z": "dc434684164184f3",
    "name": "Waiting someone",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2990,
    "y": 800,
    "wires": [
      [
        "d111259afef6d892",
        "a9bdbe5fe49d2b6e",
        "8c06e0a3aebde655",
        "869e08ac92dc847d"
      ]
    ]
  },
  {
    "id": "89af71618b9c0faa",
    "type": "api-current-state",
    "z": "dc434684164184f3",
    "name": "Front House Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.motion_front",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "partyon",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "partydata",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2770,
    "y": 800,
    "wires": [
      [
        "29e077a48ee59080"
      ],
      [
        "06d4b8e6ac09e9b5"
      ]
    ]
  },
  {
    "id": "5c3a07277166a802",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2030,
    "y": 1240,
    "wires": [
      [
        "a4be2cbfac620b45",
        "d6527d9b31a67e2b",
        "620dc7e41c123988",
        "39ca8227b74fd49d"
      ]
    ]
  },
  {
    "id": "a4be2cbfac620b45",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Set Path",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\"+m;\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n    \"media_content_id\": url,\n    \"media_content_type\": \"image/jpg\"\n                      }\n                }         \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 2200,
    "y": 1260,
    "wires": [
      [
        "37c7747a6e0b9586"
      ]
    ]
  },
  {
    "id": "d6527d9b31a67e2b",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var recoface = [];\nvar facestring = \"\"\nvar d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"https://hass.purgatoire.ca/local/ring.jpg?\" + m;\nvar facestring = msg.payload;\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Someone is at the door\",\n  \"data\": {\n    \"image\": url,\n    \"actions\": [\n      {\n        \"action\": \"unlock_door\",\n        \"title\": \"Unlock The Door\"\n      }\n                \n    ]\n  }\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2200,
    "y": 1220,
    "wires": [
      [
        "e7e97761c64767e9"
      ]
    ]
  },
  {
    "id": "37c7747a6e0b9586",
    "type": "subflow:eb3b6592c8406c0d",
    "z": "dc434684164184f3",
    "name": "",
    "env": [],
    "x": 2370,
    "y": 1260,
    "wires": []
  },
  {
    "id": "e7e97761c64767e9",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 1220,
    "wires": [
      []
    ]
  },
  {
    "id": "b2a60458583628a1",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "No Face",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2020,
    "y": 1120,
    "wires": [
      [
        "5c3a07277166a802"
      ]
    ]
  },
  {
    "id": "620dc7e41c123988",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Someone is at the door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2240,
    "y": 1300,
    "wires": [
      [
        "691a7adae76a461c"
      ]
    ]
  },
  {
    "id": "691a7adae76a461c",
    "type": "link out",
    "z": "dc434684164184f3",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 2375,
    "y": 1300,
    "wires": []
  },
  {
    "id": "39ca8227b74fd49d",
    "type": "debug",
    "z": "dc434684164184f3",
    "name": "result before notif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2190,
    "y": 1160,
    "wires": []
  },
  {
    "id": "d56d0261de5b568d",
    "type": "delay",
    "z": "dc434684164184f3",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 400,
    "y": 840,
    "wires": [
      [
        "fcbc2284bd9e9322"
      ]
    ]
  },
  {
    "id": "bf36421868181d87",
    "type": "switch",
    "z": "dc434684164184f3",
    "name": "",
    "property": "payload.event.action_1_title",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Who is this?",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1950,
    "y": 460,
    "wires": [
      [
        "ac6262324beb2749",
        "daa9cae4d006c055"
      ]
    ]
  },
  {
    "id": "07dc8ff772761239",
    "type": "link out",
    "z": "dc434684164184f3",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3375,
    "y": 860,
    "wires": []
  },
  {
    "id": "2514a98f5322706e",
    "type": "subflow:eb3b6592c8406c0d",
    "z": "dc434684164184f3",
    "name": "",
    "env": [],
    "x": 2990,
    "y": 1020,
    "wires": []
  },
  {
    "id": "a4e503149ac458a8",
    "type": "trigger",
    "z": "dc434684164184f3",
    "name": "Uber",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2310,
    "y": 1040,
    "wires": [
      [
        "5a39e063f81f4934",
        "ca181274192ce702"
      ]
    ]
  },
  {
    "id": "5a39e063f81f4934",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar camera = msg.payload.camera;\nvar confidence = 0;\n\nif (typeof msg.payload.confidence !==\"undefined\"){\nvar confidence = msg.payload.confidence;\n}\n\nvar who = \"Unknown\";\nif (typeof msg.payload.name !==\"undefined\"){\nvar who = msg.payload.name;\n}\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n        \"name\": who,\n        \"data\": {\n            \"filename\":\"/config/www/portraits/\" + who + \"/\" + who + \"-\" + camera + \"-\" + h + m + s + \"-\" + confidence + \".jpg\",\n            \"entity_id\": camera\n        }\n    }\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2500,
    "y": 1060,
    "wires": [
      [
        "0622a15703bbaff4"
      ]
    ]
  },
  {
    "id": "0622a15703bbaff4",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "snapshot",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2960,
    "y": 1060,
    "wires": [
      [
        "11a0719ba4e2269b"
      ]
    ]
  },
  {
    "id": "ec801c1b335a58de",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3280,
    "y": 1060,
    "wires": [
      []
    ]
  },
  {
    "id": "11a0719ba4e2269b",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Javascript",
    "func": "var d = new Date();\nvar name = msg.payload.name;\nvar m = d.getMilliseconds();\nvar snapshot = msg.payload.data.filename;\nvar url = \"http://192.168.0.12:8765/picture/8/current/?\" + m;\n\nvar snapshot = snapshot.replace(\"\\/config\\/www\",\"https:\\/\\/hass.purgatoire.ca\\/local\");\n\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"message\": \"Doorbell Alert\",\n\t\t\t\"title\": name + \" is at the door\",\n\t\t\t\"data\": {\n\t\t\t\t\"image\": snapshot,\n\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\"action\": \"REPLY\",\n\t\t\t\t\t\t\"title\": \"Who is this?\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"action\": \"unlock_door\",\n\t\t\t\t\t\t\"title\": \"Unlock The Door\"\n\t\t\t\t\t}\n\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3100,
    "y": 1060,
    "wires": [
      [
        "ec801c1b335a58de",
        "601dd7a48a2a870b"
      ]
    ]
  },
  {
    "id": "601dd7a48a2a870b",
    "type": "change",
    "z": "dc434684164184f3",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3220,
    "y": 1020,
    "wires": [
      [
        "7a91de5bae6af973"
      ]
    ]
  },
  {
    "id": "7a91de5bae6af973",
    "type": "link out",
    "z": "dc434684164184f3",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 3355,
    "y": 1020,
    "wires": []
  },
  {
    "id": "1e4ae4a2670f5fb5",
    "type": "function",
    "z": "dc434684164184f3",
    "name": "Set Path",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"http://192.168.0.12:8765/picture/4/current/?\"+m;\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n    \"media_content_id\": url,\n    \"media_content_type\": \"image/jpg\"\n                      }\n                }         \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2760,
    "y": 1020,
    "wires": [
      [
        "2514a98f5322706e"
      ]
    ]
  },
  {
    "id": "ca181274192ce702",
    "type": "api-call-service",
    "z": "dc434684164184f3",
    "name": "to package",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_package",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload666",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2470,
    "y": 1020,
    "wires": [
      [
        "df6ec4f40fef1842"
      ]
    ]
  },
  {
    "id": "df6ec4f40fef1842",
    "type": "delay",
    "z": "dc434684164184f3",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2620,
    "y": 1020,
    "wires": [
      [
        "1e4ae4a2670f5fb5"
      ]
    ]
  }
]