node-red/flows/Front door.json
[
  {
    "id": "9129ecb0b2e786b5",
    "type": "tab",
    "label": "Front door",
    "disabled": false,
    "info": ""
  },
  {
    "id": "dd92294670fe6c0a",
    "type": "trigger",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "2",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 1110,
    "y": 120,
    "wires": [
      [
        "55bc58b8ee7f542d"
      ]
    ]
  },
  {
    "id": "6877bf1fa1529499",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Alert",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Front Door Open",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1870,
    "y": 120,
    "wires": [
      [
        "e3e25ac88e5ab623"
      ]
    ]
  },
  {
    "id": "44eb2a79358c3a5b",
    "type": "delay",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 100,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "55bc58b8ee7f542d",
    "type": "trigger",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "num",
    "op2type": "str",
    "duration": "-5",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 1330,
    "y": 120,
    "wires": [
      [
        "a54db271c14c6fdb"
      ]
    ]
  },
  {
    "id": "6fa95abdf2c98257",
    "type": "server-state-changed",
    "z": "9129ecb0b2e786b5",
    "name": "Front door Sensor",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_front_door_contact",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(on|off)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 910,
    "y": 120,
    "wires": [
      [
        "dd92294670fe6c0a",
        "0c08ef841416b2f3"
      ],
      []
    ]
  },
  {
    "id": "a54db271c14c6fdb",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "Aerating?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.aerating_appartment",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1520,
    "y": 120,
    "wires": [
      [
        "c6bf404c85cc060d"
      ],
      []
    ]
  },
  {
    "id": "0c08ef841416b2f3",
    "type": "switch",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1110,
    "y": 80,
    "wires": [
      [
        "55bc58b8ee7f542d"
      ]
    ]
  },
  {
    "id": "50b11c0933d47453",
    "type": "link out",
    "z": "9129ecb0b2e786b5",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 2275,
    "y": 100,
    "wires": []
  },
  {
    "id": "e38272d3ac048e18",
    "type": "function",
    "z": "9129ecb0b2e786b5",
    "name": "Javascript",
    "func": "var recoface = [];\nvar facestring = \"\"\nvar d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"https://purgatoire.ca/local/unlocked.jpg?\" + m;\nvar facestring = msg.payload;\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n   \"message\": \"Door Unlocked\",\n   \"title\": facestring + \" has arrived.\",\n   \"data\": {\n    \"image\": url\n   }\n  }\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1460,
    "y": 580,
    "wires": [
      [
        "d1e8a3dbffe3f075",
        "691e9022fe16ec9b",
        "deddd4dc7f47bae4"
      ]
    ]
  },
  {
    "id": "26be1721f3ca5e63",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Myriam",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Myriam",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1280,
    "y": 580,
    "wires": [
      [
        "e38272d3ac048e18"
      ]
    ]
  },
  {
    "id": "724812ec05282b10",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Maxi",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Maxi",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 540,
    "wires": [
      [
        "e38272d3ac048e18",
        "0961c8af0f67865e"
      ]
    ]
  },
  {
    "id": "d1e8a3dbffe3f075",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1660,
    "y": 620,
    "wires": [
      [
        "7f5ab158dfc055c8"
      ]
    ]
  },
  {
    "id": "691e9022fe16ec9b",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 580,
    "wires": [
      [
        "cfd4896e081ff7c5"
      ]
    ]
  },
  {
    "id": "62fb4d107a99134e",
    "type": "delay",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 1580,
    "y": 660,
    "wires": [
      [
        "7e9f0f5b73f37738"
      ]
    ]
  },
  {
    "id": "0961c8af0f67865e",
    "type": "delay",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 1580,
    "y": 520,
    "wires": [
      [
        "1eb528200b9ffec8"
      ]
    ]
  },
  {
    "id": "996f7f569698d0e9",
    "type": "switch",
    "z": "9129ecb0b2e786b5",
    "name": "WHO",
    "property": "payload.action_user",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      },
      {
        "t": "null"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 6,
    "x": 1110,
    "y": 600,
    "wires": [
      [
        "724812ec05282b10"
      ],
      [],
      [
        "26be1721f3ca5e63"
      ],
      [
        "3d691f6efc74ddfa"
      ],
      [],
      [
        "6e9fda890201b1e9"
      ]
    ]
  },
  {
    "id": "f22fd5c50ad88bbd",
    "type": "link out",
    "z": "9129ecb0b2e786b5",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 2055,
    "y": 620,
    "wires": []
  },
  {
    "id": "cfd4896e081ff7c5",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "alarm on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "disarmed",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "alarm_control_panel.home_alarm",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1820,
    "y": 580,
    "wires": [
      [
        "d29ef9c2c6d106f6"
      ],
      [
        "8506be8d1d88153a"
      ]
    ]
  },
  {
    "id": "7e9f0f5b73f37738",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.thierry_light"
    ],
    "data": "{ \"color_name\": \"white\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1790,
    "y": 660,
    "wires": [
      [
        "77ce8b8709bb65b2"
      ]
    ]
  },
  {
    "id": "1eb528200b9ffec8",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.bedroom_lights"
    ],
    "data": "{ \"color_name\": \"white\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1770,
    "y": 520,
    "wires": [
      [
        "3b3cdaea7116bbef"
      ]
    ]
  },
  {
    "id": "a0423f3ca89f42c2",
    "type": "switch",
    "z": "9129ecb0b2e786b5",
    "name": "Action",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "unlock",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "manual_unlock",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "manual_lock",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "lock",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ontouchlock",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "UnlockFailureInvalidPINorID",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "unlock_failure_invalid_schedule",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 7,
    "x": 390,
    "y": 600,
    "wires": [
      [
        "2eb9820b2c85f933",
        "01ef1fd070b77b42"
      ],
      [
        "235495c97163b63d"
      ],
      [
        "801e0eb6ad4cbc0b"
      ],
      [
        "801e0eb6ad4cbc0b"
      ],
      [
        "801e0eb6ad4cbc0b"
      ],
      [],
      [
        "5766b84ea23f309d"
      ]
    ]
  },
  {
    "id": "d29ef9c2c6d106f6",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "Disable Alarm",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "alarm_control_panel",
    "service": "alarm_disarm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.home_alarm"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1980,
    "y": 560,
    "wires": [
      [
        "8506be8d1d88153a"
      ]
    ]
  },
  {
    "id": "77ce8b8709bb65b2",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_thierry_screens"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2010,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "3b3cdaea7116bbef",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.screens"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1970,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "01ef1fd070b77b42",
    "type": "debug",
    "z": "9129ecb0b2e786b5",
    "name": "mqtt lock here",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 460,
    "wires": []
  },
  {
    "id": "8506be8d1d88153a",
    "type": "delay",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 2160,
    "y": 620,
    "wires": [
      [
        "3e70e78e029dd3d1"
      ]
    ]
  },
  {
    "id": "3e70e78e029dd3d1",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_livingroom_lights",
      "light.group_entrance_lights"
    ],
    "data": "{ \"color_name\": \"white\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2350,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "4e7d3ae95043cb22",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "Front Door open?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_front_door_contact",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 870,
    "y": 600,
    "wires": [
      [
        "996f7f569698d0e9",
        "a12ee8e37d267bc9"
      ],
      [
        "397ffc396432a16c"
      ]
    ]
  },
  {
    "id": "397ffc396432a16c",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Set Data for someone going out",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 910,
    "y": 700,
    "wires": [
      [
        "bc9650546cbcae8c"
      ]
    ]
  },
  {
    "id": "d8ce205edf2e27bc",
    "type": "link out",
    "z": "9129ecb0b2e786b5",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 1255,
    "y": 760,
    "wires": []
  },
  {
    "id": "28d9b113bc53f0fc",
    "type": "inject",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1720,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "2da76789fd72da56",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "Party Mode?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1530,
    "y": 460,
    "wires": [
      [
        "179a383907a148d4"
      ],
      []
    ]
  },
  {
    "id": "cb69c31a1388cef3",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "Living Room TV",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "(playing|paused)",
    "halt_if_type": "re",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.livingroom_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2020,
    "y": 460,
    "wires": [
      [
        "54ce6cc92fae344e"
      ],
      [
        "6a5d68c9f5b70812"
      ]
    ]
  },
  {
    "id": "179a383907a148d4",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "MSleeping?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.maxi_sleeping",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1690,
    "y": 460,
    "wires": [
      [
        "765ebe1ddb375dc4"
      ],
      []
    ]
  },
  {
    "id": "765ebe1ddb375dc4",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "Docked?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "docked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "vacuum.xiaomi_vacuum_cleaner",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1840,
    "y": 460,
    "wires": [
      [
        "cb69c31a1388cef3"
      ],
      []
    ]
  },
  {
    "id": "54ce6cc92fae344e",
    "type": "function",
    "z": "9129ecb0b2e786b5",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var night = \"1\";\n}\nelse if (h >= 0 && h <= 8 ){\n    var night = \"1\";\n}\nelse{\n    var night = \"0\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n        \"night_time\": night\n    }\n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2190,
    "y": 440,
    "wires": [
      [
        "16b1a0fe8ee2e860"
      ]
    ]
  },
  {
    "id": "16b1a0fe8ee2e860",
    "type": "switch",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "property": "payload.night_time",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2310,
    "y": 440,
    "wires": [
      [
        "c296be187e895cd5"
      ]
    ]
  },
  {
    "id": "6a5d68c9f5b70812",
    "type": "function",
    "z": "9129ecb0b2e786b5",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var night = \"1\";\n}\nelse if (h >= 0 && h <= 8 ){\n    var night = \"1\";\n}\nelse{\n    var night = \"0\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n        \"night_time\": night\n    }\n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2190,
    "y": 480,
    "wires": [
      [
        "a222e56adc4874cf"
      ]
    ]
  },
  {
    "id": "a222e56adc4874cf",
    "type": "switch",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "property": "payload.night_time",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2310,
    "y": 480,
    "wires": [
      [
        "c296be187e895cd5"
      ]
    ]
  },
  {
    "id": "6638248c783be854",
    "type": "ha-wait-until",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.sensor_entrance_motion_occupancy",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "off",
    "valueType": "str",
    "timeout": "1",
    "timeoutType": "num",
    "timeoutUnits": "hours",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 1360,
    "y": 480,
    "wires": [
      [
        "2da76789fd72da56"
      ],
      []
    ]
  },
  {
    "id": "235495c97163b63d",
    "type": "trigger",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 680,
    "y": 600,
    "wires": [
      [
        "4e7d3ae95043cb22"
      ]
    ]
  },
  {
    "id": "801e0eb6ad4cbc0b",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 640,
    "wires": [
      [
        "235495c97163b63d"
      ]
    ]
  },
  {
    "id": "deddd4dc7f47bae4",
    "type": "trigger",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "5",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1130,
    "y": 500,
    "wires": [
      [
        "6638248c783be854",
        "a12ee8e37d267bc9"
      ]
    ]
  },
  {
    "id": "033b1ec54a679634",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Set Data for someone coming in",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1330,
    "y": 900,
    "wires": [
      [
        "64dae779b17457c4"
      ]
    ]
  },
  {
    "id": "fa139ab7677a02b0",
    "type": "link out",
    "z": "9129ecb0b2e786b5",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 1835,
    "y": 900,
    "wires": []
  },
  {
    "id": "a12ee8e37d267bc9",
    "type": "debug",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1160,
    "y": 420,
    "wires": []
  },
  {
    "id": "c296be187e895cd5",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "Kink?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2450,
    "y": 440,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "cf82956fa021871a",
    "type": "server-state-changed",
    "z": "9129ecb0b2e786b5",
    "name": "Front Lock",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "lock.lock_front_door",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "unlocked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 80,
    "y": 600,
    "wires": [
      [
        "af83d038ad2b5fb4"
      ],
      []
    ]
  },
  {
    "id": "af83d038ad2b5fb4",
    "type": "debug",
    "z": "9129ecb0b2e786b5",
    "name": "lock here",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 220,
    "y": 520,
    "wires": []
  },
  {
    "id": "b890e582f478cfc3",
    "type": "mqtt in",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "topic": "zigbee2mqtt/lock_front_door",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 280,
    "y": 460,
    "wires": [
      [
        "a0423f3ca89f42c2",
        "01ef1fd070b77b42"
      ]
    ]
  },
  {
    "id": "2eb9820b2c85f933",
    "type": "switch",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "property": "payload.action_source_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "keypad",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 570,
    "y": 560,
    "wires": [
      [
        "4e7d3ae95043cb22"
      ]
    ]
  },
  {
    "id": "fe424f7f0df4b835",
    "type": "delay",
    "z": "9129ecb0b2e786b5",
    "name": "Waiting someone",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2090,
    "y": 780,
    "wires": [
      [
        "1defc449734c6789"
      ]
    ]
  },
  {
    "id": "efc3ace2f5459c3d",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "Waiting Friend?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_someone",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1400,
    "y": 800,
    "wires": [
      [
        "dc6ce34e3cd606ee"
      ],
      []
    ]
  },
  {
    "id": "1defc449734c6789",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2400,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "dc6ce34e3cd606ee",
    "type": "api-call-service",
    "z": "9129ecb0b2e786b5",
    "name": "Unlock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1850,
    "y": 780,
    "wires": [
      [
        "fe424f7f0df4b835"
      ]
    ]
  },
  {
    "id": "5766b84ea23f309d",
    "type": "trigger",
    "z": "9129ecb0b2e786b5",
    "name": "Conditional unlock",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 780,
    "wires": [
      [
        "164444a432f43b30"
      ]
    ]
  },
  {
    "id": "135ffc12cc8a9219",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "fay",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Fay has arrived",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 860,
    "wires": [
      [
        "033b1ec54a679634",
        "efc3ace2f5459c3d"
      ]
    ]
  },
  {
    "id": "bb4fc65e4c3771da",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Nate",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Nate has arrived",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 820,
    "wires": [
      [
        "033b1ec54a679634",
        "efc3ace2f5459c3d"
      ]
    ]
  },
  {
    "id": "164444a432f43b30",
    "type": "switch",
    "z": "9129ecb0b2e786b5",
    "name": "WHO",
    "property": "payload.action_user",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 890,
    "y": 780,
    "wires": [
      [
        "bb4fc65e4c3771da"
      ],
      [
        "135ffc12cc8a9219"
      ],
      [
        "87ed40203b0dd275"
      ]
    ]
  },
  {
    "id": "6e9fda890201b1e9",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Set Data for someone coming in",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Someone Has Arrived",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1430,
    "y": 720,
    "wires": [
      [
        "e8ec9cc76512c674"
      ]
    ]
  },
  {
    "id": "464e1cbb64c196f9",
    "type": "link out",
    "z": "9129ecb0b2e786b5",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 1855,
    "y": 720,
    "wires": []
  },
  {
    "id": "3d691f6efc74ddfa",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Nate",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Nate",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 640,
    "wires": [
      [
        "e38272d3ac048e18"
      ]
    ]
  },
  {
    "id": "e8ec9cc76512c674",
    "type": "subflow:233ac7dcd801a802",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "x": 1670,
    "y": 720,
    "wires": []
  },
  {
    "id": "64dae779b17457c4",
    "type": "subflow:233ac7dcd801a802",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "x": 1610,
    "y": 900,
    "wires": []
  },
  {
    "id": "7f5ab158dfc055c8",
    "type": "subflow:233ac7dcd801a802",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "x": 1910,
    "y": 620,
    "wires": []
  },
  {
    "id": "e3e25ac88e5ab623",
    "type": "subflow:233ac7dcd801a802",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "x": 2100,
    "y": 120,
    "wires": []
  },
  {
    "id": "bc9650546cbcae8c",
    "type": "subflow:233ac7dcd801a802",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "x": 1170,
    "y": 720,
    "wires": []
  },
  {
    "id": "28a14dc96797d297",
    "type": "inject",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 790,
    "y": 840,
    "wires": [
      [
        "397ffc396432a16c"
      ]
    ]
  },
  {
    "id": "87ed40203b0dd275",
    "type": "change",
    "z": "9129ecb0b2e786b5",
    "name": "Thierry",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Thierry",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 920,
    "wires": [
      [
        "033b1ec54a679634",
        "efc3ace2f5459c3d"
      ]
    ]
  },
  {
    "id": "1d8627470cc42d59",
    "type": "trigger",
    "z": "9129ecb0b2e786b5",
    "name": "TV Fuse",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 900,
    "y": 1500,
    "wires": [
      []
    ]
  },
  {
    "id": "2420a8742b41f8c4",
    "type": "inject",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1320,
    "y": 60,
    "wires": [
      [
        "a54db271c14c6fdb"
      ]
    ]
  },
  {
    "id": "c6bf404c85cc060d",
    "type": "api-current-state",
    "z": "9129ecb0b2e786b5",
    "name": "Temp",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "22",
    "halt_if_type": "num",
    "halt_if_compare": "lt",
    "entity_id": "sensor.sensor_outside_temperature_temperature",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1690,
    "y": 120,
    "wires": [
      [
        "6877bf1fa1529499"
      ],
      [
        "6877bf1fa1529499"
      ]
    ]
  },
  {
    "id": "825422edd568257b",
    "type": "comment",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "info": "",
    "x": 740,
    "y": 120,
    "wires": []
  },
  {
    "id": "f44b280056ae23f9",
    "type": "comment",
    "z": "9129ecb0b2e786b5",
    "name": "",
    "info": "",
    "x": 120,
    "y": 620,
    "wires": []
  }
]