node-red/flows/Front Door.json
[
  {
    "id": "cc94640ec8e547cb",
    "type": "tab",
    "label": "Front Door",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "1b04206a65cea813",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 260,
    "y": 260,
    "wires": [
      [
        "0ac23590a7b82122",
        "ec38337bc4762c2a"
      ]
    ]
  },
  {
    "id": "6dae17c627907e37",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 260,
    "y": 180,
    "wires": [
      [
        "ec38337bc4762c2a"
      ]
    ]
  },
  {
    "id": "b2b40cd2583e9dcd",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 840,
    "y": 520,
    "wires": [
      [
        "64b624557a59f61e"
      ]
    ]
  },
  {
    "id": "bf61178d1208f913",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 840,
    "y": 440,
    "wires": [
      [
        "0f9702216925a495"
      ]
    ]
  },
  {
    "id": "4c92d172159985a9",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Door light on (100%)",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "{\"color_name\":\"white\",\"brightness_pct\":\"100\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 940,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "c38c98058767e278",
    "type": "poll-state",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "updateinterval": "2",
    "updateIntervalType": "num",
    "updateIntervalUnits": "hours",
    "outputinitially": false,
    "outputonchanged": true,
    "entity_id": "sun.sun",
    "state_type": "str",
    "halt_if": "below_horizon",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "x": 130,
    "y": 220,
    "wires": [
      [
        "6dae17c627907e37"
      ],
      [
        "1b04206a65cea813"
      ]
    ]
  },
  {
    "id": "c573b0de84a33ed4",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Door light off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 710,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "ec38337bc4762c2a",
    "type": "trigger",
    "z": "cc94640ec8e547cb",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-2",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "above_horizon",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 550,
    "y": 180,
    "wires": [
      [
        "4c92d172159985a9"
      ]
    ]
  },
  {
    "id": "0ac23590a7b82122",
    "type": "trigger",
    "z": "cc94640ec8e547cb",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "above_horizon",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 530,
    "y": 260,
    "wires": [
      [
        "c573b0de84a33ed4"
      ]
    ]
  },
  {
    "id": "5ad85c724fafa24c",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Automation to turns on and off the front door light",
    "info": "",
    "x": 180,
    "y": 140,
    "wires": []
  },
  {
    "id": "18d4ce4ab3396e68",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Resend command every 2 hours until sun is Up",
    "info": "",
    "x": 560,
    "y": 140,
    "wires": []
  },
  {
    "id": "108c06c5cf959146",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait one hour",
    "info": "",
    "x": 530,
    "y": 300,
    "wires": []
  },
  {
    "id": "9ebe76810287385f",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Maximum brightness White Light",
    "info": "",
    "x": 930,
    "y": 140,
    "wires": []
  },
  {
    "id": "64b624557a59f61e",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Front door 100% white",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "{\"color_name\":\"white\",\"brightness_pct\":\"100\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1100,
    "y": 520,
    "wires": [
      [
        "202b7bbecbc5e1f4"
      ]
    ]
  },
  {
    "id": "87414222f452de4b",
    "type": "server-state-changed",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.front_persons",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(0)",
    "halt_if_type": "re",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 180,
    "y": 480,
    "wires": [
      [
        "e6c8ccf88b4d5f28"
      ],
      []
    ]
  },
  {
    "id": "0f9702216925a495",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Front door 65% white",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "{\"color_name\":\"white\",\"brightness_pct\":\"65\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1100,
    "y": 440,
    "wires": [
      [
        "3cbebc894a46829c"
      ]
    ]
  },
  {
    "id": "6be3e38f22ceb49d",
    "type": "api-current-state",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.front_door_light",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 680,
    "y": 480,
    "wires": [
      [
        "bf61178d1208f913"
      ],
      [
        "b2b40cd2583e9dcd"
      ]
    ]
  },
  {
    "id": "e6c8ccf88b4d5f28",
    "type": "switch",
    "z": "cc94640ec8e547cb",
    "name": "!=0",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 480,
    "wires": [
      [
        "6be3e38f22ceb49d"
      ]
    ]
  },
  {
    "id": "c2bcaaa56e71fe39",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1710,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "3cbebc894a46829c",
    "type": "ha-wait-until",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "sensor.front_persons",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "0",
    "valueType": "str",
    "timeout": "15",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1320,
    "y": 440,
    "wires": [
      [
        "d2b6266995cb604e"
      ],
      [
        "d2b6266995cb604e"
      ]
    ]
  },
  {
    "id": "d2b6266995cb604e",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1520,
    "y": 440,
    "wires": [
      [
        "c2bcaaa56e71fe39"
      ]
    ]
  },
  {
    "id": "c92671e67851e1a5",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Lights on when someone is detected in the front",
    "info": "",
    "x": 180,
    "y": 420,
    "wires": []
  },
  {
    "id": "6c8720b8279e955d",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Person is not 0",
    "info": "",
    "x": 420,
    "y": 520,
    "wires": []
  },
  {
    "id": "8706f5c37c3505c9",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Is the light already on?",
    "info": "",
    "x": 680,
    "y": 440,
    "wires": []
  },
  {
    "id": "0c19972a2eeb20b8",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Yes",
    "info": "",
    "x": 910,
    "y": 520,
    "wires": []
  },
  {
    "id": "85e319c981aa9d18",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "No",
    "info": "",
    "x": 910,
    "y": 440,
    "wires": []
  },
  {
    "id": "112abc97d210c7b4",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1730,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "202b7bbecbc5e1f4",
    "type": "ha-wait-until",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "sensor.front_persons",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "0",
    "valueType": "str",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1320,
    "y": 520,
    "wires": [
      [
        "17dd9d749a024ff0"
      ],
      [
        "17dd9d749a024ff0"
      ]
    ]
  },
  {
    "id": "17dd9d749a024ff0",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity.attributes.brightness",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "delete",
        "p": "payload.data.brightness_pct",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload.data.color_name",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1520,
    "y": 520,
    "wires": [
      [
        "112abc97d210c7b4"
      ]
    ]
  },
  {
    "id": "f5dda07dd9794855",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Apply color and brightness",
    "info": "",
    "x": 1090,
    "y": 480,
    "wires": []
  },
  {
    "id": "44a08d552acbc93f",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait until person = 0",
    "info": "",
    "x": 1330,
    "y": 480,
    "wires": []
  },
  {
    "id": "068c88e9751c285a",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Turn the light off",
    "info": "",
    "x": 1700,
    "y": 400,
    "wires": []
  },
  {
    "id": "b1ef6342e8069d84",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Return the light to its initial brightness",
    "info": "",
    "x": 1810,
    "y": 560,
    "wires": []
  },
  {
    "id": "ca142425f61b0c2a",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Extract initial brightness",
    "info": "",
    "x": 1520,
    "y": 560,
    "wires": []
  },
  {
    "id": "e1a0bd430e45a45b",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Reset payload",
    "info": "",
    "x": 1510,
    "y": 400,
    "wires": []
  },
  {
    "id": "b26e10b7fb19d977",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Lock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "lock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 730,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "a7d1ef5acf5d9982",
    "type": "trigger-state",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "binary_sensor.sensor_front_outside_door_contact",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 270,
    "y": 740,
    "wires": [
      [
        "b26e10b7fb19d977"
      ],
      []
    ]
  },
  {
    "id": "99fb4a0bebf4b554",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Detect when front door gets closed",
    "info": "",
    "x": 180,
    "y": 700,
    "wires": []
  },
  {
    "id": "a758a0c37b2d8097",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Lock the door",
    "info": "",
    "x": 730,
    "y": 700,
    "wires": []
  },
  {
    "id": "9be350595dc69bd8",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Lock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "lock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 830,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "a58c332479ab66c1",
    "type": "trigger-state",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "lock.lock_front_door",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "unlocked",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 170,
    "y": 880,
    "wires": [
      [
        "9c3940704c57c37b"
      ],
      []
    ]
  },
  {
    "id": "30a460e80cbb9298",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Detect when door is unlocked",
    "info": "",
    "x": 160,
    "y": 840,
    "wires": []
  },
  {
    "id": "b836f784462b57b8",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Lock the door",
    "info": "",
    "x": 830,
    "y": 840,
    "wires": []
  },
  {
    "id": "9c3940704c57c37b",
    "type": "trigger",
    "z": "cc94640ec8e547cb",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "5",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 510,
    "y": 880,
    "wires": [
      [
        "9be350595dc69bd8"
      ]
    ]
  },
  {
    "id": "6e7de3c713429510",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "wait 5 minutes",
    "info": "",
    "x": 490,
    "y": 840,
    "wires": []
  }
]