node-red/flows/Front Door.json
[
  {
    "id": "cc94640ec8e547cb",
    "type": "tab",
    "label": "Front Door",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "1b04206a65cea813",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 260,
    "y": 260,
    "wires": [
      [
        "0ac23590a7b82122",
        "ec38337bc4762c2a"
      ]
    ]
  },
  {
    "id": "6dae17c627907e37",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 260,
    "y": 180,
    "wires": [
      [
        "ec38337bc4762c2a"
      ]
    ]
  },
  {
    "id": "b2b40cd2583e9dcd",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 840,
    "y": 520,
    "wires": [
      [
        "64b624557a59f61e"
      ]
    ]
  },
  {
    "id": "bf61178d1208f913",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 840,
    "y": 440,
    "wires": [
      [
        "0f9702216925a495"
      ]
    ]
  },
  {
    "id": "79b785d11bf94fd0",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 1040,
    "y": 1180,
    "wires": [
      [
        "6877bf1fa1529499"
      ]
    ]
  },
  {
    "id": "e8ac38df38777916",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 260,
    "y": 1140,
    "wires": [
      [
        "dd92294670fe6c0a"
      ]
    ]
  },
  {
    "id": "625bfabb4a23a8fd",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 620,
    "y": 1180,
    "wires": [
      [
        "55bc58b8ee7f542d"
      ]
    ]
  },
  {
    "id": "1fc38a6d436e5401",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 1460,
    "y": 1540,
    "wires": [
      [
        "73634a14fd698218",
        "99920e046416a169"
      ]
    ]
  },
  {
    "id": "551208ac4f349765",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 1360,
    "y": 1840,
    "wires": [
      [
        "d25b8a56d9708a46",
        "14f2faa78c4b0c8d"
      ]
    ]
  },
  {
    "id": "3a18d29d3e7456e5",
    "type": "junction",
    "z": "cc94640ec8e547cb",
    "x": 1360,
    "y": 1920,
    "wires": [
      [
        "d25b8a56d9708a46"
      ]
    ]
  },
  {
    "id": "4c92d172159985a9",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Door light on (100%)",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "{\"color_name\":\"white\",\"brightness_pct\":\"100\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 940,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "c38c98058767e278",
    "type": "poll-state",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "updateinterval": "2",
    "updateIntervalType": "num",
    "updateIntervalUnits": "hours",
    "outputinitially": false,
    "outputonchanged": true,
    "entity_id": "sun.sun",
    "state_type": "str",
    "halt_if": "below_horizon",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "x": 130,
    "y": 220,
    "wires": [
      [
        "6dae17c627907e37"
      ],
      [
        "1b04206a65cea813"
      ]
    ]
  },
  {
    "id": "c573b0de84a33ed4",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Door light off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 710,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "ec38337bc4762c2a",
    "type": "trigger",
    "z": "cc94640ec8e547cb",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-2",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "above_horizon",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 550,
    "y": 180,
    "wires": [
      [
        "4c92d172159985a9"
      ]
    ]
  },
  {
    "id": "0ac23590a7b82122",
    "type": "trigger",
    "z": "cc94640ec8e547cb",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "above_horizon",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 530,
    "y": 260,
    "wires": [
      [
        "c573b0de84a33ed4"
      ]
    ]
  },
  {
    "id": "5ad85c724fafa24c",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Automation to turns on and off the front door light",
    "info": "",
    "x": 180,
    "y": 140,
    "wires": []
  },
  {
    "id": "18d4ce4ab3396e68",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Resend command every 2 hours until sun is Up",
    "info": "",
    "x": 560,
    "y": 140,
    "wires": []
  },
  {
    "id": "108c06c5cf959146",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait one hour",
    "info": "",
    "x": 530,
    "y": 300,
    "wires": []
  },
  {
    "id": "9ebe76810287385f",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Maximum brightness White Light",
    "info": "",
    "x": 930,
    "y": 140,
    "wires": []
  },
  {
    "id": "64b624557a59f61e",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Front door 100% white",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "{\"color_name\":\"white\",\"brightness_pct\":\"100\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1100,
    "y": 520,
    "wires": [
      [
        "202b7bbecbc5e1f4"
      ]
    ]
  },
  {
    "id": "87414222f452de4b",
    "type": "server-state-changed",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.front_persons",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(0)",
    "halt_if_type": "re",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 180,
    "y": 480,
    "wires": [
      [
        "e6c8ccf88b4d5f28"
      ],
      []
    ]
  },
  {
    "id": "0f9702216925a495",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Front door 65% white",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "{\"color_name\":\"white\",\"brightness_pct\":\"65\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1100,
    "y": 440,
    "wires": [
      [
        "3cbebc894a46829c"
      ]
    ]
  },
  {
    "id": "6be3e38f22ceb49d",
    "type": "api-current-state",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.front_door_light",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 680,
    "y": 480,
    "wires": [
      [
        "bf61178d1208f913"
      ],
      [
        "b2b40cd2583e9dcd"
      ]
    ]
  },
  {
    "id": "e6c8ccf88b4d5f28",
    "type": "switch",
    "z": "cc94640ec8e547cb",
    "name": "!=0",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 480,
    "wires": [
      [
        "6be3e38f22ceb49d"
      ]
    ]
  },
  {
    "id": "c2bcaaa56e71fe39",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1710,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "3cbebc894a46829c",
    "type": "ha-wait-until",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "sensor.front_persons",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "0",
    "valueType": "str",
    "timeout": "15",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1320,
    "y": 440,
    "wires": [
      [
        "d2b6266995cb604e"
      ],
      [
        "d2b6266995cb604e"
      ]
    ]
  },
  {
    "id": "d2b6266995cb604e",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1520,
    "y": 440,
    "wires": [
      [
        "c2bcaaa56e71fe39"
      ]
    ]
  },
  {
    "id": "c92671e67851e1a5",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Lights on when someone is detected in the front",
    "info": "",
    "x": 180,
    "y": 420,
    "wires": []
  },
  {
    "id": "6c8720b8279e955d",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Person is not 0",
    "info": "",
    "x": 420,
    "y": 520,
    "wires": []
  },
  {
    "id": "8706f5c37c3505c9",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Is the light already on?",
    "info": "",
    "x": 680,
    "y": 440,
    "wires": []
  },
  {
    "id": "0c19972a2eeb20b8",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Yes",
    "info": "",
    "x": 910,
    "y": 520,
    "wires": []
  },
  {
    "id": "85e319c981aa9d18",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "No",
    "info": "",
    "x": 910,
    "y": 440,
    "wires": []
  },
  {
    "id": "112abc97d210c7b4",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.front_door_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1730,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "202b7bbecbc5e1f4",
    "type": "ha-wait-until",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "sensor.front_persons",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "0",
    "valueType": "str",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1320,
    "y": 520,
    "wires": [
      [
        "17dd9d749a024ff0"
      ],
      [
        "17dd9d749a024ff0"
      ]
    ]
  },
  {
    "id": "17dd9d749a024ff0",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity.attributes.brightness",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "delete",
        "p": "payload.data.brightness_pct",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload.data.color_name",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1520,
    "y": 520,
    "wires": [
      [
        "112abc97d210c7b4"
      ]
    ]
  },
  {
    "id": "f5dda07dd9794855",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Apply color and brightness",
    "info": "",
    "x": 1090,
    "y": 480,
    "wires": []
  },
  {
    "id": "44a08d552acbc93f",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait until person = 0",
    "info": "",
    "x": 1330,
    "y": 480,
    "wires": []
  },
  {
    "id": "068c88e9751c285a",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Turn the light off",
    "info": "",
    "x": 1700,
    "y": 400,
    "wires": []
  },
  {
    "id": "b1ef6342e8069d84",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Return the light to its initial brightness",
    "info": "",
    "x": 1810,
    "y": 560,
    "wires": []
  },
  {
    "id": "ca142425f61b0c2a",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Extract initial brightness",
    "info": "",
    "x": 1520,
    "y": 560,
    "wires": []
  },
  {
    "id": "e1a0bd430e45a45b",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Reset payload",
    "info": "",
    "x": 1510,
    "y": 400,
    "wires": []
  },
  {
    "id": "b26e10b7fb19d977",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Lock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "lock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 730,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "a7d1ef5acf5d9982",
    "type": "trigger-state",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "binary_sensor.sensor_front_outside_door_contact",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 270,
    "y": 740,
    "wires": [
      [
        "b26e10b7fb19d977"
      ],
      []
    ]
  },
  {
    "id": "99fb4a0bebf4b554",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Detect when front door gets closed",
    "info": "",
    "x": 180,
    "y": 700,
    "wires": []
  },
  {
    "id": "a758a0c37b2d8097",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Lock the door",
    "info": "",
    "x": 730,
    "y": 700,
    "wires": []
  },
  {
    "id": "9be350595dc69bd8",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Lock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "lock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 830,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "a58c332479ab66c1",
    "type": "trigger-state",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "lock.lock_front_door",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "unlocked",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 170,
    "y": 880,
    "wires": [
      [
        "9c3940704c57c37b"
      ],
      []
    ]
  },
  {
    "id": "30a460e80cbb9298",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Detect when door is unlocked",
    "info": "",
    "x": 160,
    "y": 840,
    "wires": []
  },
  {
    "id": "b836f784462b57b8",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Lock the door",
    "info": "",
    "x": 830,
    "y": 840,
    "wires": []
  },
  {
    "id": "9c3940704c57c37b",
    "type": "trigger",
    "z": "cc94640ec8e547cb",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "5",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 510,
    "y": 880,
    "wires": [
      [
        "9be350595dc69bd8"
      ]
    ]
  },
  {
    "id": "6e7de3c713429510",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "wait 5 minutes",
    "info": "",
    "x": 490,
    "y": 840,
    "wires": []
  },
  {
    "id": "6877bf1fa1529499",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Alert",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Front Door Open",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 1180,
    "wires": [
      [
        "e3e25ac88e5ab623"
      ]
    ]
  },
  {
    "id": "55bc58b8ee7f542d",
    "type": "trigger",
    "z": "cc94640ec8e547cb",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "num",
    "op2type": "str",
    "duration": "-5",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 730,
    "y": 1180,
    "wires": [
      [
        "a54db271c14c6fdb"
      ]
    ]
  },
  {
    "id": "6fa95abdf2c98257",
    "type": "server-state-changed",
    "z": "cc94640ec8e547cb",
    "name": "Front door Sensor",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_front_door_contact",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 150,
    "y": 1140,
    "wires": [
      [
        "e8ac38df38777916"
      ],
      [
        "9efe535f624f00ef"
      ]
    ]
  },
  {
    "id": "a54db271c14c6fdb",
    "type": "api-current-state",
    "z": "cc94640ec8e547cb",
    "name": "Aerating?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.aerating_appartment",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 960,
    "y": 1180,
    "wires": [
      [
        "79b785d11bf94fd0"
      ],
      []
    ]
  },
  {
    "id": "e3e25ac88e5ab623",
    "type": "subflow:233ac7dcd801a802",
    "z": "cc94640ec8e547cb",
    "name": "",
    "x": 1430,
    "y": 1180,
    "wires": []
  },
  {
    "id": "dd92294670fe6c0a",
    "type": "trigger",
    "z": "cc94640ec8e547cb",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "2",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 490,
    "y": 1140,
    "wires": [
      [
        "625bfabb4a23a8fd"
      ]
    ]
  },
  {
    "id": "9efe535f624f00ef",
    "type": "switch",
    "z": "cc94640ec8e547cb",
    "name": "off?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 310,
    "y": 1180,
    "wires": [
      [
        "55bc58b8ee7f542d",
        "dd92294670fe6c0a"
      ]
    ]
  },
  {
    "id": "f7bdf157661f1407",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Detect when door is left open",
    "info": "",
    "x": 140,
    "y": 1100,
    "wires": []
  },
  {
    "id": "17144aff81abba69",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait 2 minutes before continuing",
    "info": "",
    "x": 490,
    "y": 1100,
    "wires": []
  },
  {
    "id": "6cbc9fa3c30d1542",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait 5 minutes before repeating",
    "info": "",
    "x": 730,
    "y": 1140,
    "wires": []
  },
  {
    "id": "668ef1c1a7215138",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Reset on door close",
    "info": "",
    "x": 730,
    "y": 1220,
    "wires": []
  },
  {
    "id": "f33b94f5fba64359",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Reset on door close",
    "info": "",
    "x": 490,
    "y": 1180,
    "wires": []
  },
  {
    "id": "6a76f6c52daab14b",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Are we \"Aereating\"?",
    "info": "Continue if not",
    "x": 970,
    "y": 1140,
    "wires": []
  },
  {
    "id": "024341880cacc948",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Set Alert message",
    "info": "",
    "x": 1170,
    "y": 1140,
    "wires": []
  },
  {
    "id": "700b478a5e26a806",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Use the Alert subflow to alert us",
    "info": "",
    "x": 1430,
    "y": 1140,
    "wires": []
  },
  {
    "id": "20d6128a02c5cd8a",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Monitor Lock through MQTT",
    "info": "This is meant to pull more data from the unlock event, such as unlock_pin",
    "x": 180,
    "y": 1500,
    "wires": []
  },
  {
    "id": "3055a77582b04f89",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "####MANAGE CONDITIONAL PINS####",
    "info": "Those are pins that send unlock data without actually unlocking the door",
    "x": 220,
    "y": 1460,
    "wires": []
  },
  {
    "id": "9abc6bf90bea613e",
    "type": "switch",
    "z": "cc94640ec8e547cb",
    "name": "action: unlock_failure_invalid_schedule",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "unlock_failure_invalid_schedule",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 510,
    "y": 1540,
    "wires": [
      [
        "0f6f3939fc31b412"
      ]
    ]
  },
  {
    "id": "1b59826fbe1d34e5",
    "type": "switch",
    "z": "cc94640ec8e547cb",
    "name": "WHO",
    "property": "payload.action_user",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "13",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 1090,
    "y": 1540,
    "wires": [
      [
        "f5f19fea537c849a"
      ],
      [
        "8f0c3df71928ed70"
      ],
      [
        "6aa93395c75d3c04"
      ]
    ]
  },
  {
    "id": "f5f19fea537c849a",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Fay",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Fay has arrived",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.name",
        "pt": "msg",
        "to": "Fay",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1330,
    "y": 1500,
    "wires": [
      [
        "1fc38a6d436e5401"
      ]
    ]
  },
  {
    "id": "0f6f3939fc31b412",
    "type": "api-current-state",
    "z": "cc94640ec8e547cb",
    "name": "Maxi home?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "person.maximiliano",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 830,
    "y": 1540,
    "wires": [
      [
        "1b59826fbe1d34e5"
      ],
      []
    ]
  },
  {
    "id": "995c67a6597ab468",
    "type": "subflow:233ac7dcd801a802",
    "z": "cc94640ec8e547cb",
    "name": "",
    "x": 2230,
    "y": 1600,
    "wires": []
  },
  {
    "id": "73634a14fd698218",
    "type": "function",
    "z": "cc94640ec8e547cb",
    "name": "Name Payload",
    "func": "var name = msg.payload.name;\n\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"value\": name\n        }}};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1600,
    "y": 1540,
    "wires": [
      [
        "dc9c1a9c0274250e",
        "659bb3222f8c2da5"
      ]
    ]
  },
  {
    "id": "dc9c1a9c0274250e",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1930,
    "y": 1540,
    "wires": [
      [
        "26c3ccc9500c7846"
      ]
    ]
  },
  {
    "id": "8f0c3df71928ed70",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Alexe",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Alexe has arrived",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.name",
        "pt": "msg",
        "to": "Alexe",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1324.673583984375,
    "y": 1548.3333740234375,
    "wires": [
      [
        "1fc38a6d436e5401"
      ]
    ]
  },
  {
    "id": "eb3e489f030d78b0",
    "type": "mqtt in",
    "z": "cc94640ec8e547cb",
    "name": "",
    "topic": "zigbee2mqtt/lock_front_door",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 1540,
    "wires": [
      [
        "9abc6bf90bea613e"
      ]
    ]
  },
  {
    "id": "6aa93395c75d3c04",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Carla",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Carla has arrived",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.name",
        "pt": "msg",
        "to": "Carla",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1330,
    "y": 1600,
    "wires": [
      [
        "1fc38a6d436e5401"
      ]
    ]
  },
  {
    "id": "17022c97071074b8",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2600,
    "y": 1540,
    "wires": [
      [
        "2ae2baa69569d00f"
      ]
    ]
  },
  {
    "id": "2ae2baa69569d00f",
    "type": "ha-wait-until",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "locked",
    "valueType": "str",
    "timeout": "50",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2820,
    "y": 1540,
    "wires": [
      [
        "72e7725486573888"
      ],
      [
        "72e7725486573888"
      ]
    ]
  },
  {
    "id": "72e7725486573888",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "toggle boolean",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.face_recognized",
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3120,
    "y": 1540,
    "wires": [
      [
        "23ac817267ade3a3"
      ]
    ]
  },
  {
    "id": "23ac817267ade3a3",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_text.recognized_face"
    ],
    "data": " {             \"value\": \"UNKNOWN\"         }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3400,
    "y": 1540,
    "wires": [
      []
    ]
  },
  {
    "id": "26c3ccc9500c7846",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "unLock Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "lock",
    "service": "unlock",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "lock.lock_front_door"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2190,
    "y": 1540,
    "wires": [
      [
        "4058f004bd6e6039"
      ]
    ]
  },
  {
    "id": "4058f004bd6e6039",
    "type": "ha-wait-until",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "lock.lock_front_door",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "unlocked",
    "valueType": "str",
    "timeout": "2",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2380,
    "y": 1540,
    "wires": [
      [
        "17022c97071074b8"
      ],
      []
    ]
  },
  {
    "id": "fe0864bae7936f4e",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Only allow conditional pins through",
    "info": "",
    "x": 520,
    "y": 1500,
    "wires": []
  },
  {
    "id": "57ad524e9c954451",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Only continue if I am Home",
    "info": "",
    "x": 830,
    "y": 1500,
    "wires": []
  },
  {
    "id": "328f6701250769c2",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Whose pin was used?",
    "info": "",
    "x": 1100,
    "y": 1500,
    "wires": []
  },
  {
    "id": "b971484a535ab59f",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Set Name according to Pin used",
    "info": "",
    "x": 1330,
    "y": 1460,
    "wires": []
  },
  {
    "id": "fcb2c0489efe169c",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Set payload name for next node",
    "info": "",
    "x": 1610,
    "y": 1500,
    "wires": []
  },
  {
    "id": "57011ec24b69f2c3",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Announce the arrival of the person",
    "info": "",
    "x": 2220,
    "y": 1640,
    "wires": []
  },
  {
    "id": "99920e046416a169",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Set Data for someone coming in",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1600,
    "wires": [
      [
        "995c67a6597ab468"
      ]
    ]
  },
  {
    "id": "33a88495879f0377",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "set lights color and brightness for announcement",
    "info": "",
    "x": 1700,
    "y": 1640,
    "wires": []
  },
  {
    "id": "8f4fca2ef1a9e206",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Set name on front-door to welcome guest",
    "info": "",
    "x": 1920,
    "y": 1500,
    "wires": []
  },
  {
    "id": "f716e0d7c16976fe",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Unlock the door",
    "info": "",
    "x": 2180,
    "y": 1500,
    "wires": []
  },
  {
    "id": "16fc986103dee7ef",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait till door unlocks",
    "info": "",
    "x": 2370,
    "y": 1500,
    "wires": []
  },
  {
    "id": "d12d72b22641204c",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Turn \"Face Recognized\" on",
    "info": "",
    "x": 2600,
    "y": 1500,
    "wires": []
  },
  {
    "id": "fabd5c118b5399ff",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Turn \"Face Recognized\" off",
    "info": "",
    "x": 3110,
    "y": 1500,
    "wires": []
  },
  {
    "id": "73c845ec5370a709",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Clear \"recognized_face\" variable",
    "info": " - ",
    "x": 3410,
    "y": 1500,
    "wires": []
  },
  {
    "id": "9e330a9008eb81c9",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait till door locks",
    "info": "",
    "x": 2830,
    "y": 1500,
    "wires": []
  },
  {
    "id": "659bb3222f8c2da5",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_galaxy_fold_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1920,
    "y": 1460,
    "wires": [
      [
        "5a0aef6354bb55ee"
      ]
    ]
  },
  {
    "id": "5a0aef6354bb55ee",
    "type": "delay",
    "z": "cc94640ec8e547cb",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2200,
    "y": 1460,
    "wires": [
      [
        "1ad4c021933eaecb"
      ]
    ]
  },
  {
    "id": "1ad4c021933eaecb",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_entrance_lights"
    ],
    "data": "{ \"color_name\": \"white\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2350,
    "y": 1460,
    "wires": [
      []
    ]
  },
  {
    "id": "c8a52b5adfdd5182",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "notify my phone of the arrival",
    "info": "",
    "x": 1880,
    "y": 1420,
    "wires": []
  },
  {
    "id": "8e73d1549d9e9178",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait one second then turn on entrance lights",
    "info": "They tend to get closed by the initial announcement of arrival. This insure they are on!",
    "x": 2270,
    "y": 1420,
    "wires": []
  },
  {
    "id": "fb02f9f19c37b0de",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Monitor Lock through MQTT",
    "info": "This is meant to pull more data from the unlock event, such as unlock_pin",
    "x": 180,
    "y": 1800,
    "wires": []
  },
  {
    "id": "37fa0aeab0c77b62",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "####MANAGE ADMIN PINS####",
    "info": "Those are pins that work at all time",
    "x": 190,
    "y": 1760,
    "wires": []
  },
  {
    "id": "955f309c16ad33b2",
    "type": "mqtt in",
    "z": "cc94640ec8e547cb",
    "name": "",
    "topic": "zigbee2mqtt/lock_front_door",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 1840,
    "wires": [
      [
        "eb942024db9bab52"
      ]
    ]
  },
  {
    "id": "0b0bc380e8b94d7f",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Only allow keypad unlocks",
    "info": "",
    "x": 490,
    "y": 1800,
    "wires": []
  },
  {
    "id": "eb942024db9bab52",
    "type": "switch",
    "z": "cc94640ec8e547cb",
    "name": "Check for Source_name ",
    "property": "payload.action_source_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "keypad",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 490,
    "y": 1840,
    "wires": [
      [
        "6c809f93398b1f08"
      ]
    ]
  },
  {
    "id": "6c809f93398b1f08",
    "type": "switch",
    "z": "cc94640ec8e547cb",
    "name": "Action  is \"unlock\"?",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "unlock",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 730,
    "y": 1840,
    "wires": [
      [
        "c4d53bf136036aed"
      ]
    ]
  },
  {
    "id": "898203885ebd4841",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Confirm action take on the look",
    "info": "",
    "x": 750,
    "y": 1800,
    "wires": []
  },
  {
    "id": "e475250f2ad1f0ce",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Myriam",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Myriam",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 1880,
    "wires": [
      [
        "551208ac4f349765"
      ]
    ]
  },
  {
    "id": "35e25198f87993cd",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Maxi",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Maxi",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 1840,
    "wires": [
      [
        "551208ac4f349765"
      ]
    ]
  },
  {
    "id": "914c3b096bd61312",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.data.title",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1880,
    "y": 1840,
    "wires": [
      [
        "e34fd4ad8f7274c4"
      ]
    ]
  },
  {
    "id": "50d1929b9fe60bbe",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_galaxy_fold_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1940,
    "y": 1900,
    "wires": [
      [
        "b62931fec68c6932"
      ]
    ]
  },
  {
    "id": "c4d53bf136036aed",
    "type": "switch",
    "z": "cc94640ec8e547cb",
    "name": "WHO",
    "property": "payload.action_user",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "nnull"
      },
      {
        "t": "null"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 990,
    "y": 1860,
    "wires": [
      [
        "35e25198f87993cd"
      ],
      [
        "e475250f2ad1f0ce"
      ],
      [
        "b448399f5e588231"
      ],
      [
        "504024337906fed8"
      ]
    ]
  },
  {
    "id": "b62931fec68c6932",
    "type": "delay",
    "z": "cc94640ec8e547cb",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2220,
    "y": 1900,
    "wires": [
      [
        "abfdc4da4813a3ae"
      ]
    ]
  },
  {
    "id": "abfdc4da4813a3ae",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_entrance_lights"
    ],
    "data": "{ \"color_name\": \"white\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2370,
    "y": 1900,
    "wires": [
      []
    ]
  },
  {
    "id": "e34fd4ad8f7274c4",
    "type": "subflow:233ac7dcd801a802",
    "z": "cc94640ec8e547cb",
    "name": "",
    "x": 2250,
    "y": 1840,
    "wires": []
  },
  {
    "id": "abe4adfa631aec08",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Whose pin was used?",
    "info": "",
    "x": 1000,
    "y": 1800,
    "wires": []
  },
  {
    "id": "5023f6862a9587a8",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Set Name according to Pin used",
    "info": "",
    "x": 1250,
    "y": 1800,
    "wires": []
  },
  {
    "id": "b448399f5e588231",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "unregistered",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Someone Unregistered ",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1230,
    "y": 1920,
    "wires": [
      [
        "3a18d29d3e7456e5"
      ]
    ]
  },
  {
    "id": "504024337906fed8",
    "type": "change",
    "z": "cc94640ec8e547cb",
    "name": "Unpined",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Someone without a pin ",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 1960,
    "wires": [
      [
        "3a18d29d3e7456e5"
      ]
    ]
  },
  {
    "id": "d25b8a56d9708a46",
    "type": "function",
    "z": "cc94640ec8e547cb",
    "name": "Javascript",
    "func": "var recoface = [];\nvar d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"https://purgatoire.ca/local/unlocked.jpg?\" + m;\nvar facestring = msg.payload;\n\nvar newMsg = {\n \"payload\": {\n  \"data\": {\n   \"message\": \"Door Unlocked\",\n   \"title\": facestring + \" has arrived.\",\n   \"data\": {\n    \"image\": url\n   }\n  }\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1540,
    "y": 1840,
    "wires": [
      [
        "914c3b096bd61312",
        "50d1929b9fe60bbe"
      ]
    ]
  },
  {
    "id": "24d353cbdf14472e",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Set payload for message and display",
    "info": "",
    "x": 1540,
    "y": 1800,
    "wires": []
  },
  {
    "id": "9456fead63fd8d20",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "set lights color and brightness for announcement",
    "info": "",
    "x": 1880,
    "y": 1800,
    "wires": []
  },
  {
    "id": "e05deaa22833e66c",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Announce the arrival of the person",
    "info": "",
    "x": 2260,
    "y": 1800,
    "wires": []
  },
  {
    "id": "14f2faa78c4b0c8d",
    "type": "api-call-service",
    "z": "cc94640ec8e547cb",
    "name": "Disable Alarm",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "alarm_control_panel",
    "service": "alarm_disarm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.home_alarm"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1500,
    "y": 1760,
    "wires": [
      []
    ]
  },
  {
    "id": "e440369da69d4ca2",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Disable alarm when registered users are welcomed",
    "info": "",
    "x": 1510,
    "y": 1720,
    "wires": []
  },
  {
    "id": "c338fee56fb202ba",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "notify my phone of the arrival",
    "info": "",
    "x": 1900,
    "y": 1940,
    "wires": []
  },
  {
    "id": "47609a1a9b553764",
    "type": "comment",
    "z": "cc94640ec8e547cb",
    "name": "Wait one second then turn on entrance lights",
    "info": "They tend to get closed by the initial announcement of arrival. This insure they are on!",
    "x": 2290,
    "y": 1940,
    "wires": []
  }
]