node-red/flows/hallway.json
[
  {
    "id": "f9b109c0bb255002",
    "type": "tab",
    "label": "hallway",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "6f3b1854aba9221a",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 1060,
    "y": 400,
    "wires": [
      [
        "4a33f81d6476ee85"
      ]
    ]
  },
  {
    "id": "e0cf5c45b188f5cf",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 1580,
    "y": 260,
    "wires": [
      [
        "ec295a52cb3eda1e"
      ]
    ]
  },
  {
    "id": "b3185c68d8b2faf4",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 1040,
    "y": 400,
    "wires": [
      [
        "6f3b1854aba9221a"
      ]
    ]
  },
  {
    "id": "820f24cc65413b0e",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 980,
    "y": 260,
    "wires": [
      [
        "46f8eec09a9ff3aa",
        "afecf1399e86a3be"
      ]
    ]
  },
  {
    "id": "dfbabf05fa5cf92e",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 1860,
    "y": 400,
    "wires": [
      [
        "9a3f87263f09b0b2"
      ]
    ]
  },
  {
    "id": "4a33f81d6476ee85",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 1580,
    "y": 400,
    "wires": [
      [
        "093f80f9b2b1e66a"
      ]
    ]
  },
  {
    "id": "093f80f9b2b1e66a",
    "type": "trigger",
    "z": "f9b109c0bb255002",
    "name": "",
    "op1": "1",
    "op2": "",
    "op1type": "num",
    "op2type": "nul",
    "duration": "100",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1700,
    "y": 400,
    "wires": [
      [
        "dfbabf05fa5cf92e"
      ]
    ]
  },
  {
    "id": "9a3f87263f09b0b2",
    "type": "switch",
    "z": "f9b109c0bb255002",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1950,
    "y": 400,
    "wires": [
      [
        "7a74a930a1141d90"
      ]
    ]
  },
  {
    "id": "46f8eec09a9ff3aa",
    "type": "change",
    "z": "f9b109c0bb255002",
    "name": "set entity",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "media_player.entrance_speaker",
        "tot": "str",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 260,
    "wires": [
      [
        "6a8f1ee04c484aa4"
      ]
    ]
  },
  {
    "id": "cc79564b75209d90",
    "type": "api-current-state",
    "z": "f9b109c0bb255002",
    "name": "speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.entrance_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 900,
    "y": 280,
    "wires": [
      [
        "820f24cc65413b0e"
      ],
      [
        "b3185c68d8b2faf4"
      ]
    ]
  },
  {
    "id": "bb9b700f9927c79b",
    "type": "switch",
    "z": "f9b109c0bb255002",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "rotate_right",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "rotate_left",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_forward",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_backward",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 2390,
    "y": 400,
    "wires": [
      [
        "f6f236513913ff05"
      ],
      [
        "6fb4a916c92f88d7"
      ],
      [
        "3869e28f91f4e7bd"
      ],
      [
        "648b1f388f4379b9"
      ],
      []
    ]
  },
  {
    "id": "eae8387612d1efe2",
    "type": "change",
    "z": "f9b109c0bb255002",
    "name": "Move action",
    "rules": [
      {
        "t": "set",
        "p": "action",
        "pt": "msg",
        "to": "payload.action",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 280,
    "wires": [
      [
        "cc79564b75209d90"
      ]
    ]
  },
  {
    "id": "f6f236513913ff05",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "Brightnen light",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"brightness_step_pct\": 10}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2640,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "3869e28f91f4e7bd",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "toggle",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2640,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "6fb4a916c92f88d7",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "Dim light",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"brightness_step_pct\": -10}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2620,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "ad7397637c4b8993",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Set speakers entities",
    "info": "",
    "x": 1250,
    "y": 220,
    "wires": []
  },
  {
    "id": "c30e143fb16dede9",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Is speaker off?",
    "info": "",
    "x": 900,
    "y": 240,
    "wires": []
  },
  {
    "id": "fe3264d96714d793",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "No",
    "info": "",
    "x": 1070,
    "y": 260,
    "wires": []
  },
  {
    "id": "105bbcb8eb8b078e",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Yes",
    "info": "",
    "x": 1070,
    "y": 400,
    "wires": []
  },
  {
    "id": "71f2fe12b5131671",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Move payload.action to action",
    "info": "",
    "x": 660,
    "y": 240,
    "wires": []
  },
  {
    "id": "ddefa3da37bcda3f",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Monitor mqtt of living room dial",
    "info": "",
    "x": 370,
    "y": 240,
    "wires": []
  },
  {
    "id": "7bbb03b8dde6fd17",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Check that action is not empty",
    "info": "",
    "x": 1960,
    "y": 360,
    "wires": []
  },
  {
    "id": "ec295a52cb3eda1e",
    "type": "switch",
    "z": "f9b109c0bb255002",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "rotate_right",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "rotate_left",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_forward",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_backward",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 1670,
    "y": 260,
    "wires": [
      [
        "fc36a5b7928a6db1"
      ],
      [
        "f5317d731f3f6572"
      ],
      [
        "944d4e4d788468b7"
      ],
      [
        "eeb12bfb7b658f63"
      ],
      [
        "d7e1143460b37f67"
      ]
    ]
  },
  {
    "id": "eeb12bfb7b658f63",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_next_track",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1970,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "fc36a5b7928a6db1",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2010,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "f5317d731f3f6572",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_play_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2010,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "944d4e4d788468b7",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_down",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1970,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "7a74a930a1141d90",
    "type": "change",
    "z": "f9b109c0bb255002",
    "name": "set entity",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "light.group_entrance_main_lights",
        "tot": "str",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2180,
    "y": 400,
    "wires": [
      [
        "bb4edcf14931996e",
        "bb9b700f9927c79b"
      ]
    ]
  },
  {
    "id": "f6ec7c45c1099efa",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Set Lights entities",
    "info": "",
    "x": 2210,
    "y": 360,
    "wires": []
  },
  {
    "id": "bb4edcf14931996e",
    "type": "debug",
    "z": "f9b109c0bb255002",
    "name": "debug 32",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2360,
    "y": 480,
    "wires": []
  },
  {
    "id": "d7e1143460b37f67",
    "type": "change",
    "z": "f9b109c0bb255002",
    "name": "set flow light mode = 1",
    "rules": [
      {
        "t": "set",
        "p": "lightmode",
        "pt": "flow",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1900,
    "y": 300,
    "wires": [
      [
        "1ffa0a3b1b1cef2f"
      ]
    ]
  },
  {
    "id": "181034a28952456e",
    "type": "change",
    "z": "f9b109c0bb255002",
    "name": "set flow light mode = 0",
    "rules": [
      {
        "t": "set",
        "p": "lightmode",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "1ffa0a3b1b1cef2f",
    "type": "trigger",
    "z": "f9b109c0bb255002",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2110,
    "y": 300,
    "wires": [
      [
        "181034a28952456e"
      ]
    ]
  },
  {
    "id": "6a8f1ee04c484aa4",
    "type": "switch",
    "z": "f9b109c0bb255002",
    "name": "Light mode off?",
    "property": "lightmode",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 1440,
    "y": 260,
    "wires": [
      [
        "e0cf5c45b188f5cf"
      ],
      [
        "4a33f81d6476ee85"
      ],
      [
        "e0cf5c45b188f5cf"
      ]
    ]
  },
  {
    "id": "648b1f388f4379b9",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "Max white brightness",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"brightness_pct\": 100,\"color_name\": \"white\"}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2660,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "533c03f8e53b7c19",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "These nodes set a flow variable to \"1\" for 10 seconds before setting it to \"0\"",
    "info": "",
    "x": 2120,
    "y": 260,
    "wires": []
  },
  {
    "id": "5f8099e6e14d3821",
    "type": "mqtt in",
    "z": "f9b109c0bb255002",
    "name": "",
    "topic": "zigbee2mqtt/remote_entrance_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 360,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "dcad8298db9f6e05",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Monitor mqtt of living room dial",
    "info": "",
    "x": 510,
    "y": 540,
    "wires": []
  },
  {
    "id": "cf09066407f160f4",
    "type": "debug",
    "z": "f9b109c0bb255002",
    "name": "mqtt",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 910,
    "y": 580,
    "wires": []
  },
  {
    "id": "afecf1399e86a3be",
    "type": "debug",
    "z": "f9b109c0bb255002",
    "name": "debug 35",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1140,
    "y": 140,
    "wires": []
  },
  {
    "id": "7678b774f14479c5",
    "type": "trigger-state",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "lock.lock_front_door",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "unlocked",
        "propertyValue": "new_state.state"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "",
        "propertyValue": ""
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 270,
    "y": 1140,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "78faea2e6e741bc1",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "automation",
    "service": "trigger",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "automation.clean_the_hallway"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2000,
    "y": 860,
    "wires": [
      [
        "dabb203a4c466783"
      ]
    ]
  },
  {
    "id": "88cac6cd93921dd9",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "vacuum",
    "service": "set_fan_speed",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "vacuum.xiaomi_vacuum_cleaner"
    ],
    "data": "{\"fan_speed\": \"Turbo\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2520,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "aa233de06fdaee3e",
    "type": "ha-wait-until",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "vacuum.xiaomi_vacuum_cleaner",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "docked",
    "valueType": "str",
    "timeout": "15",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2320,
    "y": 860,
    "wires": [
      [
        "88cac6cd93921dd9"
      ],
      []
    ]
  },
  {
    "id": "dabb203a4c466783",
    "type": "delay",
    "z": "f9b109c0bb255002",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 2180,
    "y": 860,
    "wires": [
      [
        "aa233de06fdaee3e"
      ]
    ]
  },
  {
    "id": "f837081db80fd1c8",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "automation",
    "service": "trigger",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "automation.clean_the_hallway"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1720,
    "y": 820,
    "wires": [
      [
        "1c765a9b48b7a846"
      ]
    ]
  },
  {
    "id": "1381f587bd5f9237",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "vacuum",
    "service": "set_fan_speed",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "vacuum.xiaomi_vacuum_cleaner"
    ],
    "data": "{\"fan_speed\": \"Turbo\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2260,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "e0dcd8a5a87d76d2",
    "type": "ha-wait-until",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "vacuum.xiaomi_vacuum_cleaner",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "docked",
    "valueType": "str",
    "timeout": "15",
    "timeoutType": "num",
    "timeoutUnits": "minutes",
    "checkCurrentState": false,
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 2060,
    "y": 820,
    "wires": [
      [
        "1381f587bd5f9237"
      ],
      []
    ]
  },
  {
    "id": "1c765a9b48b7a846",
    "type": "delay",
    "z": "f9b109c0bb255002",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 1920,
    "y": 820,
    "wires": [
      [
        "e0dcd8a5a87d76d2"
      ]
    ]
  },
  {
    "id": "f87f02c87a9e4e9d",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "vacuum",
    "service": "set_fan_speed",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "vacuum.xiaomi_vacuum_cleaner"
    ],
    "data": "{\"fan_speed\":\"Silent\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1740,
    "y": 860,
    "wires": [
      [
        "78faea2e6e741bc1"
      ]
    ]
  },
  {
    "id": "3812c5eea22d49a1",
    "type": "server-state-changed",
    "z": "f9b109c0bb255002",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "lock.lock_front_door",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 220,
    "y": 1060,
    "wires": [
      []
    ]
  },
  {
    "id": "476dcf67fa5d0e9a",
    "type": "debug",
    "z": "f9b109c0bb255002",
    "name": "entity",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 490,
    "y": 1080,
    "wires": []
  },
  {
    "id": "49bcf5b247e8b3fd",
    "type": "mqtt in",
    "z": "f9b109c0bb255002",
    "name": "",
    "topic": "zigbee2mqtt/lock_front_door",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 820,
    "wires": [
      [
        "dbb93a94a8407a0f"
      ]
    ]
  },
  {
    "id": "dbb93a94a8407a0f",
    "type": "switch",
    "z": "f9b109c0bb255002",
    "name": "Unlock action?",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "unlock",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 440,
    "y": 820,
    "wires": [
      [
        "3cd5e02d21e9729b"
      ]
    ]
  },
  {
    "id": "9745133222d64b87",
    "type": "api-current-state",
    "z": "f9b109c0bb255002",
    "name": "Livingroom Chromecast playing?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.livingroom_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1440,
    "y": 820,
    "wires": [
      [
        "f837081db80fd1c8"
      ],
      [
        "f87f02c87a9e4e9d"
      ]
    ]
  },
  {
    "id": "3cd5e02d21e9729b",
    "type": "delay",
    "z": "f9b109c0bb255002",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 740,
    "y": 820,
    "wires": [
      [
        "119e501a9a3a3f43"
      ]
    ]
  },
  {
    "id": "119e501a9a3a3f43",
    "type": "api-current-state",
    "z": "f9b109c0bb255002",
    "name": "Livingroom Chromecast playing?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "docked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "vacuum.xiaomi_vacuum_cleaner",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1000,
    "y": 820,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "1d53e0436b4d96b7",
    "type": "mqtt in",
    "z": "f9b109c0bb255002",
    "name": "",
    "topic": "zigbee2mqtt/remote_hallway_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 1620,
    "wires": [
      [
        "348f076b5a914b56"
      ]
    ]
  },
  {
    "id": "348f076b5a914b56",
    "type": "subflow:61f53235c712b2c2",
    "z": "f9b109c0bb255002",
    "name": "",
    "x": 450,
    "y": 1620,
    "wires": []
  }
]