node-red/flows/hallway.json
[
  {
    "id": "f9b109c0bb255002",
    "type": "tab",
    "label": "hallway",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "3f9a9ba5692c9eff",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 580,
    "y": 580,
    "wires": [
      [
        "a59292af2f942918"
      ]
    ]
  },
  {
    "id": "fd632565af0fb766",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 1200,
    "y": 560,
    "wires": [
      [
        "402391b1c8ac1fb6"
      ]
    ]
  },
  {
    "id": "022ab0665fb8152b",
    "type": "junction",
    "z": "f9b109c0bb255002",
    "x": 580,
    "y": 560,
    "wires": [
      [
        "fd632565af0fb766"
      ]
    ]
  },
  {
    "id": "1d53e0436b4d96b7",
    "type": "mqtt in",
    "z": "f9b109c0bb255002",
    "name": "",
    "topic": "zigbee2mqtt/remote_hallway_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 350,
    "y": 220,
    "wires": [
      [
        "348f076b5a914b56"
      ]
    ]
  },
  {
    "id": "348f076b5a914b56",
    "type": "subflow:61f53235c712b2c2",
    "z": "f9b109c0bb255002",
    "name": "",
    "x": 590,
    "y": 220,
    "wires": []
  },
  {
    "id": "a59292af2f942918",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "Start PlexAmp on the S7 FE",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "fully_kiosk",
    "service": "start_application",
    "areaId": [],
    "deviceId": [
      "3855559a40e217d20c661fd5e6e1b452"
    ],
    "entityId": [],
    "data": "{\"application\":\"tv.plex.labs.plexamp\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 760,
    "y": 580,
    "wires": [
      [
        "a1c6641ddc94c3fa"
      ]
    ]
  },
  {
    "id": "c34a291df5d4758f",
    "type": "trigger-state",
    "z": "f9b109c0bb255002",
    "name": "Detect initial Plex playback of Home Group",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "media_player.template_group_home_speakers",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "playing"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "propertyValue": "old_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "str",
        "comparatorValue": "paused"
      },
      {
        "targetType": "entity_id",
        "targetValue": "media_player.group_home_speakers",
        "propertyType": "property",
        "propertyValue": "attributes.app_name",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "Plex"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 380,
    "y": 580,
    "wires": [
      [
        "3f9a9ba5692c9eff",
        "022ab0665fb8152b"
      ],
      []
    ]
  },
  {
    "id": "a1c6641ddc94c3fa",
    "type": "ha-wait-until",
    "z": "f9b109c0bb255002",
    "name": "Wait until speaker groups stops",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "media_player.template_group_home_speakers",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "off",
    "valueType": "str",
    "timeout": "12",
    "timeoutType": "num",
    "timeoutUnits": "hours",
    "checkCurrentState": true,
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "off",
        "valueType": "num"
      }
    ],
    "entityLocation": "data",
    "entityLocationType": "none",
    "x": 1070,
    "y": 580,
    "wires": [
      [
        "402391b1c8ac1fb6"
      ],
      [
        "402391b1c8ac1fb6"
      ]
    ]
  },
  {
    "id": "402391b1c8ac1fb6",
    "type": "trigger",
    "z": "f9b109c0bb255002",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "30",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "playing",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1310,
    "y": 580,
    "wires": [
      [
        "1959ee85def378ea"
      ]
    ]
  },
  {
    "id": "1959ee85def378ea",
    "type": "api-call-service",
    "z": "f9b109c0bb255002",
    "name": "Bring Fully Kiosk to foreground",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "button",
    "service": "press",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "button.galaxy_tab_s7_fe_bring_to_foreground"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1590,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "ed627cdbfaeb7f2e",
    "type": "comment",
    "z": "f9b109c0bb255002",
    "name": "Wait 30 seconds",
    "info": "In case the speaker restarts",
    "x": 1320,
    "y": 540,
    "wires": []
  }
]