node-red/flows/Hotbox ze .json
[
  {
    "id": "4cbffab723828705",
    "type": "tab",
    "label": "Hotbox ze ",
    "disabled": false,
    "info": ""
  },
  {
    "id": "44af710f486167d5",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox top on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_top"
    ],
    "data": "{\"color_name\":\"purple\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1520,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "f11d2c66787196bd",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox down off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_bottom"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1860,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "d387dc73476a8baa",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox down  on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_bottom"
    ],
    "data": "{\"color_name\":\"white\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1620,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "372930905749afc3",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "15",
    "extend": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 970,
    "y": 140,
    "wires": [
      [
        "861c9c7db1b8e103"
      ]
    ]
  },
  {
    "id": "bf987c1cb3e627b2",
    "type": "change",
    "z": "4cbffab723828705",
    "name": "off",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "off",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 830,
    "y": 140,
    "wires": [
      [
        "372930905749afc3"
      ]
    ]
  },
  {
    "id": "5ab5b4ec3ecdd2f6",
    "type": "change",
    "z": "4cbffab723828705",
    "name": "on",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 830,
    "y": 180,
    "wires": [
      [
        "372930905749afc3",
        "95d16ae3af37602e",
        "7222c4a49a42a510",
        "861c9c7db1b8e103"
      ]
    ]
  },
  {
    "id": "0c2569dc38a7315a",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "15",
    "extend": true,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 890,
    "y": 740,
    "wires": [
      [
        "58e7cd551fd0df3b"
      ]
    ]
  },
  {
    "id": "93b80b4876603ee0",
    "type": "change",
    "z": "4cbffab723828705",
    "name": "off",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "off",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 740,
    "wires": [
      [
        "0c2569dc38a7315a"
      ]
    ]
  },
  {
    "id": "87bad31a60da52c0",
    "type": "change",
    "z": "4cbffab723828705",
    "name": "on",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 780,
    "wires": [
      [
        "0c2569dc38a7315a",
        "9d882b94466b454a"
      ]
    ]
  },
  {
    "id": "9d882b94466b454a",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_down_light",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1010,
    "y": 780,
    "wires": [
      [],
      [
        "f79b4c7f2f3c1f5d"
      ]
    ]
  },
  {
    "id": "9a27c667d993eaf9",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "Party Mode?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1130,
    "y": 60,
    "wires": [
      [],
      [
        "a5694868dd658427"
      ]
    ]
  },
  {
    "id": "58e7cd551fd0df3b",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "Party Mode?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1070,
    "y": 740,
    "wires": [
      [],
      [
        "cf1f3492286ccd5a"
      ]
    ]
  },
  {
    "id": "f79b4c7f2f3c1f5d",
    "type": "function",
    "z": "4cbffab723828705",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"200\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"150\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"100\";\n}\nelse{\n    var brightness = \"230\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness\": brightness                      }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1250,
    "y": 780,
    "wires": [
      [
        "d8cb0a0f983f8b55"
      ]
    ]
  },
  {
    "id": "d6a2c8b3655d04da",
    "type": "function",
    "z": "4cbffab723828705",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"40\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"30\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"20\";\n}\nelse{\n    var brightness = \"50\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness_pct\": brightness                      }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1290,
    "y": 180,
    "wires": [
      [
        "44af710f486167d5"
      ]
    ]
  },
  {
    "id": "95d16ae3af37602e",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_top",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1030,
    "y": 180,
    "wires": [
      [],
      [
        "d6a2c8b3655d04da"
      ]
    ]
  },
  {
    "id": "44b5bc4faefb1e14",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Roku Changes",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "remote.hotbox_top_roku",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 380,
    "y": 1040,
    "wires": [
      [
        "404ecaebc962233c"
      ]
    ]
  },
  {
    "id": "404ecaebc962233c",
    "type": "switch",
    "z": "4cbffab723828705",
    "name": "",
    "property": "data.new_state.attributes.source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "Plex",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Netflix",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Xbox",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 670,
    "y": 1040,
    "wires": [
      [
        "6796fb06bd462591"
      ],
      [
        "6796fb06bd462591"
      ],
      [
        "32b6d425f6afdbd3"
      ]
    ]
  },
  {
    "id": "6796fb06bd462591",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_ceiling",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1060,
    "y": 1020,
    "wires": [
      [
        "5bc2cb0e759e793b"
      ],
      []
    ]
  },
  {
    "id": "5bc2cb0e759e793b",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox lamp  on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_top"
    ],
    "data": "{\"brightness_pct\":\"35\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1340,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "0f3eed9ec082c47c",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Hotbox TV Changes",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.hotbox_tv",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 310,
    "y": 1100,
    "wires": [
      [
        "a450b1fcd21678b3"
      ]
    ]
  },
  {
    "id": "932c5b54ab9b3743",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_ceiling",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1060,
    "y": 1140,
    "wires": [
      [
        "c9faa285f341f6ce"
      ],
      []
    ]
  },
  {
    "id": "c9faa285f341f6ce",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox lamp  on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_top"
    ],
    "data": "{\"brightness_pct\":\"20\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1300,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "4c9c596e9ba58f17",
    "type": "switch",
    "z": "4cbffab723828705",
    "name": "",
    "property": "data.new_state.attributes.app_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "Plex",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Netflix",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 830,
    "y": 1140,
    "wires": [
      [
        "932c5b54ab9b3743"
      ],
      [
        "932c5b54ab9b3743"
      ]
    ]
  },
  {
    "id": "32b6d425f6afdbd3",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_ceiling",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1080,
    "y": 1060,
    "wires": [
      [
        "05e5eed63bc8631e"
      ],
      []
    ]
  },
  {
    "id": "05e5eed63bc8631e",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox lamp  on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_top"
    ],
    "data": "{\"brightness_pct\":\"35\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1320,
    "y": 1060,
    "wires": [
      []
    ]
  },
  {
    "id": "7222c4a49a42a510",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.roku",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1040,
    "y": 220,
    "wires": [
      [],
      [
        "3e3e3889c2d0631e"
      ]
    ]
  },
  {
    "id": "3e3e3889c2d0631e",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox Roku on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.roku"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1520,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "611891a1a226cf34",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox roky off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.roku"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2400,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "5c6a0951cb8c72f9",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "Hotbox playing?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "entity_id": "media_player.hotbox_tv",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1560,
    "y": 60,
    "wires": [
      [
        "64fe168c68d2f663"
      ],
      [
        "a2f9f9a5e536047d"
      ]
    ]
  },
  {
    "id": "ce0c59416aeec22e",
    "type": "inject",
    "z": "4cbffab723828705",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 900,
    "y": 60,
    "wires": [
      [
        "9a27c667d993eaf9"
      ]
    ]
  },
  {
    "id": "64fe168c68d2f663",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox top chromecast pause",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hotbox_tv"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1930,
    "y": 40,
    "wires": [
      [
        "17250148bb929964"
      ]
    ]
  },
  {
    "id": "29790d16d943b1b2",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox hotbox top tv  off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hotbox_tv"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2430,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "5e492913c3eb5069",
    "type": "switch",
    "z": "4cbffab723828705",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "paused",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "playing",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 1100,
    "wires": [
      [
        "2b13ec11795c59e1"
      ],
      [
        "4c9c596e9ba58f17"
      ]
    ]
  },
  {
    "id": "2b13ec11795c59e1",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox lamp  on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_top"
    ],
    "data": "{\"brightness_pct\":\"50\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 860,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "d18b83ddde482f4d",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox lamp off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_top"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2500,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "17250148bb929964",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "15",
    "extend": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 2270,
    "y": 40,
    "wires": [
      [
        "d18b83ddde482f4d"
      ]
    ]
  },
  {
    "id": "df03737c044e84d1",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Hotbox Top Ocupancy",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_hotbox_top_motion_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 620,
    "y": 160,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "8c121a5662ec77fb",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "motion hotbox down",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_hotbox_down_motion_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 550,
    "y": 740,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "0435d61c00179661",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "motion hotbox exit",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_hotbox_exit_motion_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 550,
    "y": 780,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "15acfa68dc9e1fca",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "MOtion hotbox down",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_hotbox_down_motion_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1620,
    "y": 720,
    "wires": [
      [
        "f11d2c66787196bd"
      ],
      []
    ]
  },
  {
    "id": "d8cb0a0f983f8b55",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "Sleeper?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.sleeper_in_hotbox",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1380,
    "y": 780,
    "wires": [
      [],
      [
        "d387dc73476a8baa",
        "fc5ec2bb06d2ce7d"
      ]
    ]
  },
  {
    "id": "22ab22a16f66a8ee",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Light top on",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "light.hotbox_top",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 610,
    "y": 360,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "7ad7d37513b2e235",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "30",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 970,
    "y": 360,
    "wires": [
      [
        "562000d2e0633206"
      ]
    ]
  },
  {
    "id": "ab2545749ae621d6",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Motion top",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_hotbox_top_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 620,
    "y": 400,
    "wires": [
      [
        "99a675202ef15ef9"
      ],
      []
    ]
  },
  {
    "id": "99a675202ef15ef9",
    "type": "change",
    "z": "4cbffab723828705",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "562000d2e0633206",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "MOtion top",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_hotbox_top_motion_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1150,
    "y": 360,
    "wires": [
      [
        "8870cdfbddcec47d"
      ],
      []
    ]
  },
  {
    "id": "8870cdfbddcec47d",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox top off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_top"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1360,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "74ae4721d93804d8",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Light down on",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "light.hotbox_bottom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 590,
    "y": 880,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "2177784bbec21ac3",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "30",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 930,
    "y": 880,
    "wires": [
      [
        "95f0342255f47e35"
      ]
    ]
  },
  {
    "id": "42891d6b7c9ef0ca",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Motion bot",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_hotbox_down_motion_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 580,
    "y": 920,
    "wires": [
      [
        "df41aeea06a11378"
      ],
      []
    ]
  },
  {
    "id": "df41aeea06a11378",
    "type": "change",
    "z": "4cbffab723828705",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "95f0342255f47e35",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "MOtion down",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_hotbox_down_motion_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1210,
    "y": 880,
    "wires": [
      [
        "f43bbd42a55a395a"
      ],
      []
    ]
  },
  {
    "id": "f43bbd42a55a395a",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox bottom off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_bottom"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1550,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "a19ab7474312a7f7",
    "type": "switch",
    "z": "4cbffab723828705",
    "name": "",
    "property": "data.attributes.source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Chromecast",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2090,
    "y": 140,
    "wires": [
      [
        "29790d16d943b1b2",
        "611891a1a226cf34",
        "e1609baaedced700",
        "d630b0e57d61995d"
      ]
    ]
  },
  {
    "id": "cc5884fb3ba00bfa",
    "type": "inject",
    "z": "4cbffab723828705",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1740,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "a2f9f9a5e536047d",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.roku",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1880,
    "y": 140,
    "wires": [
      [
        "a19ab7474312a7f7",
        "2f686119884becd7"
      ]
    ]
  },
  {
    "id": "e1609baaedced700",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_top"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2410,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "d630b0e57d61995d",
    "type": "debug",
    "z": "4cbffab723828705",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 2140,
    "y": 220,
    "wires": []
  },
  {
    "id": "861c9c7db1b8e103",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-15",
    "extend": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "outputs": 1,
    "x": 1170,
    "y": 140,
    "wires": [
      [
        "9a27c667d993eaf9"
      ]
    ]
  },
  {
    "id": "91440e0fc7e65475",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Hotbox Top Ocupancy",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_hotbox_top_motion_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 1960,
    "y": 80,
    "wires": [
      [
        "17250148bb929964"
      ],
      []
    ]
  },
  {
    "id": "a450b1fcd21678b3",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 510,
    "y": 1100,
    "wires": [
      [
        "5e492913c3eb5069"
      ]
    ]
  },
  {
    "id": "f7f45b1f947bb772",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "Hotbox motion off",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.hotbox_all_motion_off",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 280,
    "y": 1540,
    "wires": [
      [
        "7fec982efa636709"
      ],
      [
        "6ddc0d74a1c525bf",
        "7fec982efa636709",
        "ee99b04caf860613",
        "b9b981fb42a7b10e"
      ]
    ]
  },
  {
    "id": "ee99b04caf860613",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "pay",
    "duration": "-20",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 850,
    "y": 1540,
    "wires": [
      [
        "414ee57d8ac5883e"
      ]
    ]
  },
  {
    "id": "19de06f312d97ab7",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "climate",
    "service": "set_preset_mode",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "climate.hotbox_ac"
    ],
    "data": "{\"preset_mode\":\"away\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1330,
    "y": 1520,
    "wires": [
      []
    ]
  },
  {
    "id": "6ddc0d74a1c525bf",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "climate",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "climate.hotbox_ac"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 540,
    "y": 1580,
    "wires": [
      []
    ]
  },
  {
    "id": "414ee57d8ac5883e",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "party?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1050,
    "y": 1540,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "7fec982efa636709",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "20",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 550,
    "y": 1500,
    "wires": [
      [
        "ee99b04caf860613"
      ]
    ]
  },
  {
    "id": "b9b981fb42a7b10e",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "climate",
    "service": "set_preset_mode",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "climate.hotbox_ac"
    ],
    "data": "{\"preset_mode\":\"none\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 570,
    "y": 1640,
    "wires": [
      [
        "cbc4778f6b95a574"
      ]
    ]
  },
  {
    "id": "f072966fb0f261a4",
    "type": "server-state-changed",
    "z": "4cbffab723828705",
    "name": "CPU TEMP",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.proxmox_tdie_temperature",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "65",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 70,
    "y": 1620,
    "wires": [
      [
        "e90ad6c88651f2e8"
      ],
      []
    ]
  },
  {
    "id": "2b8bfd930a233f78",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "back door open",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.door_server",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 320,
    "y": 1620,
    "wires": [
      [
        "b9b981fb42a7b10e",
        "6ddc0d74a1c525bf"
      ],
      []
    ]
  },
  {
    "id": "c793be5ead68d293",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "climate",
    "service": "set_temperature",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "climate.hotbox_ac"
    ],
    "data": "{\"temperature\":\"24\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1200,
    "y": 1640,
    "wires": [
      []
    ]
  },
  {
    "id": "e90ad6c88651f2e8",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "patio door closed",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.door_patio",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 210,
    "y": 1680,
    "wires": [
      [
        "2b8bfd930a233f78"
      ],
      []
    ]
  },
  {
    "id": "cbc4778f6b95a574",
    "type": "trigger",
    "z": "4cbffab723828705",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "20",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 810,
    "y": 1640,
    "wires": [
      []
    ]
  },
  {
    "id": "2f686119884becd7",
    "type": "debug",
    "z": "4cbffab723828705",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2060,
    "y": 300,
    "wires": []
  },
  {
    "id": "fc5ec2bb06d2ce7d",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "Hotbox down  on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.hotbox_down_behind_tv_light"
    ],
    "data": "{\"color_name\":\"purple\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1610,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "0372a84cce23819c",
    "type": "inject",
    "z": "4cbffab723828705",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1370,
    "y": 580,
    "wires": [
      [
        "d8cb0a0f983f8b55"
      ]
    ]
  },
  {
    "id": "cf1f3492286ccd5a",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "Kink?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1230,
    "y": 740,
    "wires": [
      [
        "15acfa68dc9e1fca"
      ],
      []
    ]
  },
  {
    "id": "a5694868dd658427",
    "type": "api-current-state",
    "z": "4cbffab723828705",
    "name": "Kink?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1310,
    "y": 60,
    "wires": [
      [
        "5c6a0951cb8c72f9"
      ],
      []
    ]
  },
  {
    "id": "608dd2e367f9317b",
    "type": "inject",
    "z": "4cbffab723828705",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 1460,
    "wires": [
      [
        "6ddc0d74a1c525bf"
      ]
    ]
  },
  {
    "id": "04e20d78621b2d90",
    "type": "comment",
    "z": "4cbffab723828705",
    "name": "",
    "info": "",
    "x": 360,
    "y": 1020,
    "wires": []
  },
  {
    "id": "58ed5667ef55170a",
    "type": "comment",
    "z": "4cbffab723828705",
    "name": "",
    "info": "",
    "x": 320,
    "y": 1160,
    "wires": []
  },
  {
    "id": "ea7afe92ad8a676b",
    "type": "comment",
    "z": "4cbffab723828705",
    "name": "",
    "info": "",
    "x": 420,
    "y": 1380,
    "wires": []
  },
  {
    "id": "608105172bcaa9a4",
    "type": "comment",
    "z": "4cbffab723828705",
    "name": "",
    "info": "",
    "x": 822.5177612304688,
    "y": 320.0071105957031,
    "wires": []
  },
  {
    "id": "5476dce8255eccfa",
    "type": "comment",
    "z": "4cbffab723828705",
    "name": "",
    "info": "",
    "x": 640,
    "y": 680,
    "wires": []
  },
  {
    "id": "954d45bd924b483e",
    "type": "comment",
    "z": "4cbffab723828705",
    "name": "",
    "info": "",
    "x": 680,
    "y": 120,
    "wires": []
  },
  {
    "id": "db3a1b30ea9ad262",
    "type": "api-call-service",
    "z": "4cbffab723828705",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "toggle",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_livingroom_lights"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2980,
    "y": 3000,
    "wires": [
      []
    ]
  }
]