node-red/flows/House-Wide.json
[
  {
    "id": "3ad1e0957e6ec22e",
    "type": "tab",
    "label": "House-Wide",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "c567a425829271f3",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "2f2e8679067c06af"
      ]
    ]
  },
  {
    "id": "6372d64da4e99c42",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 180,
    "y": 180,
    "wires": [
      [
        "581fd4c7ce035d72"
      ]
    ]
  },
  {
    "id": "e2670ef9a6f08eeb",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 3440,
    "y": 560,
    "wires": [
      [
        "5d19ca682dd18d58"
      ]
    ]
  },
  {
    "id": "1c819bd84e568a03",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 3440,
    "y": 640,
    "wires": [
      [
        "be293fd5728c4e6e"
      ]
    ]
  },
  {
    "id": "6805035056bd8cee",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 4040,
    "y": 560,
    "wires": [
      [
        "2e0553a4becdcb11"
      ]
    ]
  },
  {
    "id": "a8bbac8ba01b6fd2",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 4040,
    "y": 640,
    "wires": [
      [
        "2e0553a4becdcb11"
      ]
    ]
  },
  {
    "id": "fc518af82d06d8bc",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 160,
    "y": 280,
    "wires": [
      [
        "5e73e5e7fc269891"
      ]
    ]
  },
  {
    "id": "b1880ea06e93f832",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 980,
    "y": 1380,
    "wires": [
      [
        "fc4eb7aaf1a49466"
      ]
    ]
  },
  {
    "id": "2792555ece4458cd",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 1080,
    "y": 1440,
    "wires": [
      [
        "3996bd2645bd3ea2"
      ]
    ]
  },
  {
    "id": "46d3285b345e72df",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 1400,
    "y": 1380,
    "wires": [
      [
        "a25d3f0c73d9050d"
      ]
    ]
  },
  {
    "id": "62cf47fb999346aa",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 1260,
    "y": 1340,
    "wires": [
      [
        "ef1d3af5aec4c6ad"
      ]
    ]
  },
  {
    "id": "bb71b092d9c74860",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 1260,
    "y": 1380,
    "wires": [
      [
        "46d3285b345e72df"
      ]
    ]
  },
  {
    "id": "ef1d3af5aec4c6ad",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 1400,
    "y": 1340,
    "wires": [
      [
        "dfbcd81831907951"
      ]
    ]
  },
  {
    "id": "ac09ae6273c851a3",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 1620,
    "y": 1400,
    "wires": [
      [
        "afec6aacb9655c5b"
      ]
    ]
  },
  {
    "id": "fc4eb7aaf1a49466",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 1080,
    "y": 1380,
    "wires": [
      [
        "cad47fe6566c23a7"
      ]
    ]
  },
  {
    "id": "598cbca76ab38a02",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 560,
    "y": 1160,
    "wires": [
      [
        "adc9dfdbe4ca7285"
      ]
    ]
  },
  {
    "id": "5b05cae4ba55b8ee",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 300,
    "y": 1160,
    "wires": [
      [
        "598cbca76ab38a02"
      ]
    ]
  },
  {
    "id": "c78ba01e2c786587",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 3120,
    "y": 2180,
    "wires": [
      [
        "6e0313cad534393b"
      ]
    ]
  },
  {
    "id": "b9118714b195156b",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 2940,
    "y": 740,
    "wires": [
      [
        "6c6b54f0dfaad3fc"
      ]
    ]
  },
  {
    "id": "460c049976cb8d77",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 2880,
    "y": 620,
    "wires": [
      [
        "b9118714b195156b"
      ]
    ]
  },
  {
    "id": "bb550eb68254b69e",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 2880,
    "y": 600,
    "wires": [
      [
        "323614ff6d81d35d"
      ]
    ]
  },
  {
    "id": "88b1d87eacc8b8e0",
    "type": "junction",
    "z": "3ad1e0957e6ec22e",
    "x": 3120,
    "y": 2140,
    "wires": [
      [
        "e45b3c1d18695954"
      ]
    ]
  },
  {
    "id": "7b4efdf6248d3f12",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "Users home?",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 70,
    "y": 140,
    "wires": [
      [
        "c567a425829271f3"
      ],
      [
        "6372d64da4e99c42"
      ]
    ]
  },
  {
    "id": "581fd4c7ce035d72",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Set ACs to away preset",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "climate",
    "service": "set_preset_mode",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "climate.bedroom_ac",
      "climate.hotbox_ac",
      "climate.living_room_ac"
    ],
    "data": "{\"preset_mode\":\"away\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 490,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "2f2e8679067c06af",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Set ACs to default preset",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "climate",
    "service": "set_preset_mode",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "climate.bedroom_ac",
      "climate.hotbox_ac",
      "climate.living_room_ac"
    ],
    "data": "{\"preset_mode\":\"none\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 490,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "1d937417c8d9abd4",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Users Present",
    "info": "",
    "x": 270,
    "y": 100,
    "wires": []
  },
  {
    "id": "2d9503bf28e52235",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Users Absent",
    "info": "",
    "x": 270,
    "y": 180,
    "wires": []
  },
  {
    "id": "dc77e0dfbe02d815",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Climate Control",
    "info": "",
    "x": 80,
    "y": 100,
    "wires": []
  },
  {
    "id": "0875f44675896e1d",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.user_home",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 180,
    "y": 400,
    "wires": [
      [
        "2acfef875f2fd481"
      ],
      [
        "2acfef875f2fd481"
      ]
    ]
  },
  {
    "id": "8ec001eb82986115",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Arm Alarm Away",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "alarm_control_panel",
    "service": "alarm_arm_away",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.home_alarm"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 680,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "2acfef875f2fd481",
    "type": "trigger",
    "z": "3ad1e0957e6ec22e",
    "name": "Trigger 10min",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "on",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 460,
    "y": 400,
    "wires": [
      [
        "8ec001eb82986115"
      ]
    ]
  },
  {
    "id": "56cf47b1dc1aa315",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turning on the alarm system",
    "info": "",
    "x": 120,
    "y": 360,
    "wires": []
  },
  {
    "id": "62547a2f44519122",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Wait 10 minutes before arming",
    "info": "",
    "x": 400,
    "y": 360,
    "wires": []
  },
  {
    "id": "6e924c7d8c6a9def",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Cancel if Users are detected",
    "info": "",
    "x": 640,
    "y": 360,
    "wires": []
  },
  {
    "id": "5d19ca682dd18d58",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Volume selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var volume = \"0.40\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var volume = \"0.35\";\n}\nelse if (h > 2 && h<8){\n    var volume = \"0.25\";\n}\nelse if (h >= 8 && h<9){\n    var volume = \"0.35\";\n}\nelse{\n    var volume = \"0.40\";\n}\nmsg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.entity_id,\n        \"volume_level\": volume\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3700,
    "y": 560,
    "wires": [
      [
        "6805035056bd8cee"
      ]
    ]
  },
  {
    "id": "2e0553a4becdcb11",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Set Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 4170,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "7d44a2f1a57349f4",
    "type": "api-current-state",
    "z": "3ad1e0957e6ec22e",
    "name": "Party mode is on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3310,
    "y": 600,
    "wires": [
      [
        "e2670ef9a6f08eeb"
      ],
      [
        "1c819bd84e568a03"
      ]
    ]
  },
  {
    "id": "be293fd5728c4e6e",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Volume selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22) {\n    var volume = \"0.45\";\n}\nelse if (h >= 0 && h <= 2) {\n    var volume = \"0.40\";\n}\nelse if (h > 2 && h < 8) {\n    var volume = \"0.30\";\n}\nelse if (h >= 8 && h < 9) {\n    var volume = \"0.35\";\n}\nelse {\n    var volume = \"0.45\";\n}\nmsg =\n{\n    \"payload\": {\n        \"data\": {\n            \"entity_id\": msg.entity_id,\n            \"volume_level\": volume\n        }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3700,
    "y": 640,
    "wires": [
      [
        "a8bbac8ba01b6fd2"
      ]
    ]
  },
  {
    "id": "7e1267bdebb2527b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Ajust speaker volume on playback",
    "info": "",
    "x": 140,
    "y": 580,
    "wires": []
  },
  {
    "id": "03a149d630e77b4c",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Ignore the bathroom speaker",
    "info": "",
    "x": 620,
    "y": 580,
    "wires": []
  },
  {
    "id": "6d4cd6f1412c1764",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Is there a party?",
    "info": "",
    "x": 3320,
    "y": 560,
    "wires": []
  },
  {
    "id": "b2ce23e38d7103c9",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "No",
    "info": "",
    "x": 3530,
    "y": 560,
    "wires": []
  },
  {
    "id": "fc5f8b361b9c6939",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Yes",
    "info": "",
    "x": 3530,
    "y": 640,
    "wires": []
  },
  {
    "id": "dc50f62af3da8b31",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Softer volume at night",
    "info": "",
    "x": 3900,
    "y": 640,
    "wires": []
  },
  {
    "id": "c6ba29f30891bd72",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Higher volume at night",
    "info": "",
    "x": 3900,
    "y": 560,
    "wires": []
  },
  {
    "id": "19c80bba7d0c9f80",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "Speaker turns to \"paused\"?",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.*[a-z]_speaker$",
    "entityidfiltertype": "regex",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "paused",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 170,
    "y": 1180,
    "wires": [
      [
        "5b05cae4ba55b8ee"
      ],
      [
        "6a044c93caf39482"
      ]
    ]
  },
  {
    "id": "396372437be8b774",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "stop speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1290,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "adc9dfdbe4ca7285",
    "type": "trigger",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "playing",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 730,
    "y": 1180,
    "wires": [
      [
        "dc2f1a0b7c70824c"
      ]
    ]
  },
  {
    "id": "dc2f1a0b7c70824c",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract Entity ID",
    "func": "msg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.data.entity_id\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 1180,
    "wires": [
      [
        "396372437be8b774"
      ]
    ]
  },
  {
    "id": "a6fcdbbbdc0c3ada",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Stop speaker playback after 10 minutes of pause",
    "info": "",
    "x": 240,
    "y": 1140,
    "wires": []
  },
  {
    "id": "d45a1ecac538e304",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Wait 10 minutes before continuing",
    "info": "",
    "x": 740,
    "y": 1140,
    "wires": []
  },
  {
    "id": "2f3dc984afa8ff41",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Cancel if playback is detected",
    "info": "",
    "x": 720,
    "y": 1220,
    "wires": []
  },
  {
    "id": "6314b4028ff2f67d",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set the Entity ID for the stop service",
    "info": "",
    "x": 1080,
    "y": 1220,
    "wires": []
  },
  {
    "id": "5086283593d40356",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "ready to pick up",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.seventeentrack_packages_ready_to_be_picked_up",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 120,
    "y": 1020,
    "wires": [
      [
        "3cd8c77c316c5c93"
      ]
    ]
  },
  {
    "id": "3cd8c77c316c5c93",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Packages > 0?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 640,
    "y": 1020,
    "wires": [
      [
        "f98de588c39d7f10",
        "cfb270cb9831f219"
      ]
    ]
  },
  {
    "id": "f98de588c39d7f10",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "Set Alert",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "A package is out for delivery",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 1020,
    "wires": [
      [
        "9cb597036711d325"
      ]
    ]
  },
  {
    "id": "83017b417ed43ef0",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.seventeentrack_packages_delivered",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 1480,
    "y": 1020,
    "wires": [
      [
        "63b187a23e477005"
      ]
    ]
  },
  {
    "id": "63b187a23e477005",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Packages > 0?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1860,
    "y": 1020,
    "wires": [
      [
        "a7cc57ac03e9a424",
        "cd15b6f1ce2e732a"
      ]
    ]
  },
  {
    "id": "a7cc57ac03e9a424",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "Set alert",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "A package has been delivered",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2080,
    "y": 1020,
    "wires": [
      [
        "b4f174eee8ca2dab"
      ]
    ]
  },
  {
    "id": "588375d3bad43210",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2280,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "cd15b6f1ce2e732a",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Javascript",
    "func": "var newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"A Package has been delivered\",\n            \"title\": \"Package Alert\"\n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2080,
    "y": 980,
    "wires": [
      [
        "588375d3bad43210"
      ]
    ]
  },
  {
    "id": "1c766c3e3dada870",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1060,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "cfb270cb9831f219",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Javascript",
    "func": "var newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"A Package is out for delivery\",\n            \"title\": \"Package Alert\"\n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 860,
    "y": 980,
    "wires": [
      [
        "1c766c3e3dada870"
      ]
    ]
  },
  {
    "id": "755615d7f2e33edf",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Notify and Broadcast an alert about delivered packages",
    "info": "",
    "x": 1460,
    "y": 980,
    "wires": []
  },
  {
    "id": "4ca0d0580ac05047",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Amount of delivered packages?",
    "info": "",
    "x": 1850,
    "y": 1060,
    "wires": []
  },
  {
    "id": "ff97fa9fb8de9652",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set Alert Data",
    "info": "",
    "x": 2070,
    "y": 1060,
    "wires": []
  },
  {
    "id": "6031403bd7dbc730",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Notify and Broadcast an alert about out ofr delivery packages",
    "info": "",
    "x": 260,
    "y": 980,
    "wires": []
  },
  {
    "id": "6754f428c6e81354",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set Alert Data",
    "info": "",
    "x": 850,
    "y": 1060,
    "wires": []
  },
  {
    "id": "092dd69960de583a",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Amount of delivered packages?",
    "info": "",
    "x": 630,
    "y": 1060,
    "wires": []
  },
  {
    "id": "e0b5c8fe82883f4b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set Notification Data",
    "info": "",
    "x": 2090,
    "y": 940,
    "wires": []
  },
  {
    "id": "871a14c154ef1678",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set Notification Data",
    "info": "",
    "x": 870,
    "y": 940,
    "wires": []
  },
  {
    "id": "af0044ecc62ca32e",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Send notification",
    "info": "",
    "x": 2280,
    "y": 940,
    "wires": []
  },
  {
    "id": "32b45bba10657c70",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Send notification",
    "info": "",
    "x": 1060,
    "y": 940,
    "wires": []
  },
  {
    "id": "a2fc67ccfef493b7",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "Users home?",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.user_home",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 70,
    "y": 280,
    "wires": [
      [
        "fc518af82d06d8bc"
      ],
      []
    ]
  },
  {
    "id": "5e73e5e7fc269891",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn off all lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.all_lights"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 260,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "79fdce988cf0e215",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn all lights off",
    "info": "",
    "x": 260,
    "y": 240,
    "wires": []
  },
  {
    "id": "f237035cc1c80e4f",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Auto lights off",
    "info": "",
    "x": 70,
    "y": 240,
    "wires": []
  },
  {
    "id": "03eeba825e7db7c0",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player\\.plex_[a-z_]*_chromecast",
    "entityidfiltertype": "regex",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 300,
    "y": 1400,
    "wires": [
      [
        "c6dc078aa2c91492"
      ]
    ]
  },
  {
    "id": "52b3870c20250d7e",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Visuals?",
    "property": "data.new_state.attributes.media_library_title",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Visuals",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "Visuals",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 900,
    "y": 1400,
    "wires": [
      [
        "b1880ea06e93f832"
      ],
      [
        "2792555ece4458cd"
      ]
    ]
  },
  {
    "id": "cad47fe6566c23a7",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "playing?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "playing",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "playing",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1160,
    "y": 1360,
    "wires": [
      [
        "62cf47fb999346aa"
      ],
      [
        "bb71b092d9c74860"
      ]
    ]
  },
  {
    "id": "dfbcd81831907951",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract Player from Plex player",
    "func": "var player = msg.data.new_state.entity_id;\nvar playersplit = player.replace(\"plex_\",\"\")\n\nmsg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": playersplit\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1570,
    "y": 1320,
    "wires": [
      [
        "8f3820173d5a9601"
      ]
    ]
  },
  {
    "id": "afec6aacb9655c5b",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1790,
    "y": 1400,
    "wires": [
      []
    ]
  },
  {
    "id": "37b0a3e74ec0ba37",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "playing?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(playing|paused)",
        "vt": "str",
        "case": true
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1320,
    "y": 1440,
    "wires": [
      [
        "46d3285b345e72df"
      ]
    ]
  },
  {
    "id": "a25d3f0c73d9050d",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Time + Entity",
    "func": "var d = new Date();\nvar h = d.getHours();\nvar player = msg.data.new_state.entity_id;\nvar playersplit = player.replace(\"plex_\",\"\")\n\nif (h > 22){\n    var volume = \"0.85\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var volume = \"0.50\";\n}\nelse if (h > 2 && h<8){\n    var volume = \"0.40\";\n}\nelse if (h >= 8 && h<9){\n    var volume = \"0.75\";\n}\nelse{\n    var volume = \"0.95\";\n}\nmsg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": playersplit,\n        \"volume_level\": volume\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1510,
    "y": 1400,
    "wires": [
      [
        "ac09ae6273c851a3"
      ]
    ]
  },
  {
    "id": "3996bd2645bd3ea2",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "was off?",
    "property": "data.old_state.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "unavailable",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1180,
    "y": 1440,
    "wires": [
      [
        "37b0a3e74ec0ba37"
      ]
    ]
  },
  {
    "id": "33dbc80daf4a4318",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect all plex player ending with chromecast",
    "info": "",
    "x": 270,
    "y": 1360,
    "wires": []
  },
  {
    "id": "a4490797618f2afb",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "These two JS extract the Chromecast name from the plex name",
    "info": "",
    "x": 1490,
    "y": 1360,
    "wires": []
  },
  {
    "id": "038270b1b4b56fdb",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Is it playing or else?",
    "info": "",
    "x": 1170,
    "y": 1320,
    "wires": []
  },
  {
    "id": "4b8ac747afd9a695",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Was the previous state off?",
    "info": "",
    "x": 1190,
    "y": 1480,
    "wires": []
  },
  {
    "id": "5faef84dcf6b6b7b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Is the content from the Visuals library?",
    "info": "",
    "x": 890,
    "y": 1360,
    "wires": []
  },
  {
    "id": "d12627b175e4cba5",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Is it playing or pause?",
    "info": "",
    "x": 1280,
    "y": 1400,
    "wires": []
  },
  {
    "id": "c6dc078aa2c91492",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Chromecast  is not muted",
    "property": "data.new_state.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 650,
    "y": 1400,
    "wires": [
      [
        "52b3870c20250d7e"
      ]
    ]
  },
  {
    "id": "6887f624ce6cbd9c",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Chromecast is not muted?",
    "info": "",
    "x": 650,
    "y": 1440,
    "wires": []
  },
  {
    "id": "dd6d7ede80c7da5b",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "Set reset",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1200,
    "wires": [
      [
        "adc9dfdbe4ca7285"
      ]
    ]
  },
  {
    "id": "6a044c93caf39482",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Playing?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "playing",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "idle",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 360,
    "y": 1200,
    "wires": [
      [
        "dd6d7ede80c7da5b"
      ],
      [
        "dd6d7ede80c7da5b"
      ]
    ]
  },
  {
    "id": "80ca7e4e59dae561",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set reset to true if playing/idle",
    "info": "",
    "x": 420,
    "y": 1240,
    "wires": []
  },
  {
    "id": "9cb597036711d325",
    "type": "subflow:233ac7dcd801a802",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "x": 1070,
    "y": 1020,
    "wires": []
  },
  {
    "id": "b4f174eee8ca2dab",
    "type": "subflow:233ac7dcd801a802",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "x": 2270,
    "y": 1020,
    "wires": []
  },
  {
    "id": "b5bf8a875890d348",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^binary_sensor\\.(?!.*?bedroom.*?)(?!.*?hotbox_down.*?)(?!.*?bathroom.*?).*_occupancy$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.party_mode",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.acid_time",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.kink_party",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 370,
    "y": 2320,
    "wires": [
      [
        "b8f6b67ac5adc19d"
      ],
      []
    ]
  },
  {
    "id": "84c65edb9ad601cf",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect no motion across ocupancy sensors",
    "info": "",
    "x": 180,
    "y": 2280,
    "wires": []
  },
  {
    "id": "94186347dfaff946",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "(Ignores \"Nate\",\"Bedroom\" and \"Dungeon\" sensors)",
    "info": "",
    "x": 530,
    "y": 2280,
    "wires": []
  },
  {
    "id": "13b3d4ea5b221ea4",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^binary_sensor\\.(?!.*?bedroom.*?)(?!.*?hotbox_down.*?)(?!.*?bathroom.*?).*_occupancy$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 370,
    "y": 2420,
    "wires": [
      [
        "b8f6b67ac5adc19d"
      ],
      []
    ]
  },
  {
    "id": "5901200f87196293",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect motion across ocupancy sensors",
    "info": "",
    "x": 170,
    "y": 2380,
    "wires": []
  },
  {
    "id": "afa6e5fd359976e7",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "(Ignores \"Nate\",\"Bedroom\" and \"Dungeon\" sensors)",
    "info": "",
    "x": 530,
    "y": 2380,
    "wires": []
  },
  {
    "id": "b8f6b67ac5adc19d",
    "type": "trigger",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "7",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "on",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 930,
    "y": 2320,
    "wires": [
      [
        "f6bd0e7c3db3ad74"
      ]
    ]
  },
  {
    "id": "193ae7634d476f6c",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "7 minutes trigger before continuing",
    "info": "",
    "x": 880,
    "y": 2280,
    "wires": []
  },
  {
    "id": "323614ff6d81d35d",
    "type": "delay",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "pauseType": "rate",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": ".5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3050,
    "y": 600,
    "wires": [
      [
        "7d44a2f1a57349f4"
      ]
    ]
  },
  {
    "id": "d6d2da265f8d3154",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^media_player\\.plex_.*_chromecast$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "playing"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.is_volume_muted",
        "comparatorType": "is",
        "comparatorValueDatatype": "bool",
        "comparatorValue": "false"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.media_library_title",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "Movies"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 230,
    "y": 3120,
    "wires": [
      [
        "95d9d94377012bd2"
      ],
      []
    ]
  },
  {
    "id": "95d9d94377012bd2",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room from plex player to change lights",
    "func": "var player = msg.data.entity_id;\nvar playersplit = player.replace(\"media_player.plex_\",\"\").replace(\"_chromecast\", \"\")\nvar regex = \"^light\\\\.(?!.*?group.*?)(?!.*?notification.*?)(?!.*?lights.*?).*\" + playersplit + \".*\"; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is' , 'value': \"on\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\n    \"room\": playersplit\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 3120,
    "wires": [
      [
        "38ceb4f54d67f3af"
      ]
    ]
  },
  {
    "id": "919bb661879e6f4b",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Brightness selector",
    "func": "msg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.entity.entity_id,\n        \"brightness_pct\": 45,\n        \"color_name\":  \"purple\"\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1890,
    "y": 3120,
    "wires": [
      [
        "74bb11214582b1cb"
      ]
    ]
  },
  {
    "id": "74bb11214582b1cb",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2190,
    "y": 3120,
    "wires": [
      []
    ]
  },
  {
    "id": "a3b0595af2b1b9cb",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "entity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1550,
    "y": 3120,
    "wires": [
      [
        "919bb661879e6f4b"
      ]
    ]
  },
  {
    "id": "707b84bf5a382390",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 680,
    "y": 3080,
    "wires": []
  },
  {
    "id": "2d570380e256ac08",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Move payload to entity",
    "info": "",
    "x": 1560,
    "y": 3080,
    "wires": []
  },
  {
    "id": "7d7cb0316c13ad57",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Select color, brightness and set entity_id",
    "info": "",
    "x": 1900,
    "y": 3080,
    "wires": []
  },
  {
    "id": "df5a869d83b8c12c",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn the lights to purple 45%",
    "info": "",
    "x": 2200,
    "y": 3080,
    "wires": []
  },
  {
    "id": "4856340ad3c325bc",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect all movie playing plex player ending with chromecast",
    "info": "",
    "x": 230,
    "y": 3080,
    "wires": []
  },
  {
    "id": "38ceb4f54d67f3af",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1010,
    "y": 3120,
    "wires": [
      [
        "9607bbc9456c0ee6"
      ]
    ]
  },
  {
    "id": "9607bbc9456c0ee6",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Individual lights?",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1230,
    "y": 3120,
    "wires": [
      [
        "a3b0595af2b1b9cb"
      ]
    ]
  },
  {
    "id": "67a425b07536b5ce",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^media_player\\.plex_.*_chromecast$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "unavailable",
        "propertyValue": "new_state.state"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "Movies",
        "propertyValue": "old_state.attributes.media_library_title"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 230,
    "y": 3420,
    "wires": [
      [
        "5a165f257ae36251"
      ],
      []
    ]
  },
  {
    "id": "5a165f257ae36251",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room from plex player to change lights",
    "func": "var player = msg.data.entity_id;\nvar playersplit = player.replace(\"media_player.plex_\",\"\").replace(\"_chromecast\", \"\")\nvar regex = \"^light\\\\.(?!.*?group.*?)(?!.*?notification.*?)(?!.*?lights.*?).*\" + playersplit + \".*\"; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is' , 'value': \"on\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object}\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 3420,
    "wires": [
      [
        "3968c7ad65e230c1"
      ]
    ]
  },
  {
    "id": "82a0398c29f50d7c",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Brightness selector",
    "func": "msg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.entity.entity_id,\n        \"brightness_pct\": 95,\n        \"color_name\":  \"white\",\n        \"transition\": 5\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1870,
    "y": 3420,
    "wires": [
      [
        "799858f321dfba0e"
      ]
    ]
  },
  {
    "id": "799858f321dfba0e",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2170,
    "y": 3420,
    "wires": [
      []
    ]
  },
  {
    "id": "c58046c1e9b52415",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "entity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1550,
    "y": 3420,
    "wires": [
      [
        "82a0398c29f50d7c"
      ]
    ]
  },
  {
    "id": "4b216e883ec2be7f",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 680,
    "y": 3380,
    "wires": []
  },
  {
    "id": "cf1a3437b5c43de1",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Move payload to entity",
    "info": "",
    "x": 1540,
    "y": 3380,
    "wires": []
  },
  {
    "id": "c2cd3e4cc9e9d001",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Select color, brightness and set entity_id",
    "info": "",
    "x": 1880,
    "y": 3380,
    "wires": []
  },
  {
    "id": "c39914167a65397b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turnthe lights to white",
    "info": "",
    "x": 2180,
    "y": 3380,
    "wires": []
  },
  {
    "id": "29edd6febb7fcab5",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect all movie stopping plex player ending with chromecast",
    "info": "",
    "x": 240,
    "y": 3380,
    "wires": []
  },
  {
    "id": "3968c7ad65e230c1",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1010,
    "y": 3420,
    "wires": [
      [
        "0a6879fb44a347ba"
      ]
    ]
  },
  {
    "id": "0a6879fb44a347ba",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Individual lights?",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1230,
    "y": 3420,
    "wires": [
      [
        "c58046c1e9b52415"
      ]
    ]
  },
  {
    "id": "308e19234d566940",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^media_player\\.plex_.*_chromecast$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "paused",
        "propertyValue": "new_state.state"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "comparatorType": "is",
        "comparatorValueDatatype": "bool",
        "comparatorValue": "false",
        "propertyValue": "new_state.attributes.is_volume_muted"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "Movies",
        "propertyValue": "new_state.attributes.media_library_title"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 230,
    "y": 3280,
    "wires": [
      [
        "2cea68a62f282814"
      ],
      []
    ]
  },
  {
    "id": "2cea68a62f282814",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room from plex player to change lights",
    "func": "var player = msg.data.entity_id;\nvar playersplit = player.replace(\"media_player.plex_\",\"\").replace(\"_chromecast\", \"\")\nvar regex = \"^light\\\\.(?!.*?group.*?)(?!.*?notification.*?)(?!.*?lights.*?).*\" + playersplit + \".*\"; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is' , 'value': \"on\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object}\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 3280,
    "wires": [
      [
        "e8b063abfb89d60d"
      ]
    ]
  },
  {
    "id": "bc443df7ca56b978",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Brightness selector",
    "func": "msg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.entity.entity_id,\n        \"brightness_pct\": 75,\n        \"color_name\":  \"purple\"\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1890,
    "y": 3280,
    "wires": [
      [
        "1f0a2ff364ce58b4"
      ]
    ]
  },
  {
    "id": "1f0a2ff364ce58b4",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2190,
    "y": 3280,
    "wires": [
      []
    ]
  },
  {
    "id": "1424c881c8f090f0",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "entity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1550,
    "y": 3280,
    "wires": [
      [
        "bc443df7ca56b978"
      ]
    ]
  },
  {
    "id": "19631caadd94dacd",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 680,
    "y": 3240,
    "wires": []
  },
  {
    "id": "f8766b221eec8c2b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Move payload to entity",
    "info": "",
    "x": 1560,
    "y": 3240,
    "wires": []
  },
  {
    "id": "1c32bcefaac7e754",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Select color, brightness and set entity_id",
    "info": "",
    "x": 1900,
    "y": 3240,
    "wires": []
  },
  {
    "id": "8892f41f2ad5d24b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turnthe lights to purple 75%",
    "info": "",
    "x": 2220,
    "y": 3240,
    "wires": []
  },
  {
    "id": "f4a21b49bbb499e2",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect all movie paused plex player ending with chromecast",
    "info": "",
    "x": 240,
    "y": 3240,
    "wires": []
  },
  {
    "id": "e8b063abfb89d60d",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1010,
    "y": 3280,
    "wires": [
      [
        "d4c2e7a35ab15fdf"
      ]
    ]
  },
  {
    "id": "d4c2e7a35ab15fdf",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Individual lights?",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1230,
    "y": 3280,
    "wires": [
      [
        "1424c881c8f090f0"
      ]
    ]
  },
  {
    "id": "9f66ceec73d6773d",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Weed out light groups",
    "info": "",
    "x": 1240,
    "y": 3080,
    "wires": []
  },
  {
    "id": "a0bc08923079df2e",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get lights ",
    "info": "",
    "x": 1000,
    "y": 3080,
    "wires": []
  },
  {
    "id": "94a04177b1e74e69",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^media_player\\.plex_.*_chromecast$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "playing"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.is_volume_muted",
        "comparatorType": "is",
        "comparatorValueDatatype": "bool",
        "comparatorValue": "false"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.media_library_title",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "Movies"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 230,
    "y": 2980,
    "wires": [
      [
        "86b50ac9317bb003",
        "ac19ca3db853593f"
      ],
      [
        "ac19ca3db853593f"
      ]
    ]
  },
  {
    "id": "86b50ac9317bb003",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room from plex player to close cover",
    "func": "var player = msg.data.entity_id;\nvar playersplit = player.replace(\"media_player.plex_\",\"\").replace(\"_chromecast\", \"\")\nvar regex = \"cover.cover_\" + playersplit + \"_blinds\"; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{\"property\": \"attributes.position\",\"logic\": \"gt\",\"value\": \"26\",\"valueType\": \"num\"}];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\n    \"topic\": msg.topic\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 2980,
    "wires": [
      [
        "089e6ab34e6eb2bd"
      ]
    ]
  },
  {
    "id": "8a78d302e5c23a03",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Entity Setter",
    "func": "msg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.entity.entity_id\n    },\n        \"topic\": msg.topic\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1550,
    "y": 2980,
    "wires": [
      [
        "20e9bfc56ed01272"
      ]
    ]
  },
  {
    "id": "20e9bfc56ed01272",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"position\": 30}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1930,
    "y": 2980,
    "wires": [
      []
    ]
  },
  {
    "id": "c6d6e957e0b707ab",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "entity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1310,
    "y": 2980,
    "wires": [
      [
        "8a78d302e5c23a03"
      ]
    ]
  },
  {
    "id": "b46cb226baf76263",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Move payload to entity",
    "info": "",
    "x": 1300,
    "y": 2940,
    "wires": []
  },
  {
    "id": "296d25f7b785f0ce",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set entity",
    "info": "",
    "x": 1560,
    "y": 2940,
    "wires": []
  },
  {
    "id": "83a28914f1809033",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Close the cover",
    "info": "",
    "x": 1920,
    "y": 2940,
    "wires": []
  },
  {
    "id": "6e79f01c175a3362",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect all movie playing plex player ending with chromecast",
    "info": "",
    "x": 230,
    "y": 2940,
    "wires": []
  },
  {
    "id": "089e6ab34e6eb2bd",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 990,
    "y": 2980,
    "wires": [
      [
        "c6d6e957e0b707ab"
      ]
    ]
  },
  {
    "id": "709cc00006f7c753",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect all covers in the room over 26%",
    "info": "",
    "x": 1010,
    "y": 2940,
    "wires": []
  },
  {
    "id": "2222952d1735574d",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 680,
    "y": 2940,
    "wires": []
  },
  {
    "id": "75998c0375899879",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Weed out light groups",
    "info": "",
    "x": 1240,
    "y": 3240,
    "wires": []
  },
  {
    "id": "8e4a3049a2aeba1a",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Weed out light groups",
    "info": "",
    "x": 1240,
    "y": 3380,
    "wires": []
  },
  {
    "id": "9fb5d3ddd5a53ed7",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get lights ",
    "info": "",
    "x": 1000,
    "y": 3240,
    "wires": []
  },
  {
    "id": "1bde4567bbb03062",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get lights ",
    "info": "",
    "x": 1000,
    "y": 3380,
    "wires": []
  },
  {
    "id": "b6ef341c55c7f02f",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "Playing chromecasts",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^media_player\\..*_chromecast$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "playing"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.volume_level",
        "comparatorType": ">",
        "comparatorValueDatatype": "num",
        "comparatorValue": "0.1"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "propertyValue": "old_state.state",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "str",
        "comparatorValue": "playing"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.is_volume_muted",
        "comparatorType": "is",
        "comparatorValueDatatype": "bool",
        "comparatorValue": "false"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.app_name",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "str",
        "comparatorValue": "Home Assistant Lovelace"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 130,
    "y": 2700,
    "wires": [
      [
        "956180a631884471"
      ],
      []
    ]
  },
  {
    "id": "956180a631884471",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room from media player entity an extract off speakers to regex",
    "func": "var motion_entity_id = msg.data.event.new_state.entity_id; // binary_sensor.sensor_bedroom_motion_occupancy\nvar motion_entity_id_split = motion_entity_id.split(\".\");// split on the dot to separate domain and entity\nvar motion_entity_id_wihtout_binary = motion_entity_id_split[1].replace(\"media_player_\", \"\").replace(\"_chromecast\", \"\");// remove sensor_ and more substrings\nvar regex = \"^media_player\\.(?!.*?speakers.*?).*\" + motion_entity_id_wihtout_binary + \".*_speaker\"; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is_not' , 'value': \"on\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\"room\": motion_entity_id_wihtout_binary\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 2700,
    "wires": [
      [
        "b5cd4c900adad971"
      ]
    ]
  },
  {
    "id": "b5cd4c900adad971",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1130,
    "y": 2700,
    "wires": [
      [
        "9aca0aafb17f20b2"
      ]
    ]
  },
  {
    "id": "bf142546177ce08a",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 740,
    "y": 2660,
    "wires": []
  },
  {
    "id": "18c4256ce9e5dd3d",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get speakers entities",
    "info": "",
    "x": 1140,
    "y": 2660,
    "wires": []
  },
  {
    "id": "7c989a7b3bc80a07",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect all playing player ending with chromecast",
    "info": "",
    "x": 200,
    "y": 2660,
    "wires": []
  },
  {
    "id": "14ab28a31cb6f947",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Mute speakers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 2700,
    "wires": [
      []
    ]
  },
  {
    "id": "9aca0aafb17f20b2",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload.entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1390,
    "y": 2700,
    "wires": [
      [
        "14ab28a31cb6f947"
      ]
    ]
  },
  {
    "id": "592f8f0c4a7e4be6",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Move payload to payload.data",
    "info": "",
    "x": 1400,
    "y": 2660,
    "wires": []
  },
  {
    "id": "1a2c2723d370a5c3",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Mute speakers",
    "info": "",
    "x": 1640,
    "y": 2660,
    "wires": []
  },
  {
    "id": "cf6e81f1162dfe6d",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "Playing chromecasts",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^media_player\\..*_chromecast$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "re",
        "comparatorValue": "(paused|off)",
        "propertyValue": "new_state.state"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "comparatorType": ">",
        "comparatorValueDatatype": "num",
        "comparatorValue": "0.1",
        "propertyValue": "new_state.attributes.volume_level"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "playing",
        "propertyValue": "old_state.state"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "str",
        "comparatorValue": "Home Assistant Lovelace",
        "propertyValue": "new_state.attributes.app_name"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 130,
    "y": 2820,
    "wires": [
      [
        "0148a0d7b5b1af6b"
      ],
      []
    ]
  },
  {
    "id": "0148a0d7b5b1af6b",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room from media player entity an extract off speakers to regex",
    "func": "var motion_entity_id = msg.data.event.new_state.entity_id; // binary_sensor.sensor_bedroom_motion_occupancy\nvar motion_entity_id_split = motion_entity_id.split(\".\");// split on the dot to separate domain and entity\nvar motion_entity_id_wihtout_binary = motion_entity_id_split[1].replace(\"media_player_\", \"\").replace(\"_chromecast\", \"\");// remove sensor_ and more substrings\nvar regex = \"^media_player\\.(?!.*?speakers.*?).*\" + motion_entity_id_wihtout_binary + \".*_speaker\"; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is_not' , 'value': \"on\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\"room\": motion_entity_id_wihtout_binary\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 2820,
    "wires": [
      [
        "0feb81ecfb724761"
      ]
    ]
  },
  {
    "id": "0feb81ecfb724761",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1130,
    "y": 2820,
    "wires": [
      [
        "df8645a894391e8b"
      ]
    ]
  },
  {
    "id": "0598a0acb4cfb13a",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 740,
    "y": 2780,
    "wires": []
  },
  {
    "id": "e8ebe00ff14b8839",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get speakers entities",
    "info": "",
    "x": 1140,
    "y": 2780,
    "wires": []
  },
  {
    "id": "2c2cbe2dfa5b5284",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect all paused player ending with chromecast",
    "info": "",
    "x": 200,
    "y": 2780,
    "wires": []
  },
  {
    "id": "945d874e4f0e81c5",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Unmute speakers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1650,
    "y": 2820,
    "wires": [
      []
    ]
  },
  {
    "id": "df8645a894391e8b",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload.entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1390,
    "y": 2820,
    "wires": [
      [
        "945d874e4f0e81c5"
      ]
    ]
  },
  {
    "id": "5cf4d8712339894d",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Move payload to payload.data",
    "info": "",
    "x": 1400,
    "y": 2780,
    "wires": []
  },
  {
    "id": "ec52ad15c2364196",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "unMute speakers",
    "info": "",
    "x": 1640,
    "y": 2780,
    "wires": []
  },
  {
    "id": "ac19ca3db853593f",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 21",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 3040,
    "wires": []
  },
  {
    "id": "25dfe89de5062e26",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "All sleeping turns on",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "binary_sensor.all_present_sleeping",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 130,
    "y": 3540,
    "wires": [
      [
        "1d99a0ebad5ba436"
      ],
      []
    ]
  },
  {
    "id": "22fca18a122a02d5",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Close blinds on all sleep",
    "info": "",
    "x": 150,
    "y": 3500,
    "wires": []
  },
  {
    "id": "1d99a0ebad5ba436",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Close all covers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds",
      "cover.cover_office_blinds"
    ],
    "data": "{\"position\":0}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 380,
    "y": 3540,
    "wires": [
      []
    ]
  },
  {
    "id": "baa40cf3b02103d9",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Close all covers",
    "info": "",
    "x": 380,
    "y": 3500,
    "wires": []
  },
  {
    "id": "40f408ee23514114",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Is the house empty?",
    "info": "",
    "x": 110,
    "y": 2540,
    "wires": []
  },
  {
    "id": "0a28286f804cb5f5",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "binary_sensor.user_home",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "new_state.state"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.kink_party",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "new_state.state"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.party_mode",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "new_state.state"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.acid_time",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 170,
    "y": 2580,
    "wires": [
      [
        "79390bc2d69f0c01"
      ],
      []
    ]
  },
  {
    "id": "79390bc2d69f0c01",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "all"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 510,
    "y": 2580,
    "wires": [
      []
    ]
  },
  {
    "id": "9252fe66ebb5980e",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn off t he lights",
    "info": "",
    "x": 510,
    "y": 2540,
    "wires": []
  },
  {
    "id": "8f3820173d5a9601",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": true}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1870,
    "y": 1320,
    "wires": [
      []
    ]
  },
  {
    "id": "9ebdae039088d22b",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.user_home",
    "entityidfiltertype": "regex",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 180,
    "y": 480,
    "wires": [
      [
        "4be0016c8eafecbb"
      ],
      []
    ]
  },
  {
    "id": "4be0016c8eafecbb",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "alarm_control_panel",
    "service": "alarm_disarm",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "alarm_control_panel.home_alarm"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 540,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "f6bd0e7c3db3ad74",
    "type": "subflow:9e515b8aa75a9cdd",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "x": 1110,
    "y": 2320,
    "wires": []
  },
  {
    "id": "6728c9fcb85f2925",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Speaker is not muted?",
    "info": "",
    "x": 880,
    "y": 580,
    "wires": []
  },
  {
    "id": "1a1b9e0c796c591e",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room from media player name",
    "func": "var media_entity_id = msg.data.entity_id; // binary_sensor.sensor_bedroom_motion_occupancy\nvar media_entity_id_split = media_entity_id.split(\".\");// split on the dot to separate domain and entity\nvar room = media_entity_id_split[1].split(\"_\");// remove sensor_ and more substrings\n\nvar msg = {\n    \"room\": room[0],\n    \"entity_id\": media_entity_id\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1150,
    "y": 620,
    "wires": [
      [
        "302e53ea88470e83",
        "2e01db33c01a6c79"
      ]
    ]
  },
  {
    "id": "5c4f10c50063aa88",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 1060,
    "y": 440,
    "wires": []
  },
  {
    "id": "f49208e778f0be8b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room",
    "info": "",
    "x": 1150,
    "y": 580,
    "wires": []
  },
  {
    "id": "8e4304a0b3903d05",
    "type": "delay",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "pauseType": "rate",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "0.7",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3510,
    "y": 740,
    "wires": [
      [
        "76b983255b2d893e"
      ]
    ]
  },
  {
    "id": "76b983255b2d893e",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Mute speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 3700,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "4ea268995019b87f",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Mute speakers if someone is sleeping",
    "info": "",
    "x": 3630,
    "y": 700,
    "wires": []
  },
  {
    "id": "6c6b54f0dfaad3fc",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "Set entity_id",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3310,
    "y": 740,
    "wires": [
      [
        "8e4304a0b3903d05"
      ]
    ]
  },
  {
    "id": "d25cf718657e59c8",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "media_player\\.(?!.*?group.*?).*[a-z]_speaker$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "re",
        "comparatorValue": "(buffering|idle)"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "old_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "propertyValue": "new_state.attributes.is_volume_muted",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "str",
        "comparatorValue": "true"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 620,
    "wires": [
      [
        "abc2966ea146bf03"
      ],
      []
    ]
  },
  {
    "id": "f59af640c5f71144",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Speaker is not muted",
    "property": "data.event.new_state.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 880,
    "y": 620,
    "wires": [
      [
        "1a1b9e0c796c591e"
      ]
    ]
  },
  {
    "id": "abc2966ea146bf03",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Speaker is not bathroom",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "media_player.bathroom_speaker",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 620,
    "wires": [
      [
        "f59af640c5f71144"
      ]
    ]
  },
  {
    "id": "e604d926fde07e38",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract artist adn set musicbrainz query",
    "func": "var artist = msg.data.new_state.attributes.media_artist; // light group\n\nvar url = \"https://musicbrainz.org/ws/2/artist/?query=name:\" + artist;\n\n\nvar msg = {\n     \"url\": url\n\n}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1320,
    "y": 3920,
    "wires": [
      [
        "d88f7beff67b4551"
      ]
    ]
  },
  {
    "id": "d88f7beff67b4551",
    "type": "http request",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1590,
    "y": 3920,
    "wires": [
      [
        "4b6c964f98d73f8d"
      ]
    ]
  },
  {
    "id": "4b6c964f98d73f8d",
    "type": "xml",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "property": "payload",
    "attr": "",
    "chr": "",
    "x": 1790,
    "y": 3920,
    "wires": [
      [
        "2a8f874a6bdfd9b6"
      ]
    ]
  },
  {
    "id": "845613f72bbe792e",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 265",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "msg",
    "x": 2490,
    "y": 3920,
    "wires": []
  },
  {
    "id": "2a8f874a6bdfd9b6",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract Artist for API call to Lidarr",
    "func": "var id = msg.payload.metadata[\"artist-list\"][0].artist[0].$.id;\nvar url = \"http://192.168.0.20:8686/api/v1/artist\";\nvar name = msg.payload.metadata[\"artist-list\"][0].artist[0].name[0];\n\nvar msg = {\n     \"url\": url,\n     \"payload\": {\n          \"ArtistName\": name,\n          \"Path\": \"/media/Music/\" + name,\n          \"rootFolderPath\": \"/media/Music\",\n          \"ForeignArtistId\": id,\n          \"QualityProfileId\": \"1\",\n          \"MetadataProfileId\": \"1\",\n          \"Monitored\": true\n     }\n\n};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2040,
    "y": 3920,
    "wires": [
      [
        "36b122293cbe8418"
      ]
    ]
  },
  {
    "id": "36b122293cbe8418",
    "type": "http request",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "body",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 2290,
    "y": 3920,
    "wires": [
      [
        "845613f72bbe792e"
      ]
    ]
  },
  {
    "id": "143feff05fb098e3",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Check chromecasts  for playback",
    "info": "",
    "x": 230,
    "y": 3880,
    "wires": []
  },
  {
    "id": "0a7c9f5ac79972d6",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract Artist for musicbrainz Querry to get the ID",
    "info": "",
    "x": 1300,
    "y": 3880,
    "wires": []
  },
  {
    "id": "5d631f37277fe401",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get musicbrainz ",
    "info": "",
    "x": 1580,
    "y": 3880,
    "wires": []
  },
  {
    "id": "78b9d7fc62622795",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Convert to XML",
    "info": "",
    "x": 1800,
    "y": 3880,
    "wires": []
  },
  {
    "id": "0d3a722db40fae10",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract data for Lidarr callback",
    "info": "",
    "x": 2060,
    "y": 3880,
    "wires": []
  },
  {
    "id": "4c802fbc4b4c611a",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Add to Lidarr",
    "info": "",
    "x": 2290,
    "y": 3880,
    "wires": []
  },
  {
    "id": "463aa6e97cab31f0",
    "type": "delay",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1040,
    "y": 3920,
    "wires": [
      [
        "e604d926fde07e38"
      ]
    ]
  },
  {
    "id": "89cb984b89259a41",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Music?",
    "property": "data.new_state.attributes.media_content_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "music",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 3920,
    "wires": [
      [
        "07de97ce5b3ea831"
      ]
    ]
  },
  {
    "id": "9d8388666e6b17c3",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Confirm music is playing",
    "info": "",
    "x": 590,
    "y": 3880,
    "wires": []
  },
  {
    "id": "75a06e7064285b73",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player\\.(?!.*?plex.*?)[a-z_]*_chromecast",
    "entityidfiltertype": "regex",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 270,
    "y": 3920,
    "wires": [
      [
        "89cb984b89259a41"
      ],
      []
    ]
  },
  {
    "id": "c0843573bc3e1929",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.party_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 200,
    "y": 4140,
    "wires": [
      [
        "8c6136816c372915"
      ],
      []
    ]
  },
  {
    "id": "8c6136816c372915",
    "type": "trigger",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 530,
    "y": 4140,
    "wires": [
      [
        "02f7295b44608fe0"
      ]
    ]
  },
  {
    "id": "02f7295b44608fe0",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get ChromecastMedia players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!plex).*_chromecast",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "off",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 850,
    "y": 4140,
    "wires": [
      [
        "7b0bd74d9726336c"
      ]
    ]
  },
  {
    "id": "7b0bd74d9726336c",
    "type": "delay",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "8",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1100,
    "y": 4140,
    "wires": [
      [
        "1274d6c20ffd5f60"
      ]
    ]
  },
  {
    "id": "1274d6c20ffd5f60",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1350,
    "y": 4140,
    "wires": [
      [
        "36f9f8deb6267ebb"
      ]
    ]
  },
  {
    "id": "36f9f8deb6267ebb",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "play visuals",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"media_content_id\":\"plex://{ \\\"playlist_name\\\": \\\"All visuals\\\", \\\"shuffle\\\": 1 }\",\"media_content_type\":\"playlist\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1590,
    "y": 4140,
    "wires": [
      [
        "002b81243c26acf0"
      ]
    ]
  },
  {
    "id": "002b81243c26acf0",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Set volume to 0.1",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"volume_level\":\"0.1\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1790,
    "y": 4140,
    "wires": [
      [
        "81a6bbceafeac20c"
      ]
    ]
  },
  {
    "id": "81a6bbceafeac20c",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Mute Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1990,
    "y": 4140,
    "wires": [
      []
    ]
  },
  {
    "id": "2f1afe0e5a874c4c",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Play soft visuals when party mode is triggered",
    "info": "",
    "x": 210,
    "y": 4100,
    "wires": []
  },
  {
    "id": "96b1cb45b06ea375",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "15 minutes cooldown",
    "info": "",
    "x": 520,
    "y": 4100,
    "wires": []
  },
  {
    "id": "5ef1e991bb7d875a",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Pull all inactive Chromecasts entities",
    "info": "",
    "x": 840,
    "y": 4100,
    "wires": []
  },
  {
    "id": "ab53133d21bcf288",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "rate limit at 1 per 8s",
    "info": "",
    "x": 1090,
    "y": 4100,
    "wires": []
  },
  {
    "id": "f6ec08d3069cc757",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract the entity id",
    "info": "",
    "x": 1350,
    "y": 4100,
    "wires": []
  },
  {
    "id": "a9f03579f152484b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Start the visuals playlist",
    "info": "",
    "x": 1580,
    "y": 4100,
    "wires": []
  },
  {
    "id": "baac9591853a5457",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set volume to 0.1",
    "info": "",
    "x": 1800,
    "y": 4100,
    "wires": []
  },
  {
    "id": "7ff5b1c7a5f56df7",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Mute the Tv",
    "info": "",
    "x": 1990,
    "y": 4100,
    "wires": []
  },
  {
    "id": "917277eef2953310",
    "type": "trigger",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 550,
    "y": 4260,
    "wires": [
      [
        "89d0d1d918564386"
      ]
    ]
  },
  {
    "id": "22ffd9edca8397c0",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "15 seconds cooldown",
    "info": "",
    "x": 540,
    "y": 4220,
    "wires": []
  },
  {
    "id": "89d0d1d918564386",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get  Light groups",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?all.*?)(?!.*?door.*?).*?_lights$",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 770,
    "y": 4260,
    "wires": [
      [
        "eadbb9bbbd90b04e"
      ]
    ]
  },
  {
    "id": "3feed2b2c6fdac36",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Pull all light groups",
    "info": "",
    "x": 770,
    "y": 4220,
    "wires": []
  },
  {
    "id": "73896dfa4fb8d996",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.party_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 200,
    "y": 4260,
    "wires": [
      [
        "917277eef2953310"
      ],
      []
    ]
  },
  {
    "id": "73ceade6131f58c4",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Change light groups to random colors on party mode",
    "info": "",
    "x": 230,
    "y": 4220,
    "wires": []
  },
  {
    "id": "eadbb9bbbd90b04e",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 990,
    "y": 4260,
    "wires": [
      [
        "295a50d373ea7d0b"
      ]
    ]
  },
  {
    "id": "9cf9611c81347b2e",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Check for color support",
    "info": "",
    "x": 980,
    "y": 4220,
    "wires": []
  },
  {
    "id": "295a50d373ea7d0b",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate Random saturated color",
    "func": "var entity_id = msg.payload.entity_id;\n\n\nvar hue = Math.floor(Math.random() * 360); //generate a random number up to 360\n\nvar hs_color = hue + \",60\";\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"brightness_pct\": 100\n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1260,
    "y": 4260,
    "wires": [
      [
        "c0e0e1dede43580b"
      ]
    ]
  },
  {
    "id": "c0e0e1dede43580b",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1550,
    "y": 4260,
    "wires": [
      []
    ]
  },
  {
    "id": "920b0688b303f501",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generated random HS 60% saturated color",
    "info": "",
    "x": 1260,
    "y": 4220,
    "wires": []
  },
  {
    "id": "e0608cb33087d9bd",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Call light_on service",
    "info": "",
    "x": 1550,
    "y": 4220,
    "wires": []
  },
  {
    "id": "1ed233c0367b3522",
    "type": "random",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "low": "1",
    "high": "11",
    "inte": "true",
    "property": "number",
    "x": 1300,
    "y": 4360,
    "wires": [
      [
        "50f03fb059f6ea65"
      ]
    ]
  },
  {
    "id": "50f03fb059f6ea65",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Playlist Selector",
    "func": "var number = msg.number;\nvar entity_id = msg.payload.entity_id\nif (number == 1) {\n  var playlist = \"Automatic Atmospheric Playlist\";\n} else if (number == 2) {\n  var playlist = \"Automatic Happy Playlist\";\n} else if (number == 3) {\n  var playlist = \"Automatic Indie-Pop Playlist\";\n} else if (number == 4) {\n  var playlist = \"Automatic Pop-Rock Playlist\";\n} else if (number == 5) {\n  var playlist = \"Automatic Psychedelic Playlist\";\n} else if (number == 6) {\n  var playlist = \"Indie-pop Music\";\n} else if (number == 7) {\n  var playlist = \"Rock Music\";\n} else if (number == 8) {\n  var playlist = \"Latin Music\";\n} else if (number == 9) {\n  var playlist = \"Psychedelic Music\";\n} else if (number == 10) {\n  var playlist = \"Ambient Music\";\n} else if (number == 11) {\n  var playlist = \"Recently Added\";\n} else {\n    \n}\n\n\nvar newMsg = {\n    \"payload\": { \n        \"data\": {\n              \"media_content_id\": 'plex://{ \"playlist_name\":'+ ' \"' + playlist + '\", \"shuffle\": 1 }',\n              \"media_content_type\": \"playlist\",\n              \"entity_id\": entity_id\n            \n        }\n}\n};\nreturn newMsg;\n\n\n// a switch can be used instead of a unch of else ifs",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1580,
    "y": 4360,
    "wires": [
      [
        "d751ec94f35faa0d"
      ]
    ]
  },
  {
    "id": "d751ec94f35faa0d",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "play music",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1850,
    "y": 4360,
    "wires": [
      []
    ]
  },
  {
    "id": "a76efc4ab5b56f29",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get Google cast groups",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.group_.*_speakers",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is_not",
        "value": "playing",
        "valueType": "str"
      },
      {
        "property": "entity_id",
        "logic": "is_not",
        "value": "(media_player.group_maxi_speakers|group_kitchen_speakers|media_player.group_hotbox_upper_speakers|media_player.group_hotbox_lower_speakers|media_player.group_home_speakers)",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 790,
    "y": 4360,
    "wires": [
      [
        "3ba0c3863600c878"
      ]
    ]
  },
  {
    "id": "3ba0c3863600c878",
    "type": "delay",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1020,
    "y": 4360,
    "wires": [
      [
        "1ed233c0367b3522"
      ]
    ]
  },
  {
    "id": "8d85249887f86d9d",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.party_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 200,
    "y": 4360,
    "wires": [
      [
        "3a47a2d796c18ff9"
      ],
      []
    ]
  },
  {
    "id": "1aa7f611d51f17cf",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Start music in each room when party mode is on",
    "info": "",
    "x": 220,
    "y": 4320,
    "wires": []
  },
  {
    "id": "9633b560f8bfa29c",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "rate limit at 1 per 8s",
    "info": "",
    "x": 1010,
    "y": 4320,
    "wires": []
  },
  {
    "id": "c363de697b9a97da",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Pull all speaker groups",
    "info": "",
    "x": 800,
    "y": 4320,
    "wires": []
  },
  {
    "id": "1bdf3bf4fbbe7434",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generated number between 1 and 11",
    "info": "",
    "x": 1290,
    "y": 4320,
    "wires": []
  },
  {
    "id": "d75eb19853b4aa27",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Select playlist with number",
    "info": "",
    "x": 1570,
    "y": 4320,
    "wires": []
  },
  {
    "id": "7ded67246d82136e",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Send media_play service",
    "info": "",
    "x": 1830,
    "y": 4320,
    "wires": []
  },
  {
    "id": "3a47a2d796c18ff9",
    "type": "api-current-state",
    "z": "3ad1e0957e6ec22e",
    "name": "Home group",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.group_home_speakers",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 530,
    "y": 4360,
    "wires": [
      [
        "a76efc4ab5b56f29"
      ],
      []
    ]
  },
  {
    "id": "471935cb5043caf9",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Make sure the home group is off",
    "info": "",
    "x": 550,
    "y": 4320,
    "wires": []
  },
  {
    "id": "e6e9ba414e1292f1",
    "type": "poll-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "updateinterval": "10",
    "updateIntervalType": "num",
    "updateIntervalUnits": "minutes",
    "outputinitially": true,
    "outputonchanged": true,
    "entity_id": "sensor.amount_friends_home",
    "state_type": "str",
    "halt_if": "4",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "x": 190,
    "y": 4020,
    "wires": [
      [
        "190afdf8590d2e25"
      ],
      []
    ]
  },
  {
    "id": "adb29a384078faab",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "turn on party mode",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.party_mode"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 890,
    "y": 4020,
    "wires": [
      []
    ]
  },
  {
    "id": "e59fabcafe09cc38",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn on Party mode when 5 guests are over",
    "info": "",
    "x": 210,
    "y": 3980,
    "wires": []
  },
  {
    "id": "190afdf8590d2e25",
    "type": "api-current-state",
    "z": "3ad1e0957e6ec22e",
    "name": "Kink party is off?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 460,
    "y": 4020,
    "wires": [
      [
        "218df787e822d7ca"
      ],
      []
    ]
  },
  {
    "id": "218df787e822d7ca",
    "type": "api-current-state",
    "z": "3ad1e0957e6ec22e",
    "name": "Acid time is off?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 680,
    "y": 4020,
    "wires": [
      [
        "adb29a384078faab"
      ],
      []
    ]
  },
  {
    "id": "60bcceff9f85e8bc",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn on party mode",
    "info": "",
    "x": 890,
    "y": 3980,
    "wires": []
  },
  {
    "id": "bae3917b891c9b90",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "(bug mitigation)",
    "info": "The Google chromecasts don't always give the right volume, this forces an update",
    "x": 1800,
    "y": 4180,
    "wires": []
  },
  {
    "id": "66a00aba4f8999a7",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.bootminutes",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "4.0",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 180,
    "y": 4460,
    "wires": [
      [
        "915fdb19f046fa28"
      ],
      []
    ]
  },
  {
    "id": "3efea23ef50d70dd",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Reload pages when HASS rebooted 4 minutes ago",
    "info": "",
    "x": 230,
    "y": 4420,
    "wires": []
  },
  {
    "id": "915fdb19f046fa28",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get  Load URL button entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "button\\..*load_start_url",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 520,
    "y": 4460,
    "wires": [
      [
        "321d315faac88325"
      ]
    ]
  },
  {
    "id": "a4d75435c042d811",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "press button",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "button",
    "service": "press",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1210,
    "y": 4460,
    "wires": [
      []
    ]
  },
  {
    "id": "321d315faac88325",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 4460,
    "wires": [
      [
        "a4d75435c042d811"
      ]
    ]
  },
  {
    "id": "89009c92b47d616f",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract the entity id",
    "info": "",
    "x": 850,
    "y": 4420,
    "wires": []
  },
  {
    "id": "be4e2b5b378e7400",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get FKB reload butons",
    "info": "",
    "x": 540,
    "y": 4420,
    "wires": []
  },
  {
    "id": "7032e96b7c4940a6",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Press Button",
    "info": "",
    "x": 1190,
    "y": 4420,
    "wires": []
  },
  {
    "id": "54cf7f2e9ffc09a8",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Waiting Uber On",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_uber"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 540,
    "y": 4600,
    "wires": [
      []
    ]
  },
  {
    "id": "94dbd7834e687658",
    "type": "server-state-changed",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.purgatoire1134_uber",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "On",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 210,
    "y": 4600,
    "wires": [
      [
        "54cf7f2e9ffc09a8"
      ],
      []
    ]
  },
  {
    "id": "0dacbde8531bb41c",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn on \"Waiting uber\" when uber order is detected",
    "info": "",
    "x": 230,
    "y": 4560,
    "wires": []
  },
  {
    "id": "07de97ce5b3ea831",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Not plex",
    "property": "data.new_state.attributes.app_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "Plex",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 840,
    "y": 3920,
    "wires": [
      [
        "463aa6e97cab31f0"
      ]
    ]
  },
  {
    "id": "b0c6e7f2212e8901",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Confirm music is not from plex",
    "info": "",
    "x": 840,
    "y": 3880,
    "wires": []
  },
  {
    "id": "30a97bc7c2b6cbb0",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 283",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1990,
    "y": 4980,
    "wires": []
  },
  {
    "id": "75cf2565e7110740",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^binary_sensor\\.(?!.*?bedroom.*?)(?!.*?closet.*?)sensor_.*_occupancy$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "previous_state",
        "propertyValue": "old_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 310,
    "y": 2160,
    "wires": [
      [
        "ff0f60a09e8cd06c",
        "f7d8b78bf7c2858a"
      ],
      []
    ]
  },
  {
    "id": "ff0f60a09e8cd06c",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Extract room from motion sensor entity an extract off lights to regex",
    "func": "var motion_entity_id = msg.data.event.new_state.entity_id; // binary_sensor.sensor_bedroom_motion_occupancy\nvar motion_entity_id_split = motion_entity_id.split(\".\");// split on the dot to separate domain and entity\nvar motion_entity_id_wihtout_binary = motion_entity_id_split[1].replace(\"sensor_\", \"\").replace(\"_motion\", \"\").replace(\"_fp1\", \"\").replace(\"fp2_\", \"\").replace(\"_presence\", \"\").replace(\"_occupancy\", \"\").replace(\"_entry\", \"\").replace(\"_exit\", \"\").replace(\"_couch\", \"\");// remove sensor_ and more substrings\nvar regex = \"^light\\\\.(?!.*?group.*?)(?!.*?notification.*?)(?!.*?lights.*?).*\" + motion_entity_id_wihtout_binary + \".*\"; \nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': regex ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is_not' , 'value': \"on\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\"room\": motion_entity_id_wihtout_binary\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 960,
    "y": 2160,
    "wires": [
      [
        "5a3dbf03d377b43a",
        "5a81833454441841"
      ]
    ]
  },
  {
    "id": "5a3dbf03d377b43a",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1330,
    "y": 2160,
    "wires": [
      [
        "d2ae1f1089a02614",
        "d9a971625dab2d8b"
      ]
    ]
  },
  {
    "id": "8419c0f01e0cf559",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3530,
    "y": 2180,
    "wires": [
      []
    ]
  },
  {
    "id": "d2ae1f1089a02614",
    "type": "change",
    "z": "3ad1e0957e6ec22e",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "entity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1570,
    "y": 2160,
    "wires": [
      [
        "a3d8e274aee82b8a"
      ]
    ]
  },
  {
    "id": "f34e20c2334ccf4c",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Detect motion across ocupancy sensors",
    "info": "",
    "x": 170,
    "y": 2120,
    "wires": []
  },
  {
    "id": "29c20247a612b7c8",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "(Ignores \"Closet\", \"Bedroom\" sensors)",
    "info": "",
    "x": 490,
    "y": 2120,
    "wires": []
  },
  {
    "id": "95a4c5dd36cd88b2",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Generate the regex for get entity node",
    "info": "",
    "x": 1050,
    "y": 2120,
    "wires": []
  },
  {
    "id": "a32f9f37badef6fe",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get off light entities",
    "info": "",
    "x": 1330,
    "y": 2120,
    "wires": []
  },
  {
    "id": "7b91e7430afd08ea",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Move payload to entity",
    "info": "",
    "x": 1560,
    "y": 2120,
    "wires": []
  },
  {
    "id": "b9f088c7a0898053",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Select color, brightness and set entity_id",
    "info": "",
    "x": 3360,
    "y": 2220,
    "wires": []
  },
  {
    "id": "5c924378f03832ef",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn the lights on",
    "info": "",
    "x": 3520,
    "y": 2140,
    "wires": []
  },
  {
    "id": "6e0313cad534393b",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Brightness selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness_percentage = \"45\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness_percentage = \"40\";\n}\nelse if (h > 2 && h<8){\n    var brightness_percentage = \"25\";\n}\nelse if (h >= 8 && h<9){\n    var brightness_percentage = \"35\";\n}\nelse{\n    var brightness_percentage = \"50\";\n}\nmsg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.payload.entity.entity_id,\n        \"brightness_pct\": brightness_percentage,\n        \"color_name\":  \"white\"\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3290,
    "y": 2180,
    "wires": [
      [
        "8419c0f01e0cf559"
      ]
    ]
  },
  {
    "id": "5fee30b61a27e6e5",
    "type": "api-current-state",
    "z": "3ad1e0957e6ec22e",
    "name": "Acid time",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3020,
    "y": 2160,
    "wires": [
      [
        "88b1d87eacc8b8e0"
      ],
      [
        "c78ba01e2c786587"
      ]
    ]
  },
  {
    "id": "e0dea2b09c9b5232",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 294",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2190,
    "y": 2200,
    "wires": []
  },
  {
    "id": "f7d8b78bf7c2858a",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 295",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 2120,
    "wires": []
  },
  {
    "id": "5a81833454441841",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 296",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1330,
    "y": 2200,
    "wires": []
  },
  {
    "id": "a3d8e274aee82b8a",
    "type": "api-current-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.active_sleeper_rooms",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "room_sleepers",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1870,
    "y": 2160,
    "wires": [
      [
        "e0dea2b09c9b5232",
        "51dbd35861e70217"
      ]
    ]
  },
  {
    "id": "d9a971625dab2d8b",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 297",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1590,
    "y": 2200,
    "wires": []
  },
  {
    "id": "777b0400e36fa32b",
    "type": "inject",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "data",
        "v": "{\"event_type\":\"state_changed\",\"entity_id\":\"binary_sensor.sensor_hallway_motion_occupancy\",\"event\":{\"entity_id\":\"binary_sensor.sensor_hallway_motion_occupancy\",\"old_state\":{\"entity_id\":\"binary_sensor.sensor_hallway_motion_occupancy\",\"state\":\"off\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"dateCode\":\"20160524\",\"friendlyName\":\"sensor_hallway_motion\",\"hardwareVersion\":2,\"ieeeAddr\":\"0x00158d0002275fd4\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":36327,\"powerSource\":\"Battery\",\"softwareBuildID\":\"3000-0001\",\"stackVersion\":2,\"type\":\"EndDevice\",\"zclVersion\":1},\"linkquality\":29,\"occupancy\":false,\"power_outage_count\":23115,\"voltage\":3035,\"device_class\":\"motion\",\"friendly_name\":\"Hallway Motion_occupancy\"},\"last_changed\":\"2023-08-02T15:45:12.640577+00:00\",\"last_updated\":\"2023-08-02T15:45:12.640577+00:00\",\"context\":{\"id\":\"01H6VESCE0WYF8ZX13SQC5N487\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"off\"},\"new_state\":{\"entity_id\":\"binary_sensor.sensor_hallway_motion_occupancy\",\"state\":\"on\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"dateCode\":\"20160524\",\"friendlyName\":\"sensor_hallway_motion\",\"hardwareVersion\":2,\"ieeeAddr\":\"0x00158d0002275fd4\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":36327,\"powerSource\":\"Battery\",\"softwareBuildID\":\"3000-0001\",\"stackVersion\":2,\"type\":\"EndDevice\",\"zclVersion\":1},\"linkquality\":29,\"occupancy\":false,\"power_outage_count\":23115,\"voltage\":3035,\"device_class\":\"motion\",\"friendly_name\":\"Hallway Motion_occupancy\"},\"last_changed\":\"2023-08-02T15:50:28.404423+00:00\",\"last_updated\":\"2023-08-02T15:50:28.404423+00:00\",\"context\":{\"id\":\"01H6VF30SMTSYD1N217CFJ7GQT\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"},\"original_state\":\"on\",\"timeSinceChangedMs\":5}},\"origin\":\"LOCAL\",\"time_fired\":\"2023-08-02T15:50:28.404423+00:00\",\"context\":{\"id\":\"01H6VF30SMTSYD1N217CFJ7GQT\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "binary_sensor.sensor_hallway_motion_occupancy",
    "payload": "on",
    "payloadType": "str",
    "x": 1330,
    "y": 2080,
    "wires": [
      [
        "d2ae1f1089a02614"
      ]
    ]
  },
  {
    "id": "d0599e2fa55de2b9",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Is \"active_sleeper_present\" 0?",
    "property": "payload.active_sleeper_present",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2650,
    "y": 2160,
    "wires": [
      [
        "5fee30b61a27e6e5"
      ]
    ]
  },
  {
    "id": "5dfa51babbba06ed",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Check that \"active_sleeper_present\" is off",
    "info": " - ",
    "x": 2660,
    "y": 2120,
    "wires": []
  },
  {
    "id": "e596935b261be053",
    "type": "inject",
    "z": "3ad1e0957e6ec22e",
    "name": "office motion",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "data",
        "v": "{\"event_type\":\"state_changed\",\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"event\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"old_state\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"state\":\"off\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"friendlyName\":\"sensor_office_motion\",\"ieeeAddr\":\"0x00158d0002281294\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":28396,\"powerSource\":\"Battery\",\"type\":\"EndDevice\"},\"linkquality\":87,\"occupancy\":false,\"power_outage_count\":77,\"voltage\":3075,\"device_class\":\"motion\",\"friendly_name\":\"Hotbox Down Motion_occupancy\"},\"last_changed\":\"2023-08-03T13:07:10.739670+00:00\",\"last_updated\":\"2023-08-03T13:07:10.739670+00:00\",\"context\":{\"id\":\"01H6XR4QRKMSW2KB245H9T6KFT\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"off\"},\"new_state\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"state\":\"on\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"friendlyName\":\"sensor_office_motion\",\"ieeeAddr\":\"0x00158d0002281294\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":28396,\"powerSource\":\"Battery\",\"type\":\"EndDevice\"},\"linkquality\":87,\"occupancy\":false,\"power_outage_count\":77,\"voltage\":3075,\"device_class\":\"motion\",\"friendly_name\":\"Hotbox Down Motion_occupancy\"},\"last_changed\":\"2023-08-03T13:28:46.214518+00:00\",\"last_updated\":\"2023-08-03T13:28:46.214518+00:00\",\"context\":{\"id\":\"01H6XSC8W6W0RJ9N7G6RVXA89K\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"},\"original_state\":\"on\",\"timeSinceChangedMs\":4}},\"origin\":\"LOCAL\",\"time_fired\":\"2023-08-03T13:28:46.214518+00:00\",\"context\":{\"id\":\"01H6XSC8W6W0RJ9N7G6RVXA89K\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "binary_sensor.sensor_office_motion_occupancy",
    "payload": "on",
    "payloadType": "str",
    "x": 530,
    "y": 2200,
    "wires": [
      [
        "ff0f60a09e8cd06c"
      ]
    ]
  },
  {
    "id": "51dbd35861e70217",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Check if any sleeper is in the triggered room",
    "func": "\n\nvar room = msg.room.replace('_down', '').replace('_exit', '').replace('_top', '');\nvar room_sleepers = msg.room_sleepers;\nvar active = 0;\n\nvar active = compareArrayToString(room_sleepers, room);\n\n\nvar msg = {\n    \"payload\": {\n    \"room\": room,\n    \"room_sleepers\": room_sleepers,\n    \"entity\": msg.entity,\n    \"active_sleeper_present\": active,\n     \"data\": msg.data\n    },\n    \"entity_id\": msg.entity.entity_id\n\n}\nreturn msg;\n\n\nfunction compareArrayToString(array, string) {\n    var array_string = String(array)\n\n\n    if (array_string.includes(string)) {\n        // return 1 if found\n        return 1;\n    }\n\n\n    // return off if none found\n    return 0;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2290,
    "y": 2160,
    "wires": [
      [
        "d0599e2fa55de2b9",
        "9c11a0a5f77492b5"
      ]
    ]
  },
  {
    "id": "9c11a0a5f77492b5",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 300",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2590,
    "y": 2200,
    "wires": []
  },
  {
    "id": "ab99a49d19ea27a0",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Check if a trip is ongoing",
    "info": " - ",
    "x": 3010,
    "y": 2120,
    "wires": []
  },
  {
    "id": "9ea910667bcc454e",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 301",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2210,
    "y": 660,
    "wires": []
  },
  {
    "id": "2e01db33c01a6c79",
    "type": "api-current-state",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.active_sleeper_rooms",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "room_sleepers",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1890,
    "y": 620,
    "wires": [
      [
        "9ea910667bcc454e",
        "f6ac31de9e7d3aa8"
      ]
    ]
  },
  {
    "id": "8fa4d671ac062646",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "Is \"active_sleeper_present\" 0?",
    "property": "payload.active_sleeper_present",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2670,
    "y": 600,
    "wires": [
      [
        "bb550eb68254b69e"
      ],
      [
        "460c049976cb8d77"
      ]
    ]
  },
  {
    "id": "f6ac31de9e7d3aa8",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Check if any sleeper is in the triggered room",
    "func": "\n\nvar room = msg.room;\nvar room_sleepers = msg.room_sleepers;\nvar active = 0;\n\nvar active = compareArrayToString(room_sleepers, room);\n\n\nvar msg = {\n    \"payload\": {\n    \"room\": room,\n    \"room_sleepers\": room_sleepers,\n    \"entity\": msg.entity,\n    \"active_sleeper_present\": active,\n     \"data\": msg.data\n    },\n    \"entity_id\": msg.entity_id\n\n}\nreturn msg;\n\n\nfunction compareArrayToString(array, string) {\n    var array_string = String(array)\n\n\n    if (array_string.includes(string)) {\n        // return 1 if found\n        return 1;\n    }\n\n\n    // return off if none found\n    return 0;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2310,
    "y": 620,
    "wires": [
      [
        "8fa4d671ac062646",
        "b9c19c7ffc68a966"
      ]
    ]
  },
  {
    "id": "b9c19c7ffc68a966",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 302",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2610,
    "y": 660,
    "wires": []
  },
  {
    "id": "302e53ea88470e83",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 304",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1430,
    "y": 660,
    "wires": []
  },
  {
    "id": "3ce9f8d6877b7722",
    "type": "ha-get-entities",
    "z": "3ad1e0957e6ec22e",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1870,
    "y": 820,
    "wires": [
      [
        "dddb35c43dc90bfd"
      ]
    ]
  },
  {
    "id": "dddb35c43dc90bfd",
    "type": "switch",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "property": "payload.results",
    "propertyType": "msg",
    "rules": [
      {
        "t": "empty"
      },
      {
        "t": "nempty"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2070,
    "y": 820,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "9484d3c039ac9e6b",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Get sleeper entities in an array",
    "info": "",
    "x": 1850,
    "y": 780,
    "wires": []
  },
  {
    "id": "c1d461b9f98e71bf",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Make sure the array is empty",
    "info": "",
    "x": 2120,
    "y": 780,
    "wires": []
  },
  {
    "id": "961ad875493d53be",
    "type": "inject",
    "z": "3ad1e0957e6ec22e",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "data",
        "v": "{\"entity_id\":\"media_player.livingroom_center_speaker\",\"old_state\":{\"entity_id\":\"media_player.livingroom_center_speaker\",\"state\":\"off\",\"attributes\":{\"device_class\":\"speaker\",\"friendly_name\":\"Living Room Center\",\"supported_features\":152461},\"last_changed\":\"2023-01-12T14:20:58.917426+00:00\",\"last_updated\":\"2023-01-12T14:20:58.917426+00:00\",\"context\":{\"id\":\"01GPK5NZ55A2SFRB8EDV9BDWWJ\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"off\"},\"new_state\":{\"entity_id\":\"media_player.livingroom_center_speaker\",\"state\":\"idle\",\"attributes\":{\"volume_level\":0.44999998807907104,\"is_volume_muted\":false,\"media_position_updated_at\":\"2023-01-12T14:20:58.917088+00:00\",\"app_id\":\"705D30C6\",\"app_name\":\"Default Media Receiver\",\"entity_picture_local\":null,\"device_class\":\"speaker\",\"friendly_name\":\"Living Room Center\",\"supported_features\":152461},\"last_changed\":\"2023-01-12T14:21:00.824073+00:00\",\"last_updated\":\"2023-01-12T14:21:00.824073+00:00\",\"context\":{\"id\":\"01GPK5P10R6FH3EZW0K11BCQ2H\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"idle\",\"timeSinceChangedMs\":2}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "media_player.livingroom_center_speaker",
    "payload": "idle",
    "payloadType": "str",
    "x": 1790,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "3d997d6518e61503",
    "type": "debug",
    "z": "3ad1e0957e6ec22e",
    "name": "debug 303",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1870,
    "y": 860,
    "wires": []
  },
  {
    "id": "e45b3c1d18695954",
    "type": "function",
    "z": "3ad1e0957e6ec22e",
    "name": "Entity Setter",
    "func": "msg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.payload.entity.entity_id\n    }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3270,
    "y": 2140,
    "wires": [
      [
        "8419c0f01e0cf559"
      ]
    ]
  },
  {
    "id": "5388180a1b1a9d95",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Set the entity_id",
    "info": "",
    "x": 3280,
    "y": 2100,
    "wires": []
  },
  {
    "id": "6c6ca0383e4133f3",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "All sleeping turns on",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "binary_sensor.all_present_sleeping",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 130,
    "y": 3660,
    "wires": [
      [
        "f31d2d5e4e06e41e"
      ],
      []
    ]
  },
  {
    "id": "b65e05c12f88c66d",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn on Adaptative Lighting sleep mode upon all sleeping on",
    "info": "",
    "x": 260,
    "y": 3620,
    "wires": []
  },
  {
    "id": "f31d2d5e4e06e41e",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn on sleeping lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.adaptive_lighting_sleep_mode_adaptive_lighting"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 760,
    "y": 3660,
    "wires": [
      []
    ]
  },
  {
    "id": "9243e588984b6629",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn on sleeping lights",
    "info": "",
    "x": 760,
    "y": 3620,
    "wires": []
  },
  {
    "id": "5c72bb7db72e7f59",
    "type": "trigger-state",
    "z": "3ad1e0957e6ec22e",
    "name": "All sleeping turns off",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "binary_sensor.all_present_sleeping",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 130,
    "y": 3760,
    "wires": [
      [
        "7925a7da81a4759b"
      ],
      []
    ]
  },
  {
    "id": "a9e78ac75aac0e32",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn on Adaptative Lighting sleep mode upon all sleeping off",
    "info": "",
    "x": 260,
    "y": 3720,
    "wires": []
  },
  {
    "id": "7925a7da81a4759b",
    "type": "api-call-service",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn off sleeping lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.adaptive_lighting_sleep_mode_adaptive_lighting"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 760,
    "y": 3760,
    "wires": [
      []
    ]
  },
  {
    "id": "e52c117f5dec85ef",
    "type": "comment",
    "z": "3ad1e0957e6ec22e",
    "name": "Turn off sleeping lights",
    "info": "",
    "x": 760,
    "y": 3720,
    "wires": []
  }
]