node-red/flows/Living Room.json
[
  {
    "id": "7a1172b433a6cf9c",
    "type": "tab",
    "label": "Living Room",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4400d23658e76bdf",
    "type": "group",
    "z": "7a1172b433a6cf9c",
    "style": {
      "stroke": "#999999",
      "stroke-opacity": "1",
      "fill": "none",
      "fill-opacity": "1",
      "label": true,
      "label-position": "nw",
      "color": "#a4a4a4"
    },
    "nodes": [
      "b32a90c6168f15d7",
      "f6f59f0656592eed",
      "cb5984111331e6ed",
      "3b1c32816a1299f8",
      "bd59751a77bcba60",
      "3f4d478a4f7e7def"
    ],
    "x": 74,
    "y": 459
  },
  {
    "id": "de24400af7fb8682",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 400,
    "y": 120,
    "wires": [
      [
        "2dd272c9b019b4cb"
      ]
    ]
  },
  {
    "id": "b659f5b0b0949237",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 400,
    "y": 200,
    "wires": [
      [
        "70c42437dc758335"
      ]
    ]
  },
  {
    "id": "2b8f21d2930527fd",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.livingroom_ac",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(on)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 240,
    "y": 160,
    "wires": [
      [
        "de24400af7fb8682"
      ],
      [
        "b659f5b0b0949237"
      ]
    ]
  },
  {
    "id": "6ab2b0bf6efbdf06",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Raise volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1140,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "f5e830d6ddc96d84",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Adjust volume of players depending on AC state",
    "info": "",
    "x": 280,
    "y": 60,
    "wires": []
  },
  {
    "id": "2dd272c9b019b4cb",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get Livingroom Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.living.*[a-z]",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "playing",
        "valueType": "str"
      },
      {
        "property": "attributes.is_volume_muted",
        "logic": "is",
        "value": "false",
        "valueType": "bool"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 690,
    "y": 120,
    "wires": [
      [
        "b20d619270cc6150"
      ]
    ]
  },
  {
    "id": "b20d619270cc6150",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "parts",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "payload.entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 120,
    "wires": [
      [
        "6ab2b0bf6efbdf06"
      ]
    ]
  },
  {
    "id": "4af896f52385062c",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Lower Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1140,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "8983f64fe67807ba",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "parts",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "payload.entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 200,
    "wires": [
      [
        "4af896f52385062c"
      ]
    ]
  },
  {
    "id": "194df1b5694d90f6",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "AC ON?",
    "info": "",
    "x": 240,
    "y": 120,
    "wires": []
  },
  {
    "id": "fdac127df5c14497",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "AC ON?",
    "info": "",
    "x": 480,
    "y": 120,
    "wires": []
  },
  {
    "id": "331ecc86cf62638c",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "AC ON?",
    "info": "",
    "x": 480,
    "y": 200,
    "wires": []
  },
  {
    "id": "6fa23a1db9f7c256",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Get Living room media players entities and output them one by one",
    "info": "",
    "x": 700,
    "y": 160,
    "wires": []
  },
  {
    "id": "094384a7307219c9",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Place the entity_id properly",
    "info": "",
    "x": 910,
    "y": 80,
    "wires": []
  },
  {
    "id": "129d6d45d0edfb1c",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Place the entity_id properly",
    "info": "",
    "x": 910,
    "y": 240,
    "wires": []
  },
  {
    "id": "2fe6cbe753337547",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Sed volume command",
    "info": "",
    "x": 1140,
    "y": 160,
    "wires": []
  },
  {
    "id": "b32a90c6168f15d7",
    "type": "trigger-state",
    "z": "7a1172b433a6cf9c",
    "g": "4400d23658e76bdf",
    "name": "Cover Closed and AC on",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "switch.livingroom_ac",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "entity_id",
        "targetValue": "cover.cover_livingroom_blinds",
        "propertyType": "property",
        "comparatorType": "<",
        "comparatorValueDatatype": "num",
        "comparatorValue": "26",
        "propertyValue": "attributes.current_position"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 580,
    "wires": [
      [
        "f6f59f0656592eed"
      ],
      []
    ]
  },
  {
    "id": "f6f59f0656592eed",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "g": "4400d23658e76bdf",
    "name": "Blinds at 26% ",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "{\"position\": \"26\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 520,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "5f22a5944ac11de5",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "CLose blinds",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "{\"position\": \"0\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 510,
    "y": 700,
    "wires": [
      []
    ]
  },
  {
    "id": "cb5984111331e6ed",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "g": "4400d23658e76bdf",
    "name": "Blinds at 26% ",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "{\"position\": \"26\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 520,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "c300aac55d064248",
    "type": "trigger-state",
    "z": "7a1172b433a6cf9c",
    "name": "Cover Closed and AC Off",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "switch.livingroom_ac",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "entity_id",
        "targetValue": "cover.cover_livingroom_blinds",
        "propertyType": "property",
        "comparatorType": "<",
        "comparatorValueDatatype": "num",
        "comparatorValue": "27",
        "propertyValue": "attributes.current_position"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 700,
    "wires": [
      [
        "5f22a5944ac11de5"
      ],
      []
    ]
  },
  {
    "id": "3b1c32816a1299f8",
    "type": "trigger-state",
    "z": "7a1172b433a6cf9c",
    "g": "4400d23658e76bdf",
    "name": "Closed Cover and AC on",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "cover.cover_livingroom_blinds",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "comparatorType": "<",
        "comparatorValueDatatype": "num",
        "comparatorValue": "26",
        "propertyValue": "new_state.attributes.current_position"
      },
      {
        "targetType": "entity_id",
        "targetValue": "switch.livingroom_ac",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 500,
    "wires": [
      [
        "cb5984111331e6ed"
      ],
      []
    ]
  },
  {
    "id": "bd59751a77bcba60",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "g": "4400d23658e76bdf",
    "name": "If cover is under 26% and AC is on",
    "info": "",
    "x": 240,
    "y": 540,
    "wires": []
  },
  {
    "id": "3f4d478a4f7e7def",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "g": "4400d23658e76bdf",
    "name": "Set cover to 26% open",
    "info": "",
    "x": 540,
    "y": 540,
    "wires": []
  },
  {
    "id": "f552d4b46029cb7d",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "If cover is under 26% and AC is off",
    "info": "",
    "x": 240,
    "y": 660,
    "wires": []
  },
  {
    "id": "4c0a54eac3d0f0cb",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Close blinds",
    "info": "",
    "x": 510,
    "y": 660,
    "wires": []
  },
  {
    "id": "ca28f711101bffcc",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Ikea blind button",
    "info": "",
    "x": 180,
    "y": 820,
    "wires": []
  },
  {
    "id": "e10059117be5de52",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Open or Close",
    "info": "",
    "x": 370,
    "y": 820,
    "wires": []
  },
  {
    "id": "f929d29e13821eeb",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Open cover",
    "info": "",
    "x": 630,
    "y": 800,
    "wires": []
  },
  {
    "id": "58aecdb12f173ad1",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Close cover",
    "info": "",
    "x": 630,
    "y": 920,
    "wires": []
  },
  {
    "id": "ddcea114278daa7d",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "open_cover",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 620,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "874e0ddfe60e095c",
    "type": "switch",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "open",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "close",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 370,
    "y": 860,
    "wires": [
      [
        "ddcea114278daa7d"
      ],
      [
        "af99c9c9b796b673"
      ]
    ]
  },
  {
    "id": "78da9fa3d7731367",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "Blind Button",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_livingroom_blind_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(open|close)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 170,
    "y": 860,
    "wires": [
      [
        "874e0ddfe60e095c"
      ],
      []
    ]
  },
  {
    "id": "af99c9c9b796b673",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "close_cover",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 620,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "70c42437dc758335",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get Livingroom Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.living.*[a-z]",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "playing",
        "valueType": "str"
      },
      {
        "property": "attributes.is_volume_muted",
        "logic": "is",
        "value": "false",
        "valueType": "bool"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 690,
    "y": 200,
    "wires": [
      [
        "8983f64fe67807ba"
      ]
    ]
  },
  {
    "id": "eaf1c1f4ea0a8845",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 330,
    "y": 1740,
    "wires": [
      [
        "b2a1574456ee77b3"
      ],
      [
        "9256791e63f40fbe"
      ]
    ]
  },
  {
    "id": "b2a1574456ee77b3",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get individual Hotbox lights",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?lights.*?).*livingroom.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 680,
    "y": 1720,
    "wires": [
      [
        "cfe5e026b0d68c69"
      ]
    ]
  },
  {
    "id": "51e2b62bcf83fbb2",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1250,
    "y": 1720,
    "wires": [
      []
    ]
  },
  {
    "id": "9256791e63f40fbe",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get individual Hotbox lights",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?lights.*?).*livingroom.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 680,
    "y": 1760,
    "wires": [
      [
        "c1fdac440a2ebc24"
      ]
    ]
  },
  {
    "id": "01511e0acf840f79",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"transition\":\"20\",\"color_name\": \"white\"}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1250,
    "y": 1760,
    "wires": [
      []
    ]
  },
  {
    "id": "8acc727c3836cfa2",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 320,
    "y": 1700,
    "wires": []
  },
  {
    "id": "0f850d015bb6c26a",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Get Livingroom light entities",
    "info": "",
    "x": 700,
    "y": 1680,
    "wires": []
  },
  {
    "id": "63e2d4d4f1dfa2f6",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Call light_off service",
    "info": "",
    "x": 1250,
    "y": 1680,
    "wires": []
  },
  {
    "id": "084c6f07fef9b86f",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Toggle the Livingroom  lights when someone sleeps",
    "info": "",
    "x": 330,
    "y": 1660,
    "wires": []
  },
  {
    "id": "cfe5e026b0d68c69",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 970,
    "y": 1720,
    "wires": [
      [
        "51e2b62bcf83fbb2"
      ]
    ]
  },
  {
    "id": "c1fdac440a2ebc24",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 970,
    "y": 1760,
    "wires": [
      [
        "01511e0acf840f79"
      ]
    ]
  },
  {
    "id": "9bb315209fda59b9",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 330,
    "y": 1540,
    "wires": [
      [
        "1cb927e5ac697efa"
      ],
      [
        "98ea0d51a9464f77"
      ]
    ]
  },
  {
    "id": "527a4dfb9eb86e1e",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 280,
    "y": 1500,
    "wires": []
  },
  {
    "id": "1cb927e5ac697efa",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get active living room Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?group.*?)(?!.*?top.*?).*livingroom.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 770,
    "y": 1500,
    "wires": [
      [
        "8f24711d3c008c68"
      ]
    ]
  },
  {
    "id": "ee8e9edb5007f25e",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Pull livingroom media players that are playing",
    "info": "",
    "x": 790,
    "y": 1460,
    "wires": []
  },
  {
    "id": "8f24711d3c008c68",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 1500,
    "wires": [
      [
        "c96710a197cff30e"
      ]
    ]
  },
  {
    "id": "e1d9dd6a1dfe05b1",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Extract the entity id",
    "info": "",
    "x": 1090,
    "y": 1460,
    "wires": []
  },
  {
    "id": "009189ab4426c30b",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Mute player's volume",
    "info": "",
    "x": 1320,
    "y": 1460,
    "wires": []
  },
  {
    "id": "4326fcfd8496cfba",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Stop playback",
    "info": "",
    "x": 1930,
    "y": 1460,
    "wires": []
  },
  {
    "id": "1b550ceb534e0cab",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "stop player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1930,
    "y": 1500,
    "wires": [
      []
    ]
  },
  {
    "id": "c96710a197cff30e",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1330,
    "y": 1500,
    "wires": [
      [
        "2ab8f0b4d628e884"
      ]
    ]
  },
  {
    "id": "2ab8f0b4d628e884",
    "type": "api-current-state",
    "z": "7a1172b433a6cf9c",
    "name": "Home_Group off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.group_home_speakers",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1600,
    "y": 1500,
    "wires": [
      [
        "1b550ceb534e0cab"
      ],
      []
    ]
  },
  {
    "id": "7615b56747bef2b2",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "MAke sure home_group is not playing",
    "info": "",
    "x": 1610,
    "y": 1460,
    "wires": []
  },
  {
    "id": "98ea0d51a9464f77",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get active living room Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?group.*?)(?!.*?top.*?).*livingroom.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 770,
    "y": 1580,
    "wires": [
      [
        "fe102fb1b94e4385"
      ]
    ]
  },
  {
    "id": "5fe2a1d1f9bb1435",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Pull livingroom media players",
    "info": "",
    "x": 740,
    "y": 1540,
    "wires": []
  },
  {
    "id": "fe102fb1b94e4385",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 1580,
    "wires": [
      [
        "cb2a449d4b6f4060"
      ]
    ]
  },
  {
    "id": "51eadab95244344f",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Extract the entity id",
    "info": "",
    "x": 1090,
    "y": 1540,
    "wires": []
  },
  {
    "id": "0ac943c319d49e4b",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "unMute player's volume",
    "info": "",
    "x": 1320,
    "y": 1540,
    "wires": []
  },
  {
    "id": "cb2a449d4b6f4060",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "unmute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1340,
    "y": 1580,
    "wires": [
      []
    ]
  },
  {
    "id": "56b9cda6cd5f6c3f",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 330,
    "y": 1900,
    "wires": [
      [
        "a701eb41c2480220"
      ],
      [
        "59adec8248c94ab8"
      ]
    ]
  },
  {
    "id": "a701eb41c2480220",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Close Blinds",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "close_cover",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 730,
    "y": 1900,
    "wires": [
      [
        "b9cbf8db5e72a2aa"
      ]
    ]
  },
  {
    "id": "b9cbf8db5e72a2aa",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Turn off TV",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.livingroom_lg_webos_tv"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 990,
    "y": 1900,
    "wires": [
      []
    ]
  },
  {
    "id": "59adec8248c94ab8",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Turn on Tv",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "tts",
    "service": "google_translate_say",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.livingroom_chromecast"
    ],
    "data": "{    \"message\": \"Good morning\",    \"language\": \"en\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 730,
    "y": 1940,
    "wires": [
      [
        "2380227eec6c2976"
      ]
    ]
  },
  {
    "id": "2380227eec6c2976",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Turn off chromecast",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.livingroom_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 980,
    "y": 1940,
    "wires": [
      []
    ]
  },
  {
    "id": "c6df906663bb8ece",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Mute player's volume",
    "info": "",
    "x": 660,
    "y": 2020,
    "wires": []
  },
  {
    "id": "161d30db7812414c",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hallway_speaker"
    ],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 2060,
    "wires": [
      []
    ]
  },
  {
    "id": "345c7fdabd0c4763",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "unMute player's volume",
    "info": "",
    "x": 660,
    "y": 2100,
    "wires": []
  },
  {
    "id": "e393b3c3753017f4",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "unmute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.hallway_speaker"
    ],
    "data": "{\"is_volume_muted\":\"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 680,
    "y": 2140,
    "wires": [
      []
    ]
  },
  {
    "id": "53f8e91df936a6f2",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 330,
    "y": 2060,
    "wires": [
      [
        "161d30db7812414c"
      ],
      [
        "e393b3c3753017f4"
      ]
    ]
  },
  {
    "id": "47c310b9a0506290",
    "type": "mqtt in",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "topic": "zigbee2mqtt/remote_livingroom_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 260,
    "y": 2720,
    "wires": [
      [
        "87b6e543dfa9ccf3"
      ]
    ]
  },
  {
    "id": "e91dac9449887e29",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Monitor mqtt of living room dial",
    "info": "",
    "x": 270,
    "y": 2680,
    "wires": []
  },
  {
    "id": "87b6e543dfa9ccf3",
    "type": "subflow:61f53235c712b2c2",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "x": 570,
    "y": 2720,
    "wires": []
  },
  {
    "id": "f2a5ebec5b1f5bb2",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 280,
    "y": 1860,
    "wires": []
  },
  {
    "id": "f62e16aef2bb7969",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 280,
    "y": 2020,
    "wires": []
  },
  {
    "id": "31580b5012b0d0e4",
    "type": "mqtt in",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "topic": "zigbee2mqtt/remote_livingroom_library_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 290,
    "y": 2840,
    "wires": [
      [
        "a6f5c3c707e9e250"
      ]
    ]
  },
  {
    "id": "273db860d1dd0d6e",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Monitor mqtt of living room dial",
    "info": "",
    "x": 270,
    "y": 2800,
    "wires": []
  },
  {
    "id": "a6f5c3c707e9e250",
    "type": "subflow:61f53235c712b2c2",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "x": 570,
    "y": 2840,
    "wires": []
  },
  {
    "id": "2a315c865000e777",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Toggle speaker's mute depending on sleeping state",
    "info": "",
    "x": 330,
    "y": 1460,
    "wires": []
  },
  {
    "id": "fd084f7067902015",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Toggle the  TV depending on sleeping state",
    "info": "",
    "x": 300,
    "y": 1820,
    "wires": []
  },
  {
    "id": "efb054dbc776420d",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Toggle hallway speaker volume depending on sleeping state",
    "info": "",
    "x": 360,
    "y": 1980,
    "wires": []
  }
]