node-red/flows/Living Room.json
[
  {
    "id": "7a1172b433a6cf9c",
    "type": "tab",
    "label": "Living Room",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "de24400af7fb8682",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 400,
    "y": 120,
    "wires": [
      [
        "2dd272c9b019b4cb"
      ]
    ]
  },
  {
    "id": "b659f5b0b0949237",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 400,
    "y": 200,
    "wires": [
      [
        "70c42437dc758335"
      ]
    ]
  },
  {
    "id": "765511fe394ed79e",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 920,
    "y": 1540,
    "wires": [
      [
        "90b3946ea1f5990a"
      ]
    ]
  },
  {
    "id": "13f083aa7fcdbbb3",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 1400,
    "y": 1500,
    "wires": [
      [
        "245f575b08d9315b"
      ]
    ]
  },
  {
    "id": "245f575b08d9315b",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 1440,
    "y": 1500,
    "wires": [
      [
        "90b3946ea1f5990a"
      ]
    ]
  },
  {
    "id": "b5fde2ec0dccab1b",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 1400,
    "y": 1460,
    "wires": [
      [
        "f1aded9aa1d31244"
      ]
    ]
  },
  {
    "id": "f1aded9aa1d31244",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 1660,
    "y": 1460,
    "wires": [
      [
        "d3684aa0d6eaa2ca"
      ]
    ]
  },
  {
    "id": "cd427e4cb5e4cc78",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 800,
    "y": 1540,
    "wires": [
      [
        "765511fe394ed79e"
      ]
    ]
  },
  {
    "id": "551085e979e7ad02",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 800,
    "y": 1480,
    "wires": [
      [
        "0c930675da160858"
      ]
    ]
  },
  {
    "id": "3af98f6b32a696f8",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 1680,
    "y": 1540,
    "wires": [
      [
        "5a5442d1f23b7408"
      ]
    ]
  },
  {
    "id": "2abb54a8f58fc02a",
    "type": "junction",
    "z": "7a1172b433a6cf9c",
    "x": 2500,
    "y": 1580,
    "wires": [
      [
        "8d18e180fa3f69b9"
      ]
    ]
  },
  {
    "id": "2b8f21d2930527fd",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.livingroom_ac",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(on)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 240,
    "y": 160,
    "wires": [
      [
        "de24400af7fb8682"
      ],
      [
        "b659f5b0b0949237"
      ]
    ]
  },
  {
    "id": "6ab2b0bf6efbdf06",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Raise volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1140,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "f5e830d6ddc96d84",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Adjust volume of players depending on AC state",
    "info": "",
    "x": 280,
    "y": 60,
    "wires": []
  },
  {
    "id": "2dd272c9b019b4cb",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get Livingroom Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.living.*[a-z]",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "playing",
        "valueType": "str"
      },
      {
        "property": "attributes.is_volume_muted",
        "logic": "is",
        "value": "false",
        "valueType": "bool"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 690,
    "y": 120,
    "wires": [
      [
        "b20d619270cc6150"
      ]
    ]
  },
  {
    "id": "b20d619270cc6150",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "parts",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "payload.entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 120,
    "wires": [
      [
        "6ab2b0bf6efbdf06"
      ]
    ]
  },
  {
    "id": "4af896f52385062c",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Lower Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1140,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "8983f64fe67807ba",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "parts",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "payload.entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 200,
    "wires": [
      [
        "4af896f52385062c"
      ]
    ]
  },
  {
    "id": "194df1b5694d90f6",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "AC ON?",
    "info": "",
    "x": 240,
    "y": 120,
    "wires": []
  },
  {
    "id": "fdac127df5c14497",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "AC ON?",
    "info": "",
    "x": 480,
    "y": 120,
    "wires": []
  },
  {
    "id": "331ecc86cf62638c",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "AC ON?",
    "info": "",
    "x": 480,
    "y": 200,
    "wires": []
  },
  {
    "id": "6fa23a1db9f7c256",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Get Living room media players entities and output them one by one",
    "info": "",
    "x": 700,
    "y": 160,
    "wires": []
  },
  {
    "id": "094384a7307219c9",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Place the entity_id properly",
    "info": "",
    "x": 910,
    "y": 80,
    "wires": []
  },
  {
    "id": "129d6d45d0edfb1c",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Place the entity_id properly",
    "info": "",
    "x": 910,
    "y": 240,
    "wires": []
  },
  {
    "id": "2fe6cbe753337547",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Sed volume command",
    "info": "",
    "x": 1140,
    "y": 160,
    "wires": []
  },
  {
    "id": "b32a90c6168f15d7",
    "type": "trigger-state",
    "z": "7a1172b433a6cf9c",
    "name": "Cover Closed and AC on",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "switch.livingroom_ac",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "entity_id",
        "targetValue": "cover.cover_livingroom_blinds",
        "propertyType": "property",
        "comparatorType": "<",
        "comparatorValueDatatype": "num",
        "comparatorValue": "26",
        "propertyValue": "attributes.current_position"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 600,
    "wires": [
      [
        "f6f59f0656592eed"
      ],
      []
    ]
  },
  {
    "id": "f6f59f0656592eed",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Blinds at 26% ",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "{\"position\": \"26\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 520,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "5f22a5944ac11de5",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "CLose blinds",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "{\"position\": \"0\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 510,
    "y": 700,
    "wires": [
      []
    ]
  },
  {
    "id": "cb5984111331e6ed",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Blinds at 26% ",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "{\"position\": \"26\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 520,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "c300aac55d064248",
    "type": "trigger-state",
    "z": "7a1172b433a6cf9c",
    "name": "Cover Closed and AC Off",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "switch.livingroom_ac",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "entity_id",
        "targetValue": "cover.cover_livingroom_blinds",
        "propertyType": "property",
        "comparatorType": "<",
        "comparatorValueDatatype": "num",
        "comparatorValue": "27",
        "propertyValue": "attributes.current_position"
      },
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 700,
    "wires": [
      [
        "5f22a5944ac11de5"
      ],
      []
    ]
  },
  {
    "id": "3b1c32816a1299f8",
    "type": "trigger-state",
    "z": "7a1172b433a6cf9c",
    "name": "Closed Cover and AC on",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "cover.cover_livingroom_blinds",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "property",
        "comparatorType": "<",
        "comparatorValueDatatype": "num",
        "comparatorValue": "26",
        "propertyValue": "new_state.attributes.current_position"
      },
      {
        "targetType": "entity_id",
        "targetValue": "switch.livingroom_ac",
        "propertyType": "current_state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 0,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": false,
    "x": 210,
    "y": 520,
    "wires": [
      [
        "cb5984111331e6ed"
      ],
      []
    ]
  },
  {
    "id": "bd59751a77bcba60",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "If cover is under 26% and AC is on",
    "info": "",
    "x": 240,
    "y": 560,
    "wires": []
  },
  {
    "id": "3f4d478a4f7e7def",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Set cover to 26% open",
    "info": "",
    "x": 540,
    "y": 560,
    "wires": []
  },
  {
    "id": "f552d4b46029cb7d",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "If cover is under 26% and AC is off",
    "info": "",
    "x": 240,
    "y": 660,
    "wires": []
  },
  {
    "id": "4c0a54eac3d0f0cb",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Close blinds",
    "info": "",
    "x": 510,
    "y": 660,
    "wires": []
  },
  {
    "id": "ca28f711101bffcc",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Ikea blind button",
    "info": "",
    "x": 120,
    "y": 2120,
    "wires": []
  },
  {
    "id": "e10059117be5de52",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Open or Close",
    "info": "",
    "x": 310,
    "y": 2120,
    "wires": []
  },
  {
    "id": "f929d29e13821eeb",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Open cover",
    "info": "",
    "x": 570,
    "y": 2100,
    "wires": []
  },
  {
    "id": "58aecdb12f173ad1",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Close cover",
    "info": "",
    "x": 570,
    "y": 2220,
    "wires": []
  },
  {
    "id": "ddcea114278daa7d",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "open_cover",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 560,
    "y": 2140,
    "wires": [
      []
    ]
  },
  {
    "id": "874e0ddfe60e095c",
    "type": "switch",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "open",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "close",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 310,
    "y": 2160,
    "wires": [
      [
        "ddcea114278daa7d"
      ],
      [
        "af99c9c9b796b673"
      ]
    ]
  },
  {
    "id": "78da9fa3d7731367",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "Blind Button",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_livingroom_blind_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(open|close)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 110,
    "y": 2160,
    "wires": [
      [
        "874e0ddfe60e095c"
      ],
      []
    ]
  },
  {
    "id": "af99c9c9b796b673",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "close_cover",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 560,
    "y": 2180,
    "wires": [
      []
    ]
  },
  {
    "id": "70c42437dc758335",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get Livingroom Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.living.*[a-z]",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "playing",
        "valueType": "str"
      },
      {
        "property": "attributes.is_volume_muted",
        "logic": "is",
        "value": "false",
        "valueType": "bool"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 690,
    "y": 200,
    "wires": [
      [
        "8983f64fe67807ba"
      ]
    ]
  },
  {
    "id": "5e5e74f45188c8c0",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_next_track",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2430,
    "y": 1500,
    "wires": [
      []
    ]
  },
  {
    "id": "69ec8af0978c5dd5",
    "type": "switch",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "rotate_right",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "rotate_left",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_backward",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_forward",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 2140,
    "y": 1480,
    "wires": [
      [
        "4342fba42df25835"
      ],
      [
        "98a78230b6aa0a10"
      ],
      [
        "ca4b8563c478af01"
      ],
      [
        "5e5e74f45188c8c0"
      ],
      [
        "5a5442d1f23b7408"
      ]
    ]
  },
  {
    "id": "d3684aa0d6eaa2ca",
    "type": "switch",
    "z": "7a1172b433a6cf9c",
    "name": "Action not empty",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1830,
    "y": 1480,
    "wires": [
      [
        "69ec8af0978c5dd5"
      ]
    ]
  },
  {
    "id": "4342fba42df25835",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2410,
    "y": 1380,
    "wires": [
      []
    ]
  },
  {
    "id": "98a78230b6aa0a10",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_play_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2420,
    "y": 1420,
    "wires": [
      []
    ]
  },
  {
    "id": "ca4b8563c478af01",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_down",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2410,
    "y": 1460,
    "wires": [
      []
    ]
  },
  {
    "id": "5a5442d1f23b7408",
    "type": "trigger",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "op1": "1",
    "op2": "",
    "op1type": "num",
    "op2type": "nul",
    "duration": "100",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2360,
    "y": 1540,
    "wires": [
      [
        "2abb54a8f58fc02a"
      ]
    ]
  },
  {
    "id": "eb0c203060adc4c1",
    "type": "switch",
    "z": "7a1172b433a6cf9c",
    "name": "Muted?",
    "property": "entity.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1260,
    "y": 1480,
    "wires": [
      [
        "b5fde2ec0dccab1b"
      ],
      [
        "13f083aa7fcdbbb3"
      ]
    ]
  },
  {
    "id": "90b3946ea1f5990a",
    "type": "api-current-state",
    "z": "7a1172b433a6cf9c",
    "name": "chromecast",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.livingroom_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1570,
    "y": 1540,
    "wires": [
      [
        "d3684aa0d6eaa2ca"
      ],
      [
        "3af98f6b32a696f8"
      ]
    ]
  },
  {
    "id": "8d18e180fa3f69b9",
    "type": "switch",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2590,
    "y": 1580,
    "wires": [
      [
        "77a65992b0e1528c"
      ]
    ]
  },
  {
    "id": "0c930675da160858",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "set entity",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "media_player.livingroom_center_speaker,media_player.livingroom_speaker,media_player.livingroom_window_speaker",
        "tot": "str",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1060,
    "y": 1480,
    "wires": [
      [
        "eb0c203060adc4c1"
      ]
    ]
  },
  {
    "id": "a95e03e72dfae714",
    "type": "api-current-state",
    "z": "7a1172b433a6cf9c",
    "name": "speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.livingroom_center_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 720,
    "y": 1500,
    "wires": [
      [
        "551085e979e7ad02"
      ],
      [
        "cd427e4cb5e4cc78"
      ]
    ]
  },
  {
    "id": "77a65992b0e1528c",
    "type": "switch",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "rotate_right",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "rotate_left",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_forward",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_backward",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 2770,
    "y": 1580,
    "wires": [
      [
        "0e3d419fcd54563c"
      ],
      [
        "34a6e2947c5ce81c"
      ],
      [],
      [],
      []
    ]
  },
  {
    "id": "3f708bd927c4d678",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "Move action",
    "rules": [
      {
        "t": "set",
        "p": "action",
        "pt": "msg",
        "to": "payload.action",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 1500,
    "wires": [
      [
        "a95e03e72dfae714"
      ]
    ]
  },
  {
    "id": "0e3d419fcd54563c",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Brightnen light",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_livingroom_lights"
    ],
    "data": "{\"brightness_step_pct\": 10}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3020,
    "y": 1540,
    "wires": [
      []
    ]
  },
  {
    "id": "34a6e2947c5ce81c",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Dim light",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.group_livingroom_lights"
    ],
    "data": "{\"brightness_step_pct\": -10}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3000,
    "y": 1580,
    "wires": [
      []
    ]
  },
  {
    "id": "a1327062e6efb9b5",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Yes",
    "info": "",
    "x": 1430,
    "y": 1500,
    "wires": []
  },
  {
    "id": "a1f39e99cf318d9c",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "No",
    "info": "",
    "x": 1570,
    "y": 1460,
    "wires": []
  },
  {
    "id": "7876a5812bbe3f1a",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Is entity muted?",
    "info": "",
    "x": 1260,
    "y": 1440,
    "wires": []
  },
  {
    "id": "2abd45ae5df2403e",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Set speakers entities",
    "info": "",
    "x": 1070,
    "y": 1440,
    "wires": []
  },
  {
    "id": "558fccfefb741308",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Is speaker off?",
    "info": "",
    "x": 720,
    "y": 1460,
    "wires": []
  },
  {
    "id": "76ad2bd28c3133ad",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "No",
    "info": "",
    "x": 890,
    "y": 1480,
    "wires": []
  },
  {
    "id": "5e61bb5e228825e8",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Yes",
    "info": "",
    "x": 890,
    "y": 1540,
    "wires": []
  },
  {
    "id": "421778304f625902",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Move payload.action to action",
    "info": "",
    "x": 480,
    "y": 1460,
    "wires": []
  },
  {
    "id": "0a80fc19420f5ed3",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Check that action is not empty",
    "info": "",
    "x": 1820,
    "y": 1440,
    "wires": []
  },
  {
    "id": "f9b9bdcb9b4329f9",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Check that action is not empty",
    "info": "",
    "x": 2600,
    "y": 1540,
    "wires": []
  },
  {
    "id": "eaf1c1f4ea0a8845",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 1210,
    "y": 3020,
    "wires": [
      [
        "b2a1574456ee77b3"
      ],
      [
        "9256791e63f40fbe"
      ]
    ]
  },
  {
    "id": "b2a1574456ee77b3",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get individual Hotbox lights",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?lights.*?).*livingroom.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 1560,
    "y": 3000,
    "wires": [
      [
        "cfe5e026b0d68c69"
      ]
    ]
  },
  {
    "id": "51e2b62bcf83fbb2",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2130,
    "y": 3000,
    "wires": [
      []
    ]
  },
  {
    "id": "9256791e63f40fbe",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get individual Hotbox lights",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?lights.*?).*livingroom.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 1560,
    "y": 3040,
    "wires": [
      [
        "c1fdac440a2ebc24"
      ]
    ]
  },
  {
    "id": "01511e0acf840f79",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"transition\":\"20\",\"color_name\": \"white\"}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2130,
    "y": 3040,
    "wires": [
      []
    ]
  },
  {
    "id": "8acc727c3836cfa2",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 1200,
    "y": 2980,
    "wires": []
  },
  {
    "id": "0f850d015bb6c26a",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Get Livingroom light entities",
    "info": "",
    "x": 1580,
    "y": 2960,
    "wires": []
  },
  {
    "id": "63e2d4d4f1dfa2f6",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Call light_off service",
    "info": "",
    "x": 2130,
    "y": 2960,
    "wires": []
  },
  {
    "id": "084c6f07fef9b86f",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Toggle the Livingroom  lights when someone sleeps",
    "info": "",
    "x": 1210,
    "y": 2940,
    "wires": []
  },
  {
    "id": "cfe5e026b0d68c69",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 3000,
    "wires": [
      [
        "51e2b62bcf83fbb2"
      ]
    ]
  },
  {
    "id": "c1fdac440a2ebc24",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 3040,
    "wires": [
      [
        "01511e0acf840f79"
      ]
    ]
  },
  {
    "id": "e3bd0ef17cbbe299",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 270,
    "y": 3020,
    "wires": [
      [
        "9639a1bb2bf5f1cf"
      ],
      [
        "9639a1bb2bf5f1cf"
      ]
    ]
  },
  {
    "id": "9639a1bb2bf5f1cf",
    "type": "trigger",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 570,
    "y": 3020,
    "wires": [
      [
        "7bc2465a1ef1ef42"
      ]
    ]
  },
  {
    "id": "7bc2465a1ef1ef42",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Turn off Sleeper in Hotbox bool",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_livingroom"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 790,
    "y": 3020,
    "wires": [
      []
    ]
  },
  {
    "id": "9bb315209fda59b9",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 270,
    "y": 2840,
    "wires": [
      [
        "1cb927e5ac697efa"
      ],
      [
        "98ea0d51a9464f77"
      ]
    ]
  },
  {
    "id": "527a4dfb9eb86e1e",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 220,
    "y": 2800,
    "wires": []
  },
  {
    "id": "1cb927e5ac697efa",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get active living room Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?group.*?)(?!.*?top.*?).*livingroom.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 710,
    "y": 2800,
    "wires": [
      [
        "8f24711d3c008c68"
      ]
    ]
  },
  {
    "id": "ee8e9edb5007f25e",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Pull livingroom media players that are playing",
    "info": "",
    "x": 730,
    "y": 2760,
    "wires": []
  },
  {
    "id": "8f24711d3c008c68",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1030,
    "y": 2800,
    "wires": [
      [
        "c96710a197cff30e"
      ]
    ]
  },
  {
    "id": "e1d9dd6a1dfe05b1",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Extract the entity id",
    "info": "",
    "x": 1030,
    "y": 2760,
    "wires": []
  },
  {
    "id": "009189ab4426c30b",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Mute player's volume",
    "info": "",
    "x": 1260,
    "y": 2760,
    "wires": []
  },
  {
    "id": "4326fcfd8496cfba",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Stop playback",
    "info": "",
    "x": 1870,
    "y": 2760,
    "wires": []
  },
  {
    "id": "1b550ceb534e0cab",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "stop player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1870,
    "y": 2800,
    "wires": [
      []
    ]
  },
  {
    "id": "c96710a197cff30e",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 2800,
    "wires": [
      [
        "2ab8f0b4d628e884"
      ]
    ]
  },
  {
    "id": "2ab8f0b4d628e884",
    "type": "api-current-state",
    "z": "7a1172b433a6cf9c",
    "name": "Home_Group off",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.group_home_speakers",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1540,
    "y": 2800,
    "wires": [
      [
        "1b550ceb534e0cab"
      ],
      []
    ]
  },
  {
    "id": "7615b56747bef2b2",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "MAke sure home_group is not playing",
    "info": "",
    "x": 1550,
    "y": 2760,
    "wires": []
  },
  {
    "id": "98ea0d51a9464f77",
    "type": "ha-get-entities",
    "z": "7a1172b433a6cf9c",
    "name": "Get active living room Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?group.*?)(?!.*?top.*?).*livingroom.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 710,
    "y": 2880,
    "wires": [
      [
        "fe102fb1b94e4385"
      ]
    ]
  },
  {
    "id": "5fe2a1d1f9bb1435",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Pull livingroom media players",
    "info": "",
    "x": 680,
    "y": 2840,
    "wires": []
  },
  {
    "id": "fe102fb1b94e4385",
    "type": "change",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1030,
    "y": 2880,
    "wires": [
      [
        "cb2a449d4b6f4060"
      ]
    ]
  },
  {
    "id": "51eadab95244344f",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Extract the entity id",
    "info": "",
    "x": 1030,
    "y": 2840,
    "wires": []
  },
  {
    "id": "0ac943c319d49e4b",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "unMute player's volume",
    "info": "",
    "x": 1260,
    "y": 2840,
    "wires": []
  },
  {
    "id": "cb2a449d4b6f4060",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "unmute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1280,
    "y": 2880,
    "wires": [
      []
    ]
  },
  {
    "id": "56b9cda6cd5f6c3f",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 270,
    "y": 3160,
    "wires": [
      [
        "a701eb41c2480220"
      ],
      [
        "59adec8248c94ab8"
      ]
    ]
  },
  {
    "id": "a701eb41c2480220",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Close Blinds",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "close_cover",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "cover.cover_livingroom_blinds"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 3160,
    "wires": [
      [
        "b9cbf8db5e72a2aa"
      ]
    ]
  },
  {
    "id": "b9cbf8db5e72a2aa",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Turn off TV",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.livingroom_lg_webos_tv"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 930,
    "y": 3160,
    "wires": [
      []
    ]
  },
  {
    "id": "59adec8248c94ab8",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Turn on Tv",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "tts",
    "service": "google_translate_say",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.livingroom_chromecast"
    ],
    "data": "{    \"message\": \"Good morning\",    \"language\": \"en\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 3200,
    "wires": [
      [
        "2380227eec6c2976"
      ]
    ]
  },
  {
    "id": "2380227eec6c2976",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "Turn off chromecast",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.livingroom_chromecast"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 920,
    "y": 3200,
    "wires": [
      []
    ]
  },
  {
    "id": "c6df906663bb8ece",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Mute player's volume",
    "info": "",
    "x": 600,
    "y": 3320,
    "wires": []
  },
  {
    "id": "161d30db7812414c",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.entrance_speaker"
    ],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 610,
    "y": 3360,
    "wires": [
      []
    ]
  },
  {
    "id": "345c7fdabd0c4763",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "unMute player's volume",
    "info": "",
    "x": 600,
    "y": 3400,
    "wires": []
  },
  {
    "id": "e393b3c3753017f4",
    "type": "api-call-service",
    "z": "7a1172b433a6cf9c",
    "name": "unmute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.entrance_speaker"
    ],
    "data": "{\"is_volume_muted\":\"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 620,
    "y": 3440,
    "wires": [
      []
    ]
  },
  {
    "id": "53f8e91df936a6f2",
    "type": "server-state-changed",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 270,
    "y": 3360,
    "wires": [
      [
        "161d30db7812414c"
      ],
      [
        "e393b3c3753017f4"
      ]
    ]
  },
  {
    "id": "47c310b9a0506290",
    "type": "mqtt in",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "topic": "zigbee2mqtt/remote_livingroom_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 4020,
    "wires": [
      [
        "87b6e543dfa9ccf3"
      ]
    ]
  },
  {
    "id": "e91dac9449887e29",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Monitor mqtt of living room dial",
    "info": "",
    "x": 210,
    "y": 3980,
    "wires": []
  },
  {
    "id": "87b6e543dfa9ccf3",
    "type": "subflow:61f53235c712b2c2",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "x": 510,
    "y": 4020,
    "wires": []
  },
  {
    "id": "6e5f2cf23b0834e4",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 220,
    "y": 2980,
    "wires": []
  },
  {
    "id": "f2a5ebec5b1f5bb2",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 220,
    "y": 3120,
    "wires": []
  },
  {
    "id": "f62e16aef2bb7969",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Trigger on Sleeper boolean change",
    "info": "",
    "x": 220,
    "y": 3320,
    "wires": []
  },
  {
    "id": "31580b5012b0d0e4",
    "type": "mqtt in",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "topic": "zigbee2mqtt/remote_livingroom_library_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 230,
    "y": 4140,
    "wires": [
      [
        "a6f5c3c707e9e250"
      ]
    ]
  },
  {
    "id": "273db860d1dd0d6e",
    "type": "comment",
    "z": "7a1172b433a6cf9c",
    "name": "Monitor mqtt of living room dial",
    "info": "",
    "x": 210,
    "y": 4100,
    "wires": []
  },
  {
    "id": "a6f5c3c707e9e250",
    "type": "subflow:61f53235c712b2c2",
    "z": "7a1172b433a6cf9c",
    "name": "",
    "x": 510,
    "y": 4140,
    "wires": []
  }
]