node-red/flows/Nate cube.json
[
  {
    "id": "6b01a9ccd3fa048b",
    "type": "tab",
    "label": "Nate cube",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7901846ee942300e",
    "type": "mqtt in",
    "z": "6b01a9ccd3fa048b",
    "name": "",
    "topic": "zigbee2mqtt/remote_xiaomi_cube",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 230,
    "y": 480,
    "wires": [
      [
        "2e46d8cd68bf0f55",
        "703fec6beccb3829"
      ]
    ]
  },
  {
    "id": "2e46d8cd68bf0f55",
    "type": "debug",
    "z": "6b01a9ccd3fa048b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 350,
    "y": 400,
    "wires": []
  },
  {
    "id": "703fec6beccb3829",
    "type": "switch",
    "z": "6b01a9ccd3fa048b",
    "name": "action",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "tap",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "right",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "left",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "shake",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "180",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 570,
    "y": 480,
    "wires": [
      [
        "aad4a99c0d590c9e"
      ],
      [
        "699ac5d9aeb161e6"
      ],
      [
        "c04c50f55402136b"
      ],
      [
        "c7cd87d6084b0d77"
      ],
      [
        "97dda100fae9bded"
      ]
    ]
  },
  {
    "id": "aad4a99c0d590c9e",
    "type": "switch",
    "z": "6b01a9ccd3fa048b",
    "name": "FAce",
    "property": "payload.side",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "2",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "3",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "4",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "5",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": true,
    "outputs": 6,
    "x": 1110,
    "y": 400,
    "wires": [
      [
        "b17736ebd629acbd"
      ],
      [
        "f3a0202554c3ea28"
      ],
      [
        "35c5b1c4d579c2f4"
      ],
      [
        "735322aa33e55b88"
      ],
      [
        "de33686f058e0f71"
      ],
      [
        "74527edd377de7ed"
      ]
    ]
  },
  {
    "id": "699ac5d9aeb161e6",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Brighten Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "{\"brightness_step_pct\":\"25\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 900,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "c04c50f55402136b",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Dim Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "{\"brightness_step\":-25}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 890,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "c7cd87d6084b0d77",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Toggle Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "toggle",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 890,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "b17736ebd629acbd",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "White Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "{ \"color_name\": \"white\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "f3a0202554c3ea28",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Green Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "{ \"color_name\": \"green\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "35c5b1c4d579c2f4",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Blue Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "{ \"color_name\": \"blue\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "735322aa33e55b88",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Purple Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "{ \"color_name\": \"purple\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "de33686f058e0f71",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Pink Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "{ \"color_name\": \"pink\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "74527edd377de7ed",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Red Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "{ \"color_name\": \"red\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "97dda100fae9bded",
    "type": "function",
    "z": "6b01a9ccd3fa048b",
    "name": "Generate Random saturated color",
    "func": "\nvar hue = Math.floor(Math.random() * 360); //generate a random number up to 360\n\nvar hs_color = hue + \",60\";\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"brightness_pct\": 100\n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 640,
    "wires": [
      [
        "c2428015969674e0",
        "a20394293cc5a61a"
      ]
    ]
  },
  {
    "id": "c2428015969674e0",
    "type": "api-call-service",
    "z": "6b01a9ccd3fa048b",
    "name": "Red Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.nate_ceiling_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "a20394293cc5a61a",
    "type": "debug",
    "z": "6b01a9ccd3fa048b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1270,
    "y": 620,
    "wires": []
  }
]