node-red/flows/Neighbors.json
[
  {
    "id": "03d6b46677a5b50f",
    "type": "tab",
    "label": "Neighbors",
    "disabled": false,
    "info": "Here are set automations to facilicate cohabitation with the people living around",
    "env": []
  },
  {
    "id": "d285a6df06408469",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 3760,
    "y": 1940,
    "wires": [
      [
        "467b85f84faa19e6"
      ]
    ]
  },
  {
    "id": "bedfef42e1daa9ec",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 3460,
    "y": 1940,
    "wires": [
      [
        "91430ff8427678d6"
      ]
    ]
  },
  {
    "id": "3c0e2cc8cc0f18f3",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 3420,
    "y": 1900,
    "wires": [
      [
        "7bfe41169c71a8b3",
        "bedfef42e1daa9ec"
      ]
    ]
  },
  {
    "id": "1060a1d8b1f8f67c",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 3300,
    "y": 2100,
    "wires": [
      [
        "9638ab6174792c98"
      ]
    ]
  },
  {
    "id": "7a367c039a7c208f",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 3420,
    "y": 2000,
    "wires": [
      [
        "40ed793ac2b55db4"
      ]
    ]
  },
  {
    "id": "40ed793ac2b55db4",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 3920,
    "y": 2000,
    "wires": [
      [
        "378dda93ed6d8753"
      ]
    ]
  },
  {
    "id": "2dfae27128e21d1e",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 2940,
    "y": 2100,
    "wires": [
      [
        "1060a1d8b1f8f67c"
      ]
    ]
  },
  {
    "id": "8d60a95dfcc5fb5c",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 2940,
    "y": 1980,
    "wires": [
      [
        "d222b3b27c3bab57"
      ]
    ]
  },
  {
    "id": "915ab7aa63e527cb",
    "type": "bigtimer",
    "z": "03d6b46677a5b50f",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "off",
    "name": "2AM to noon",
    "comment": "This will trigger the muting of the wiim speakers",
    "lat": 0,
    "lon": 0,
    "starttime": "105",
    "endtime": "735",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "on",
    "outtext2": "off",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 110,
    "y": 1140,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "d8fd5d752780fcb7",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn on at 2.15 am and Off at noon.15",
    "info": "",
    "x": 190,
    "y": 1080,
    "wires": []
  },
  {
    "id": "3547c78a4391f57e",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "on/off",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 1140,
    "wires": [
      [
        "93e218925b55ab51"
      ],
      [
        "30b0310b21d37f51"
      ]
    ]
  },
  {
    "id": "93e218925b55ab51",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.following_music"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload.entity_id",
        "propertyType": "msg",
        "value": "sensor",
        "valueType": "msg"
      }
    ],
    "queue": "none",
    "x": 500,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "30b0310b21d37f51",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.following_music"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload.entity_id",
        "propertyType": "msg",
        "value": "sensor",
        "valueType": "msg"
      }
    ],
    "queue": "none",
    "x": 500,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "e2f7b34a47fb1b19",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn \"following music off\"",
    "info": "",
    "x": 510,
    "y": 1040,
    "wires": []
  },
  {
    "id": "74073a72c618fda0",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn \"following music\" on",
    "info": "",
    "x": 510,
    "y": 1220,
    "wires": []
  },
  {
    "id": "2bb39d186857c0a1",
    "type": "bigtimer",
    "z": "03d6b46677a5b50f",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "off",
    "name": "2AM to noon",
    "comment": "This will trigger the muting of the wiim speakers",
    "lat": 0,
    "lon": 0,
    "starttime": "120",
    "endtime": "720",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": "0",
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "on",
    "outtext2": "off",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 110,
    "y": 840,
    "wires": [
      [
        "24559e0bad433379"
      ],
      [],
      []
    ]
  },
  {
    "id": "371b83876f70539c",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn on at 2.15 am and Off at noon.15",
    "info": "",
    "x": 190,
    "y": 780,
    "wires": []
  },
  {
    "id": "24559e0bad433379",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "on/off",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 840,
    "wires": [
      [
        "b7225a75e4802205"
      ],
      [
        "f9d9978831f72b4c"
      ]
    ]
  },
  {
    "id": "b7225a75e4802205",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Turn off FOSI receivers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.group_fosi_receivers"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload.entity_id",
        "propertyType": "msg",
        "value": "sensor",
        "valueType": "msg"
      }
    ],
    "queue": "none",
    "x": 510,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "0f2275200a5e9472",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn \"fosi receivers\" off",
    "info": "",
    "x": 500,
    "y": 740,
    "wires": []
  },
  {
    "id": "db609c81ddad449d",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn \"fosi receivers\" on",
    "info": "",
    "x": 500,
    "y": 920,
    "wires": []
  },
  {
    "id": "f9d9978831f72b4c",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Turn on FOSI receivers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.group_fosi_receivers"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload.entity_id",
        "propertyType": "msg",
        "value": "sensor",
        "valueType": "msg"
      }
    ],
    "queue": "none",
    "x": 510,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "e04c9672e46cf188",
    "type": "trigger-state",
    "z": "03d6b46677a5b50f",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "inputs": 0,
    "outputs": 2,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "re",
        "comparatorValue": "(on|off)"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.following_music",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "enableInput": false,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "^binary_sensor\\.(?!.*?bedroom.*?)(?!.*?closet.*?)sensor_.*_occupancy$",
    "entityidfiltertype": "regex",
    "debugenabled": false,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "x": 350,
    "y": 1980,
    "wires": [
      [
        "e4addfdc3f2206af",
        "779638e0b852b3a6"
      ],
      []
    ]
  },
  {
    "id": "e4addfdc3f2206af",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Extract room from motion sensor entity an and extract playing speakers",
    "func": "var motion_entity_id = msg.data.event.new_state.entity_id; // binary_sensor.sensor_bedroom_motion_occupancy\nvar motion_entity_id_split = motion_entity_id.split(\".\");// split on the dot to separate domain and entity\nvar room = motion_entity_id_split[1].replace(\"sensor_\", \"\").replace(\"_motion\", \"\").replace(\"_fp1\", \"\").replace(\"fp2_\", \"\").replace(\"_presence\", \"\").replace(\"_occupancy\", \"\").replace(\"_entry\", \"\").replace(\"_exit\", \"\");// remove sensor_ and more substrings\nconst rules_object = [{ 'property': 'entity_id', 'logic': 'is', 'value': \"media_player\\.(?!.*?speakers.*?)(?!.*?plex.*?)(?!.*?group.*?).*\" + room + \".*_speaker\", 'valueType': 're' }, { 'property': 'state', 'logic': 'is', 'value': \"playing\", 'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\"room\": room, \"action\": msg.payload\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1130,
    "y": 1980,
    "wires": [
      [
        "c76ce6e104bcc6ef",
        "1bd78c807625944b"
      ]
    ]
  },
  {
    "id": "c76ce6e104bcc6ef",
    "type": "ha-get-entities",
    "z": "03d6b46677a5b50f",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 1670,
    "y": 1980,
    "wires": [
      [
        "27134fcdc6848fa5",
        "9c2fc2e7aa363875"
      ]
    ]
  },
  {
    "id": "27134fcdc6848fa5",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "entity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1890,
    "y": 1980,
    "wires": [
      [
        "7df1cfdd74c1f221"
      ]
    ]
  },
  {
    "id": "930c4a5e919c96c1",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Detect motion across ocupancy sensors",
    "info": "",
    "x": 210,
    "y": 1940,
    "wires": []
  },
  {
    "id": "ea90434799d08073",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "(Ignores \"Closet\", \"Bedroom\" sensors)",
    "info": "",
    "x": 530,
    "y": 1940,
    "wires": []
  },
  {
    "id": "6a39e10ee4f7b696",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Generate the regex for get entity node",
    "info": "",
    "x": 1210,
    "y": 1940,
    "wires": []
  },
  {
    "id": "6eeb43af48fa769e",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Get playing speakers",
    "info": "",
    "x": 1680,
    "y": 1940,
    "wires": []
  },
  {
    "id": "4056be01d626e90c",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Move payload to entity",
    "info": "",
    "x": 1900,
    "y": 1940,
    "wires": []
  },
  {
    "id": "779638e0b852b3a6",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 308",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 1940,
    "wires": []
  },
  {
    "id": "1bd78c807625944b",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 309",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1690,
    "y": 2080,
    "wires": []
  },
  {
    "id": "7df1cfdd74c1f221",
    "type": "api-current-state",
    "z": "03d6b46677a5b50f",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.active_sleeper_rooms",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "room_sleepers",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2130,
    "y": 1980,
    "wires": [
      [
        "cd9957e263db1f03"
      ]
    ]
  },
  {
    "id": "9c2fc2e7aa363875",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "speakers being output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1980,
    "y": 2080,
    "wires": []
  },
  {
    "id": "f6149016b17428fd",
    "type": "inject",
    "z": "03d6b46677a5b50f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "data",
        "v": "{\"event_type\":\"state_changed\",\"entity_id\":\"binary_sensor.sensor_hallway_motion_occupancy\",\"event\":{\"entity_id\":\"binary_sensor.sensor_hallway_motion_occupancy\",\"old_state\":{\"entity_id\":\"binary_sensor.sensor_hallway_motion_occupancy\",\"state\":\"off\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"dateCode\":\"20160524\",\"friendlyName\":\"sensor_hallway_motion\",\"hardwareVersion\":2,\"ieeeAddr\":\"0x00158d0002275fd4\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":36327,\"powerSource\":\"Battery\",\"softwareBuildID\":\"3000-0001\",\"stackVersion\":2,\"type\":\"EndDevice\",\"zclVersion\":1},\"linkquality\":29,\"occupancy\":false,\"power_outage_count\":23115,\"voltage\":3035,\"device_class\":\"motion\",\"friendly_name\":\"Hallway Motion_occupancy\"},\"last_changed\":\"2023-08-02T15:45:12.640577+00:00\",\"last_updated\":\"2023-08-02T15:45:12.640577+00:00\",\"context\":{\"id\":\"01H6VESCE0WYF8ZX13SQC5N487\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"off\"},\"new_state\":{\"entity_id\":\"binary_sensor.sensor_hallway_motion_occupancy\",\"state\":\"on\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"dateCode\":\"20160524\",\"friendlyName\":\"sensor_hallway_motion\",\"hardwareVersion\":2,\"ieeeAddr\":\"0x00158d0002275fd4\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":36327,\"powerSource\":\"Battery\",\"softwareBuildID\":\"3000-0001\",\"stackVersion\":2,\"type\":\"EndDevice\",\"zclVersion\":1},\"linkquality\":29,\"occupancy\":false,\"power_outage_count\":23115,\"voltage\":3035,\"device_class\":\"motion\",\"friendly_name\":\"Hallway Motion_occupancy\"},\"last_changed\":\"2023-08-02T15:50:28.404423+00:00\",\"last_updated\":\"2023-08-02T15:50:28.404423+00:00\",\"context\":{\"id\":\"01H6VF30SMTSYD1N217CFJ7GQT\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"},\"original_state\":\"on\",\"timeSinceChangedMs\":5}},\"origin\":\"LOCAL\",\"time_fired\":\"2023-08-02T15:50:28.404423+00:00\",\"context\":{\"id\":\"01H6VF30SMTSYD1N217CFJ7GQT\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "binary_sensor.sensor_hallway_motion_occupancy",
    "payload": "on",
    "payloadType": "str",
    "x": 1670,
    "y": 1900,
    "wires": [
      [
        "27134fcdc6848fa5"
      ]
    ]
  },
  {
    "id": "d222b3b27c3bab57",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "Is \"active_sleeper_present\" 0?",
    "property": "payload.active_sleeper_present",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 3170,
    "y": 1980,
    "wires": [
      [
        "3c0e2cc8cc0f18f3"
      ],
      [
        "7a367c039a7c208f"
      ]
    ]
  },
  {
    "id": "9f3d9426655fa09b",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Check that \"active_sleeper_present\" is off",
    "info": " - ",
    "x": 3140,
    "y": 1940,
    "wires": []
  },
  {
    "id": "f0a15bb62e7696f5",
    "type": "inject",
    "z": "03d6b46677a5b50f",
    "name": "office motion",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "data",
        "v": "{\"event_type\":\"state_changed\",\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"event\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"old_state\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"state\":\"off\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"friendlyName\":\"sensor_office_motion\",\"ieeeAddr\":\"0x00158d0002281294\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":28396,\"powerSource\":\"Battery\",\"type\":\"EndDevice\"},\"linkquality\":87,\"occupancy\":false,\"power_outage_count\":77,\"voltage\":3075,\"device_class\":\"motion\",\"friendly_name\":\"Hotbox Down Motion_occupancy\"},\"last_changed\":\"2023-08-03T13:07:10.739670+00:00\",\"last_updated\":\"2023-08-03T13:07:10.739670+00:00\",\"context\":{\"id\":\"01H6XR4QRKMSW2KB245H9T6KFT\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"off\"},\"new_state\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"state\":\"on\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"friendlyName\":\"sensor_office_motion\",\"ieeeAddr\":\"0x00158d0002281294\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":28396,\"powerSource\":\"Battery\",\"type\":\"EndDevice\"},\"linkquality\":87,\"occupancy\":false,\"power_outage_count\":77,\"voltage\":3075,\"device_class\":\"motion\",\"friendly_name\":\"Hotbox Down Motion_occupancy\"},\"last_changed\":\"2023-08-03T13:28:46.214518+00:00\",\"last_updated\":\"2023-08-03T13:28:46.214518+00:00\",\"context\":{\"id\":\"01H6XSC8W6W0RJ9N7G6RVXA89K\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"},\"original_state\":\"on\",\"timeSinceChangedMs\":4}},\"origin\":\"LOCAL\",\"time_fired\":\"2023-08-03T13:28:46.214518+00:00\",\"context\":{\"id\":\"01H6XSC8W6W0RJ9N7G6RVXA89K\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "binary_sensor.sensor_office_motion_occupancy",
    "payload": "on",
    "payloadType": "str",
    "x": 850,
    "y": 2040,
    "wires": [
      [
        "e4addfdc3f2206af"
      ]
    ]
  },
  {
    "id": "cd9957e263db1f03",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Check if any sleeper is in the triggered room",
    "func": "\n\nvar room = msg.room.replace('_down', '').replace('_exit', '').replace('_top', '');\nvar room_sleepers = msg.room_sleepers;\nvar active = 0;\n\nvar active = compareArrayToString(room_sleepers, room);\n\n\nvar msg = {\n    \"payload\": {\n    \"room\": room,\n    \"room_sleepers\": room_sleepers,\n    \"entity\": msg.entity,\n    \"active_sleeper_present\": active,\n    \"data\": msg.entity\n    },\n    \"entity_id\": msg.entity.entity_id,\n    \"action\": msg.action\n\n}\nreturn msg;\n\n\nfunction compareArrayToString(array, string) {\n    var array_string = String(array)\n\n\n    if (array_string.includes(string)) {\n        // return 1 if found\n        return 1;\n    }\n\n\n    // return off if none found\n    return 0;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2490,
    "y": 1980,
    "wires": [
      [
        "f881d0833ea3f85c"
      ]
    ]
  },
  {
    "id": "47324fd399b388cf",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Unmute speakers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4190,
    "y": 1900,
    "wires": [
      []
    ]
  },
  {
    "id": "e64f402206944ab4",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Move payload to payload.data",
    "info": "",
    "x": 3940,
    "y": 1860,
    "wires": []
  },
  {
    "id": "a5c70917aae8f20d",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "unMute speakers",
    "info": "",
    "x": 4180,
    "y": 1860,
    "wires": []
  },
  {
    "id": "72a52d6d52ab0eb1",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Mute speakers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4420,
    "y": 2100,
    "wires": [
      [
        "dcd4e81de0056db6"
      ]
    ]
  },
  {
    "id": "378dda93ed6d8753",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload.data",
        "pt": "msg",
        "to": "payload.olddata",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "room",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "room_sleepers",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4070,
    "y": 2100,
    "wires": [
      [
        "72a52d6d52ab0eb1"
      ]
    ]
  },
  {
    "id": "3b8692f05ae4cea5",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Move payload to payload.data",
    "info": "",
    "x": 4160,
    "y": 2140,
    "wires": []
  },
  {
    "id": "8116173fab07ad49",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Mute speakers",
    "info": "",
    "x": 4400,
    "y": 2140,
    "wires": []
  },
  {
    "id": "dcd4e81de0056db6",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 313",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 4630,
    "y": 2100,
    "wires": []
  },
  {
    "id": "7bfe41169c71a8b3",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "",
    "property": "payload.data.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3630,
    "y": 1900,
    "wires": [
      [
        "3b555b893e95ad45"
      ]
    ]
  },
  {
    "id": "1e7708df190fa822",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Make sure the muted state is adequate",
    "info": "",
    "x": 3650,
    "y": 1860,
    "wires": []
  },
  {
    "id": "467b85f84faa19e6",
    "type": "trigger",
    "z": "03d6b46677a5b50f",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "6",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "topic",
    "topic": "entity_id",
    "outputs": 1,
    "x": 3890,
    "y": 2100,
    "wires": [
      [
        "378dda93ed6d8753"
      ]
    ]
  },
  {
    "id": "91430ff8427678d6",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "Set reset to 1",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3630,
    "y": 1940,
    "wires": [
      [
        "d285a6df06408469"
      ]
    ]
  },
  {
    "id": "9638ab6174792c98",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "",
    "property": "payload.data.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3490,
    "y": 2100,
    "wires": [
      [
        "467b85f84faa19e6"
      ]
    ]
  },
  {
    "id": "f881d0833ea3f85c",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "Is action ON or OFF?",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2780,
    "y": 1980,
    "wires": [
      [
        "8d60a95dfcc5fb5c"
      ],
      [
        "2dfae27128e21d1e"
      ]
    ]
  },
  {
    "id": "92409aea8e89e516",
    "type": "inject",
    "z": "03d6b46677a5b50f",
    "name": "office no motion",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "data",
        "v": "{\"event_type\":\"state_changed\",\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"event\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"old_state\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"state\":\"off\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"friendlyName\":\"sensor_office_motion\",\"ieeeAddr\":\"0x00158d0002281294\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":28396,\"powerSource\":\"Battery\",\"type\":\"EndDevice\"},\"linkquality\":87,\"occupancy\":false,\"power_outage_count\":77,\"voltage\":3075,\"device_class\":\"motion\",\"friendly_name\":\"Hotbox Down Motion_occupancy\"},\"last_changed\":\"2023-08-03T13:07:10.739670+00:00\",\"last_updated\":\"2023-08-03T13:07:10.739670+00:00\",\"context\":{\"id\":\"01H6XR4QRKMSW2KB245H9T6KFT\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"off\"},\"new_state\":{\"entity_id\":\"binary_sensor.sensor_office_motion_occupancy\",\"state\":\"on\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"friendlyName\":\"sensor_office_motion\",\"ieeeAddr\":\"0x00158d0002281294\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":28396,\"powerSource\":\"Battery\",\"type\":\"EndDevice\"},\"linkquality\":87,\"occupancy\":false,\"power_outage_count\":77,\"voltage\":3075,\"device_class\":\"motion\",\"friendly_name\":\"Hotbox Down Motion_occupancy\"},\"last_changed\":\"2023-08-03T13:28:46.214518+00:00\",\"last_updated\":\"2023-08-03T13:28:46.214518+00:00\",\"context\":{\"id\":\"01H6XSC8W6W0RJ9N7G6RVXA89K\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"},\"original_state\":\"on\",\"timeSinceChangedMs\":4}},\"origin\":\"LOCAL\",\"time_fired\":\"2023-08-03T13:28:46.214518+00:00\",\"context\":{\"id\":\"01H6XSC8W6W0RJ9N7G6RVXA89K\",\"parent_id\":null,\"user_id\":\"7f1de31122574f6fa2215e519d6083ea\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "binary_sensor.sensor_office_motion_occupancy",
    "payload": "off",
    "payloadType": "str",
    "x": 860,
    "y": 1880,
    "wires": [
      [
        "e4addfdc3f2206af"
      ]
    ]
  },
  {
    "id": "3b555b893e95ad45",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload.data",
        "pt": "msg",
        "to": "payload.olddata",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "room",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "room_sleepers",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3950,
    "y": 1900,
    "wires": [
      [
        "47324fd399b388cf"
      ]
    ]
  }
]