node-red/flows/Neighbors.json
[
  {
    "id": "03d6b46677a5b50f",
    "type": "tab",
    "label": "Neighbors",
    "disabled": false,
    "info": "Here are set automations to facilicate cohabitation with the people living around",
    "env": []
  },
  {
    "id": "3149e5f128a522c5",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 1580,
    "y": 580,
    "wires": [
      [
        "94cadfc10c831a29"
      ]
    ]
  },
  {
    "id": "dce01ab46e9f6eed",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 1580,
    "y": 660,
    "wires": [
      [
        "7e3de7db93df6565"
      ]
    ]
  },
  {
    "id": "ba833a479b3a6859",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 2180,
    "y": 580,
    "wires": [
      [
        "5f8d92f2b1e439b7"
      ]
    ]
  },
  {
    "id": "51d9a4be51622d22",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 2180,
    "y": 660,
    "wires": [
      [
        "5f8d92f2b1e439b7"
      ]
    ]
  },
  {
    "id": "cf776329d05e8c61",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 3540,
    "y": 1580,
    "wires": [
      [
        "4617547b3b186120",
        "193d75b4820da29b"
      ]
    ]
  },
  {
    "id": "c310f223e2859487",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 3220,
    "y": 1580,
    "wires": [
      [
        "212e99e1ebd8534b"
      ]
    ]
  },
  {
    "id": "43ae9960abb79014",
    "type": "bigtimer",
    "z": "03d6b46677a5b50f",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "off",
    "name": "2AM to noon",
    "comment": "This will trigger the muting of the wiim speakers",
    "lat": 0,
    "lon": 0,
    "starttime": "120",
    "endtime": "720",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "on",
    "outtext2": "off",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 110,
    "y": 520,
    "wires": [
      [
        "921a698d03cb4797"
      ],
      [],
      []
    ]
  },
  {
    "id": "3794050aedc0306d",
    "type": "ha-get-entities",
    "z": "03d6b46677a5b50f",
    "name": "Get wiim Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?plex.*?)(?!.*?template.*?)(?!.*?universal.*?).*wiim.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 470,
    "y": 420,
    "wires": [
      [
        "27ed1e3fa220efc3"
      ]
    ]
  },
  {
    "id": "27ed1e3fa220efc3",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 420,
    "wires": [
      [
        "00a6dc9f42273d21"
      ]
    ]
  },
  {
    "id": "ba8cda6cd9e2d6bb",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1190,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "774f2ad6c3452965",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Mute player",
    "info": "",
    "x": 1190,
    "y": 380,
    "wires": []
  },
  {
    "id": "32dcbca76b928474",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Stop playback",
    "info": "",
    "x": 1670,
    "y": 280,
    "wires": []
  },
  {
    "id": "0b17be1cf59e695d",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "stop player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1670,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "63978480eb37a2e6",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1450,
    "y": 320,
    "wires": [
      [
        "0b17be1cf59e695d"
      ]
    ]
  },
  {
    "id": "24789605421cd7c2",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "turn on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 320,
    "wires": [
      [
        "63978480eb37a2e6"
      ]
    ]
  },
  {
    "id": "e205824b77fea403",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Mute player",
    "info": "",
    "x": 1450,
    "y": 280,
    "wires": []
  },
  {
    "id": "00a6dc9f42273d21",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "=off?",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 970,
    "y": 420,
    "wires": [
      [
        "24789605421cd7c2"
      ],
      [
        "ba8cda6cd9e2d6bb"
      ]
    ]
  },
  {
    "id": "e5cb6d68798b92fa",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Is player off?",
    "info": "",
    "x": 970,
    "y": 380,
    "wires": []
  },
  {
    "id": "476c6e2594106d71",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn on at 2 am and Off at noon",
    "info": "",
    "x": 170,
    "y": 460,
    "wires": []
  },
  {
    "id": "921a698d03cb4797",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "on/off",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 520,
    "wires": [
      [
        "3794050aedc0306d"
      ],
      [
        "17e74c0acd8c1bed"
      ]
    ]
  },
  {
    "id": "ea37ee3066314070",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Pull wiim media players",
    "info": "",
    "x": 460,
    "y": 580,
    "wires": []
  },
  {
    "id": "4eaf28728ad6efbb",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 620,
    "wires": [
      [
        "c22c330ce6b9376b"
      ]
    ]
  },
  {
    "id": "a49562b8c7c69525",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Unmute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1200,
    "y": 620,
    "wires": [
      [
        "94ff0b4f86dbf419"
      ]
    ]
  },
  {
    "id": "a1d144cca0991cd4",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Unmute player",
    "info": "",
    "x": 1200,
    "y": 580,
    "wires": []
  },
  {
    "id": "c9e75b551f127cca",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn player on",
    "info": "",
    "x": 1190,
    "y": 480,
    "wires": []
  },
  {
    "id": "1f23b26a3a699c58",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Stop playback",
    "info": "",
    "x": 1670,
    "y": 480,
    "wires": []
  },
  {
    "id": "e2c11b202326156c",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "stop player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1670,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "b59b315be0802c8c",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Unmute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1460,
    "y": 520,
    "wires": [
      [
        "e2c11b202326156c"
      ]
    ]
  },
  {
    "id": "bbbfae741fd94680",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "turn on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 520,
    "wires": [
      [
        "b59b315be0802c8c"
      ]
    ]
  },
  {
    "id": "b85dd89f7703ee57",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Unmuteplayer",
    "info": "",
    "x": 1450,
    "y": 480,
    "wires": []
  },
  {
    "id": "c22c330ce6b9376b",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "=off?",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 970,
    "y": 620,
    "wires": [
      [
        "bbbfae741fd94680"
      ],
      [
        "a49562b8c7c69525"
      ]
    ]
  },
  {
    "id": "5f8c7a97054477fc",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Is player off?",
    "info": "",
    "x": 970,
    "y": 580,
    "wires": []
  },
  {
    "id": "17e74c0acd8c1bed",
    "type": "ha-get-entities",
    "z": "03d6b46677a5b50f",
    "name": "Get wiim Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?plex.*?)(?!.*?template.*?)(?!.*?universal.*?).*wiim.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 470,
    "y": 620,
    "wires": [
      [
        "4eaf28728ad6efbb"
      ]
    ]
  },
  {
    "id": "713a49ddd781e272",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Pull wiim media players",
    "info": "",
    "x": 460,
    "y": 380,
    "wires": []
  },
  {
    "id": "6f3ef640ab33e286",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn player on",
    "info": "",
    "x": 1190,
    "y": 280,
    "wires": []
  },
  {
    "id": "94cadfc10c831a29",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Volume selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22) {\n    var volume = \"0.25\";\n}\nelse if (h >= 0 && h <= 2) {\n    var volume = \"0.20\";\n}\nelse if (h > 2 && h < 8) {\n    var volume = \"0.15\";\n}\nelse if (h >= 8 && h < 9) {\n    var volume = \"0.15\";\n}\nelse {\n    var volume = \"0.30\";\n}\nmsg =\n{\n    \"payload\": {\n        \"data\": {\n            \"entity_id\": msg.payload.entity_id,\n            \"volume_level\": volume\n        }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1840,
    "y": 580,
    "wires": [
      [
        "ba833a479b3a6859"
      ]
    ]
  },
  {
    "id": "5f8d92f2b1e439b7",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Set Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2310,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "94ff0b4f86dbf419",
    "type": "api-current-state",
    "z": "03d6b46677a5b50f",
    "name": "Party mode is on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1450,
    "y": 620,
    "wires": [
      [
        "3149e5f128a522c5"
      ],
      [
        "dce01ab46e9f6eed"
      ]
    ]
  },
  {
    "id": "7e3de7db93df6565",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Volume selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22) {\n    var volume = \"0.30\";\n}\nelse if (h >= 0 && h <= 2) {\n    var volume = \"0.25\";\n}\nelse if (h > 2 && h < 8) {\n    var volume = \"0.20\";\n}\nelse if (h >= 8 && h < 9) {\n    var volume = \"0.20\";\n}\nelse {\n    var volume = \"0.40\";\n}\nmsg =\n{\n    \"payload\": {\n        \"data\": {\n            \"entity_id\": msg.payload.entity_id,\n            \"volume_level\": volume\n        }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1840,
    "y": 660,
    "wires": [
      [
        "51d9a4be51622d22"
      ]
    ]
  },
  {
    "id": "9c2bda7939750faa",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Is there a party?",
    "info": "",
    "x": 1460,
    "y": 580,
    "wires": []
  },
  {
    "id": "37b4b62a37540102",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "No",
    "info": "",
    "x": 1670,
    "y": 580,
    "wires": []
  },
  {
    "id": "cc06b88e0f01859d",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Yes",
    "info": "",
    "x": 1670,
    "y": 660,
    "wires": []
  },
  {
    "id": "f1ebc8a643b26bcc",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Softer volume at night",
    "info": "",
    "x": 2040,
    "y": 660,
    "wires": []
  },
  {
    "id": "5d1907418ac1dbdb",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Higher volume at night",
    "info": "",
    "x": 2040,
    "y": 580,
    "wires": []
  },
  {
    "id": "097a76d8ddd98881",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Detect a change in last active room",
    "info": "",
    "x": 180,
    "y": 1540,
    "wires": []
  },
  {
    "id": "55ef8dbead58248f",
    "type": "api-current-state",
    "z": "03d6b46677a5b50f",
    "name": "Media playback on speakers",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.active_media_playback",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "speakers",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1280,
    "y": 1580,
    "wires": [
      [
        "d0f68096bede1082",
        "692fdfcdf5bf01be"
      ],
      []
    ]
  },
  {
    "id": "d0f68096bede1082",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 279",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1630,
    "y": 1520,
    "wires": []
  },
  {
    "id": "692fdfcdf5bf01be",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "motion.attributes.rooms",
        "pt": "msg",
        "to": "payload.rooms",
        "tot": "msg"
      },
      {
        "t": "move",
        "p": "speakers.attributes.speakers",
        "pt": "msg",
        "to": "payload.speakers",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1500,
    "y": 1580,
    "wires": [
      [
        "595b8ab1bdf67e52",
        "9a3743158e64ccaf"
      ]
    ]
  },
  {
    "id": "cd0f23850f06f955",
    "type": "ha-get-entities",
    "z": "03d6b46677a5b50f",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 3110,
    "y": 1540,
    "wires": [
      [
        "d33e30fcbf2376aa",
        "3d0ff578334e3b20",
        "c310f223e2859487"
      ]
    ]
  },
  {
    "id": "9ad7973131fd4efd",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Generate the regex for the get entity node",
    "info": "",
    "x": 2720,
    "y": 1660,
    "wires": []
  },
  {
    "id": "1c10e2f3c6373a45",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Get speakers entities",
    "info": "",
    "x": 3140,
    "y": 1500,
    "wires": []
  },
  {
    "id": "0b9b9c96f871268b",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Extract room from media player entity an extract off speakers to regex",
    "func": "var room = msg.payload;\nconst rules_object = [{ 'property': 'entity_id', 'logic': 'is', 'value': \"media_player\\.(?!.*?speakers.*?)(?!.*?plex.*?)(?!.*?group.*?).*\" + room + \".*_speaker\", 'valueType': 're' }, { 'property': 'state', 'logic': 'is', 'value': \"playing\", 'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\": { \"rules\": rules_object }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2690,
    "y": 1540,
    "wires": [
      [
        "cd0f23850f06f955"
      ]
    ]
  },
  {
    "id": "eb18653cd4adb3f5",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Unmute speakers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3950,
    "y": 1540,
    "wires": [
      [
        "6532c447c72ffa86"
      ]
    ]
  },
  {
    "id": "37ee318d339974e1",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload.entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3690,
    "y": 1540,
    "wires": [
      [
        "eb18653cd4adb3f5"
      ]
    ]
  },
  {
    "id": "18a31ba365bb0f6a",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Move payload to payload.data",
    "info": "",
    "x": 3700,
    "y": 1500,
    "wires": []
  },
  {
    "id": "836cbbd8994de3e1",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "unMute speakers",
    "info": "",
    "x": 3940,
    "y": 1500,
    "wires": []
  },
  {
    "id": "38f4d71a804c1859",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Extract room from media player entity an extract off speakers to regex",
    "func": "var room = msg.payload;\nconst rules_object = [{ 'property': 'entity_id', 'logic': 'is', 'value': \"media_player\\.(?!.*?speakers.*?)(?!.*?plex.*?)(?!.*?group.*?).*\" + room + \".*_speaker\", 'valueType': 're' }, { 'property': 'state', 'logic': 'is', 'value': \"playing\", 'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\": { \"rules\": rules_object }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2690,
    "y": 1620,
    "wires": [
      [
        "9a07ea035d07030a"
      ]
    ]
  },
  {
    "id": "9a07ea035d07030a",
    "type": "ha-get-entities",
    "z": "03d6b46677a5b50f",
    "name": "Get entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload.results",
    "output_results_count": 1,
    "x": 3110,
    "y": 1620,
    "wires": [
      [
        "11a5dc7c1505c76c",
        "1eda5b9208386a1b"
      ]
    ]
  },
  {
    "id": "9265a7ae0b9a11b0",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Get speakers entities",
    "info": "",
    "x": 3140,
    "y": 1680,
    "wires": []
  },
  {
    "id": "ca83d2a6804cf203",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Mute speakers",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4260,
    "y": 1620,
    "wires": [
      [
        "61344efdf9a2170d"
      ]
    ]
  },
  {
    "id": "833c4a3416a2d68e",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "rules",
    "rules": [
      {
        "t": "move",
        "p": "payload.entity_id",
        "pt": "msg",
        "to": "payload.data.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3990,
    "y": 1620,
    "wires": [
      [
        "ca83d2a6804cf203"
      ]
    ]
  },
  {
    "id": "87db56632f09cf0f",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Move payload to payload.data",
    "info": "",
    "x": 4000,
    "y": 1660,
    "wires": []
  },
  {
    "id": "5ce98fb70808fd50",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Mute speakers",
    "info": "",
    "x": 4240,
    "y": 1660,
    "wires": []
  },
  {
    "id": "76cea25580fbcbdf",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 280",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2150,
    "y": 1580,
    "wires": []
  },
  {
    "id": "61344efdf9a2170d",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 281",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 4410,
    "y": 1680,
    "wires": []
  },
  {
    "id": "6532c447c72ffa86",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 282",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 4150,
    "y": 1500,
    "wires": []
  },
  {
    "id": "de46e5b8924d398c",
    "type": "api-current-state",
    "z": "03d6b46677a5b50f",
    "name": "No party",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 820,
    "y": 1580,
    "wires": [
      [
        "114875d9604967c1"
      ],
      []
    ]
  },
  {
    "id": "f3ddcb56608a474c",
    "type": "server-state-changed",
    "z": "03d6b46677a5b50f",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.last_active_room",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "location",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 200,
    "y": 1580,
    "wires": [
      [
        "6bc59e39a4bacf69"
      ]
    ]
  },
  {
    "id": "114875d9604967c1",
    "type": "api-current-state",
    "z": "03d6b46677a5b50f",
    "name": "Fetch Active Motion sensor",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.active_motion",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "motion",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1020,
    "y": 1580,
    "wires": [
      [
        "55ef8dbead58248f"
      ],
      []
    ]
  },
  {
    "id": "595b8ab1bdf67e52",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 284",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1850,
    "y": 1500,
    "wires": []
  },
  {
    "id": "9a3743158e64ccaf",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Only keep active rooms with active speakers",
    "func": "let rooms = msg.payload.rooms;\nlet speakers = msg.payload.speakers;\n\n\nlet common = rooms.filter(room => speakers.includes(room));// filter the rooms array by checking if each element is also in the speakers array\nlet unique = speakers.filter(speaker => !rooms.includes(speaker));// filter the rooms array by checking if each element is also in the speakers array\nvar msg = {\n    \"payload\": {\n        \"common\": common,\n        \"unique\": unique\n    }\n\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1790,
    "y": 1580,
    "wires": [
      [
        "76cea25580fbcbdf",
        "da4f8e872dad55ff",
        "e8fc5858d82d4c43"
      ]
    ]
  },
  {
    "id": "e8fc5858d82d4c43",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "",
    "property": "payload.common",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2050,
    "y": 1540,
    "wires": [
      [
        "3480a31ec58b0adf",
        "25cfb8b5aeb992ab"
      ]
    ]
  },
  {
    "id": "3480a31ec58b0adf",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "",
    "rules": [
      {
        "t": "move",
        "p": "payload.common",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "data",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2200,
    "y": 1540,
    "wires": [
      [
        "0dd7eb9167bf877a"
      ]
    ]
  },
  {
    "id": "0dd7eb9167bf877a",
    "type": "split",
    "z": "03d6b46677a5b50f",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 2350,
    "y": 1540,
    "wires": [
      [
        "0b9b9c96f871268b",
        "4013ac969eb96d88"
      ]
    ]
  },
  {
    "id": "da4f8e872dad55ff",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "",
    "property": "payload.unique",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2050,
    "y": 1620,
    "wires": [
      [
        "5f27be48f0805100"
      ]
    ]
  },
  {
    "id": "5f27be48f0805100",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "",
    "rules": [
      {
        "t": "move",
        "p": "payload.unique",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "data",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2200,
    "y": 1620,
    "wires": [
      [
        "e87aaf83803c9167",
        "92804edfc8e5cfb5"
      ]
    ]
  },
  {
    "id": "e87aaf83803c9167",
    "type": "split",
    "z": "03d6b46677a5b50f",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 2350,
    "y": 1620,
    "wires": [
      [
        "38f4d71a804c1859",
        "ff2abf2183e5ed8a"
      ]
    ]
  },
  {
    "id": "92804edfc8e5cfb5",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 285",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2290,
    "y": 1780,
    "wires": []
  },
  {
    "id": "ff2abf2183e5ed8a",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 286",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2450,
    "y": 1740,
    "wires": []
  },
  {
    "id": "d33e30fcbf2376aa",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "",
    "property": "payload.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3390,
    "y": 1540,
    "wires": [
      [
        "37ee318d339974e1",
        "5f55db9ab3691240"
      ]
    ]
  },
  {
    "id": "11a5dc7c1505c76c",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "",
    "property": "payload.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3390,
    "y": 1620,
    "wires": [
      [
        "4617547b3b186120"
      ]
    ]
  },
  {
    "id": "3d0ff578334e3b20",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 287",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 3410,
    "y": 1440,
    "wires": []
  },
  {
    "id": "20449b440a058ca8",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Make sure the muted state is adequate",
    "info": "",
    "x": 3410,
    "y": 1500,
    "wires": []
  },
  {
    "id": "25cfb8b5aeb992ab",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 288",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2270,
    "y": 1500,
    "wires": []
  },
  {
    "id": "4013ac969eb96d88",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 289",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2510,
    "y": 1480,
    "wires": []
  },
  {
    "id": "5f55db9ab3691240",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 290",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 3530,
    "y": 1500,
    "wires": []
  },
  {
    "id": "1eda5b9208386a1b",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 291",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 3330,
    "y": 1680,
    "wires": []
  },
  {
    "id": "6bc59e39a4bacf69",
    "type": "api-current-state",
    "z": "03d6b46677a5b50f",
    "name": "input_boolean.following_music",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.following_music",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 530,
    "y": 1580,
    "wires": [
      [
        "de46e5b8924d398c"
      ],
      []
    ]
  },
  {
    "id": "915ab7aa63e527cb",
    "type": "bigtimer",
    "z": "03d6b46677a5b50f",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "off",
    "name": "2AM to noon",
    "comment": "This will trigger the muting of the wiim speakers",
    "lat": 0,
    "lon": 0,
    "starttime": "105",
    "endtime": "735",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "on",
    "outtext2": "off",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 110,
    "y": 880,
    "wires": [
      [
        "3547c78a4391f57e"
      ],
      [],
      []
    ]
  },
  {
    "id": "d8fd5d752780fcb7",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn on at 2.15 am and Off at noon.15",
    "info": "",
    "x": 190,
    "y": 820,
    "wires": []
  },
  {
    "id": "3547c78a4391f57e",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "on/off",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 880,
    "wires": [
      [
        "93e218925b55ab51"
      ],
      [
        "30b0310b21d37f51"
      ]
    ]
  },
  {
    "id": "93e218925b55ab51",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.following_music"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload.entity_id",
        "propertyType": "msg",
        "value": "sensor",
        "valueType": "msg"
      }
    ],
    "queue": "none",
    "x": 500,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "30b0310b21d37f51",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.following_music"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload.entity_id",
        "propertyType": "msg",
        "value": "sensor",
        "valueType": "msg"
      }
    ],
    "queue": "none",
    "x": 500,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "e2f7b34a47fb1b19",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn \"following music off\"",
    "info": "",
    "x": 510,
    "y": 780,
    "wires": []
  },
  {
    "id": "74073a72c618fda0",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn \"following music\" on",
    "info": "",
    "x": 510,
    "y": 960,
    "wires": []
  },
  {
    "id": "c788326d7dc30cf8",
    "type": "trigger",
    "z": "03d6b46677a5b50f",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "val",
    "op2type": "val",
    "duration": "250",
    "extend": "false",
    "overrideDelay": "false",
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1960,
    "y": 1680,
    "wires": [
      []
    ]
  },
  {
    "id": "4617547b3b186120",
    "type": "trigger",
    "z": "03d6b46677a5b50f",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "topic",
    "topic": "payload.entity_id",
    "outputs": 1,
    "x": 3630,
    "y": 1620,
    "wires": [
      [
        "833c4a3416a2d68e"
      ]
    ]
  },
  {
    "id": "4711a328b6c33eee",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Make sure the muted state is adequate",
    "info": "",
    "x": 3390,
    "y": 1660,
    "wires": []
  },
  {
    "id": "212e99e1ebd8534b",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "Set reset to 1",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3390,
    "y": 1580,
    "wires": [
      [
        "cf776329d05e8c61"
      ]
    ]
  },
  {
    "id": "193d75b4820da29b",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 292",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "reset",
    "statusType": "msg",
    "x": 3670,
    "y": 1580,
    "wires": []
  },
  {
    "id": "58cf635ce763ba7f",
    "type": "inject",
    "z": "03d6b46677a5b50f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 380,
    "wires": [
      [
        "3794050aedc0306d"
      ]
    ]
  }
]