node-red/flows/Neighbors.json
[
  {
    "id": "03d6b46677a5b50f",
    "type": "tab",
    "label": "Neighbors",
    "disabled": false,
    "info": "Here are set automations to facilicate cohabitation with the people living around",
    "env": []
  },
  {
    "id": "3149e5f128a522c5",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 1580,
    "y": 580,
    "wires": [
      [
        "94cadfc10c831a29"
      ]
    ]
  },
  {
    "id": "dce01ab46e9f6eed",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 1580,
    "y": 660,
    "wires": [
      [
        "7e3de7db93df6565"
      ]
    ]
  },
  {
    "id": "ba833a479b3a6859",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 2180,
    "y": 580,
    "wires": [
      [
        "5f8d92f2b1e439b7"
      ]
    ]
  },
  {
    "id": "51d9a4be51622d22",
    "type": "junction",
    "z": "03d6b46677a5b50f",
    "x": 2180,
    "y": 660,
    "wires": [
      [
        "5f8d92f2b1e439b7"
      ]
    ]
  },
  {
    "id": "43ae9960abb79014",
    "type": "bigtimer",
    "z": "03d6b46677a5b50f",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "off",
    "name": "2AM to noon",
    "comment": "This will trigger the muting of the wiim speakers",
    "lat": 0,
    "lon": 0,
    "starttime": "120",
    "endtime": "1095",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": "4",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "on",
    "outtext2": "off",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 110,
    "y": 520,
    "wires": [
      [
        "921a698d03cb4797",
        "5448df130a8f05eb"
      ],
      [],
      [
        "5448df130a8f05eb"
      ]
    ]
  },
  {
    "id": "3794050aedc0306d",
    "type": "ha-get-entities",
    "z": "03d6b46677a5b50f",
    "name": "Get wiim Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?plex.*?)(?!.*?template.*?)(?!.*?universal.*?).*wiim.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 470,
    "y": 420,
    "wires": [
      [
        "27ed1e3fa220efc3"
      ]
    ]
  },
  {
    "id": "27ed1e3fa220efc3",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 420,
    "wires": [
      [
        "00a6dc9f42273d21"
      ]
    ]
  },
  {
    "id": "ba8cda6cd9e2d6bb",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1190,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "774f2ad6c3452965",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Mute player",
    "info": "",
    "x": 1190,
    "y": 380,
    "wires": []
  },
  {
    "id": "32dcbca76b928474",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Stop playback",
    "info": "",
    "x": 1670,
    "y": 280,
    "wires": []
  },
  {
    "id": "0b17be1cf59e695d",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "stop player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1670,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "63978480eb37a2e6",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1450,
    "y": 320,
    "wires": [
      [
        "0b17be1cf59e695d"
      ]
    ]
  },
  {
    "id": "24789605421cd7c2",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "turn on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 320,
    "wires": [
      [
        "63978480eb37a2e6"
      ]
    ]
  },
  {
    "id": "e205824b77fea403",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Mute player",
    "info": "",
    "x": 1450,
    "y": 280,
    "wires": []
  },
  {
    "id": "00a6dc9f42273d21",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "=off?",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1010,
    "y": 420,
    "wires": [
      [
        "24789605421cd7c2"
      ],
      [
        "ba8cda6cd9e2d6bb"
      ]
    ]
  },
  {
    "id": "e5cb6d68798b92fa",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Is player off?",
    "info": "",
    "x": 970,
    "y": 380,
    "wires": []
  },
  {
    "id": "476c6e2594106d71",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn on at 2 am and Off at noon",
    "info": "",
    "x": 190,
    "y": 360,
    "wires": []
  },
  {
    "id": "921a698d03cb4797",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "on/off",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 520,
    "wires": [
      [
        "3794050aedc0306d"
      ],
      [
        "17e74c0acd8c1bed"
      ]
    ]
  },
  {
    "id": "ea37ee3066314070",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Pull wiim media players",
    "info": "",
    "x": 460,
    "y": 580,
    "wires": []
  },
  {
    "id": "4eaf28728ad6efbb",
    "type": "change",
    "z": "03d6b46677a5b50f",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 620,
    "wires": [
      [
        "c22c330ce6b9376b",
        "76c7a47c103cc65a"
      ]
    ]
  },
  {
    "id": "a49562b8c7c69525",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Unmute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1200,
    "y": 620,
    "wires": [
      [
        "94ff0b4f86dbf419"
      ]
    ]
  },
  {
    "id": "a1d144cca0991cd4",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Unmute player",
    "info": "",
    "x": 1200,
    "y": 580,
    "wires": []
  },
  {
    "id": "c9e75b551f127cca",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn player on",
    "info": "",
    "x": 1170,
    "y": 480,
    "wires": []
  },
  {
    "id": "1f23b26a3a699c58",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Stop playback",
    "info": "",
    "x": 1670,
    "y": 480,
    "wires": []
  },
  {
    "id": "e2c11b202326156c",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "stop player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1670,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "b59b315be0802c8c",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"false\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1450,
    "y": 520,
    "wires": [
      [
        "e2c11b202326156c"
      ]
    ]
  },
  {
    "id": "bbbfae741fd94680",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "turn on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 520,
    "wires": [
      [
        "b59b315be0802c8c"
      ]
    ]
  },
  {
    "id": "b85dd89f7703ee57",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Mute player",
    "info": "",
    "x": 1450,
    "y": 480,
    "wires": []
  },
  {
    "id": "c22c330ce6b9376b",
    "type": "switch",
    "z": "03d6b46677a5b50f",
    "name": "=off?",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1010,
    "y": 620,
    "wires": [
      [
        "bbbfae741fd94680"
      ],
      [
        "a49562b8c7c69525"
      ]
    ]
  },
  {
    "id": "5f8c7a97054477fc",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Is player off?",
    "info": "",
    "x": 970,
    "y": 580,
    "wires": []
  },
  {
    "id": "17e74c0acd8c1bed",
    "type": "ha-get-entities",
    "z": "03d6b46677a5b50f",
    "name": "Get wiim Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?plex.*?)(?!.*?template.*?)(?!.*?universal.*?).*wiim.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 470,
    "y": 620,
    "wires": [
      [
        "4eaf28728ad6efbb"
      ]
    ]
  },
  {
    "id": "713a49ddd781e272",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Pull wiim media players",
    "info": "",
    "x": 460,
    "y": 360,
    "wires": []
  },
  {
    "id": "6f3ef640ab33e286",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Turn player on",
    "info": "",
    "x": 1190,
    "y": 280,
    "wires": []
  },
  {
    "id": "5448df130a8f05eb",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 271",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 230,
    "y": 440,
    "wires": []
  },
  {
    "id": "76c7a47c103cc65a",
    "type": "debug",
    "z": "03d6b46677a5b50f",
    "name": "debug 272",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 540,
    "wires": []
  },
  {
    "id": "f34998dd23d3aa75",
    "type": "inject",
    "z": "03d6b46677a5b50f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 640,
    "wires": [
      [
        "17e74c0acd8c1bed"
      ]
    ]
  },
  {
    "id": "b91fe3ebbf2d8edb",
    "type": "inject",
    "z": "03d6b46677a5b50f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 300,
    "y": 280,
    "wires": [
      [
        "3794050aedc0306d"
      ]
    ]
  },
  {
    "id": "94cadfc10c831a29",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Volume selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22) {\n    var volume = \"0.25\";\n}\nelse if (h >= 0 && h <= 2) {\n    var volume = \"0.20\";\n}\nelse if (h > 2 && h < 8) {\n    var volume = \"0.15\";\n}\nelse if (h >= 8 && h < 9) {\n    var volume = \"0.15\";\n}\nelse {\n    var volume = \"0.30\";\n}\nmsg =\n{\n    \"payload\": {\n        \"data\": {\n            \"entity_id\": msg.payload.entity_id,\n            \"volume_level\": volume\n        }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1840,
    "y": 580,
    "wires": [
      [
        "ba833a479b3a6859"
      ]
    ]
  },
  {
    "id": "5f8d92f2b1e439b7",
    "type": "api-call-service",
    "z": "03d6b46677a5b50f",
    "name": "Set Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2310,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "94ff0b4f86dbf419",
    "type": "api-current-state",
    "z": "03d6b46677a5b50f",
    "name": "Party mode is on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1450,
    "y": 620,
    "wires": [
      [
        "3149e5f128a522c5"
      ],
      [
        "dce01ab46e9f6eed"
      ]
    ]
  },
  {
    "id": "7e3de7db93df6565",
    "type": "function",
    "z": "03d6b46677a5b50f",
    "name": "Volume selector",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22) {\n    var volume = \"0.30\";\n}\nelse if (h >= 0 && h <= 2) {\n    var volume = \"0.25\";\n}\nelse if (h > 2 && h < 8) {\n    var volume = \"0.20\";\n}\nelse if (h >= 8 && h < 9) {\n    var volume = \"0.20\";\n}\nelse {\n    var volume = \"0.40\";\n}\nmsg =\n{\n    \"payload\": {\n        \"data\": {\n            \"entity_id\": msg.payload.entity_id,\n            \"volume_level\": volume\n        }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1840,
    "y": 660,
    "wires": [
      [
        "51d9a4be51622d22"
      ]
    ]
  },
  {
    "id": "9c2bda7939750faa",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Is there a party?",
    "info": "",
    "x": 1460,
    "y": 580,
    "wires": []
  },
  {
    "id": "37b4b62a37540102",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "No",
    "info": "",
    "x": 1670,
    "y": 580,
    "wires": []
  },
  {
    "id": "cc06b88e0f01859d",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Yes",
    "info": "",
    "x": 1670,
    "y": 660,
    "wires": []
  },
  {
    "id": "f1ebc8a643b26bcc",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Softer volume at night",
    "info": "",
    "x": 2040,
    "y": 660,
    "wires": []
  },
  {
    "id": "5d1907418ac1dbdb",
    "type": "comment",
    "z": "03d6b46677a5b50f",
    "name": "Higher volume at night",
    "info": "",
    "x": 2040,
    "y": 580,
    "wires": []
  }
]