node-red/flows/PTZ Camera.json
[
  {
    "id": "c6790bfa88a3b330",
    "type": "tab",
    "label": "PTZ Camera",
    "disabled": false,
    "info": ""
  },
  {
    "id": "adf981e5c350077f",
    "type": "http request",
    "z": "c6790bfa88a3b330",
    "name": "POST request",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.210/cgi-bin/api.cgi?cmd=PtzCtrl&token=d7e821956a9d932",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 900,
    "y": 380,
    "wires": [
      [
        "aca8f589caad43dc"
      ]
    ]
  },
  {
    "id": "9342b54773d442f5",
    "type": "inject",
    "z": "c6790bfa88a3b330",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "str",
    "x": 550,
    "y": 380,
    "wires": [
      [
        "db91c582cb88e77b"
      ]
    ]
  },
  {
    "id": "aca8f589caad43dc",
    "type": "debug",
    "z": "c6790bfa88a3b330",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1120,
    "y": 380,
    "wires": []
  },
  {
    "id": "db91c582cb88e77b",
    "type": "function",
    "z": "c6790bfa88a3b330",
    "name": "Javascript",
    "func": "var d = new Date();\nvar m = d.getMilliseconds();\nvar url = \"http://192.168.0.12:8765/picture/5/current/?\" + m;\nvar newMsg = {\n    \"payload\": [{\"cmd\":\"PtzCtrl\",\"action\":0,\"param\":{\"channel\":0,\"op\":\"ToPos\",\"id\":1}}]\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 700,
    "y": 380,
    "wires": [
      [
        "adf981e5c350077f"
      ]
    ]
  },
  {
    "id": "7a80902befcdccf8",
    "type": "server-state-changed",
    "z": "c6790bfa88a3b330",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "script.ptz_to",
    "entityidfiltertype": "substring",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 240,
    "y": 620,
    "wires": [
      [
        "8de3b2e6f3e0af19"
      ]
    ]
  },
  {
    "id": "8de3b2e6f3e0af19",
    "type": "trigger",
    "z": "c6790bfa88a3b330",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": true,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 850,
    "y": 620,
    "wires": [
      [
        "1ac219c27e3b54df"
      ]
    ]
  },
  {
    "id": "b63f39827e4d68ab",
    "type": "api-call-service",
    "z": "c6790bfa88a3b330",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "script",
    "service": "ptz_to_doorway",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1280,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "58d9ddb5d65932e5",
    "type": "inject",
    "z": "c6790bfa88a3b330",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 440,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "eb19dbde873f9257",
    "type": "debug",
    "z": "c6790bfa88a3b330",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 520,
    "wires": []
  },
  {
    "id": "19a709312c53342f",
    "type": "comment",
    "z": "c6790bfa88a3b330",
    "name": "",
    "info": "",
    "x": 280,
    "y": 460,
    "wires": []
  },
  {
    "id": "1ac219c27e3b54df",
    "type": "api-current-state",
    "z": "c6790bfa88a3b330",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.waiting_pakidge",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 870,
    "y": 560,
    "wires": [
      [
        "b63f39827e4d68ab"
      ],
      [
        "8de3b2e6f3e0af19"
      ]
    ]
  }
]