node-red/flows/Security_conditions.json
[
  {
    "id": "2d6a330c11854cb5",
    "type": "tab",
    "label": "Security_conditions",
    "disabled": false,
    "info": ""
  },
  {
    "id": "33c8f350509ef124",
    "type": "junction",
    "z": "2d6a330c11854cb5",
    "x": 380,
    "y": 1140,
    "wires": [
      [
        "7887400950c5a1d0"
      ]
    ]
  },
  {
    "id": "a961773857544603",
    "type": "junction",
    "z": "2d6a330c11854cb5",
    "x": 240,
    "y": 1140,
    "wires": [
      [
        "33c8f350509ef124"
      ]
    ]
  },
  {
    "id": "85636e9da9a16f70",
    "type": "junction",
    "z": "2d6a330c11854cb5",
    "x": 780,
    "y": 1140,
    "wires": [
      [
        "6addfad4cb86861c"
      ]
    ]
  },
  {
    "id": "05d5bd4ecc9e2857",
    "type": "junction",
    "z": "2d6a330c11854cb5",
    "x": 640,
    "y": 1140,
    "wires": [
      [
        "85636e9da9a16f70"
      ]
    ]
  },
  {
    "id": "2cbbf348baa33c0b",
    "type": "junction",
    "z": "2d6a330c11854cb5",
    "x": 480,
    "y": 140,
    "wires": [
      [
        "530ddda284ce2b85"
      ]
    ]
  },
  {
    "id": "93adc38d854d7460",
    "type": "api-current-state",
    "z": "2d6a330c11854cb5",
    "name": "alarm on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.home_alarm",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 320,
    "y": 220,
    "wires": [
      [
        "0744ebcd11948a63",
        "9f8902397ea94b94",
        "8b01fa8c4005b52e"
      ],
      []
    ]
  },
  {
    "id": "7a1ec2fba26a47d0",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "Maxi's Door",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_bedroom_door_contact",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "str",
    "ifState": "on",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 130,
    "y": 220,
    "wires": [
      [
        "93adc38d854d7460"
      ],
      []
    ]
  },
  {
    "id": "29b35589c2243599",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.aerating_appartment",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 250,
    "y": 520,
    "wires": [
      [
        "c915141251579780"
      ],
      [
        "c915141251579780"
      ]
    ]
  },
  {
    "id": "c915141251579780",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "4",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 520,
    "wires": [
      [
        "62828b024111a509"
      ]
    ]
  },
  {
    "id": "62828b024111a509",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.aerating_appartment"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "64760f998ab03189",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_hotbox",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 240,
    "y": 580,
    "wires": [
      [
        "37ecdb11bfa11ae2"
      ],
      [
        "37ecdb11bfa11ae2"
      ]
    ]
  },
  {
    "id": "37ecdb11bfa11ae2",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "12",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 580,
    "wires": [
      [
        "9093da61f51fa457"
      ]
    ]
  },
  {
    "id": "9093da61f51fa457",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_hotbox"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "a1f6ae705980aa72",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.party_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 220,
    "y": 400,
    "wires": [
      [
        "f3a62a39186f0880"
      ],
      [
        "f3a62a39186f0880"
      ]
    ]
  },
  {
    "id": "f3a62a39186f0880",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "16",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 400,
    "wires": [
      [
        "1858e80fd72d7331"
      ]
    ]
  },
  {
    "id": "1858e80fd72d7331",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.party_mode"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "dc677e1625f9f7d7",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 250,
    "y": 620,
    "wires": [
      [
        "f43b056a40b85b61"
      ],
      [
        "f43b056a40b85b61"
      ]
    ]
  },
  {
    "id": "f43b056a40b85b61",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "16",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 620,
    "wires": [
      [
        "9028e01c481ed0bf"
      ]
    ]
  },
  {
    "id": "9028e01c481ed0bf",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_livingroom"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "ae8214fef4794096",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "input_boolean.waiting_uber",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "str",
    "ifState": "on",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 290,
    "y": 360,
    "wires": [
      [
        "802487c0a965ce8f"
      ],
      [
        "802487c0a965ce8f"
      ]
    ]
  },
  {
    "id": "802487c0a965ce8f",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "2",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 360,
    "wires": [
      [
        "10bf613b28d2b771"
      ]
    ]
  },
  {
    "id": "10bf613b28d2b771",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_uber"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "97a724886d64a97c",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.waiting_someone",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 240,
    "y": 780,
    "wires": [
      [
        "6665d2f0a62b2458"
      ],
      [
        "6665d2f0a62b2458"
      ]
    ]
  },
  {
    "id": "6665d2f0a62b2458",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "3",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 780,
    "wires": [
      [
        "1169bfdff2196c25"
      ]
    ]
  },
  {
    "id": "1169bfdff2196c25",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "0a8395570fa2f6bc",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_patio",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 240,
    "y": 660,
    "wires": [
      [
        "b7f43b455d51f470"
      ],
      [
        "b7f43b455d51f470"
      ]
    ]
  },
  {
    "id": "b7f43b455d51f470",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "50",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 660,
    "wires": [
      [
        "b96e4355a27da356"
      ]
    ]
  },
  {
    "id": "728f7e9fda6c598e",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_patio"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1020,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "c83d633b59202aef",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.acid_time"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 620,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "e99ef5d6c51baecd",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.all_present_sleeping",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 250,
    "y": 880,
    "wires": [
      [
        "c83d633b59202aef"
      ],
      []
    ]
  },
  {
    "id": "b96e4355a27da356",
    "type": "ha-wait-until",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.patio_occupancy",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "off",
    "valueType": "str",
    "timeout": "1",
    "timeoutType": "num",
    "timeoutUnits": "hours",
    "checkCurrentState": false,
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 760,
    "y": 660,
    "wires": [
      [
        "728f7e9fda6c598e"
      ],
      [
        "728f7e9fda6c598e"
      ]
    ]
  },
  {
    "id": "0744ebcd11948a63",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"Door opened in bedroom\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "1",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 610,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "3cfde7e64ee9472b",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Reset various boolean inputs",
    "info": "",
    "x": 180,
    "y": 320,
    "wires": []
  },
  {
    "id": "3614f57fe3a73ffc",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.acid_time",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 220,
    "y": 460,
    "wires": [
      [
        "4d2f8fe29204d867"
      ],
      [
        "4d2f8fe29204d867"
      ]
    ]
  },
  {
    "id": "4d2f8fe29204d867",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 460,
    "wires": [
      [
        "fe7b9b7f3fb54ca2"
      ]
    ]
  },
  {
    "id": "fe7b9b7f3fb54ca2",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.acid_time"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "5bdb352ebcc5dfd9",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Reset acid time when all are asleep",
    "info": "",
    "x": 200,
    "y": 840,
    "wires": []
  },
  {
    "id": "44a28c9f20801736",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_closet",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 240,
    "y": 740,
    "wires": [
      [
        "5ee99d07ddd1fb99"
      ],
      [
        "5ee99d07ddd1fb99"
      ]
    ]
  },
  {
    "id": "5ee99d07ddd1fb99",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 550,
    "y": 740,
    "wires": [
      [
        "88c08c6d4e88bcfd"
      ]
    ]
  },
  {
    "id": "88c08c6d4e88bcfd",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "Turn off Sleeper in closet bool",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.tasmota_3c71bf3f262f_light_light_1",
      "input_boolean.sleeper_in_closet"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 770,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "7887400950c5a1d0",
    "type": "api-current-state",
    "z": "2d6a330c11854cb5",
    "name": "alarm armed away?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_away",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.home_alarm",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 510,
    "y": 1140,
    "wires": [
      [
        "05d5bd4ecc9e2857"
      ],
      []
    ]
  },
  {
    "id": "2f93af378627614b",
    "type": "change",
    "z": "2d6a330c11854cb5",
    "name": "Security",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Get the fuck out, Police has been Contacted. The cameras have you recorded.",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2000,
    "y": 1140,
    "wires": [
      [
        "7b443a11eac5d674"
      ]
    ]
  },
  {
    "id": "05c1667f1ef411f4",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "Motion?",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor(?!.*?patio.*?)\\.sensor([a-z\"_\"])*_occupancy",
    "entityidfiltertype": "regex",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 110,
    "y": 1140,
    "wires": [
      [
        "a961773857544603"
      ],
      []
    ]
  },
  {
    "id": "6addfad4cb86861c",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.all_lights"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 910,
    "y": 1140,
    "wires": [
      [
        "d20ba9e1b9c16dd1"
      ]
    ]
  },
  {
    "id": "7b443a11eac5d674",
    "type": "subflow:233ac7dcd801a802",
    "z": "2d6a330c11854cb5",
    "name": "",
    "x": 2210,
    "y": 1140,
    "wires": []
  },
  {
    "id": "f3938432837f636c",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Motion anywhere?",
    "info": "",
    "x": 150,
    "y": 1100,
    "wires": []
  },
  {
    "id": "4b105826c9ebf059",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Yes",
    "info": "",
    "x": 310,
    "y": 1140,
    "wires": []
  },
  {
    "id": "93b38087b8d257c1",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Armed away alarm?",
    "info": "",
    "x": 510,
    "y": 1100,
    "wires": []
  },
  {
    "id": "2bef291046fd87dd",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Yes",
    "info": "",
    "x": 710,
    "y": 1140,
    "wires": []
  },
  {
    "id": "cda242ce953cafac",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Turn all lights off",
    "info": "",
    "x": 900,
    "y": 1100,
    "wires": []
  },
  {
    "id": "6b20a0033bc6e398",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "5 seconds cooldown",
    "info": "",
    "x": 1110,
    "y": 1100,
    "wires": []
  },
  {
    "id": "d01cd1697f1abcb2",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Notify my phone",
    "info": "",
    "x": 1600,
    "y": 1100,
    "wires": []
  },
  {
    "id": "39efb630488b2420",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Set Announcement",
    "info": "",
    "x": 2010,
    "y": 1100,
    "wires": []
  },
  {
    "id": "ea26ca7c541379df",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Send Announcement",
    "info": "",
    "x": 2210,
    "y": 1100,
    "wires": []
  },
  {
    "id": "d20ba9e1b9c16dd1",
    "type": "delay",
    "z": "2d6a330c11854cb5",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 1140,
    "wires": [
      [
        "04941cad61ffcb04",
        "8b8d767df13a203c"
      ]
    ]
  },
  {
    "id": "04941cad61ffcb04",
    "type": "debug",
    "z": "2d6a330c11854cb5",
    "name": "debug 267",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1280,
    "y": 1020,
    "wires": []
  },
  {
    "id": "8b8d767df13a203c",
    "type": "function",
    "z": "2d6a330c11854cb5",
    "name": "Javascript",
    "func": "var sensor = msg.topic;\n\nvar newMsg = {\n\t\"payload\": {\n\t\t\"data\": {\n\t\t\t\"title\": \"Security Alert\",\n\t\t\t\"message\": sensor + \" has been triggered\"\n\t\t}\n\t}\n};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1300,
    "y": 1140,
    "wires": [
      [
        "d5537d1f28982511",
        "72cdc44676316907"
      ]
    ]
  },
  {
    "id": "d5537d1f28982511",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_galaxy_s10",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{ \"message\": \"INTRUDER ALERT\", \"data\": {} }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1590,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "72cdc44676316907",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"Bedroom door open\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1590,
    "y": 1140,
    "wires": [
      [
        "2f93af378627614b"
      ]
    ]
  },
  {
    "id": "dceb17637d91000c",
    "type": "api-current-state",
    "z": "2d6a330c11854cb5",
    "name": "alarm on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.home_alarm",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 320,
    "y": 60,
    "wires": [
      [
        "d08722583f7a4513",
        "8b01fa8c4005b52e",
        "20f0047cd0a4084d"
      ],
      []
    ]
  },
  {
    "id": "1fcd695d2954542b",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "BEdroom Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_bedroom_motion_occupancy",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "str",
    "ifState": "on",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 60,
    "wires": [
      [
        "dceb17637d91000c"
      ],
      []
    ]
  },
  {
    "id": "d08722583f7a4513",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"Motion in bedroom\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "1",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 610,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "6e6dc825f8e1ba10",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Alert me if someone enters my room while alarm is set to armed Home",
    "info": "",
    "x": 310,
    "y": 20,
    "wires": []
  },
  {
    "id": "9f8902397ea94b94",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_galaxy_watch_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"Door opened in bedroom\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "1",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 620,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "20f0047cd0a4084d",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_galaxy_watch_4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"Motion in bedroom\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "1",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 620,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "c1e21a3da32930a2",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "Warning in bedroom",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "tts",
    "service": "google_translate_say",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bedroom_speaker"
    ],
    "data": "{\"message\":\"ATTENTION, PRIVATE! PLEASE GET OUT! AND CLOSE THE DOOR!\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "1",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 980,
    "y": 140,
    "wires": [
      [
        "d6c0d82321f1ee27"
      ]
    ]
  },
  {
    "id": "cb8ad3442d47e25b",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "Raise volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bedroom_speaker"
    ],
    "data": "{\"volume_level\": 1}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "1",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 780,
    "y": 140,
    "wires": [
      [
        "c1e21a3da32930a2"
      ]
    ]
  },
  {
    "id": "d6c0d82321f1ee27",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "Raise volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bedroom_speaker"
    ],
    "data": "{\"volume_level\": 1}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "1",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 1180,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "8b01fa8c4005b52e",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-2",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 420,
    "y": 140,
    "wires": [
      [
        "530ddda284ce2b85"
      ]
    ]
  },
  {
    "id": "530ddda284ce2b85",
    "type": "delay",
    "z": "2d6a330c11854cb5",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "8",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 600,
    "y": 140,
    "wires": [
      [
        "cb8ad3442d47e25b"
      ]
    ]
  },
  {
    "id": "ea58124478d9fcbd",
    "type": "trigger-state",
    "z": "2d6a330c11854cb5",
    "name": "No one in",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_bedroom_motion_occupancy",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "binary_sensor.sensor_bedroom_door_contact",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 120,
    "y": 120,
    "wires": [
      [
        "8b01fa8c4005b52e"
      ],
      []
    ]
  },
  {
    "id": "fabfeb5b80809338",
    "type": "trigger-state",
    "z": "2d6a330c11854cb5",
    "name": "No one in",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "inputs": 0,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_bedroom_door_contact",
    "entityIdType": "exact",
    "debugEnabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      },
      {
        "targetType": "entity_id",
        "targetValue": "binary_sensor.sensor_bedroom_motion_occupancy",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "off"
      }
    ],
    "customOutputs": [],
    "outputInitially": false,
    "stateType": "str",
    "enableInput": false,
    "x": 120,
    "y": 160,
    "wires": [
      [
        "8b01fa8c4005b52e"
      ],
      []
    ]
  }
]