node-red/flows/Security_conditions.json
[
  {
    "id": "2d6a330c11854cb5",
    "type": "tab",
    "label": "Security_conditions",
    "disabled": false,
    "info": ""
  },
  {
    "id": "93adc38d854d7460",
    "type": "api-current-state",
    "z": "2d6a330c11854cb5",
    "name": "alarm on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "armed_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "alarm_control_panel.home_alarm",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 320,
    "y": 180,
    "wires": [
      [
        "0744ebcd11948a63",
        "c3b110e8d5c6cd0f"
      ],
      []
    ]
  },
  {
    "id": "7a1ec2fba26a47d0",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "Maxi's Door",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_bedroom_door_contact",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 130,
    "y": 180,
    "wires": [
      [
        "93adc38d854d7460"
      ],
      []
    ]
  },
  {
    "id": "29b35589c2243599",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.aerating_appartment",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 250,
    "y": 520,
    "wires": [
      [
        "c915141251579780"
      ],
      [
        "c915141251579780"
      ]
    ]
  },
  {
    "id": "c915141251579780",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "4",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 520,
    "wires": [
      [
        "62828b024111a509"
      ]
    ]
  },
  {
    "id": "62828b024111a509",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.aerating_appartment"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "64760f998ab03189",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_hotbox",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 240,
    "y": 580,
    "wires": [
      [
        "37ecdb11bfa11ae2"
      ],
      [
        "37ecdb11bfa11ae2"
      ]
    ]
  },
  {
    "id": "37ecdb11bfa11ae2",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "12",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 580,
    "wires": [
      [
        "9093da61f51fa457"
      ]
    ]
  },
  {
    "id": "9093da61f51fa457",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_hotbox"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "a1f6ae705980aa72",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.party_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 220,
    "y": 400,
    "wires": [
      [
        "f3a62a39186f0880"
      ],
      [
        "f3a62a39186f0880"
      ]
    ]
  },
  {
    "id": "f3a62a39186f0880",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "16",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 400,
    "wires": [
      [
        "1858e80fd72d7331"
      ]
    ]
  },
  {
    "id": "1858e80fd72d7331",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.party_mode"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "dc677e1625f9f7d7",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_livingroom",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 250,
    "y": 620,
    "wires": [
      [
        "f43b056a40b85b61"
      ],
      [
        "f43b056a40b85b61"
      ]
    ]
  },
  {
    "id": "f43b056a40b85b61",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "16",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 620,
    "wires": [
      [
        "9028e01c481ed0bf"
      ]
    ]
  },
  {
    "id": "9028e01c481ed0bf",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_livingroom"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "ae8214fef4794096",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.waiting_uber",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 230,
    "y": 360,
    "wires": [
      [
        "802487c0a965ce8f"
      ],
      [
        "802487c0a965ce8f"
      ]
    ]
  },
  {
    "id": "802487c0a965ce8f",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "2",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 360,
    "wires": [
      [
        "10bf613b28d2b771"
      ]
    ]
  },
  {
    "id": "10bf613b28d2b771",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_uber"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "97a724886d64a97c",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.waiting_someone",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 240,
    "y": 780,
    "wires": [
      [
        "6665d2f0a62b2458"
      ],
      [
        "6665d2f0a62b2458"
      ]
    ]
  },
  {
    "id": "6665d2f0a62b2458",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "3",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 780,
    "wires": [
      [
        "1169bfdff2196c25"
      ]
    ]
  },
  {
    "id": "1169bfdff2196c25",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.waiting_someone"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "0a8395570fa2f6bc",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_patio",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 240,
    "y": 660,
    "wires": [
      [
        "b7f43b455d51f470"
      ],
      [
        "b7f43b455d51f470"
      ]
    ]
  },
  {
    "id": "b7f43b455d51f470",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "50",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 660,
    "wires": [
      [
        "b96e4355a27da356"
      ]
    ]
  },
  {
    "id": "728f7e9fda6c598e",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_patio"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1020,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "c83d633b59202aef",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.acid_time"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 620,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "e99ef5d6c51baecd",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.all_present_sleeping",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 250,
    "y": 880,
    "wires": [
      [
        "c83d633b59202aef"
      ],
      []
    ]
  },
  {
    "id": "b96e4355a27da356",
    "type": "ha-wait-until",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "outputs": 2,
    "entityId": "binary_sensor.patio_occupancy",
    "entityIdFilterType": "exact",
    "property": "state",
    "comparator": "is",
    "value": "off",
    "valueType": "str",
    "timeout": "1",
    "timeoutType": "num",
    "timeoutUnits": "hours",
    "checkCurrentState": false,
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 760,
    "y": 660,
    "wires": [
      [
        "728f7e9fda6c598e"
      ],
      [
        "728f7e9fda6c598e"
      ]
    ]
  },
  {
    "id": "0744ebcd11948a63",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_galaxy_s10",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "1",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 610,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "c3b110e8d5c6cd0f",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"Bedroom door open\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 610,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "e014f159660eeb54",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Alert me if someone enters my room while alarm is set to armed Home",
    "info": "",
    "x": 310,
    "y": 140,
    "wires": []
  },
  {
    "id": "3cfde7e64ee9472b",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Reset various boolean inputs",
    "info": "",
    "x": 180,
    "y": 320,
    "wires": []
  },
  {
    "id": "3614f57fe3a73ffc",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.acid_time",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 220,
    "y": 460,
    "wires": [
      [
        "4d2f8fe29204d867"
      ],
      [
        "4d2f8fe29204d867"
      ]
    ]
  },
  {
    "id": "4d2f8fe29204d867",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 590,
    "y": 460,
    "wires": [
      [
        "fe7b9b7f3fb54ca2"
      ]
    ]
  },
  {
    "id": "fe7b9b7f3fb54ca2",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.acid_time"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 840,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "5bdb352ebcc5dfd9",
    "type": "comment",
    "z": "2d6a330c11854cb5",
    "name": "Reset acid time when all are asleep",
    "info": "",
    "x": 200,
    "y": 840,
    "wires": []
  },
  {
    "id": "44a28c9f20801736",
    "type": "server-state-changed",
    "z": "2d6a330c11854cb5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_closet",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 240,
    "y": 740,
    "wires": [
      [
        "5ee99d07ddd1fb99"
      ],
      [
        "5ee99d07ddd1fb99"
      ]
    ]
  },
  {
    "id": "5ee99d07ddd1fb99",
    "type": "trigger",
    "z": "2d6a330c11854cb5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "hr",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 550,
    "y": 740,
    "wires": [
      [
        "88c08c6d4e88bcfd"
      ]
    ]
  },
  {
    "id": "88c08c6d4e88bcfd",
    "type": "api-call-service",
    "z": "2d6a330c11854cb5",
    "name": "Turn off Sleeper in closet bool",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.tasmota_3c71bf3f262f_light_light_1",
      "input_boolean.sleeper_in_closet"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 770,
    "y": 740,
    "wires": [
      []
    ]
  }
]