node-red/flows/Server.json
[
  {
    "id": "24ea4eb63a576675",
    "type": "tab",
    "label": "Server",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "03e05af9b7a9b8f7",
    "type": "junction",
    "z": "24ea4eb63a576675",
    "x": 360,
    "y": 3440,
    "wires": [
      [
        "bf1b0ef28750c1f7"
      ]
    ]
  },
  {
    "id": "43be64c5389825c2",
    "type": "mqtt in",
    "z": "24ea4eb63a576675",
    "name": "",
    "topic": "zigbee2mqtt/remote_server_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 770,
    "y": 400,
    "wires": [
      [
        "9ff46d906fdbbe46"
      ]
    ]
  },
  {
    "id": "9ff46d906fdbbe46",
    "type": "subflow:61f53235c712b2c2",
    "z": "24ea4eb63a576675",
    "name": "",
    "x": 1010,
    "y": 400,
    "wires": []
  },
  {
    "id": "374eb95dede24266",
    "type": "trigger",
    "z": "24ea4eb63a576675",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "2",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 930,
    "y": 640,
    "wires": [
      [
        "74428d2e172178fd"
      ]
    ]
  },
  {
    "id": "94b11876f2155a16",
    "type": "change",
    "z": "24ea4eb63a576675",
    "name": "Server door open",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Server door open",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2250,
    "y": 600,
    "wires": [
      [
        "7c5c2122b82a1513"
      ]
    ]
  },
  {
    "id": "74428d2e172178fd",
    "type": "trigger",
    "z": "24ea4eb63a576675",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "num",
    "op2type": "str",
    "duration": "-5",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 1110,
    "y": 620,
    "wires": [
      [
        "b897b6fb2c05aa71"
      ]
    ]
  },
  {
    "id": "ec82c83693d400b7",
    "type": "server-state-changed",
    "z": "24ea4eb63a576675",
    "name": "Door Server",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "outputs": 2,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.sensor_server_door_contact",
    "entityIdType": "exact",
    "outputInitially": false,
    "stateType": "str",
    "ifState": "(on|off)",
    "ifStateType": "re",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 710,
    "y": 620,
    "wires": [
      [
        "374eb95dede24266",
        "c4993ad6c39e8aa6"
      ],
      []
    ]
  },
  {
    "id": "b897b6fb2c05aa71",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Aerating?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.aerating_appartment",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1280,
    "y": 620,
    "wires": [
      [
        "b0662f83f0a758ae"
      ],
      []
    ]
  },
  {
    "id": "dfe8df4adcc3bdbf",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "vacuum",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "docked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "vacuum.xiaomi_vacuum_cleaner",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1560,
    "y": 620,
    "wires": [
      [
        "e65fe0b2089e0bc8"
      ],
      []
    ]
  },
  {
    "id": "e65fe0b2089e0bc8",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Occupancy Patio",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_patio_motion_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1730,
    "y": 620,
    "wires": [
      [
        "2c49fe6e7dc03deb"
      ],
      []
    ]
  },
  {
    "id": "0ada7e214e9b1c1c",
    "type": "change",
    "z": "24ea4eb63a576675",
    "name": "Server door open",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Server door open",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2830,
    "y": 640,
    "wires": [
      [
        "7c5c2122b82a1513"
      ]
    ]
  },
  {
    "id": "2c49fe6e7dc03deb",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Temp",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "17",
    "halt_if_type": "num",
    "halt_if_compare": "lt",
    "entity_id": "sensor.sensor_outside_temperature_temperature",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1910,
    "y": 620,
    "wires": [
      [
        "f95987478e497e05"
      ],
      [
        "3f73532b604b33b2"
      ]
    ]
  },
  {
    "id": "3f73532b604b33b2",
    "type": "trigger",
    "z": "24ea4eb63a576675",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "60",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 2090,
    "y": 640,
    "wires": [
      [
        "04970ec632c688f4"
      ]
    ]
  },
  {
    "id": "d955a6755a23e6f7",
    "type": "server-state-changed",
    "z": "24ea4eb63a576675",
    "name": "Door Server",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_server_door_contact",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 1910,
    "y": 660,
    "wires": [
      [
        "3f73532b604b33b2"
      ],
      []
    ]
  },
  {
    "id": "c4993ad6c39e8aa6",
    "type": "switch",
    "z": "24ea4eb63a576675",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 910,
    "y": 600,
    "wires": [
      [
        "74428d2e172178fd"
      ]
    ]
  },
  {
    "id": "b0662f83f0a758ae",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_server_workstation_motion_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1410,
    "y": 620,
    "wires": [
      [
        "dfe8df4adcc3bdbf"
      ],
      []
    ]
  },
  {
    "id": "c28676def1db1c7e",
    "type": "server-state-changed",
    "z": "24ea4eb63a576675",
    "name": "aerating",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.aerating_appartment",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 1900,
    "y": 700,
    "wires": [
      [
        "3f73532b604b33b2"
      ],
      []
    ]
  },
  {
    "id": "f95987478e497e05",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Aerating?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.aerating_appartment",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2080,
    "y": 600,
    "wires": [
      [
        "94b11876f2155a16"
      ],
      []
    ]
  },
  {
    "id": "09816a449ce83c3a",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Aerating?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.aerating_appartment",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2660,
    "y": 640,
    "wires": [
      [
        "0ada7e214e9b1c1c"
      ],
      []
    ]
  },
  {
    "id": "99a5faca0d226835",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Party?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2510,
    "y": 640,
    "wires": [
      [
        "09816a449ce83c3a"
      ],
      []
    ]
  },
  {
    "id": "04970ec632c688f4",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "patio door",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_patio_door_contact",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2380,
    "y": 640,
    "wires": [
      [
        "99a5faca0d226835"
      ],
      []
    ]
  },
  {
    "id": "7c5c2122b82a1513",
    "type": "subflow:233ac7dcd801a802",
    "z": "24ea4eb63a576675",
    "name": "",
    "x": 3030,
    "y": 600,
    "wires": []
  },
  {
    "id": "0e3a9592613d851b",
    "type": "server-state-changed",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_patio",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": false,
    "x": 1560,
    "y": 2480,
    "wires": [
      [
        "5b7048c95ebb871a"
      ],
      [
        "36f50d3fcd9e13ff"
      ]
    ]
  },
  {
    "id": "e5ee0836ed9a1209",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "toggle",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_patio"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1230,
    "y": 2480,
    "wires": [
      []
    ]
  },
  {
    "id": "36f50d3fcd9e13ff",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "Patio lights off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_patio_lights"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1880,
    "y": 2500,
    "wires": [
      []
    ]
  },
  {
    "id": "b50cf9911e5998ea",
    "type": "server-state-changed",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_patio_quiet_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 630,
    "y": 2480,
    "wires": [
      [
        "ec82ac8186da84ee",
        "2b979c35a557d0fc"
      ]
    ]
  },
  {
    "id": "ec82ac8186da84ee",
    "type": "debug",
    "z": "24ea4eb63a576675",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 2300,
    "wires": []
  },
  {
    "id": "2b979c35a557d0fc",
    "type": "switch",
    "z": "24ea4eb63a576675",
    "name": "click = off ( double) ",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 970,
    "y": 2480,
    "wires": [
      [
        "e5ee0836ed9a1209"
      ]
    ],
    "info": "Just expand the flow.count to how ever many\npresses you want/need."
  },
  {
    "id": "5b7048c95ebb871a",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "Patio lights on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_patio_lights"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1880,
    "y": 2460,
    "wires": [
      []
    ]
  },
  {
    "id": "68045bf516d54136",
    "type": "change",
    "z": "24ea4eb63a576675",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "action",
        "pt": "msg",
        "to": "payload.action",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 2920,
    "wires": [
      [
        "32589029ab766461",
        "0cf45e3cf47639bc"
      ]
    ]
  },
  {
    "id": "5201a53d06e0df3b",
    "type": "mqtt in",
    "z": "24ea4eb63a576675",
    "name": "",
    "topic": "zigbee2mqtt/remote_patio_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 2920,
    "wires": [
      [
        "68045bf516d54136",
        "e81abc74dd145ea8"
      ]
    ]
  },
  {
    "id": "e81abc74dd145ea8",
    "type": "debug",
    "z": "24ea4eb63a576675",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 450,
    "y": 2800,
    "wires": []
  },
  {
    "id": "32589029ab766461",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "chromecast",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.patio_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 670,
    "y": 2920,
    "wires": [
      [
        "2e7c0ae2d5bf44e0"
      ],
      [
        "c71e97589f3ff568"
      ]
    ]
  },
  {
    "id": "2e7c0ae2d5bf44e0",
    "type": "switch",
    "z": "24ea4eb63a576675",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 980,
    "y": 2880,
    "wires": [
      [
        "36bc9361d4ea4a9f"
      ]
    ]
  },
  {
    "id": "36bc9361d4ea4a9f",
    "type": "switch",
    "z": "24ea4eb63a576675",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "rotate_right",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "rotate_left",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_forward",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_backward",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 1100,
    "y": 2880,
    "wires": [
      [
        "e63e2fb6e57a9b28"
      ],
      [
        "28a7825ccc7984f6"
      ],
      [
        "14b0b7ba2f466a73"
      ],
      [
        "cb9715d36ee216bb",
        "0cf45e3cf47639bc"
      ],
      [
        "e84605f373532d67"
      ]
    ]
  },
  {
    "id": "e63e2fb6e57a9b28",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1340,
    "y": 2820,
    "wires": [
      []
    ]
  },
  {
    "id": "28a7825ccc7984f6",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_play_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1360,
    "y": 2880,
    "wires": [
      []
    ]
  },
  {
    "id": "14b0b7ba2f466a73",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_down",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1340,
    "y": 2920,
    "wires": [
      []
    ]
  },
  {
    "id": "cb9715d36ee216bb",
    "type": "switch",
    "z": "24ea4eb63a576675",
    "name": "",
    "property": "entity.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1250,
    "y": 2960,
    "wires": [
      [
        "3d5c2336620cf7bf"
      ],
      [
        "367ba297ac6a9f30"
      ]
    ]
  },
  {
    "id": "3d5c2336620cf7bf",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": 1}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1530,
    "y": 2960,
    "wires": [
      []
    ]
  },
  {
    "id": "367ba297ac6a9f30",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": 0}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1530,
    "y": 3000,
    "wires": [
      []
    ]
  },
  {
    "id": "0cf45e3cf47639bc",
    "type": "debug",
    "z": "24ea4eb63a576675",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1160,
    "y": 3080,
    "wires": []
  },
  {
    "id": "c71e97589f3ff568",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.server_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 840,
    "y": 2920,
    "wires": [
      [
        "2e7c0ae2d5bf44e0"
      ]
    ]
  },
  {
    "id": "e84605f373532d67",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_next_track",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1350,
    "y": 3040,
    "wires": [
      []
    ]
  },
  {
    "id": "b3f083e4b5b056fa",
    "type": "server-state-changed",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.patio_chromecast",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "output_only_on_state_change": true,
    "x": 200,
    "y": 2660,
    "wires": [
      [
        "e171d0295745709c",
        "e03fbec62a6059c3"
      ],
      [
        "a9d644e0b6b0a287"
      ]
    ]
  },
  {
    "id": "2321051455afb1a8",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.server_speaker"
    ],
    "data": "{ \"is_volume_muted\": 1}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 750,
    "y": 2600,
    "wires": [
      []
    ]
  },
  {
    "id": "a9d644e0b6b0a287",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "unmute",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.server_speaker"
    ],
    "data": "{ \"is_volume_muted\": 0}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 620,
    "y": 2700,
    "wires": [
      []
    ]
  },
  {
    "id": "e171d0295745709c",
    "type": "switch",
    "z": "24ea4eb63a576675",
    "name": "",
    "property": "entity.new_state.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 490,
    "y": 2620,
    "wires": [
      [
        "2321051455afb1a8"
      ],
      [
        "a9d644e0b6b0a287"
      ]
    ]
  },
  {
    "id": "e03fbec62a6059c3",
    "type": "debug",
    "z": "24ea4eb63a576675",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 2720,
    "wires": []
  },
  {
    "id": "343da71f7122bae9",
    "type": "server-state-changed",
    "z": "24ea4eb63a576675",
    "name": "Noise",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sound_detected_binary",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 250,
    "y": 3460,
    "wires": [
      [
        "03e05af9b7a9b8f7"
      ],
      [
        "c51dc4459bc37f29"
      ]
    ]
  },
  {
    "id": "bf1b0ef28750c1f7",
    "type": "trigger",
    "z": "24ea4eb63a576675",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 650,
    "y": 3440,
    "wires": [
      [
        "53961e7c08f34723"
      ]
    ]
  },
  {
    "id": "c51dc4459bc37f29",
    "type": "change",
    "z": "24ea4eb63a576675",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 3500,
    "wires": [
      [
        "bf1b0ef28750c1f7",
        "53961e7c08f34723"
      ]
    ]
  },
  {
    "id": "b3a33bd5ddf662c1",
    "type": "api-call-service",
    "z": "24ea4eb63a576675",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "tts",
    "service": "google_translate_say",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.patio_chromecast"
    ],
    "data": "{\"message\": \"Hey kids, Kindly Lower the Volume\"}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1540,
    "y": 3440,
    "wires": [
      []
    ]
  },
  {
    "id": "56cf401572d5daca",
    "type": "inject",
    "z": "24ea4eb63a576675",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 660,
    "y": 3360,
    "wires": [
      [
        "bf1b0ef28750c1f7"
      ]
    ]
  },
  {
    "id": "53961e7c08f34723",
    "type": "trigger",
    "z": "24ea4eb63a576675",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-1",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 890,
    "y": 3440,
    "wires": [
      [
        "994589caf181f121"
      ]
    ]
  },
  {
    "id": "ad341169a56b27a0",
    "type": "server-state-changed",
    "z": "24ea4eb63a576675",
    "name": "Noise lvl",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.sound_level_averaged",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "0.08",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 3420,
    "wires": [
      [
        "03e05af9b7a9b8f7"
      ],
      []
    ]
  },
  {
    "id": "994589caf181f121",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Party?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1090,
    "y": 3440,
    "wires": [
      [
        "33ca6d9a410d31f4"
      ],
      []
    ]
  },
  {
    "id": "33ca6d9a410d31f4",
    "type": "api-current-state",
    "z": "24ea4eb63a576675",
    "name": "Occupied?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.patio_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1290,
    "y": 3440,
    "wires": [
      [
        "b3a33bd5ddf662c1"
      ],
      []
    ]
  },
  {
    "id": "190f2d82d00997ab",
    "type": "comment",
    "z": "24ea4eb63a576675",
    "name": "",
    "info": "",
    "x": 220,
    "y": 2580,
    "wires": []
  },
  {
    "id": "40177ad21b288b49",
    "type": "comment",
    "z": "24ea4eb63a576675",
    "name": "",
    "info": "",
    "x": 260,
    "y": 2920,
    "wires": []
  },
  {
    "id": "3b98fd6078525109",
    "type": "comment",
    "z": "24ea4eb63a576675",
    "name": "Detect when the server door is left open and broadcast regular alerts based on current temperature",
    "info": "",
    "x": 980,
    "y": 560,
    "wires": []
  }
]