node-red/flows/Server%2FPatio.json
[
  {
    "id": "ecbd17e87fcc158a",
    "type": "tab",
    "label": "Server/Patio",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2f63b042f67c086c",
    "type": "junction",
    "z": "ecbd17e87fcc158a",
    "x": 420,
    "y": 3380,
    "wires": [
      [
        "5702a016541fe225"
      ]
    ]
  },
  {
    "id": "1875ad9ae15b702c",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "simple on and off with a trigger and a timer",
    "info": "",
    "x": 1000,
    "y": 80,
    "wires": []
  },
  {
    "id": "21e7d888746d39b3",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Server Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.server_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1900,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "641dccbf6f8208ce",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-20",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "open",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1150,
    "y": 160,
    "wires": [
      [
        "fa52dfb73465870a"
      ]
    ]
  },
  {
    "id": "b8e2bf300f26f59d",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Server Light On",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.server_light"
    ],
    "data": "{\"color_name\":\"white\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1320,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "de13135d3070f7b1",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "Server",
    "info": "",
    "x": 1150,
    "y": 200,
    "wires": []
  },
  {
    "id": "81b7a07f10ff3da1",
    "type": "change",
    "z": "ecbd17e87fcc158a",
    "name": "off",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "closed",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 160,
    "wires": [
      [
        "9d253bda249c54f9"
      ]
    ]
  },
  {
    "id": "be1025049e5386e3",
    "type": "change",
    "z": "ecbd17e87fcc158a",
    "name": "on",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "open",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 200,
    "wires": [
      [
        "9d253bda249c54f9",
        "641dccbf6f8208ce",
        "b8e2bf300f26f59d"
      ]
    ]
  },
  {
    "id": "fa52dfb73465870a",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Party Mode?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1350,
    "y": 160,
    "wires": [
      [
        "07a25a2deaab313c"
      ],
      []
    ]
  },
  {
    "id": "cc2eda96a2201198",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "2",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 990,
    "y": 560,
    "wires": [
      [
        "d814a9183efeac9d"
      ]
    ]
  },
  {
    "id": "83f7bbff63482710",
    "type": "change",
    "z": "ecbd17e87fcc158a",
    "name": "Front Ring",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Server door open",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2350,
    "y": 540,
    "wires": [
      [
        "fecc01ca46a98ae3"
      ]
    ]
  },
  {
    "id": "d814a9183efeac9d",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "num",
    "op2type": "str",
    "duration": "-5",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 1170,
    "y": 560,
    "wires": [
      [
        "d42b6fb4393a1abe"
      ]
    ]
  },
  {
    "id": "912b80f94a088a9c",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Patio Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.patio"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1760,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "0f5c1fb35fb8e425",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "3",
    "extend": false,
    "units": "min",
    "reset": "open",
    "bytopic": "all",
    "outputs": 1,
    "x": 1310,
    "y": 480,
    "wires": [
      [
        "38026934af438d84"
      ]
    ]
  },
  {
    "id": "fb351fa522c14669",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "light.patio",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 1110,
    "y": 480,
    "wires": [
      [
        "0f5c1fb35fb8e425"
      ],
      []
    ]
  },
  {
    "id": "15c8c28a2d0c6d6b",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "Door Server",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_server_door_contact",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 590,
    "y": 160,
    "wires": [
      [
        "81b7a07f10ff3da1"
      ],
      [
        "be1025049e5386e3"
      ]
    ]
  },
  {
    "id": "20b9ce12dbbfcdc6",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "Door Server",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_server_door_contact",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "(on|off)",
    "halt_if_type": "re",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 750,
    "y": 560,
    "wires": [
      [
        "cc2eda96a2201198",
        "512fdf4d314eb48f"
      ],
      []
    ]
  },
  {
    "id": "d42b6fb4393a1abe",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Aerating?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.aerating_appartment",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1340,
    "y": 560,
    "wires": [
      [
        "94da865e35ea4a2f"
      ],
      []
    ]
  },
  {
    "id": "3f43113a52aa83e2",
    "type": "function",
    "z": "ecbd17e87fcc158a",
    "name": " Set payload for assistant relay",
    "func": "var msg = {\n    \"payload\": \n{\n    \"command\": msg.message,\n    \"broadcast\": true,\n    \"converse\": false\n}\n\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1270,
    "y": 840,
    "wires": [
      [
        "706291c133653e88"
      ]
    ]
  },
  {
    "id": "706291c133653e88",
    "type": "http request",
    "z": "ecbd17e87fcc158a",
    "name": "POST request",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.15:3000/api/assistant",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 1500,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "beeceaf7551b5aaf",
    "type": "change",
    "z": "ecbd17e87fcc158a",
    "name": "Front Ring",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Server door open",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1010,
    "y": 820,
    "wires": [
      [
        "3f43113a52aa83e2"
      ]
    ]
  },
  {
    "id": "c05d08be63ac4d0a",
    "type": "inject",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 780,
    "y": 820,
    "wires": [
      [
        "beeceaf7551b5aaf"
      ]
    ]
  },
  {
    "id": "77b68da758e324f2",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "vacuum",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "docked",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "vacuum.xiaomi_vacuum_cleaner",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1600,
    "y": 520,
    "wires": [
      [
        "ac225528acebd59a"
      ],
      []
    ]
  },
  {
    "id": "ac225528acebd59a",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Occupancy Patio",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_patio_motion_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1790,
    "y": 560,
    "wires": [
      [
        "3a1728e4ec7c8034"
      ],
      []
    ]
  },
  {
    "id": "91951a2f13b210be",
    "type": "change",
    "z": "ecbd17e87fcc158a",
    "name": "Front Ring",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "Server door open",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3150,
    "y": 600,
    "wires": [
      [
        "fecc01ca46a98ae3"
      ]
    ]
  },
  {
    "id": "3a1728e4ec7c8034",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Temp",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "17",
    "halt_if_type": "num",
    "halt_if_compare": "lt",
    "entity_id": "sensor.sensor_outside_temperature_temperature",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1970,
    "y": 560,
    "wires": [
      [
        "ac26ace8e3045c0d"
      ],
      [
        "9837d4c3db8cb32d"
      ]
    ]
  },
  {
    "id": "9837d4c3db8cb32d",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "60",
    "extend": false,
    "units": "min",
    "reset": "off",
    "bytopic": "all",
    "outputs": 1,
    "x": 2150,
    "y": 580,
    "wires": [
      [
        "ceb1923b2e9244c7"
      ]
    ]
  },
  {
    "id": "8de9ec55d350126b",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "Door Server",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_server_door_contact",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 1970,
    "y": 600,
    "wires": [
      [
        "9837d4c3db8cb32d"
      ],
      []
    ]
  },
  {
    "id": "512fdf4d314eb48f",
    "type": "switch",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 990,
    "y": 520,
    "wires": [
      [
        "d814a9183efeac9d"
      ]
    ]
  },
  {
    "id": "94da865e35ea4a2f",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Motion",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_server_workstation_motion_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1470,
    "y": 560,
    "wires": [
      [
        "77b68da758e324f2"
      ],
      []
    ]
  },
  {
    "id": "363e437bccdc57b7",
    "type": "link out",
    "z": "ecbd17e87fcc158a",
    "name": "Light and Speakers",
    "links": [
      "45904ca6429d867d",
      "ad88dbd2.4726b8",
      "3405e943.fd3ee6",
      "9cf42cf7ef60f645"
    ],
    "x": 2615,
    "y": 480,
    "wires": []
  },
  {
    "id": "aed17becf9d2b3b6",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "aerating",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.aerating_appartment",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 1980,
    "y": 640,
    "wires": [
      [
        "9837d4c3db8cb32d"
      ],
      []
    ]
  },
  {
    "id": "ac26ace8e3045c0d",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Aerating?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.aerating_appartment",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2140,
    "y": 540,
    "wires": [
      [
        "83f7bbff63482710"
      ],
      []
    ]
  },
  {
    "id": "b8817b9460610772",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Aerating?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.aerating_appartment",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3000,
    "y": 600,
    "wires": [
      [
        "91951a2f13b210be"
      ],
      []
    ]
  },
  {
    "id": "efcdbfba4761cb6c",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "Quiet time",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_patio",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 720,
    "y": 680,
    "wires": [
      [
        "0146b1fcea8616ab"
      ],
      []
    ]
  },
  {
    "id": "0146b1fcea8616ab",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Patio Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.patio_lights"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 900,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "9d253bda249c54f9",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "20",
    "extend": false,
    "units": "min",
    "reset": "open",
    "bytopic": "all",
    "outputs": 1,
    "x": 950,
    "y": 160,
    "wires": [
      [
        "641dccbf6f8208ce"
      ]
    ]
  },
  {
    "id": "fa4167fc7ff0e0d1",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Party?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2790,
    "y": 600,
    "wires": [
      [
        "b8817b9460610772"
      ],
      []
    ]
  },
  {
    "id": "bfe85bb32665b694",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "CpuTemp",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "70",
    "halt_if_type": "num",
    "halt_if_compare": "lt",
    "entity_id": "sensor.proxmox_tdie_temperature",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2580,
    "y": 620,
    "wires": [
      [
        "fa4167fc7ff0e0d1"
      ],
      []
    ]
  },
  {
    "id": "df892cdd6477b892",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "CPU TEMP",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.proxmox_tdie_temperature",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "74",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 470,
    "y": 1040,
    "wires": [
      [
        "3448f336b45086dc"
      ],
      [
        "c053e7008fb02cde"
      ]
    ]
  },
  {
    "id": "81f6cf5ef100fdde",
    "type": "function",
    "z": "ecbd17e87fcc158a",
    "name": "Javascript",
    "func": "var newMsg = {\n \"payload\": {\n  \"data\": {\n  \"message\": \"Server over 74C\"\n}\n }\n};\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1340,
    "y": 1040,
    "wires": [
      [
        "964115b6094ff83d"
      ]
    ]
  },
  {
    "id": "964115b6094ff83d",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "notify",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1500,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "3448f336b45086dc",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 890,
    "y": 1040,
    "wires": [
      [
        "037a4ac433c674c4"
      ]
    ]
  },
  {
    "id": "c053e7008fb02cde",
    "type": "change",
    "z": "ecbd17e87fcc158a",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 1100,
    "wires": [
      [
        "3448f336b45086dc"
      ]
    ]
  },
  {
    "id": "037a4ac433c674c4",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "pay",
    "op2type": "str",
    "duration": "60",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 1130,
    "y": 1040,
    "wires": [
      [
        "81f6cf5ef100fdde"
      ]
    ]
  },
  {
    "id": "ceb1923b2e9244c7",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Temp",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "23",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "sensor.sensor_outside_temperature_temperature",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2290,
    "y": 580,
    "wires": [
      [
        "9314613a3dfee599"
      ],
      [
        "bfe85bb32665b694"
      ]
    ]
  },
  {
    "id": "9314613a3dfee599",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "patio door",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.sensor_patio_door_contact",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2440,
    "y": 580,
    "wires": [
      [
        "fa4167fc7ff0e0d1"
      ],
      [
        "bfe85bb32665b694"
      ]
    ]
  },
  {
    "id": "768e0785db3860e6",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Server Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.server_workstation_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 840,
    "y": 1460,
    "wires": [
      []
    ]
  },
  {
    "id": "24d1f0bd057db37b",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Server Light On",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.server_workstation_light"
    ],
    "data": "{\"color_name\":\"white\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 840,
    "y": 1420,
    "wires": [
      []
    ]
  },
  {
    "id": "2eb1ae02da3137af",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "Server Worksation",
    "info": "",
    "x": 650,
    "y": 1380,
    "wires": []
  },
  {
    "id": "0d58453903b43d98",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "Motion ",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sensor_server_workstation_motion_occupancy",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 470,
    "y": 1420,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "9b09b5ece3546f35",
    "type": "function",
    "z": "ecbd17e87fcc158a",
    "name": "Time",
    "func": "var d = new Date();\nvar h = d.getHours();\n\nif (h > 22){\n    var brightness = \"80\";\n}\nelse if (h >= 0 && h <= 2 ){\n    var brightness = \"75\";\n}\nelse if (h>2 && h<7){\n    var brightness = \"50\";\n}\nelse{\n    var brightness = \"100\";\n}\n\nvar newMsg = \n\n{ \n    \"payload\": {\n                data: {\n                         \"brightness_pct\": brightness,\n                         \"effect\": \"colorloop\",\n                         \"color_name\": \"red\"\n                    \n                }\n               } \n};\nreturn newMsg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1710,
    "y": 1240,
    "wires": [
      [
        "b2c67a9a5188d12b"
      ]
    ]
  },
  {
    "id": "b2c67a9a5188d12b",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Server Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.server_workstation_light"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1875,
    "y": 1239.6666259765625,
    "wires": [
      []
    ]
  },
  {
    "id": "3075072bdf185a49",
    "type": "inject",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1520,
    "y": 1220,
    "wires": [
      [
        "9b09b5ece3546f35"
      ]
    ]
  },
  {
    "id": "07a25a2deaab313c",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Kink?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1510,
    "y": 160,
    "wires": [
      [
        "26f076dbb390e569"
      ],
      []
    ]
  },
  {
    "id": "38026934af438d84",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Kink?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.kink_party",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1470,
    "y": 480,
    "wires": [
      [
        "01bbef962d79c72a"
      ],
      []
    ]
  },
  {
    "id": "fecc01ca46a98ae3",
    "type": "subflow:233ac7dcd801a802",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "x": 3210,
    "y": 480,
    "wires": []
  },
  {
    "id": "26f076dbb390e569",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "psychs",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1690,
    "y": 160,
    "wires": [
      [
        "21e7d888746d39b3"
      ],
      []
    ]
  },
  {
    "id": "01bbef962d79c72a",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "psychs",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1590,
    "y": 480,
    "wires": [
      [
        "912b80f94a088a9c"
      ],
      []
    ]
  },
  {
    "id": "21ef99190a729577",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.sleeper_in_patio",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 1620,
    "y": 2420,
    "wires": [
      [
        "e62aeae796047b43"
      ],
      [
        "0c31099ba5f7510b"
      ]
    ]
  },
  {
    "id": "8b81a478ae9382b7",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "toggle",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.sleeper_in_patio"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1290,
    "y": 2420,
    "wires": [
      []
    ]
  },
  {
    "id": "0c31099ba5f7510b",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Patio lights off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_patio_lights"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1940,
    "y": 2440,
    "wires": [
      []
    ]
  },
  {
    "id": "26c4484a88c117cc",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.remote_patio_quiet_button_action",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 690,
    "y": 2420,
    "wires": [
      [
        "26344d790c75554d",
        "51b6bab30611571b"
      ]
    ]
  },
  {
    "id": "26344d790c75554d",
    "type": "debug",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 2240,
    "wires": []
  },
  {
    "id": "51b6bab30611571b",
    "type": "switch",
    "z": "ecbd17e87fcc158a",
    "name": "click = off ( double) ",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1030,
    "y": 2420,
    "wires": [
      [
        "8b81a478ae9382b7"
      ]
    ],
    "info": "Just expand the flow.count to how ever many\npresses you want/need."
  },
  {
    "id": "e62aeae796047b43",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Patio lights on",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "switch.plug_patio_lights"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1940,
    "y": 2400,
    "wires": [
      []
    ]
  },
  {
    "id": "b6ee0ccf52b87e94",
    "type": "change",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "action",
        "pt": "msg",
        "to": "payload.action",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 2860,
    "wires": [
      [
        "63eb0e0dc4d5d6da",
        "d716521c052172de"
      ]
    ]
  },
  {
    "id": "6562f5605735a2a9",
    "type": "mqtt in",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "topic": "zigbee2mqtt/remote_patio_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 2860,
    "wires": [
      [
        "b6ee0ccf52b87e94",
        "ca64edb5b173c13c"
      ]
    ]
  },
  {
    "id": "ca64edb5b173c13c",
    "type": "debug",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 2740,
    "wires": []
  },
  {
    "id": "63eb0e0dc4d5d6da",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "chromecast",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.patio_chromecast",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 730,
    "y": 2860,
    "wires": [
      [
        "83f58e618809fa29"
      ],
      [
        "536646e1e944cba7"
      ]
    ]
  },
  {
    "id": "83f58e618809fa29",
    "type": "switch",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 2820,
    "wires": [
      [
        "a5636fb5f5e318ca"
      ]
    ]
  },
  {
    "id": "a5636fb5f5e318ca",
    "type": "switch",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "rotate_right",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "rotate_left",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_forward",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_backward",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 1160,
    "y": 2820,
    "wires": [
      [
        "a83887198e964a70"
      ],
      [
        "df8dabbacdd1617e"
      ],
      [
        "69bcccd284e5aa23"
      ],
      [
        "73a4def35add148e",
        "d716521c052172de"
      ],
      [
        "198cfbae6d03120b"
      ]
    ]
  },
  {
    "id": "a83887198e964a70",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1400,
    "y": 2760,
    "wires": [
      []
    ]
  },
  {
    "id": "df8dabbacdd1617e",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_play_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1420,
    "y": 2820,
    "wires": [
      []
    ]
  },
  {
    "id": "69bcccd284e5aa23",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_down",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1400,
    "y": 2860,
    "wires": [
      []
    ]
  },
  {
    "id": "73a4def35add148e",
    "type": "switch",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "property": "entity.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1310,
    "y": 2900,
    "wires": [
      [
        "e7bec832ab4b73b9"
      ],
      [
        "2d6073a40141b94b"
      ]
    ]
  },
  {
    "id": "e7bec832ab4b73b9",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": 1}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1590,
    "y": 2900,
    "wires": [
      []
    ]
  },
  {
    "id": "2d6073a40141b94b",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": 0}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1590,
    "y": 2940,
    "wires": [
      []
    ]
  },
  {
    "id": "d716521c052172de",
    "type": "debug",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 3020,
    "wires": []
  },
  {
    "id": "536646e1e944cba7",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "speaker",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.server_speaker",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 900,
    "y": 2860,
    "wires": [
      [
        "83f58e618809fa29"
      ]
    ]
  },
  {
    "id": "198cfbae6d03120b",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_next_track",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1410,
    "y": 2980,
    "wires": [
      []
    ]
  },
  {
    "id": "5dbdedf5449893d5",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.patio_chromecast",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 260,
    "y": 2600,
    "wires": [
      [
        "5f784f5a63633f60",
        "b66503f9cdfabcb5"
      ],
      [
        "46ac55ae5cd1896a"
      ]
    ]
  },
  {
    "id": "3cc32dc5d0103924",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.server_speaker"
    ],
    "data": "{ \"is_volume_muted\": 1}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 810,
    "y": 2540,
    "wires": [
      []
    ]
  },
  {
    "id": "46ac55ae5cd1896a",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "unmute",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.server_speaker"
    ],
    "data": "{ \"is_volume_muted\": 0}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 680,
    "y": 2640,
    "wires": [
      []
    ]
  },
  {
    "id": "5f784f5a63633f60",
    "type": "switch",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "property": "entity.new_state.attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 550,
    "y": 2560,
    "wires": [
      [
        "3cc32dc5d0103924"
      ],
      [
        "46ac55ae5cd1896a"
      ]
    ]
  },
  {
    "id": "b66503f9cdfabcb5",
    "type": "debug",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 2660,
    "wires": []
  },
  {
    "id": "9876acab29422d70",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "NOtif light on",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "light.patio_notification_light",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 750,
    "y": 760,
    "wires": [
      [
        "2896b9c73ec534f0"
      ],
      []
    ]
  },
  {
    "id": "b61ef4e79f387024",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "Patio Light Off",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.patio_notification_light"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1160,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "2896b9c73ec534f0",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 950,
    "y": 760,
    "wires": [
      [
        "b61ef4e79f387024"
      ]
    ]
  },
  {
    "id": "9da2fb699db937af",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "Noise",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.sound_detected_binary",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 310,
    "y": 3400,
    "wires": [
      [
        "2f63b042f67c086c"
      ],
      [
        "2fd34c887990c844"
      ]
    ]
  },
  {
    "id": "5702a016541fe225",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 710,
    "y": 3380,
    "wires": [
      [
        "f66ea2f2c2ecc738"
      ]
    ]
  },
  {
    "id": "2fd34c887990c844",
    "type": "change",
    "z": "ecbd17e87fcc158a",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 3440,
    "wires": [
      [
        "5702a016541fe225",
        "f66ea2f2c2ecc738"
      ]
    ]
  },
  {
    "id": "50ad86f7c9b0b821",
    "type": "api-call-service",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "tts",
    "service": "google_translate_say",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.patio_chromecast"
    ],
    "data": "{\"message\": \"Hey kids, Kindly Lower the Volume\"}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1600,
    "y": 3380,
    "wires": [
      []
    ]
  },
  {
    "id": "3645671b810d01cd",
    "type": "inject",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 720,
    "y": 3300,
    "wires": [
      [
        "5702a016541fe225"
      ]
    ]
  },
  {
    "id": "f66ea2f2c2ecc738",
    "type": "trigger",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-1",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 950,
    "y": 3380,
    "wires": [
      [
        "68d4cfb18d24db5a"
      ]
    ]
  },
  {
    "id": "63ab36591461142a",
    "type": "server-state-changed",
    "z": "ecbd17e87fcc158a",
    "name": "Noise lvl",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.sound_level_averaged",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "0.08",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 320,
    "y": 3360,
    "wires": [
      [
        "2f63b042f67c086c"
      ],
      []
    ]
  },
  {
    "id": "68d4cfb18d24db5a",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Party?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1150,
    "y": 3380,
    "wires": [
      [
        "ac87f2179b16fd67"
      ],
      []
    ]
  },
  {
    "id": "ac87f2179b16fd67",
    "type": "api-current-state",
    "z": "ecbd17e87fcc158a",
    "name": "Occupied?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.patio_occupancy",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "payload.data.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1350,
    "y": 3380,
    "wires": [
      [
        "50ad86f7c9b0b821"
      ],
      []
    ]
  },
  {
    "id": "c5b5b315321e59c0",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "info": "",
    "x": 540,
    "y": 140,
    "wires": []
  },
  {
    "id": "b498f36aa34de311",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "info": "",
    "x": 700,
    "y": 540,
    "wires": []
  },
  {
    "id": "b8bfb1195c944781",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "info": "",
    "x": 460,
    "y": 640,
    "wires": []
  },
  {
    "id": "9560c9300e4e1c3e",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "info": "",
    "x": 540,
    "y": 720,
    "wires": []
  },
  {
    "id": "d03b87288849d7e5",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "info": "",
    "x": 480,
    "y": 1000,
    "wires": []
  },
  {
    "id": "832f37ab0293f84f",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "info": "",
    "x": 420,
    "y": 1340,
    "wires": []
  },
  {
    "id": "8bcfd0e8727359b3",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "info": "",
    "x": 280,
    "y": 2520,
    "wires": []
  },
  {
    "id": "dc31e2d5bd757315",
    "type": "comment",
    "z": "ecbd17e87fcc158a",
    "name": "",
    "info": "",
    "x": 320,
    "y": 2860,
    "wires": []
  }
]