node-red/flows/subflow testing.json
[
  {
    "id": "60d15080ad880ed5",
    "type": "tab",
    "label": "subflow testing",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8d7549550611cb06",
    "type": "junction",
    "z": "60d15080ad880ed5",
    "x": 1700,
    "y": 920,
    "wires": [
      [
        "8426df596c13d4de",
        "be1856fa89c02c1c"
      ]
    ]
  },
  {
    "id": "aa81cc5ee75d6c63",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "cast to display",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.living_room_tv"
    ],
    "data": "{\"media_content_type\":\"image\",\"media_content_id\":\"http://192.168.0.15:8123/local/reolink.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 820,
    "y": 1000,
    "wires": [
      [
        "73ce0a9ed9c98f8f"
      ]
    ]
  },
  {
    "id": "73ce0a9ed9c98f8f",
    "type": "trigger",
    "z": "60d15080ad880ed5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "num",
    "duration": "20",
    "extend": false,
    "units": "s",
    "reset": "closed",
    "bytopic": "all",
    "outputs": 1,
    "x": 1010,
    "y": 1000,
    "wires": [
      [
        "cc7881c3657ee8e1"
      ]
    ]
  },
  {
    "id": "cc7881c3657ee8e1",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "change source",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "select_source",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.living_room_lg"
    ],
    "data": "{\"source\":\"HDMI 2\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1180,
    "y": 1000,
    "wires": [
      []
    ]
  },
  {
    "id": "c710a60112927245",
    "type": "api-current-state",
    "z": "60d15080ad880ed5",
    "name": "Living Room  TV?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.living_room_tv",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 270,
    "y": 980,
    "wires": [
      [
        "89582a6e689437b6"
      ],
      [
        "92e9d937121cce70"
      ]
    ]
  },
  {
    "id": "89582a6e689437b6",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 480,
    "y": 960,
    "wires": [
      [
        "4bfc8ef846a9971f"
      ]
    ]
  },
  {
    "id": "4bfc8ef846a9971f",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "pause living room tv",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "media_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"entity_id\":\"media_player.living_room_tv\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 680,
    "y": 960,
    "wires": [
      []
    ]
  },
  {
    "id": "92e9d937121cce70",
    "type": "api-current-state",
    "z": "60d15080ad880ed5",
    "name": "Living Room LG?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.living_room_lg",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 490,
    "y": 1000,
    "wires": [
      [
        "086c4b2caa05f483"
      ]
    ]
  },
  {
    "id": "086c4b2caa05f483",
    "type": "switch",
    "z": "60d15080ad880ed5",
    "name": "",
    "property": "payload.attributes.source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "HDMI 2",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "HDMI 2",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 1000,
    "wires": [
      [
        "aa81cc5ee75d6c63"
      ],
      [
        "6e209500758d0fbb"
      ]
    ]
  },
  {
    "id": "6e209500758d0fbb",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "cast to display",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.living_room_tv"
    ],
    "data": "{\"media_content_type\":\"image\",\"media_content_id\":\"https://hass.purgatoire.ca/local/reolink.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 820,
    "y": 1040,
    "wires": [
      [
        "57925d66f1757bcb"
      ]
    ]
  },
  {
    "id": "57925d66f1757bcb",
    "type": "trigger",
    "z": "60d15080ad880ed5",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "num",
    "duration": "20",
    "extend": false,
    "units": "s",
    "reset": "closed",
    "bytopic": "all",
    "outputs": 1,
    "x": 1010,
    "y": 1040,
    "wires": [
      [
        "1093d5b5ae877ab1"
      ]
    ]
  },
  {
    "id": "1093d5b5ae877ab1",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "stop",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_stop",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.living_room_tv"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 1150,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "bbac801cfca12719",
    "type": "inject",
    "z": "60d15080ad880ed5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 80,
    "y": 980,
    "wires": [
      [
        "c710a60112927245"
      ]
    ]
  },
  {
    "id": "be1856fa89c02c1c",
    "type": "subflow:dfb97c6505f003d9",
    "z": "60d15080ad880ed5",
    "name": "",
    "x": 2000,
    "y": 960,
    "wires": []
  },
  {
    "id": "222c6ea37fc5f1fd",
    "type": "inject",
    "z": "60d15080ad880ed5",
    "name": "",
    "props": [
      {
        "p": "color_value",
        "v": "[0,255,0]",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1410,
    "y": 920,
    "wires": [
      [
        "8d7549550611cb06"
      ]
    ]
  },
  {
    "id": "d33f7d1e61b49a33",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3080,
    "y": 900,
    "wires": [
      [
        "af7106e55fc26559"
      ]
    ]
  },
  {
    "id": "6c75e24a2f371759",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2680,
    "y": 900,
    "wires": [
      [
        "b53220987b3f75a3"
      ]
    ]
  },
  {
    "id": "b53220987b3f75a3",
    "type": "template",
    "z": "60d15080ad880ed5",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 2880,
    "y": 900,
    "wires": [
      [
        "d33f7d1e61b49a33"
      ]
    ]
  },
  {
    "id": "6180b4ada706bc70",
    "type": "delay",
    "z": "60d15080ad880ed5",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2500,
    "y": 900,
    "wires": [
      [
        "6c75e24a2f371759"
      ]
    ]
  },
  {
    "id": "8b5fc8b2dddd61a9",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2120,
    "y": 900,
    "wires": [
      [
        "0e26c518c4b7f87f"
      ]
    ]
  },
  {
    "id": "0e26c518c4b7f87f",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2280,
    "y": 900,
    "wires": [
      [
        "6180b4ada706bc70"
      ]
    ]
  },
  {
    "id": "af7106e55fc26559",
    "type": "api-current-state",
    "z": "60d15080ad880ed5",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 3320,
    "y": 900,
    "wires": [
      [
        "e48b0a2a6c0e603e"
      ]
    ]
  },
  {
    "id": "e48b0a2a6c0e603e",
    "type": "switch",
    "z": "60d15080ad880ed5",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3190,
    "y": 860,
    "wires": [
      [
        "d33f7d1e61b49a33"
      ]
    ]
  },
  {
    "id": "0cdd0984f0759061",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 1300,
    "wires": []
  },
  {
    "id": "8426df596c13d4de",
    "type": "api-current-state",
    "z": "60d15080ad880ed5",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1940,
    "y": 900,
    "wires": [
      [
        "8b5fc8b2dddd61a9"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "f7f702600182309f",
    "type": "inject",
    "z": "60d15080ad880ed5",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "str",
    "x": 490,
    "y": 1180,
    "wires": [
      [
        "4c4ce8679c935e51"
      ]
    ]
  },
  {
    "id": "59e7c8fdee91b212",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "delete",
        "p": "payload.data.brightness",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "entity_inital.attributes.rgb_color",
        "pt": "msg",
        "to": "payload.data.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "data.entity_id",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_inital.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "entity_inital",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1820,
    "y": 1060,
    "wires": [
      []
    ]
  },
  {
    "id": "be8acf73221c1b19",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1710,
    "y": 1040,
    "wires": []
  },
  {
    "id": "303a3c5c50022a22",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1990,
    "y": 1040,
    "wires": []
  },
  {
    "id": "4961393dfa77fc29",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "delete",
        "p": "payload.data.brightness",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "entity_inital.attributes.rgb_color",
        "pt": "msg",
        "to": "payload.data.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_initial.entity_id",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_inital.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "entity_inital",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1820,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "4c4ce8679c935e51",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "Set Data for light alert",
    "rules": [
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,255,0]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "this is a test",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 1180,
    "wires": [
      [
        "7b1ae33189e60228"
      ]
    ]
  },
  {
    "id": "7b1ae33189e60228",
    "type": "subflow:233ac7dcd801a802",
    "z": "60d15080ad880ed5",
    "name": "",
    "x": 930,
    "y": 1180,
    "wires": []
  },
  {
    "id": "ad0f7b2d36c619f1",
    "type": "switch",
    "z": "60d15080ad880ed5",
    "name": "",
    "property": "message",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 810,
    "y": 1700,
    "wires": [
      [
        "09feb048bb363c03"
      ]
    ]
  },
  {
    "id": "652818978159b5a1",
    "type": "trigger",
    "z": "60d15080ad880ed5",
    "name": "MEssage fuse",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 580,
    "y": 1700,
    "wires": [
      [
        "ad0f7b2d36c619f1"
      ]
    ]
  },
  {
    "id": "11c9492a3ef65fc0",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "play media",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "tts",
    "service": "google_translate_say",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.group_home_speakers",
      "media_player.group_home_speakers"
    ],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1630,
    "y": 2280,
    "wires": [
      []
    ]
  },
  {
    "id": "ed8c945d46b67b07",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "Set Data for mass alert",
    "rules": [
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "testing alerts",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "color_value",
        "pt": "msg",
        "to": "[0,0,255]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "dbrigthness",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "video",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 1460,
    "wires": [
      [
        "6b5b11bea220d3eb"
      ]
    ]
  },
  {
    "id": "c6344df5235a60a4",
    "type": "inject",
    "z": "60d15080ad880ed5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 1460,
    "wires": [
      [
        "ed8c945d46b67b07"
      ]
    ]
  },
  {
    "id": "67f34e4b412cdbe1",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1370,
    "y": 2240,
    "wires": []
  },
  {
    "id": "4f4afa06302200e9",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "Set message",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.message",
        "pt": "msg",
        "to": "message",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1130,
    "y": 2280,
    "wires": [
      [
        "11c9492a3ef65fc0",
        "67f34e4b412cdbe1"
      ]
    ]
  },
  {
    "id": "09feb048bb363c03",
    "type": "function",
    "z": "60d15080ad880ed5",
    "name": " Set payload for play media ",
    "func": "var msg = {\n    \"payload\": {\n      \"message\": msg.message\n}\n\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1160,
    "y": 1580,
    "wires": [
      [
        "b33b62e88fc77332"
      ]
    ]
  },
  {
    "id": "b33b62e88fc77332",
    "type": "http request",
    "z": "60d15080ad880ed5",
    "name": "POST request",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.14:8085/broadcast",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 1480,
    "y": 1580,
    "wires": [
      [
        "48d1de5a66fe3a06"
      ]
    ]
  },
  {
    "id": "48d1de5a66fe3a06",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1690,
    "y": 1580,
    "wires": []
  },
  {
    "id": "6d2299d0388ebbf2",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "play visuals",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.bedroom_chromecast"
    ],
    "data": "{\"media_content_id\":\"jellyfin://{ \\\"title\\\": \\\"Forest Gump\\\" }\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 650,
    "y": 2060,
    "wires": [
      []
    ]
  },
  {
    "id": "e6585439391aca1b",
    "type": "inject",
    "z": "60d15080ad880ed5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 2080,
    "wires": [
      [
        "6d2299d0388ebbf2"
      ]
    ]
  },
  {
    "id": "6b5b11bea220d3eb",
    "type": "ha-get-entities",
    "z": "60d15080ad880ed5",
    "name": "Get Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "^light.*[a-z].*(?<!s)$",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is_not",
        "value": "unavailable",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 690,
    "y": 1460,
    "wires": [
      [
        "92b0b1407620f85f"
      ]
    ]
  },
  {
    "id": "92b0b1407620f85f",
    "type": "switch",
    "z": "60d15080ad880ed5",
    "name": "Check color support",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "xy",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 940,
    "y": 1460,
    "wires": [
      [
        "d381e97329e6ef70"
      ]
    ]
  },
  {
    "id": "d381e97329e6ef70",
    "type": "switch",
    "z": "60d15080ad880ed5",
    "name": "Check initial light state",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1220,
    "y": 1460,
    "wires": [
      [
        "53c674301a0a2c44"
      ],
      [
        "66053ed75200fe0b"
      ]
    ]
  },
  {
    "id": "2c01270cd7ece713",
    "type": "comment",
    "z": "60d15080ad880ed5",
    "name": "Pull all individual lights",
    "info": "",
    "x": 700,
    "y": 1420,
    "wires": []
  },
  {
    "id": "7936d2da68036493",
    "type": "comment",
    "z": "60d15080ad880ed5",
    "name": "Check if they support color",
    "info": "",
    "x": 950,
    "y": 1420,
    "wires": []
  },
  {
    "id": "d7063b9d3964f17a",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1680,
    "y": 1420,
    "wires": [
      [
        "e2741e1d14fbc480"
      ]
    ]
  },
  {
    "id": "53c674301a0a2c44",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "Set desired Values",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 1420,
    "wires": [
      [
        "d7063b9d3964f17a"
      ]
    ]
  },
  {
    "id": "64b3e9d7919fccc1",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "Set Initial color",
    "rules": [
      {
        "t": "delete",
        "p": "payload.data.brightness_pct",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "payload.attributes.rgb_color",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "payload.attributes.brightness",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2160,
    "y": 1420,
    "wires": [
      [
        "d1c74c92d8b884d1"
      ]
    ]
  },
  {
    "id": "d1c74c92d8b884d1",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2380,
    "y": 1420,
    "wires": [
      []
    ]
  },
  {
    "id": "e2741e1d14fbc480",
    "type": "delay",
    "z": "60d15080ad880ed5",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1940,
    "y": 1420,
    "wires": [
      [
        "64b3e9d7919fccc1"
      ]
    ]
  },
  {
    "id": "471d148223611eac",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1680,
    "y": 1500,
    "wires": [
      [
        "4006deb6767c7ac9"
      ]
    ]
  },
  {
    "id": "66053ed75200fe0b",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "Set desired Values",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 1500,
    "wires": [
      [
        "471d148223611eac"
      ]
    ]
  },
  {
    "id": "cde3dacab7301554",
    "type": "api-call-service",
    "z": "60d15080ad880ed5",
    "name": "Turn off lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2360,
    "y": 1500,
    "wires": [
      []
    ]
  },
  {
    "id": "4006deb6767c7ac9",
    "type": "delay",
    "z": "60d15080ad880ed5",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1940,
    "y": 1500,
    "wires": [
      [
        "1fcdac9ab0cf1f3f"
      ]
    ]
  },
  {
    "id": "1fcdac9ab0cf1f3f",
    "type": "change",
    "z": "60d15080ad880ed5",
    "name": "Set entity",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "delete",
        "p": "payload.data.rgb_color",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload.data.brightness_pct",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2160,
    "y": 1500,
    "wires": [
      [
        "cde3dacab7301554"
      ]
    ]
  },
  {
    "id": "6e2778b658d06197",
    "type": "server-state-changed",
    "z": "60d15080ad880ed5",
    "name": "Motion Kitchen ON",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "group.motion_kitchen_group",
    "entityidfiltertype": "regex",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "sensor",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      },
      {
        "property": "sensorstate",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 210,
    "y": 840,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "ca492510b6db0635",
    "type": "api-current-state",
    "z": "60d15080ad880ed5",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_kitchen_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity.entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 520,
    "y": 840,
    "wires": [
      [
        "9a2813dc56837f7b"
      ],
      []
    ]
  },
  {
    "id": "9a2813dc56837f7b",
    "type": "subflow:cd4b600533b9308c",
    "z": "60d15080ad880ed5",
    "name": "",
    "x": 820,
    "y": 840,
    "wires": []
  },
  {
    "id": "39ad5887f056ac7d",
    "type": "comment",
    "z": "60d15080ad880ed5",
    "name": "Motion group on",
    "info": "",
    "x": 200,
    "y": 800,
    "wires": []
  },
  {
    "id": "160142c2e085fef4",
    "type": "comment",
    "z": "60d15080ad880ed5",
    "name": "Set light",
    "info": "",
    "x": 470,
    "y": 800,
    "wires": []
  },
  {
    "id": "c9c8c07687c1bcd3",
    "type": "comment",
    "z": "60d15080ad880ed5",
    "name": "Send to subflow",
    "info": "",
    "x": 820,
    "y": 800,
    "wires": []
  },
  {
    "id": "405cc909fae99d9e",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1170,
    "y": 700,
    "wires": []
  },
  {
    "id": "ecf585a68fd38734",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 210,
    "y": 700,
    "wires": []
  },
  {
    "id": "cdedcc37df6c93eb",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2050,
    "y": 700,
    "wires": []
  },
  {
    "id": "b4a9eaa2f2ec29a7",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2090,
    "y": 660,
    "wires": []
  },
  {
    "id": "b157de1ed8d94494",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2530,
    "y": 700,
    "wires": []
  },
  {
    "id": "4a67b311648353b8",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3190,
    "y": 680,
    "wires": []
  },
  {
    "id": "40a542aa75e3c089",
    "type": "debug",
    "z": "60d15080ad880ed5",
    "name": "7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2950,
    "y": 720,
    "wires": []
  },
  {
    "id": "f51a64fec283f48b",
    "type": "inject",
    "z": "60d15080ad880ed5",
    "name": "",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "data",
        "v": "{\"event_type\":\"state_changed\",\"entity_id\":\"binary_sensor.sensor_hotbox_exit_motion_occupancy\",\"event\":{\"entity_id\":\"binary_sensor.sensor_hotbox_exit_motion_occupancy\",\"old_state\":{\"entity_id\":\"binary_sensor.sensor_hotbox_exit_motion_occupancy\",\"state\":\"off\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"dateCode\":\"20160524\",\"friendlyName\":\"sensor_hotbox_exit_motion\",\"hardwareVersion\":2,\"ieeeAddr\":\"0x00158d0002c087b5\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":36543,\"powerSource\":\"Battery\",\"softwareBuildID\":\"3000-0001\",\"stackVersion\":2,\"type\":\"EndDevice\",\"zclVersion\":1},\"linkquality\":43,\"occupancy\":true,\"voltage\":3025,\"device_class\":\"motion\",\"friendly_name\":\"sensor_hotbox_exit_motion_occupancy\"},\"last_changed\":\"2022-07-26T20:23:59.903455+00:00\",\"last_updated\":\"2022-07-26T20:42:49.530541+00:00\",\"context\":{\"id\":\"01G8Y3YYSTXRNQ9ZF613DY6W5N\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"off\"},\"new_state\":{\"entity_id\":\"binary_sensor.sensor_hotbox_exit_motion_occupancy\",\"state\":\"off\",\"attributes\":{\"battery\":100,\"device\":{\"applicationVersion\":11,\"dateCode\":\"20160524\",\"friendlyName\":\"sensor_hotbox_exit_motion\",\"hardwareVersion\":2,\"ieeeAddr\":\"0x00158d0002c087b5\",\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"RTCGQ01LM\",\"networkAddress\":36543,\"powerSource\":\"Battery\",\"softwareBuildID\":\"3000-0001\",\"stackVersion\":2,\"type\":\"EndDevice\",\"zclVersion\":1},\"linkquality\":43,\"occupancy\":true,\"voltage\":3025,\"device_class\":\"motion\",\"friendly_name\":\"sensor_hotbox_exit_motion_occupancy\"},\"last_changed\":\"2022-07-26T20:42:49.530862+00:00\",\"last_updated\":\"2022-07-26T20:42:49.530862+00:00\",\"context\":{\"id\":\"01G8Y3YYSTC5JNKK4JCEF1WQNQ\",\"parent_id\":null,\"user_id\":null},\"original_state\":\"on\",\"timeSinceChangedMs\":9}},\"origin\":\"LOCAL\",\"time_fired\":\"2022-07-26T20:42:49.530862+00:00\",\"context\":{\"id\":\"01G8Y3YYSTC5JNKK4JCEF1WQNQ\",\"parent_id\":null,\"user_id\":null}}",
        "vt": "json"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "binary_sensor.sensor_hotbox_exit_motion_occupancy",
    "payload": "off",
    "payloadType": "str",
    "x": 870,
    "y": 700,
    "wires": [
      [
        "ecf585a68fd38734"
      ]
    ]
  },
  {
    "id": "0e0e624ef3ca7559",
    "type": "inject",
    "z": "60d15080ad880ed5",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "12345",
    "payloadType": "str",
    "x": 430,
    "y": 1300,
    "wires": [
      [
        "efd8d877e675377d"
      ]
    ]
  },
  {
    "id": "efd8d877e675377d",
    "type": "function",
    "z": "60d15080ad880ed5",
    "name": "function 1",
    "func": "var number = msg.payload;   // Change this \"msg.payload\" to whatever you need\n\nvar number_end = (number / 1000).toFixed(1);\n\n\nvar msg = {\n    \"payload\": {\n        \"number\": number_end\n    }\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 1300,
    "wires": [
      [
        "0cdd0984f0759061"
      ]
    ]
  }
]