node-red/flows/test light.json
[
  {
    "id": "5f920ffe83bd9adf",
    "type": "tab",
    "label": "test light",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4d6da45af0289951",
    "type": "inject",
    "z": "5f920ffe83bd9adf",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 80,
    "y": 160,
    "wires": [
      [
        "99eca477a2993a1a"
      ]
    ]
  },
  {
    "id": "99eca477a2993a1a",
    "type": "api-call-service",
    "z": "5f920ffe83bd9adf",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": true,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "light.living_room_window"
    ],
    "data": "{\"color_name\": \"red\" }",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 270,
    "y": 160,
    "wires": [
      [
        "e40c56b6636cbb10"
      ]
    ]
  },
  {
    "id": "e40c56b6636cbb10",
    "type": "debug",
    "z": "5f920ffe83bd9adf",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 430,
    "y": 160,
    "wires": []
  }
]