node-red/flows/test.json
[
  {
    "id": "666f64b87ddc48a7",
    "type": "tab",
    "label": "test",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d3f50841c197172b",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1010,
    "y": 980,
    "wires": [
      [
        "b86acc1242fde04d"
      ]
    ]
  },
  {
    "id": "9c5e34bd3f7d518e",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1150,
    "y": 940,
    "wires": [
      [
        "406fa8a8e97a3295"
      ]
    ]
  },
  {
    "id": "406fa8a8e97a3295",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1310,
    "y": 960,
    "wires": [
      [
        "f8d9c3dd34151818"
      ]
    ]
  },
  {
    "id": "844393205939ad55",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1010,
    "y": 1060,
    "wires": [
      [
        "87c7a55fa57cbabf"
      ]
    ]
  },
  {
    "id": "aa0122737509c6fc",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 990,
    "y": 1020,
    "wires": [
      [
        "88b10389f6548132"
      ]
    ]
  },
  {
    "id": "9c1a91c047dcd429",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1250,
    "y": 1020,
    "wires": [
      [
        "c76d55840f276476"
      ]
    ]
  },
  {
    "id": "4f95f32186f6bb15",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1610,
    "y": 1060,
    "wires": [
      [
        "cd18b173fc618309"
      ]
    ]
  },
  {
    "id": "87c7a55fa57cbabf",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1250,
    "y": 1060,
    "wires": [
      [
        "40474d998686368b"
      ]
    ]
  },
  {
    "id": "3c2ed831098ee12d",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1510,
    "y": 1060,
    "wires": [
      [
        "4f95f32186f6bb15"
      ]
    ]
  },
  {
    "id": "c63977aa6eb88db6",
    "type": "junction",
    "z": "666f64b87ddc48a7",
    "x": 1930,
    "y": 960,
    "wires": [
      [
        "6929e531e3c5a8ea"
      ]
    ]
  },
  {
    "id": "76f4df1a17d50f22",
    "type": "function",
    "z": "666f64b87ddc48a7",
    "name": "Extract room from dial mqtt name and set regex to find chromecast playing",
    "func": "var group_light_entity_id = msg.payload.device.friendlyName; // light group\nvar room = group_light_entity_id.replace(\"remote_\", \"\").replace(\"_dial\", \"\");\nvar action = msg.payload.action\n\nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': \"media_player.\" + room + \"_chromecast\" ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is' , 'value': \"playing\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\n     \"action\": action,\n     \"room\": room\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 960,
    "wires": [
      [
        "b2e0769320cf1a45"
      ]
    ]
  },
  {
    "id": "b2e0769320cf1a45",
    "type": "ha-get-entities",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 700,
    "y": 960,
    "wires": [
      [
        "7d14cd218af3b9e3"
      ]
    ]
  },
  {
    "id": "7d14cd218af3b9e3",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "Device present?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 870,
    "y": 960,
    "wires": [
      [
        "7e75e7741c2f50f9"
      ],
      [
        "d3f50841c197172b"
      ]
    ]
  },
  {
    "id": "7e75e7741c2f50f9",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "muted?",
    "property": "payload[0].attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "false"
      },
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1050,
    "y": 940,
    "wires": [
      [
        "9c5e34bd3f7d518e"
      ],
      [
        "d3f50841c197172b"
      ]
    ]
  },
  {
    "id": "b86acc1242fde04d",
    "type": "function",
    "z": "666f64b87ddc48a7",
    "name": "Extract room from dial mqtt name and set regex to find speaker playing",
    "func": "\nvar room = msg.room\nvar action = msg.action\n\nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': \"media_player.\" + room + \".*_speaker\" ,  'valueType': 're' },{ 'property': 'state' ,  'logic': 'is_not' , 'value': \"off\" ,  'valueType': 'str' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\n     \"action\": action,\n     \"room\": room\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 1020,
    "wires": [
      [
        "920759e21d136d70"
      ]
    ]
  },
  {
    "id": "920759e21d136d70",
    "type": "ha-get-entities",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 700,
    "y": 1020,
    "wires": [
      [
        "6886b00579a47ca9"
      ]
    ]
  },
  {
    "id": "f8d9c3dd34151818",
    "type": "split",
    "z": "666f64b87ddc48a7",
    "name": "Split entities",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1420,
    "y": 960,
    "wires": [
      [
        "b664b74523b4dce4"
      ]
    ]
  },
  {
    "id": "6886b00579a47ca9",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "Device present?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 870,
    "y": 1020,
    "wires": [
      [
        "aa0122737509c6fc"
      ],
      [
        "844393205939ad55"
      ]
    ]
  },
  {
    "id": "c76d55840f276476",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "muted?",
    "property": "payload[0].attributes.is_volume_muted",
    "propertyType": "msg",
    "rules": [
      {
        "t": "false"
      },
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1510,
    "y": 1020,
    "wires": [
      [
        "f8d9c3dd34151818"
      ],
      [
        "4f95f32186f6bb15"
      ]
    ]
  },
  {
    "id": "b664b74523b4dce4",
    "type": "change",
    "z": "666f64b87ddc48a7",
    "name": "set entity data",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1610,
    "y": 960,
    "wires": [
      [
        "32d0d5d8310eaba4"
      ]
    ]
  },
  {
    "id": "40474d998686368b",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "Play_Pause action?",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1370,
    "y": 1060,
    "wires": [
      [
        "3c2ed831098ee12d"
      ],
      [
        "3c2ed831098ee12d"
      ]
    ]
  },
  {
    "id": "32d0d5d8310eaba4",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "Light mode off?",
    "property": "lightmode",
    "propertyType": "flow",
    "rules": [
      {
        "t": "neq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "null"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 1790,
    "y": 960,
    "wires": [
      [
        "c63977aa6eb88db6"
      ],
      [
        "c63977aa6eb88db6"
      ],
      [
        "cd18b173fc618309"
      ]
    ]
  },
  {
    "id": "88b10389f6548132",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "paused?",
    "property": "payload[0].state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "playing",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "paused",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1150,
    "y": 1020,
    "wires": [
      [
        "9c1a91c047dcd429"
      ],
      [
        "87c7a55fa57cbabf"
      ]
    ]
  },
  {
    "id": "cd18b173fc618309",
    "type": "trigger",
    "z": "666f64b87ddc48a7",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "100",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2010,
    "y": 1060,
    "wires": [
      [
        "087d14d5c0216afd"
      ]
    ]
  },
  {
    "id": "087d14d5c0216afd",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2160,
    "y": 1060,
    "wires": [
      [
        "9fcaf489e80646c3"
      ]
    ]
  },
  {
    "id": "6929e531e3c5a8ea",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "rotate_right",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "rotate_left",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_forward",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_backward",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 2020,
    "y": 960,
    "wires": [
      [
        "2a2581429ae16074"
      ],
      [
        "242a14df38fedce3"
      ],
      [
        "ce1c08617f001569"
      ],
      [
        "7b4a2d1d1dc42f60"
      ],
      [
        "7776b6611621c5e5"
      ]
    ]
  },
  {
    "id": "9fcaf489e80646c3",
    "type": "function",
    "z": "666f64b87ddc48a7",
    "name": "Extract room from dial mqtt name and set regex to find light groups",
    "func": "\nvar room = msg.room;\nvar action = msg.action\n\nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': \"light.group_\" + room + \"_lights\" ,  'valueType': 're' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object},\n     \"action\": action,\n     \"room\": room\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2470,
    "y": 1060,
    "wires": [
      [
        "e53874f76b06bda5"
      ]
    ]
  },
  {
    "id": "2a2581429ae16074",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_up",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2250,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "242a14df38fedce3",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_play_pause",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2290,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "ce1c08617f001569",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_down",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2280,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "7b4a2d1d1dc42f60",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "media_next_track",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2310,
    "y": 960,
    "wires": [
      []
    ]
  },
  {
    "id": "7776b6611621c5e5",
    "type": "change",
    "z": "666f64b87ddc48a7",
    "name": "set flow light mode = 1",
    "rules": [
      {
        "t": "set",
        "p": "lightmode",
        "pt": "flow",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2210,
    "y": 1000,
    "wires": [
      [
        "d7c88abb12326fc8"
      ]
    ]
  },
  {
    "id": "e53874f76b06bda5",
    "type": "ha-get-entities",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 2820,
    "y": 1060,
    "wires": [
      [
        "bb985f9aba92f8a6"
      ]
    ]
  },
  {
    "id": "d7c88abb12326fc8",
    "type": "trigger",
    "z": "666f64b87ddc48a7",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2420,
    "y": 1000,
    "wires": [
      [
        "c1c0b6369d83c057"
      ]
    ]
  },
  {
    "id": "bb985f9aba92f8a6",
    "type": "split",
    "z": "666f64b87ddc48a7",
    "name": "Split entities",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 3000,
    "y": 1060,
    "wires": [
      [
        "3e54994220490d3a",
        "30645abb471b56d1"
      ]
    ]
  },
  {
    "id": "c1c0b6369d83c057",
    "type": "change",
    "z": "666f64b87ddc48a7",
    "name": "set flow light mode = 0",
    "rules": [
      {
        "t": "set",
        "p": "lightmode",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2630,
    "y": 1000,
    "wires": [
      []
    ]
  },
  {
    "id": "3e54994220490d3a",
    "type": "change",
    "z": "666f64b87ddc48a7",
    "name": "set entity data",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3190,
    "y": 1060,
    "wires": [
      [
        "3ef8200c53c76f1f",
        "1ff19ddb17d47b19"
      ]
    ]
  },
  {
    "id": "3ef8200c53c76f1f",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "rotate_right",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "rotate_left",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "play_pause",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_forward",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "skip_backward",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 3340,
    "y": 1060,
    "wires": [
      [
        "c1e92ce79f8e7fa3"
      ],
      [
        "811772d3b5e3969d"
      ],
      [
        "e56541c01e9d0fe0",
        "1ff19ddb17d47b19"
      ],
      [
        "d5f7812fe85ed96f"
      ],
      []
    ]
  },
  {
    "id": "c1e92ce79f8e7fa3",
    "type": "function",
    "z": "666f64b87ddc48a7",
    "name": "Extract room from motion sensor entity an extract off lights to regex",
    "func": "var room = msg.room;\n\n\nconst rules_object = [{ 'property': 'entity_id' ,  'logic': 'is' , 'value': \"light.\" + room ,  'valueType': 're' }];// arranges the array \n\nvar msg = {\n    \"payload\":{ \"rules\": rules_object}\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3670,
    "y": 1000,
    "wires": [
      [
        "a2568ab72dbc24e7",
        "13417d21e5cd4e79"
      ]
    ]
  },
  {
    "id": "811772d3b5e3969d",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "Dim light",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"brightness_step_pct\": -10}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3490,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "e56541c01e9d0fe0",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "toggle",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3490,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "d5f7812fe85ed96f",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "Max white brightness",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"brightness_pct\": 100,\"color_name\": \"white\"}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3530,
    "y": 1120,
    "wires": [
      []
    ]
  },
  {
    "id": "a2568ab72dbc24e7",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 170",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 4070,
    "y": 1040,
    "wires": []
  },
  {
    "id": "13417d21e5cd4e79",
    "type": "ha-get-entities",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "",
        "logic": "is",
        "value": "",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 4080,
    "y": 980,
    "wires": [
      [
        "030613d112c5662c",
        "11cbcd9fb8c1493c"
      ]
    ]
  },
  {
    "id": "030613d112c5662c",
    "type": "trigger",
    "z": "666f64b87ddc48a7",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "600",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "topic",
    "topic": "payload.entity_id",
    "outputs": 1,
    "x": 4310,
    "y": 1000,
    "wires": [
      [
        "5a66ccaf3495c8d7"
      ]
    ]
  },
  {
    "id": "11cbcd9fb8c1493c",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 171",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 4310,
    "y": 1040,
    "wires": []
  },
  {
    "id": "5a66ccaf3495c8d7",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "Brightness?",
    "property": "payload.attributes.brightness",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      },
      {
        "t": "lt",
        "v": "250",
        "vt": "str"
      },
      {
        "t": "gte",
        "v": "250",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 4500,
    "y": 1000,
    "wires": [
      [
        "a36198bb98f4cb55"
      ],
      [
        "a36198bb98f4cb55"
      ],
      [
        "9b17715cb05ed67d",
        "1f7ecca76d41a053"
      ]
    ]
  },
  {
    "id": "a36198bb98f4cb55",
    "type": "change",
    "z": "666f64b87ddc48a7",
    "name": "set entity",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4670,
    "y": 1000,
    "wires": [
      [
        "ed5e552d790d42df"
      ]
    ]
  },
  {
    "id": "9b17715cb05ed67d",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 172",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 4670,
    "y": 1040,
    "wires": []
  },
  {
    "id": "1f7ecca76d41a053",
    "type": "function",
    "z": "666f64b87ddc48a7",
    "name": "White addist",
    "func": "// Declare variation\nvar saturation = msg.payload.attributes.hs_color[1];\nvar colorfinal = msg.payload.attributes.hs_color[0];\nvar entity_id = msg.payload.entity_id;\n\n// If saturation is over 10\nif(saturation > 10){\nvar saturationlesser = saturation - 10;\n} else if(saturation < 10){// If saturation is under 10\nvar saturationlesser = 0;\nvar colorfinal = 0;\n}\n else {\nvar saturationlesser = saturation;}\n\n\n\n\n\n\nvar newMsg = {\n    \"payload\": {\n            \"data\": {\n            \"hs_color\": [colorfinal, saturationlesser],\n            \"entity_id\": entity_id\n            }\n            }\n            \n   }\n\nreturn newMsg;\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4680,
    "y": 1080,
    "wires": [
      [
        "b003e527cc5191d2",
        "464c3aef41a01f3c"
      ]
    ]
  },
  {
    "id": "ed5e552d790d42df",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "Brightnen light",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"brightness_step_pct\": 10}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4910,
    "y": 1000,
    "wires": [
      []
    ]
  },
  {
    "id": "b003e527cc5191d2",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 173",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 4890,
    "y": 1040,
    "wires": []
  },
  {
    "id": "464c3aef41a01f3c",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "Add white",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 4890,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "4fc6eced1ccf8c63",
    "type": "trigger",
    "z": "666f64b87ddc48a7",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "200",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 2050,
    "y": 800,
    "wires": [
      [
        "2a2581429ae16074"
      ]
    ]
  },
  {
    "id": "30645abb471b56d1",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "split entity",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3190,
    "y": 960,
    "wires": []
  },
  {
    "id": "1ff19ddb17d47b19",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 174",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 3520,
    "y": 1200,
    "wires": []
  },
  {
    "id": "71bafc01e112cb08",
    "type": "ha-get-entities",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "attributes.administrative_area",
        "logic": "is",
        "value": "bedroom",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 570,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "292eb5d6f4873bb9",
    "type": "inject",
    "z": "666f64b87ddc48a7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 280,
    "y": 380,
    "wires": [
      [
        "71bafc01e112cb08"
      ]
    ]
  },
  {
    "id": "a404217aeb08935f",
    "type": "ha-api",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 1,
    "debugenabled": false,
    "protocol": "websocket",
    "method": "get",
    "path": "",
    "data": "{\t   \"type\":\"search/related\",\t   \"item_type\":\"area\",\t   \"item_id\":\"bedroom\"\t}",
    "dataType": "jsonata",
    "responseType": "json",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "results"
      }
    ],
    "x": 1610,
    "y": 300,
    "wires": [
      [
        "696a8e8a3cce56e6"
      ]
    ]
  },
  {
    "id": "75729b60dae90b9b",
    "type": "inject",
    "z": "666f64b87ddc48a7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1440,
    "y": 300,
    "wires": [
      [
        "a404217aeb08935f"
      ]
    ]
  },
  {
    "id": "696a8e8a3cce56e6",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1786,
    "y": 300,
    "wires": []
  },
  {
    "id": "da74958588158efb",
    "type": "ha-api",
    "z": "666f64b87ddc48a7",
    "name": "areas",
    "server": "7ab5c227.a3ce8c",
    "version": 1,
    "debugenabled": false,
    "protocol": "websocket",
    "method": "get",
    "path": "",
    "data": "{\"type\": \"config/area_registry/list\"}",
    "dataType": "json",
    "responseType": "json",
    "outputProperties": [
      {
        "property": "areas",
        "propertyType": "msg",
        "value": "",
        "valueType": "results"
      }
    ],
    "x": 450,
    "y": 1480,
    "wires": [
      [
        "78390cbd36dc001c"
      ]
    ]
  },
  {
    "id": "7756634998b883de",
    "type": "inject",
    "z": "666f64b87ddc48a7",
    "name": "Manual Update",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 256,
    "y": 1480,
    "wires": [
      [
        "da74958588158efb"
      ]
    ]
  },
  {
    "id": "78390cbd36dc001c",
    "type": "ha-api",
    "z": "666f64b87ddc48a7",
    "name": "devices",
    "server": "7ab5c227.a3ce8c",
    "version": 1,
    "debugenabled": false,
    "protocol": "websocket",
    "method": "get",
    "path": "",
    "data": "{\"type\": \"config/device_registry/list\"}",
    "dataType": "json",
    "responseType": "json",
    "outputProperties": [
      {
        "property": "devices",
        "propertyType": "msg",
        "value": "",
        "valueType": "results"
      }
    ],
    "x": 590,
    "y": 1480,
    "wires": [
      [
        "f7fb1e72f2d14e41"
      ]
    ]
  },
  {
    "id": "f7fb1e72f2d14e41",
    "type": "ha-api",
    "z": "666f64b87ddc48a7",
    "name": "entities",
    "server": "7ab5c227.a3ce8c",
    "version": 1,
    "debugenabled": false,
    "protocol": "websocket",
    "method": "get",
    "path": "",
    "data": "{\"type\": \"config/entity_registry/list\"}",
    "dataType": "json",
    "responseType": "json",
    "outputProperties": [
      {
        "property": "entities",
        "propertyType": "msg",
        "value": "",
        "valueType": "results"
      }
    ],
    "x": 734,
    "y": 1480,
    "wires": [
      [
        "51b6dfaab15b2105"
      ]
    ]
  },
  {
    "id": "979e7ae642fd5c8f",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1080,
    "y": 1480,
    "wires": []
  },
  {
    "id": "51b6dfaab15b2105",
    "type": "function",
    "z": "666f64b87ddc48a7",
    "name": "",
    "func": "const entities = {};\n\nmsg.entities.forEach(e => {\n    if(!e.device_id) return;\n    \n    const device = msg.devices.find(d => d.id === e.device_id);\n    const area = msg.areas.find(a => a.area_id === device.area_id);\n    if(area) {\n        entities[e.entity_id] = {\n            area_id: area.area_id,\n            name: area.name\n        };\n    }\n});\n\nmsg.payload = entities;\nmsg.update = true;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 1480,
    "wires": [
      [
        "979e7ae642fd5c8f"
      ]
    ]
  },
  {
    "id": "d25214652b418a9d",
    "type": "function",
    "z": "666f64b87ddc48a7",
    "name": "Extract room from dial mqtt name",
    "func": "var friendly_name = msg.payload.device.friendlyName; // light group\n\nvar room = friendly_name.replace(\"remote_\", \"\").replace(\"_dial\", \"\");\n\n\nvar msg = {\n     \"room\": room\n\n}\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 580,
    "wires": [
      [
        "ee1766d1823c38f7"
      ]
    ]
  },
  {
    "id": "773842d02f82815c",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 175",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1410,
    "y": 580,
    "wires": []
  },
  {
    "id": "468bf60284fc76a3",
    "type": "inject",
    "z": "666f64b87ddc48a7",
    "name": "dial office play pause",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "zigbee2mqtt/remote_office_dial",
    "payload": "{\"action\":\"play_pause\",\"battery\":null,\"brightness\":255,\"device\":{\"applicationVersion\":33,\"dateCode\":\"20190710\",\"friendlyName\":\"remote_office_dial\",\"hardwareVersion\":1,\"ieeeAddr\":\"0xec1bbdfffe325670\",\"manufacturerID\":4476,\"manufacturerName\":\"IKEA of Sweden\",\"model\":\"E1744\",\"networkAddress\":6245,\"powerSource\":\"Battery\",\"softwareBuildID\":\"2.1.024\",\"stackVersion\":98,\"type\":\"EndDevice\",\"zclVersion\":3},\"linkquality\":18,\"rate\":195,\"update\":{\"state\":\"available\"},\"update_available\":true}",
    "payloadType": "json",
    "x": 180,
    "y": 580,
    "wires": [
      [
        "d25214652b418a9d"
      ]
    ]
  },
  {
    "id": "c43875db375f2289",
    "type": "mqtt in",
    "z": "666f64b87ddc48a7",
    "name": "",
    "topic": "zigbee2mqtt/remote_hallway_dial",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 230,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "959943a513c0031d",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 176",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 370,
    "y": 800,
    "wires": []
  },
  {
    "id": "810966ab9127b7fe",
    "type": "ha-get-entities",
    "z": "666f64b87ddc48a7",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "attributes.administrative_area",
        "logic": "is",
        "value": "bedroom",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": true,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 1190,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "ee1766d1823c38f7",
    "type": "ha-api",
    "z": "666f64b87ddc48a7",
    "name": "Pull entities with msg.room",
    "server": "7ab5c227.a3ce8c",
    "version": 1,
    "debugenabled": false,
    "protocol": "websocket",
    "method": "get",
    "path": "",
    "data": "{\t   \"type\":\"search/related\",\t   \"item_type\":\"area\",\t   \"item_id\":msg.room\t}",
    "dataType": "jsonata",
    "responseType": "json",
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "results"
      }
    ],
    "x": 720,
    "y": 580,
    "wires": [
      [
        "c2487c20d3b1c407"
      ]
    ]
  },
  {
    "id": "c2487c20d3b1c407",
    "type": "split",
    "z": "666f64b87ddc48a7",
    "name": "Split results",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": "1",
    "arraySpltType": "len",
    "stream": false,
    "addname": "category",
    "x": 930,
    "y": 580,
    "wires": [
      [
        "a240543331165622"
      ]
    ]
  },
  {
    "id": "a240543331165622",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "",
    "property": "category",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "entity",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1070,
    "y": 580,
    "wires": [
      [
        "ecae28babb68cfb1"
      ]
    ]
  },
  {
    "id": "ecae28babb68cfb1",
    "type": "split",
    "z": "666f64b87ddc48a7",
    "name": "Split entities",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": "1",
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1210,
    "y": 580,
    "wires": [
      [
        "773842d02f82815c"
      ]
    ]
  },
  {
    "id": "df873c131b2cadc4",
    "type": "ha-get-entities",
    "z": "666f64b87ddc48a7",
    "name": "Get ChromecastMedia players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!plex).*_chromecast",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "off",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 1210,
    "y": 1960,
    "wires": [
      [
        "2af3bd24cdf558c2"
      ]
    ]
  },
  {
    "id": "9894413c2f0d344e",
    "type": "inject",
    "z": "666f64b87ddc48a7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1040,
    "y": 1860,
    "wires": [
      [
        "df873c131b2cadc4"
      ]
    ]
  },
  {
    "id": "2af3bd24cdf558c2",
    "type": "delay",
    "z": "666f64b87ddc48a7",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "8",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1460,
    "y": 1960,
    "wires": [
      [
        "e7713a1ab76f5647"
      ]
    ]
  },
  {
    "id": "e7713a1ab76f5647",
    "type": "change",
    "z": "666f64b87ddc48a7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1710,
    "y": 1960,
    "wires": [
      [
        "a1eec6f70193a63a"
      ]
    ]
  },
  {
    "id": "a1eec6f70193a63a",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "play visuals",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"media_content_id\":\"plex://{ \\\"playlist_name\\\": \\\"4k visuals\\\", \\\"shuffle\\\": 1 }\",\"media_content_type\":\"playlist\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1950,
    "y": 1960,
    "wires": [
      [
        "18d9335d8fcfb58a"
      ]
    ]
  },
  {
    "id": "18d9335d8fcfb58a",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "Set volume to 0.1",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"volume_level\":\"0.1\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2150,
    "y": 1960,
    "wires": [
      [
        "ba6de1af01422f84"
      ]
    ]
  },
  {
    "id": "ba6de1af01422f84",
    "type": "api-call-service",
    "z": "666f64b87ddc48a7",
    "name": "Mute Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2350,
    "y": 1960,
    "wires": [
      []
    ]
  },
  {
    "id": "8595d2e42518f921",
    "type": "http request",
    "z": "666f64b87ddc48a7",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "body",
    "url": "192.168.0.20:8686/api/v1/metadataprofile",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 990,
    "y": 440,
    "wires": [
      [
        "0b5c1e2134b252a9"
      ]
    ]
  },
  {
    "id": "0b5c1e2134b252a9",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 186",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1150,
    "y": 440,
    "wires": []
  },
  {
    "id": "5deba4b586c02662",
    "type": "inject",
    "z": "666f64b87ddc48a7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 840,
    "y": 440,
    "wires": [
      [
        "8595d2e42518f921"
      ]
    ]
  },
  {
    "id": "3144f0a16bd95f33",
    "type": "mqtt in",
    "z": "666f64b87ddc48a7",
    "name": "",
    "topic": "frigate/front_door_camera/#",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 380,
    "y": 2520,
    "wires": [
      [
        "eff57d8897b5c07e"
      ]
    ]
  },
  {
    "id": "eff57d8897b5c07e",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 210",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 2520,
    "wires": []
  },
  {
    "id": "7254f9d4ae569802",
    "type": "mqtt in",
    "z": "666f64b87ddc48a7",
    "name": "",
    "topic": "frigate/front_door_camera/dog",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 380,
    "y": 2280,
    "wires": [
      [
        "2baaaa24923b558a",
        "d9f6951708bd6d80"
      ]
    ]
  },
  {
    "id": "45df03d58e0da0fc",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 211",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1010,
    "y": 2280,
    "wires": []
  },
  {
    "id": "d9f6951708bd6d80",
    "type": "switch",
    "z": "666f64b87ddc48a7",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 590,
    "y": 2280,
    "wires": [
      [
        "40970d67388c8eed",
        "f747f3bcd4e6c2fe"
      ]
    ]
  },
  {
    "id": "2baaaa24923b558a",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 212",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 2180,
    "wires": []
  },
  {
    "id": "40970d67388c8eed",
    "type": "change",
    "z": "666f64b87ddc48a7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 2280,
    "wires": [
      [
        "45df03d58e0da0fc"
      ]
    ]
  },
  {
    "id": "f747f3bcd4e6c2fe",
    "type": "debug",
    "z": "666f64b87ddc48a7",
    "name": "debug 213",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 790,
    "y": 2220,
    "wires": []
  },
  {
    "id": "1cbf5143437fe34e",
    "type": "mqtt in",
    "z": "666f64b87ddc48a7",
    "name": "",
    "topic": "frigate/back_door_camera/dog",
    "qos": "2",
    "datatype": "json",
    "broker": "21000c19b97da572",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 380,
    "y": 2320,
    "wires": [
      [
        "d9f6951708bd6d80"
      ]
    ]
  }
]