node-red/flows/Trigger-Based.json
[
  {
    "id": "ad8c570ec4ac394a",
    "type": "tab",
    "label": "Trigger-Based",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "9442e076db99a2e1",
    "type": "junction",
    "z": "ad8c570ec4ac394a",
    "x": 2640,
    "y": 1720,
    "wires": [
      [
        "2c54900f0bdbbea5"
      ]
    ]
  },
  {
    "id": "630088e66f7238a1",
    "type": "junction",
    "z": "ad8c570ec4ac394a",
    "x": 740,
    "y": 1740,
    "wires": [
      [
        "74b80452ecae5b16"
      ]
    ]
  },
  {
    "id": "6ab4316b4ec28a96",
    "type": "junction",
    "z": "ad8c570ec4ac394a",
    "x": 1200,
    "y": 1860,
    "wires": [
      [
        "e216d39e85bfde74"
      ]
    ]
  },
  {
    "id": "89dbec727f07e1e0",
    "type": "junction",
    "z": "ad8c570ec4ac394a",
    "x": 800,
    "y": 1300,
    "wires": [
      [
        "6804ad9c77614881"
      ]
    ]
  },
  {
    "id": "6068ed8a2d16572e",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 610,
    "y": 1120,
    "wires": [
      [
        "5f1ff2606221f3da"
      ]
    ]
  },
  {
    "id": "5f1ff2606221f3da",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get ChromecastMedia players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!plex).*_chromecast",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "off",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 930,
    "y": 1120,
    "wires": [
      [
        "11b8508e77092b82"
      ]
    ]
  },
  {
    "id": "11b8508e77092b82",
    "type": "delay",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "8",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1180,
    "y": 1120,
    "wires": [
      [
        "7b39877584962e4a"
      ]
    ]
  },
  {
    "id": "7b39877584962e4a",
    "type": "change",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1430,
    "y": 1120,
    "wires": [
      [
        "a5c306f57feb5805"
      ]
    ]
  },
  {
    "id": "a5c306f57feb5805",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "play visuals",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"media_content_id\":\"plex://{ \\\"playlist_name\\\": \\\"All visuals\\\", \\\"shuffle\\\": 1 }\",\"media_content_type\":\"playlist\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1670,
    "y": 1120,
    "wires": [
      [
        "12fb54a46d00a846"
      ]
    ]
  },
  {
    "id": "12fb54a46d00a846",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "Set volume to 0.1",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"volume_level\":\"0.1\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1870,
    "y": 1120,
    "wires": [
      [
        "398f48e21a51b004"
      ]
    ]
  },
  {
    "id": "398f48e21a51b004",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "Mute Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2070,
    "y": 1120,
    "wires": [
      []
    ]
  },
  {
    "id": "3586d6b055cb9233",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "15 seconds cooldown",
    "info": "",
    "x": 600,
    "y": 1080,
    "wires": []
  },
  {
    "id": "fb7caec077a03aff",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Pull all inactive Chromecasts entities",
    "info": "",
    "x": 920,
    "y": 1080,
    "wires": []
  },
  {
    "id": "ad9b491d1b77c5fa",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "rate limit at 1 per 8s",
    "info": "",
    "x": 1170,
    "y": 1080,
    "wires": []
  },
  {
    "id": "44479e23cca77b31",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Extract the entity id",
    "info": "",
    "x": 1430,
    "y": 1080,
    "wires": []
  },
  {
    "id": "96aaa4ef19a0bee5",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Start the visuals playlist",
    "info": "",
    "x": 1660,
    "y": 1080,
    "wires": []
  },
  {
    "id": "fa094f1bbbe3a0c1",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Set volume to 0.1",
    "info": "",
    "x": 1880,
    "y": 1080,
    "wires": []
  },
  {
    "id": "34ce572432324952",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Mute the Tv",
    "info": "",
    "x": 2070,
    "y": 1080,
    "wires": []
  },
  {
    "id": "a86e575a7e0d41c5",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.acid_time",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 1120,
    "wires": [
      [
        "6068ed8a2d16572e"
      ],
      []
    ]
  },
  {
    "id": "6a1551121912b3c7",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Play trippy visuals when acid mode is triggered",
    "info": "",
    "x": 280,
    "y": 1080,
    "wires": []
  },
  {
    "id": "4daa01cac8181277",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.kink_party",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 1640,
    "wires": [
      [
        "a4034e3426b2b90d"
      ],
      []
    ]
  },
  {
    "id": "837d97adee6c9078",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 1020,
    "wires": [
      [
        "739f28daa568c871"
      ]
    ]
  },
  {
    "id": "6c3c41c2885cb18e",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "15 seconds cooldown",
    "info": "",
    "x": 580,
    "y": 980,
    "wires": []
  },
  {
    "id": "739f28daa568c871",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  Light entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?k95_rgb_2_led.*?)(?!.*?door.*?).*?_(?!.*?lights.*?).*",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "on",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 830,
    "y": 1020,
    "wires": [
      [
        "ae64cb72a1c38399"
      ]
    ]
  },
  {
    "id": "cc2adca2c4baf2d5",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Try to Pull all lit single lights",
    "info": "",
    "x": 820,
    "y": 980,
    "wires": []
  },
  {
    "id": "5e9bf472a7d3c895",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.acid_time",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 1020,
    "wires": [
      [
        "837d97adee6c9078"
      ],
      []
    ]
  },
  {
    "id": "760cb0b08e7989ae",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Change light to random colors on acid mode",
    "info": "",
    "x": 270,
    "y": 980,
    "wires": []
  },
  {
    "id": "ae64cb72a1c38399",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1070,
    "y": 1020,
    "wires": [
      [
        "2f13453376465f8b"
      ]
    ]
  },
  {
    "id": "7941ec1c14bdf74c",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 1060,
    "y": 980,
    "wires": []
  },
  {
    "id": "4785df9fde6fcd4d",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate Random saturated color",
    "func": "var entity_id = msg.payload.entity_id;\n\n\nvar hue = Math.floor(Math.random() * 360); //generate a random number up to 360\n\nvar hs_color = hue + \",100\";\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"brightness_pct\": 100\n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1600,
    "y": 1020,
    "wires": [
      [
        "f42aed7de4812f9d"
      ]
    ]
  },
  {
    "id": "f42aed7de4812f9d",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1890,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "5112ea4aa4f5c26d",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated random HS 100% saturated color",
    "info": "",
    "x": 1610,
    "y": 980,
    "wires": []
  },
  {
    "id": "a74bc1ffd3fdd8f9",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 1890,
    "y": 980,
    "wires": []
  },
  {
    "id": "0070875ba8af1c52",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1070,
    "y": 1640,
    "wires": [
      [
        "84d8286bfbe1661d"
      ]
    ]
  },
  {
    "id": "1fafb1100f03e73c",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 1060,
    "y": 1600,
    "wires": []
  },
  {
    "id": "84d8286bfbe1661d",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate semi-random saturated color",
    "func": "var entity_id = msg.payload.entity_id;\nvar hue = 'test';\n\nvar hue_under_20 = Math.floor(Math.random() * 20); //generate a random number up to 20\nvar hue_over_260 = Math.floor(Math.random() * 100) + 260; //generate a random number up to 360\nvar random_selector = Math.floor(Math.random() * 2); //generate a random number up to 2 ( 0 index)\n\nswitch(random_selector) {\n  case 0:\n    var hue = hue_under_20;\n    break;\n  case 1:\n    var hue = hue_over_260;\n    // code block\n    break;\n  case 2:\n    var hue = hue_over_260;\n    // code block\n  default:\n}\n\nvar hs_color = hue + \",100\";\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"brightness_pct\": 100\n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1410,
    "y": 1640,
    "wires": [
      [
        "ce569981d15e01f9"
      ]
    ]
  },
  {
    "id": "ce569981d15e01f9",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1750,
    "y": 1640,
    "wires": [
      []
    ]
  },
  {
    "id": "8c788bb16d44c998",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated HS 100% saturated color between orange and purple",
    "info": "",
    "x": 1410,
    "y": 1600,
    "wires": []
  },
  {
    "id": "82b870106ace9712",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 1750,
    "y": 1600,
    "wires": []
  },
  {
    "id": "a4034e3426b2b90d",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 1640,
    "wires": [
      [
        "57f236eb64968c51"
      ]
    ]
  },
  {
    "id": "57f236eb64968c51",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  Light groups",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?all.*?)(?!.*?door.*?).*?_lights$",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 850,
    "y": 1640,
    "wires": [
      [
        "0070875ba8af1c52"
      ]
    ]
  },
  {
    "id": "266772944b486c06",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Pull all light groups",
    "info": "",
    "x": 850,
    "y": 1600,
    "wires": []
  },
  {
    "id": "d904d25bb9c212a0",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "also sets the entity_id",
    "info": "",
    "x": 1420,
    "y": 1680,
    "wires": []
  },
  {
    "id": "9e0d2a87c4862562",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "15 minutes cooldown",
    "info": "",
    "x": 580,
    "y": 1600,
    "wires": []
  },
  {
    "id": "d610007ced8096fb",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Change light to warmn colors on kink mode",
    "info": "",
    "x": 260,
    "y": 1600,
    "wires": []
  },
  {
    "id": "9f398a5cb9a82e8d",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.acid_time",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 1300,
    "wires": [
      [
        "f48fe17557cf66de"
      ],
      []
    ]
  },
  {
    "id": "9881a9f9ac028d1e",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Start music across the place when acid mode is on",
    "info": "",
    "x": 290,
    "y": 1260,
    "wires": []
  },
  {
    "id": "f48fe17557cf66de",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "Home group",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.group_home_speakers",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 650,
    "y": 1300,
    "wires": [
      [
        "89dbec727f07e1e0"
      ],
      []
    ]
  },
  {
    "id": "dcbcfadfd0a359ad",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "play music",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "media_player.ytube_music_player"
    ],
    "data": "{\"media_content_id\":\"RDCLAK5uy_mJl9Qy6PpXvT-JbR4DJbGxG6UqOiWqWSg\",\"media_content_type\":\"playlist\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1610,
    "y": 1260,
    "wires": [
      []
    ]
  },
  {
    "id": "12c5ab640f39ceb6",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Make sure Home Group is not playing",
    "info": "",
    "x": 650,
    "y": 1260,
    "wires": []
  },
  {
    "id": "dfa27ea023fafd5b",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Send media_play command",
    "info": "",
    "x": 1620,
    "y": 1220,
    "wires": []
  },
  {
    "id": "10b869bd689ae010",
    "type": "inject",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1900,
    "y": 2860,
    "wires": [
      [
        "f7a24cb6dbf4c660"
      ]
    ]
  },
  {
    "id": "f7a24cb6dbf4c660",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get active hotbox Media players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!.*?group.*?)(?!.*?top.*?)(?!.*?plex.*?).*hotbox.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 2110,
    "y": 2860,
    "wires": [
      [
        "07b3821af4b52692"
      ]
    ]
  },
  {
    "id": "07b3821af4b52692",
    "type": "debug",
    "z": "ad8c570ec4ac394a",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2400,
    "y": 2860,
    "wires": []
  },
  {
    "id": "fc6bf96773f2d1a4",
    "type": "inject",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 580,
    "y": 3200,
    "wires": [
      [
        "45e38d814857d3fd"
      ]
    ]
  },
  {
    "id": "2f13453376465f8b",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1300,
    "y": 1020,
    "wires": [
      [
        "4785df9fde6fcd4d"
      ]
    ]
  },
  {
    "id": "c681bfada6313045",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "info": "",
    "x": 1260,
    "y": 980,
    "wires": []
  },
  {
    "id": "67d42729c9dfa729",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.acid_time",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 1460,
    "wires": [
      [
        "43c972f7629d8a1f"
      ],
      []
    ]
  },
  {
    "id": "73d18616b2404059",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.kink_party",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 1540,
    "wires": [
      [
        "43c972f7629d8a1f"
      ],
      []
    ]
  },
  {
    "id": "bbb1b673486b2a72",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Close blinds automatically",
    "info": "",
    "x": 210,
    "y": 1500,
    "wires": []
  },
  {
    "id": "43c972f7629d8a1f",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  Covers",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "^cover.*",
        "valueType": "re"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 550,
    "y": 1500,
    "wires": [
      [
        "e9a2f694ad617051"
      ]
    ]
  },
  {
    "id": "934327820cd3b9db",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cover",
    "service": "set_cover_position",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"position\": 0 }",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1270,
    "y": 1500,
    "wires": [
      []
    ]
  },
  {
    "id": "e9a2f694ad617051",
    "type": "change",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 1500,
    "wires": [
      [
        "934327820cd3b9db"
      ]
    ]
  },
  {
    "id": "3de0e38b3391fa0f",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Extract the entity id",
    "info": "",
    "x": 850,
    "y": 1460,
    "wires": []
  },
  {
    "id": "e216d39e85bfde74",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "trigger",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "-27",
    "extend": false,
    "overrideDelay": true,
    "units": "s",
    "reset": "off",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1290,
    "y": 1800,
    "wires": [
      [
        "c35f86c38b307e2a"
      ]
    ]
  },
  {
    "id": "60c802a803ab7630",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "resend every minute",
    "info": "",
    "x": 590,
    "y": 1540,
    "wires": []
  },
  {
    "id": "c35f86c38b307e2a",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  on Light entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?workstation.*?)(?!.*?door.*?).*?_(?!.*?lights.*?).*",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "on",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 1520,
    "y": 1800,
    "wires": [
      [
        "d96013fcab1de88f"
      ]
    ]
  },
  {
    "id": "b8918acbc043e03b",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Try to Pull all single lights",
    "info": "",
    "x": 1510,
    "y": 1760,
    "wires": []
  },
  {
    "id": "c3523ad88b296bc0",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.trippy_lights_effect",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 280,
    "y": 1860,
    "wires": [
      [
        "4427e8d39681e34b"
      ],
      [
        "6ab4316b4ec28a96"
      ]
    ]
  },
  {
    "id": "b9b72ca9a47fe8bb",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Output the transition speed",
    "info": "",
    "x": 270,
    "y": 1700,
    "wires": []
  },
  {
    "id": "d96013fcab1de88f",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1750,
    "y": 1800,
    "wires": [
      [
        "f373e604f393df36"
      ]
    ]
  },
  {
    "id": "ce2a7725a9b135eb",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 1740,
    "y": 1760,
    "wires": []
  },
  {
    "id": "2c54900f0bdbbea5",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate Random saturated color",
    "func": "var entity_id = msg.payload.entity_id;\n\n\nvar hue = Math.floor(Math.random() * 360); //generate a random number up to 360\n\nvar hs_color = hue + \",100\";\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"transition\": 30\n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2940,
    "y": 1720,
    "wires": [
      [
        "36aeeb784b9b67d3"
      ]
    ]
  },
  {
    "id": "9742776084a6cf49",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3710,
    "y": 1720,
    "wires": [
      []
    ]
  },
  {
    "id": "c4aa529c3bfe0b04",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated random HS 100% saturated color",
    "info": "Generates fully saturdated zolors without any white",
    "x": 2950,
    "y": 1680,
    "wires": []
  },
  {
    "id": "572c1dd0e1c64066",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 3710,
    "y": 1680,
    "wires": []
  },
  {
    "id": "f373e604f393df36",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1960,
    "y": 1800,
    "wires": [
      [
        "301622d4f5b9283a"
      ]
    ]
  },
  {
    "id": "ffedbf625aa02554",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "info": "",
    "x": 1960,
    "y": 1760,
    "wires": []
  },
  {
    "id": "301622d4f5b9283a",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude white lights",
    "property": "payload.attributes.hs_color[1]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "45",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2270,
    "y": 1800,
    "wires": [
      [
        "266c35d39976b527"
      ]
    ]
  },
  {
    "id": "14e5b5fc211769db",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude white lights",
    "info": "",
    "x": 2270,
    "y": 1760,
    "wires": []
  },
  {
    "id": "0ab6f9152439d8af",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get on Light entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?all.*?)(?!.*?group.*?)(?!.*?door.*?)(?!.*?nate.*?).*?_(?!.*?lights.*?).*",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "on",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 600,
    "y": 2040,
    "wires": [
      [
        "81946780c56f602e"
      ]
    ]
  },
  {
    "id": "b6bdfe2b7847f2b7",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Try to Pull all single lights",
    "info": "",
    "x": 590,
    "y": 2000,
    "wires": []
  },
  {
    "id": "81946780c56f602e",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 830,
    "y": 2040,
    "wires": [
      [
        "39e0f12350ee7f1a"
      ]
    ]
  },
  {
    "id": "18201a36b62935e2",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 820,
    "y": 2000,
    "wires": []
  },
  {
    "id": "37b4f8618d88a9f6",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"color_name\": \"white\",\"transition\": 25}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1950,
    "y": 2040,
    "wires": [
      []
    ]
  },
  {
    "id": "569a244b153689a5",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service with 25s transition to white",
    "info": "",
    "x": 1960,
    "y": 2000,
    "wires": []
  },
  {
    "id": "39e0f12350ee7f1a",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 2040,
    "wires": [
      [
        "29b0e978a2e3726e"
      ]
    ]
  },
  {
    "id": "070d31bd4f074398",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "info": "",
    "x": 1040,
    "y": 2000,
    "wires": []
  },
  {
    "id": "29b0e978a2e3726e",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude white lights",
    "property": "payload.attributes.hs_color[1]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "45",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1350,
    "y": 2040,
    "wires": [
      [
        "ba8f1f9ba7caa887"
      ]
    ]
  },
  {
    "id": "d3bbe811fd5706fe",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude white lights",
    "info": "",
    "x": 1350,
    "y": 2000,
    "wires": []
  },
  {
    "id": "71b5ac1ee70cb6db",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.trippy_lights_effect",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 280,
    "y": 2040,
    "wires": [
      [
        "0ab6f9152439d8af"
      ],
      []
    ]
  },
  {
    "id": "f53e3ff032543575",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Returns lights to normality when trippy lights is off",
    "info": "",
    "x": 280,
    "y": 2000,
    "wires": []
  },
  {
    "id": "ba8f1f9ba7caa887",
    "type": "change",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1610,
    "y": 2040,
    "wires": [
      [
        "37b4f8618d88a9f6"
      ]
    ]
  },
  {
    "id": "b63722f5e8efecb9",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Extract the entity id",
    "info": "",
    "x": 1610,
    "y": 2000,
    "wires": []
  },
  {
    "id": "266c35d39976b527",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "Acid mode on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.acid_time",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2480,
    "y": 1800,
    "wires": [
      [
        "9442e076db99a2e1"
      ],
      [
        "6376942863a60cd1"
      ]
    ]
  },
  {
    "id": "6376942863a60cd1",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "Party Mode off?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.party_mode",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 2680,
    "y": 1820,
    "wires": [
      [
        "2c54900f0bdbbea5"
      ],
      [
        "6df8b0ea967974ba"
      ]
    ]
  },
  {
    "id": "6df8b0ea967974ba",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate Random whiteish color",
    "func": "var entity_id = msg.payload.entity_id;\n\n\nvar hue = Math.floor(Math.random() * 360); //generate a random number up to 360\n\nvar hs_color = hue + \",60\";\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"transition\": 30\n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2940,
    "y": 1820,
    "wires": [
      [
        "b1f69e31bd7b64d3"
      ]
    ]
  },
  {
    "id": "7c96df0988a1f2e8",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 3710,
    "y": 1820,
    "wires": [
      []
    ]
  },
  {
    "id": "2384cfdc8c9ff685",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated random HS 60% saturated color",
    "info": "",
    "x": 2960,
    "y": 1780,
    "wires": []
  },
  {
    "id": "ffdac1079452e050",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 3710,
    "y": 1780,
    "wires": []
  },
  {
    "id": "8b33b34cd591cd12",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Is someone high?",
    "info": "",
    "x": 2490,
    "y": 1760,
    "wires": []
  },
  {
    "id": "95a2f4f003b52cc2",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Is it party time?",
    "info": "",
    "x": 2680,
    "y": 1780,
    "wires": []
  },
  {
    "id": "36aeeb784b9b67d3",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "TRansition?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_number.trippy_lights_effect_speed",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload.data.transition",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3210,
    "y": 1720,
    "wires": [
      [
        "8638760da61933b1"
      ]
    ]
  },
  {
    "id": "4427e8d39681e34b",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "TRansition?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_number.trippy_lights_effect_speed",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "delay",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 570,
    "y": 1820,
    "wires": [
      [
        "630088e66f7238a1"
      ]
    ]
  },
  {
    "id": "b1f69e31bd7b64d3",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "TRansition?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_number.trippy_lights_effect_speed",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload.data.transition",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3210,
    "y": 1820,
    "wires": [
      [
        "986ec2990f7b1d2b"
      ]
    ]
  },
  {
    "id": "3ec9d48db7a29234",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "delay",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_number.trippy_lights_effect_speed",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "num",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 310,
    "y": 1740,
    "wires": [
      [
        "630088e66f7238a1"
      ]
    ]
  },
  {
    "id": "0a7a7514d579949c",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Convert MS to S",
    "func": "var seconds = msg.delay * 1000;\n\nvar msg = {\n    \"delay\": seconds\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 1800,
    "wires": [
      [
        "e216d39e85bfde74"
      ]
    ]
  },
  {
    "id": "74b80452ecae5b16",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "Effect on?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.trippy_lights_effect",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 900,
    "y": 1820,
    "wires": [
      [
        "0a7a7514d579949c"
      ],
      []
    ]
  },
  {
    "id": "b46bfc99d6f67018",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Output the transition speed",
    "info": "",
    "x": 570,
    "y": 1780,
    "wires": []
  },
  {
    "id": "0e54e9dc17ebe8de",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Is the effect on?",
    "info": "",
    "x": 900,
    "y": 1780,
    "wires": []
  },
  {
    "id": "37bd44f22fee717e",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Trigger on \"trippy lights effect\" toggle",
    "info": "",
    "x": 280,
    "y": 1820,
    "wires": []
  },
  {
    "id": "42ddbc4a3d56b5b2",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Output the transition speed",
    "info": "",
    "x": 3230,
    "y": 1680,
    "wires": []
  },
  {
    "id": "816cb8557c929c95",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Output the transition speed",
    "info": "",
    "x": 3230,
    "y": 1780,
    "wires": []
  },
  {
    "id": "8638760da61933b1",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "Saturation?",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_number.trippy_lights_color_saturation",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload.data.hs_color[1]",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3450,
    "y": 1720,
    "wires": [
      [
        "9742776084a6cf49"
      ]
    ]
  },
  {
    "id": "986ec2990f7b1d2b",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "Saturation",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_number.trippy_lights_color_saturation",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload.data.hs_color[1]",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 3450,
    "y": 1820,
    "wires": [
      [
        "7c96df0988a1f2e8"
      ]
    ]
  },
  {
    "id": "c00687f46b6065e4",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Output the color saturation",
    "info": "",
    "x": 3470,
    "y": 1680,
    "wires": []
  },
  {
    "id": "2fc677cffaf3712f",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Output the color saturation",
    "info": "",
    "x": 3470,
    "y": 1780,
    "wires": []
  },
  {
    "id": "df7959a17666432e",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.show_lyrics",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 200,
    "y": 3380,
    "wires": [
      [
        "51ea5ee7a5dee235"
      ],
      [
        "3d2173d5d941fa22"
      ]
    ]
  },
  {
    "id": "45e38d814857d3fd",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get ChromecastMedia players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!plex).*_chromecast",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "off",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 1190,
    "y": 3380,
    "wires": [
      [
        "f5f31a7289f1792a"
      ]
    ]
  },
  {
    "id": "f5f31a7289f1792a",
    "type": "delay",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1440,
    "y": 3380,
    "wires": [
      [
        "55efad02a56cbde1"
      ]
    ]
  },
  {
    "id": "55efad02a56cbde1",
    "type": "change",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 3380,
    "wires": [
      [
        "47c2c09a0f9b8bd0"
      ]
    ]
  },
  {
    "id": "47c2c09a0f9b8bd0",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "Cast lyrics",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "cast",
    "service": "show_lovelace_view",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"dashboard_path\":\"lovelace-hub\",\"view_path\":\"karaoke\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1930,
    "y": 3380,
    "wires": [
      [
        "780929606df5a4fc"
      ]
    ]
  },
  {
    "id": "7c556ee0a47317f3",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Display lyrics on TVs when showlyrics mode is triggered",
    "info": "",
    "x": 240,
    "y": 3340,
    "wires": []
  },
  {
    "id": "b274fab4affe458f",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Pull all inactive Chromecasts entities",
    "info": "",
    "x": 1180,
    "y": 3340,
    "wires": []
  },
  {
    "id": "1c20b23ec241978b",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "rate limit at 1 per 8s",
    "info": "",
    "x": 1430,
    "y": 3340,
    "wires": []
  },
  {
    "id": "d6d5849a860e48f8",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Extract the entity id",
    "info": "",
    "x": 1690,
    "y": 3340,
    "wires": []
  },
  {
    "id": "c895a095762bdb40",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Start the visuals playlist",
    "info": "",
    "x": 1920,
    "y": 3340,
    "wires": []
  },
  {
    "id": "51ea5ee7a5dee235",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.group_home_speakers",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 670,
    "y": 3380,
    "wires": [
      [
        "45e38d814857d3fd"
      ],
      []
    ]
  },
  {
    "id": "3d2173d5d941fa22",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get ChromecastMedia players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!plex).*_chromecast",
        "valueType": "re"
      },
      {
        "property": "attributes.media_title",
        "logic": "is",
        "value": "lovelace-hub: Karaoke",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 610,
    "y": 3520,
    "wires": [
      [
        "978e4a94ca1b50a1"
      ]
    ]
  },
  {
    "id": "978e4a94ca1b50a1",
    "type": "change",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 3520,
    "wires": [
      [
        "1e4987d26149bf33"
      ]
    ]
  },
  {
    "id": "1e4987d26149bf33",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "Stop cast",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1340,
    "y": 3520,
    "wires": [
      []
    ]
  },
  {
    "id": "345108ed53660124",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Make sure Home group is playing",
    "info": "",
    "x": 670,
    "y": 3340,
    "wires": []
  },
  {
    "id": "1c893d951d205976",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Extract the entity id",
    "info": "",
    "x": 1090,
    "y": 3480,
    "wires": []
  },
  {
    "id": "8a1a8a7cadb580c7",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Stop the cast",
    "info": "",
    "x": 1330,
    "y": 3480,
    "wires": []
  },
  {
    "id": "780929606df5a4fc",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "mute player",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\":\"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2190,
    "y": 3380,
    "wires": [
      []
    ]
  },
  {
    "id": "5595b6a9f9d700dc",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Mute player",
    "info": "",
    "x": 2170,
    "y": 3340,
    "wires": []
  },
  {
    "id": "07cd581f9b3b5828",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Pull all lyrics casting Chromecasts entities",
    "info": "",
    "x": 620,
    "y": 3480,
    "wires": []
  },
  {
    "id": "6ffdc8b6e02bfc69",
    "type": "trigger-state",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 2,
    "inputs": 0,
    "outputs": 2,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is_not",
        "comparatorValueDatatype": "num",
        "comparatorValue": "0"
      },
      {
        "targetType": "entity_id",
        "targetValue": "input_boolean.waiting_pakidge",
        "propertyType": "current_state",
        "propertyValue": "new_state.state",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "enableInput": false,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.front_door_camera_person_count",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "x": 280,
    "y": 2780,
    "wires": [
      [
        "7db0dc91253bee08"
      ],
      []
    ]
  },
  {
    "id": "a3905471250639d1",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_fold4",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"Someone is nearing the door\",\"title\":\"Pakidge Attempt?\",\"data\":{\"image\":\"https://hass.purgatoire.ca/local/pakidge.jpg\"}}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1080,
    "y": 2780,
    "wires": [
      []
    ]
  },
  {
    "id": "7db0dc91253bee08",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "Save pakidge.jpg",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "camera",
    "service": "snapshot",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "camera.front_door_go2rtc"
    ],
    "data": "{\"filename\":\"/config/www/pakidge.jpg\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 670,
    "y": 2780,
    "wires": [
      [
        "a3905471250639d1"
      ]
    ]
  },
  {
    "id": "ba864598c9411636",
    "type": "inject",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 440,
    "y": 2720,
    "wires": [
      [
        "7db0dc91253bee08"
      ]
    ]
  },
  {
    "id": "3c0539b0f3b00da5",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 580,
    "y": 740,
    "wires": [
      [
        "73d7d43d57b2e30f"
      ]
    ]
  },
  {
    "id": "c37b606f5c9c2ae7",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "15 seconds cooldown",
    "info": "",
    "x": 580,
    "y": 700,
    "wires": []
  },
  {
    "id": "73d7d43d57b2e30f",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  Light entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?k95_rgb_2_led.*?)(?!.*?door.*?).*?_(?!.*?lights.*?).*",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "on",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 830,
    "y": 740,
    "wires": [
      [
        "345651af8bf55493"
      ]
    ]
  },
  {
    "id": "bc07ec44273636ee",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Try to Pull all lit single lights",
    "info": "",
    "x": 820,
    "y": 700,
    "wires": []
  },
  {
    "id": "f0105def6dddb0f9",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.random_colors",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 270,
    "y": 740,
    "wires": [
      [
        "3c0539b0f3b00da5"
      ],
      []
    ]
  },
  {
    "id": "698c1c86b99cb219",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Change light to random colors on press",
    "info": "",
    "x": 250,
    "y": 700,
    "wires": []
  },
  {
    "id": "345651af8bf55493",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1070,
    "y": 740,
    "wires": [
      [
        "2566d728b2774429"
      ]
    ]
  },
  {
    "id": "97e7d322435425a6",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 1060,
    "y": 700,
    "wires": []
  },
  {
    "id": "670a7e87eea13cda",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate Random saturated color",
    "func": "var entity_id = msg.payload.entity_id;\n\n\nvar hue = Math.floor(Math.random() * 360); //generate a random number up to 360\n\nvar hs_color = hue + \",100\";\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"brightness_pct\": 100\n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1600,
    "y": 740,
    "wires": [
      [
        "3346af2c31e1d041"
      ]
    ]
  },
  {
    "id": "3346af2c31e1d041",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1890,
    "y": 740,
    "wires": [
      [
        "219fcd606607f1a5"
      ]
    ]
  },
  {
    "id": "20a6bc2656df7cd3",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated random HS 100% saturated color",
    "info": "",
    "x": 1610,
    "y": 700,
    "wires": []
  },
  {
    "id": "4a9b7c8566e06d0e",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 1890,
    "y": 700,
    "wires": []
  },
  {
    "id": "2566d728b2774429",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1300,
    "y": 740,
    "wires": [
      [
        "670a7e87eea13cda"
      ]
    ]
  },
  {
    "id": "3beee483420df235",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "info": "",
    "x": 1260,
    "y": 700,
    "wires": []
  },
  {
    "id": "204355a813037618",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.random_colors"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2300,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "7fc55e4a8583516a",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Turn off boolean input",
    "info": "",
    "x": 2280,
    "y": 700,
    "wires": []
  },
  {
    "id": "219fcd606607f1a5",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2080,
    "y": 740,
    "wires": [
      [
        "204355a813037618"
      ]
    ]
  },
  {
    "id": "3da9382f8b5fb7a1",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 580,
    "y": 860,
    "wires": [
      [
        "5d0ddef411b27f47"
      ]
    ]
  },
  {
    "id": "262788e499c293fa",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "15 seconds cooldown",
    "info": "",
    "x": 580,
    "y": 820,
    "wires": []
  },
  {
    "id": "5d0ddef411b27f47",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  Light entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?k95_rgb_2_led.*?)(?!.*?door.*?).*?_(?!.*?lights.*?).*",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "on",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 830,
    "y": 860,
    "wires": [
      [
        "97c76ddf1df579b3"
      ]
    ]
  },
  {
    "id": "66c314369e60a72d",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Try to Pull all lit single lights",
    "info": "",
    "x": 820,
    "y": 820,
    "wires": []
  },
  {
    "id": "7983f47f3129f7f4",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 2,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.random_pastel_colors",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 290,
    "y": 860,
    "wires": [
      [
        "3da9382f8b5fb7a1"
      ],
      []
    ]
  },
  {
    "id": "4eec48e8082a1681",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Change light to random pastel colors on press",
    "info": "",
    "x": 270,
    "y": 820,
    "wires": []
  },
  {
    "id": "97c76ddf1df579b3",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1070,
    "y": 860,
    "wires": [
      [
        "289f7ecb38c37668"
      ]
    ]
  },
  {
    "id": "adaef3244b408911",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 1060,
    "y": 820,
    "wires": []
  },
  {
    "id": "2a75e80c9ffc8381",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate Random pastel color",
    "func": "var entity_id = msg.payload.entity_id;\n\n\nvar hue = Math.floor(Math.random() * 360); //generate a random number up to 360\n\nvar hs_color = hue + \",45\";\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"brightness_pct\": 100\n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1590,
    "y": 860,
    "wires": [
      [
        "450fecf41250af0e"
      ]
    ]
  },
  {
    "id": "450fecf41250af0e",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1890,
    "y": 860,
    "wires": [
      [
        "ddd33f2c5c20b48f"
      ]
    ]
  },
  {
    "id": "ee3668c3dd83cca1",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated random HS 55% saturated color",
    "info": "",
    "x": 1600,
    "y": 820,
    "wires": []
  },
  {
    "id": "14c65687277f04db",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 1890,
    "y": 820,
    "wires": []
  },
  {
    "id": "289f7ecb38c37668",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1300,
    "y": 860,
    "wires": [
      [
        "2a75e80c9ffc8381"
      ]
    ]
  },
  {
    "id": "04cb1fa9cdb294b1",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "info": "",
    "x": 1260,
    "y": 820,
    "wires": []
  },
  {
    "id": "2fedca693f45ba39",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.random_pastel_colors"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2300,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "d0b078b7d3db8067",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Turn off boolean input",
    "info": "",
    "x": 2280,
    "y": 820,
    "wires": []
  },
  {
    "id": "ddd33f2c5c20b48f",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2080,
    "y": 860,
    "wires": [
      [
        "2fedca693f45ba39"
      ]
    ]
  },
  {
    "id": "29d792dddbf23293",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 580,
    "y": 540,
    "wires": [
      [
        "f74f4229dd1ff813"
      ]
    ]
  },
  {
    "id": "981b8d49db044650",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "15 seconds cooldown",
    "info": "",
    "x": 580,
    "y": 500,
    "wires": []
  },
  {
    "id": "f74f4229dd1ff813",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  Light entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?k95_rgb_2_led.*?)(?!.*?door.*?).*?_(?!.*?lights.*?).*",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "on",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 830,
    "y": 540,
    "wires": [
      [
        "8b52838755e2eff7"
      ]
    ]
  },
  {
    "id": "b391718b61e5d75b",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Try to Pull all lit single lights",
    "info": "",
    "x": 820,
    "y": 500,
    "wires": []
  },
  {
    "id": "51e95d967df464aa",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_button.generate_warm_colors",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 290,
    "y": 540,
    "wires": [
      [
        "29d792dddbf23293"
      ]
    ]
  },
  {
    "id": "220c74292b512bb5",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Change light to warm saturated colors on press",
    "info": "",
    "x": 280,
    "y": 500,
    "wires": []
  },
  {
    "id": "8b52838755e2eff7",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1070,
    "y": 540,
    "wires": [
      [
        "85cd0f79967163cb"
      ]
    ]
  },
  {
    "id": "bf981747e6c1918a",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 1060,
    "y": 500,
    "wires": []
  },
  {
    "id": "0612fa506e02a3d5",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate warm saturated color ( to edit)",
    "func": "var entity_id = msg.payload.entity_id;\n\nvar r = Math.round(Math.random() * 4)\nvar hue1 = (Math.round(Math.random() * 100) + 250); //generate a random number up to 150\nvar hue2 = Math.round(Math.random() * 40); //generate a random number up to 150\n//var huef = hue + 250;\nvar saturation = (Math.round(Math.random() * 20) + 80 )\nswitch(r) {\n  case 1:\n    var hue = hue1\n    break;\n  case 2:\n    var hue = hue1\n    break;\n  case 3:\n    var hue = hue1\n    break;\n  case 4:\n    var hue = hue2\n    break;\n}\n\nvar hs_color = hue + \",\" + saturation;\n\n\n\n\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"brightness_pct\": 100,\n            \n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1580,
    "y": 540,
    "wires": [
      [
        "751677464ccc03dd"
      ]
    ]
  },
  {
    "id": "751677464ccc03dd",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1890,
    "y": 540,
    "wires": [
      [
        "10aa3a14e006ce9e"
      ]
    ]
  },
  {
    "id": "8bda6b787a1395f6",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated random HS 100% saturated color",
    "info": "",
    "x": 1590,
    "y": 500,
    "wires": []
  },
  {
    "id": "99ad64fcaaeda74d",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 1890,
    "y": 500,
    "wires": []
  },
  {
    "id": "85cd0f79967163cb",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1300,
    "y": 540,
    "wires": [
      [
        "0612fa506e02a3d5"
      ]
    ]
  },
  {
    "id": "1fcd6d42544866f3",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "info": "",
    "x": 1260,
    "y": 500,
    "wires": []
  },
  {
    "id": "10aa3a14e006ce9e",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2080,
    "y": 540,
    "wires": [
      [
        "9fec3d7fae47d13f"
      ]
    ]
  },
  {
    "id": "9fec3d7fae47d13f",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.random_colors"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2300,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "53876ef0816021a4",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Turn off boolean input",
    "info": "",
    "x": 2280,
    "y": 500,
    "wires": []
  },
  {
    "id": "b753b69a69ca3b78",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 620,
    "y": 640,
    "wires": [
      [
        "0ed3a88c554f5fa5"
      ]
    ]
  },
  {
    "id": "b9d979f327628d68",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "15 seconds cooldown",
    "info": "",
    "x": 580,
    "y": 600,
    "wires": []
  },
  {
    "id": "0ed3a88c554f5fa5",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  Light entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?group.*?)(?!.*?k95_rgb_2_led.*?)(?!.*?door.*?).*?_(?!.*?lights.*?).*",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "on",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 830,
    "y": 640,
    "wires": [
      [
        "39f1dad06948485b"
      ]
    ]
  },
  {
    "id": "5d9fd93a5a9ba944",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Try to Pull all lit single lights",
    "info": "",
    "x": 820,
    "y": 600,
    "wires": []
  },
  {
    "id": "5a1b1f514bf0e0c6",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_button.generate_light_warm_colors",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 310,
    "y": 640,
    "wires": [
      [
        "b753b69a69ca3b78"
      ]
    ]
  },
  {
    "id": "74a39ee43a487dc8",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Change light to warm pale colors on press",
    "info": "",
    "x": 260,
    "y": 600,
    "wires": []
  },
  {
    "id": "39f1dad06948485b",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1070,
    "y": 640,
    "wires": [
      [
        "2b24bf370ac1466a"
      ]
    ]
  },
  {
    "id": "fdb1f5ee72473536",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 1060,
    "y": 600,
    "wires": []
  },
  {
    "id": "8c7ece9de0998cea",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate warm pale  color ( to edit)",
    "func": "var entity_id = msg.payload.entity_id;\n\nvar r = Math.round(Math.random() * 4)\nvar hue1 = (Math.round(Math.random() * 60) + 300); //generate a random number up to 300->360\nvar hue2 = Math.round(Math.random() * 30); //generate a random number up to 30\n//var huef = hue + 250;\nvar saturation = (Math.round(Math.random() * 20) + 40 ); // generate random saturation from 80 to 100\nswitch(r) {\n  case 1:\n    var hue = hue1\n    break;\n  case 2:\n    var hue = hue1\n    break;\n  case 3:\n    var hue = hue1\n    break;\n  case 4:\n    var hue = hue2\n    break;\n}\n\nvar hs_color = hue + \",\" + saturation;\n\n\n\n\nvar hs_color_array = hs_color.split(\",\");\nvar newMsg = {\n    \"payload\": {\n        \"data\": {\n            \"hs_color\": hs_color_array,\n            \"entity_id\": entity_id,\n            \"brightness_pct\": 100,\n            \n            \n}\n        }\n    }\n;\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1560,
    "y": 640,
    "wires": [
      [
        "8409535fc3549229"
      ]
    ]
  },
  {
    "id": "8409535fc3549229",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1890,
    "y": 640,
    "wires": [
      [
        "c19304865aab8aa4"
      ]
    ]
  },
  {
    "id": "26a522ed4fa01f58",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated random HS 100% saturated color",
    "info": "",
    "x": 1590,
    "y": 600,
    "wires": []
  },
  {
    "id": "0664378320eb1efa",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 1890,
    "y": 600,
    "wires": []
  },
  {
    "id": "2b24bf370ac1466a",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "property": "payload.attributes.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1300,
    "y": 640,
    "wires": [
      [
        "8c7ece9de0998cea"
      ]
    ]
  },
  {
    "id": "4d2276ac66bc5288",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Exclude groups",
    "info": "",
    "x": 1260,
    "y": 600,
    "wires": []
  },
  {
    "id": "c19304865aab8aa4",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "1",
    "op1type": "nul",
    "op2type": "str",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2080,
    "y": 640,
    "wires": [
      [
        "f7c96e6c05323061"
      ]
    ]
  },
  {
    "id": "f7c96e6c05323061",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "homeassistant",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_boolean.random_colors"
    ],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2300,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "5f9f4c4ecb82917d",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Turn off boolean input",
    "info": "",
    "x": 2280,
    "y": 600,
    "wires": []
  },
  {
    "id": "508ad8a8eeb35324",
    "type": "debug",
    "z": "ad8c570ec4ac394a",
    "name": "debug 219",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 2680,
    "wires": []
  },
  {
    "id": "6d654bed6ce79d26",
    "type": "trigger",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 590,
    "y": 440,
    "wires": [
      [
        "3e380e11087941f4"
      ]
    ]
  },
  {
    "id": "6cb9d7d32622f240",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "15 seconds cooldown",
    "info": "",
    "x": 580,
    "y": 400,
    "wires": []
  },
  {
    "id": "3e380e11087941f4",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get  kitchen group entities",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "light\\.(?!.*?all.*?)(.*?group.*?).*?_(.*?lights.*?).*",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "on",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 850,
    "y": 440,
    "wires": [
      [
        "d4e8bf3b495fca62"
      ]
    ]
  },
  {
    "id": "cf9c016bea0146d9",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Try to Pull all lit single groups",
    "info": "",
    "x": 820,
    "y": 400,
    "wires": []
  },
  {
    "id": "f2d5facb5df5fc89",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_button.generate_fake_white",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 290,
    "y": 440,
    "wires": [
      [
        "6d654bed6ce79d26"
      ]
    ]
  },
  {
    "id": "79761279678b7417",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Change light to fake white on press ",
    "info": "",
    "x": 240,
    "y": 400,
    "wires": []
  },
  {
    "id": "d4e8bf3b495fca62",
    "type": "switch",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "property": "payload.attributes.supported_color_modes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "(xy|hs)",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1070,
    "y": 440,
    "wires": [
      [
        "beb66e34d1b616b3"
      ]
    ]
  },
  {
    "id": "d1186d554482977f",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Check for color support",
    "info": "",
    "x": 1060,
    "y": 400,
    "wires": []
  },
  {
    "id": "0aa5225356e7f714",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2130,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "efa1b136670eb59b",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Generated random colors that equate to white",
    "info": "",
    "x": 1350,
    "y": 400,
    "wires": []
  },
  {
    "id": "1f88c189b04c6768",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Call light_on service",
    "info": "",
    "x": 2130,
    "y": 400,
    "wires": []
  },
  {
    "id": "beb66e34d1b616b3",
    "type": "function",
    "z": "ad8c570ec4ac394a",
    "name": "Generate fake white",
    "func": "\nlet entity_ids = msg.payload.attributes.entity_id;\n\nlet complementaryColors = generateRandomComplementaryColors( entity_ids);\n\n\nfunction generateRandomComplementaryColors(entity_ids) {\n    let complementaryColors = [];\n    let numColors = entity_ids.length;\n    let h = Math.floor(Math.random() * 360);\n    let s = 100;\n    for (let i = 0; i < numColors; i++) {\n        h = (h + (360 / numColors)) % 360;\n        complementaryColors.push({ entity_id: entity_ids[i].toString(), hs_color: [h, s] });\n    }\n    return complementaryColors;\n}\n\n\nvar newMsg = {\"payload\":    complementaryColors \n\n           };\n\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1320,
    "y": 440,
    "wires": [
      [
        "2b49c035fb659639"
      ]
    ]
  },
  {
    "id": "2b49c035fb659639",
    "type": "split",
    "z": "ad8c570ec4ac394a",
    "name": "Split entities",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1630,
    "y": 440,
    "wires": [
      [
        "b3cad8ff2777804e"
      ]
    ]
  },
  {
    "id": "b3cad8ff2777804e",
    "type": "change",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "payload.data",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "100",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1880,
    "y": 440,
    "wires": [
      [
        "0aa5225356e7f714"
      ]
    ]
  },
  {
    "id": "fbadb1bd0f9239ec",
    "type": "server-state-changed",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "server": "7ab5c227.a3ce8c",
    "version": 4,
    "outputs": 1,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_button.start_visuals",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "output_only_on_state_change": true,
    "x": 260,
    "y": 320,
    "wires": [
      [
        "a65eecc2fef4ba0f"
      ]
    ]
  },
  {
    "id": "a65eecc2fef4ba0f",
    "type": "ha-get-entities",
    "z": "ad8c570ec4ac394a",
    "name": "Get ChromecastMedia players",
    "server": "7ab5c227.a3ce8c",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "is",
        "value": "media_player\\.(?!plex).*_chromecast",
        "valueType": "re"
      },
      {
        "property": "state",
        "logic": "is",
        "value": "off",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 910,
    "y": 320,
    "wires": [
      [
        "51199158d46e0295"
      ]
    ]
  },
  {
    "id": "51199158d46e0295",
    "type": "delay",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "8",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1160,
    "y": 320,
    "wires": [
      [
        "e4b6a6bec5325209"
      ]
    ]
  },
  {
    "id": "e4b6a6bec5325209",
    "type": "change",
    "z": "ad8c570ec4ac394a",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1410,
    "y": 320,
    "wires": [
      [
        "8c34625370f45845"
      ]
    ]
  },
  {
    "id": "8c34625370f45845",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "play visuals",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "play_media",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"media_content_id\":\"plex://{ \\\"playlist_name\\\": \\\"All visuals\\\", \\\"shuffle\\\": 1 }\",\"media_content_type\":\"playlist\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1650,
    "y": 320,
    "wires": [
      [
        "86ad8b5c3e743d63"
      ]
    ]
  },
  {
    "id": "86ad8b5c3e743d63",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "Set volume to 0.1",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_set",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"volume_level\":\"0.1\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1850,
    "y": 320,
    "wires": [
      [
        "91308b18084aacd9"
      ]
    ]
  },
  {
    "id": "91308b18084aacd9",
    "type": "api-call-service",
    "z": "ad8c570ec4ac394a",
    "name": "Mute Volume",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "media_player",
    "service": "volume_mute",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"is_volume_muted\": \"true\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 2050,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "254db86d684064da",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Pull all inactive Chromecasts entities",
    "info": "",
    "x": 900,
    "y": 280,
    "wires": []
  },
  {
    "id": "7d6422b1fb5ebb0d",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "rate limit at 1 per 8s",
    "info": "",
    "x": 1150,
    "y": 280,
    "wires": []
  },
  {
    "id": "5b61c24bbe77e52e",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Extract the entity id",
    "info": "",
    "x": 1410,
    "y": 280,
    "wires": []
  },
  {
    "id": "3ce230a54b5b7743",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Start the visuals playlist",
    "info": "",
    "x": 1640,
    "y": 280,
    "wires": []
  },
  {
    "id": "9842fbad593db2a8",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Set volume to 0.1",
    "info": "",
    "x": 1860,
    "y": 280,
    "wires": []
  },
  {
    "id": "30507b6e938bc357",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Mute the Tv",
    "info": "",
    "x": 2050,
    "y": 280,
    "wires": []
  },
  {
    "id": "6cfc80889293c008",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "(bug mitigation)",
    "info": "The Google chromecasts don't always give the right volume, this forces an update",
    "x": 1860,
    "y": 360,
    "wires": []
  },
  {
    "id": "1bdbda330ff37a46",
    "type": "comment",
    "z": "ad8c570ec4ac394a",
    "name": "Play soft visuals when \"Start visual\" is pressed",
    "info": "",
    "x": 250,
    "y": 280,
    "wires": []
  },
  {
    "id": "6804ad9c77614881",
    "type": "api-current-state",
    "z": "ad8c570ec4ac394a",
    "name": "OIffice Speakers is not playing",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "media_player.group_office_speakers",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "entity",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 970,
    "y": 1260,
    "wires": [
      [
        "dcbcfadfd0a359ad"
      ],
      []
    ]
  }
]