node-red/subflows/Light Alerts old.json
[
  {
    "id": "dfb97c6505f003d9",
    "type": "subflow",
    "name": "Light Alerts old",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 200,
        "y": 700,
        "wires": [
          {
            "id": "ac96ceaf6db5e36c"
          }
        ]
      }
    ],
    "out": [],
    "env": [],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "11f21ab76a3a546b",
    "type": "debug",
    "z": "dfb97c6505f003d9",
    "name": "test ici 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2540,
    "y": 500,
    "wires": []
  },
  {
    "id": "ac96ceaf6db5e36c",
    "type": "delay",
    "z": "dfb97c6505f003d9",
    "name": "Lights",
    "pauseType": "rate",
    "timeout": "1",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 330,
    "y": 700,
    "wires": [
      [
        "07dc2e9ad30b5777",
        "e6854572b01c4317",
        "158b49848844d1b0",
        "2a9ca44eddcc7884",
        "a28f7b4e5938455a",
        "79b5832995dc742f"
      ]
    ]
  },
  {
    "id": "07dc2e9ad30b5777",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.patio",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.patio_notification_light",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 500,
    "y": 960,
    "wires": [
      [
        "7f74db0678fe88b5"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "e6854572b01c4317",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.hotbox_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 530,
    "y": 880,
    "wires": [
      [
        "322fdae5fabd2958"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "158b49848844d1b0",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.kitchen_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_kitchen_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 530,
    "y": 800,
    "wires": [
      [
        "e95dc67ec2ac1da0"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "2a9ca44eddcc7884",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.entrance_in",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_entrance_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 520,
    "y": 720,
    "wires": [
      [
        "1071993451a1b643"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "7f74db0678fe88b5",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 960,
    "wires": [
      [
        "93cc7873913fe128"
      ]
    ]
  },
  {
    "id": "322fdae5fabd2958",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 880,
    "wires": [
      [
        "a4b755ee5b36c49c"
      ]
    ]
  },
  {
    "id": "e95dc67ec2ac1da0",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 800,
    "wires": [
      [
        "810f3685e8436eda"
      ]
    ]
  },
  {
    "id": "1071993451a1b643",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 720,
    "wires": [
      [
        "4907adb9b35b3037"
      ]
    ]
  },
  {
    "id": "93cc7873913fe128",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 920,
    "y": 960,
    "wires": [
      [
        "29e689216c49f3db"
      ]
    ]
  },
  {
    "id": "a4b755ee5b36c49c",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 920,
    "y": 880,
    "wires": [
      [
        "a2ba28437ceb0e1a"
      ]
    ]
  },
  {
    "id": "810f3685e8436eda",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 920,
    "y": 800,
    "wires": [
      [
        "7cdd1d739d989e9f"
      ]
    ]
  },
  {
    "id": "4907adb9b35b3037",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 920,
    "y": 720,
    "wires": [
      [
        "5be63b0010fbf37e"
      ]
    ]
  },
  {
    "id": "29e689216c49f3db",
    "type": "delay",
    "z": "dfb97c6505f003d9",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1080,
    "y": 960,
    "wires": [
      [
        "a7cb77d8af35aa95"
      ]
    ]
  },
  {
    "id": "a2ba28437ceb0e1a",
    "type": "delay",
    "z": "dfb97c6505f003d9",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1080,
    "y": 880,
    "wires": [
      [
        "46fd7f4081e96254"
      ]
    ]
  },
  {
    "id": "7cdd1d739d989e9f",
    "type": "delay",
    "z": "dfb97c6505f003d9",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1080,
    "y": 800,
    "wires": [
      [
        "325804bf9f3917a8"
      ]
    ]
  },
  {
    "id": "5be63b0010fbf37e",
    "type": "delay",
    "z": "dfb97c6505f003d9",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1080,
    "y": 720,
    "wires": [
      [
        "9062ea12d3fd7fb7"
      ]
    ]
  },
  {
    "id": "a7cb77d8af35aa95",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 960,
    "wires": [
      [
        "f13be4bf5a0730a7"
      ]
    ]
  },
  {
    "id": "46fd7f4081e96254",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 880,
    "wires": [
      [
        "61dfbc1428636755"
      ]
    ]
  },
  {
    "id": "325804bf9f3917a8",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 800,
    "wires": [
      [
        "e4bef3e05a0edb82"
      ]
    ]
  },
  {
    "id": "9062ea12d3fd7fb7",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 720,
    "wires": [
      [
        "b61ba7719812f140"
      ]
    ]
  },
  {
    "id": "f13be4bf5a0730a7",
    "type": "template",
    "z": "dfb97c6505f003d9",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 1440,
    "y": 960,
    "wires": [
      [
        "e4926f5a6a42c3cf"
      ]
    ]
  },
  {
    "id": "61dfbc1428636755",
    "type": "template",
    "z": "dfb97c6505f003d9",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 1440,
    "y": 880,
    "wires": [
      [
        "a981a3acda3bf7f2"
      ]
    ]
  },
  {
    "id": "e4bef3e05a0edb82",
    "type": "template",
    "z": "dfb97c6505f003d9",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 1440,
    "y": 800,
    "wires": [
      [
        "1242d3d4030389f5"
      ]
    ]
  },
  {
    "id": "b61ba7719812f140",
    "type": "template",
    "z": "dfb97c6505f003d9",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 1440,
    "y": 720,
    "wires": [
      [
        "82ccf490a0bd5dbf"
      ]
    ]
  },
  {
    "id": "e4926f5a6a42c3cf",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 960,
    "wires": [
      [
        "2e686d1b8ac123ef"
      ]
    ]
  },
  {
    "id": "a981a3acda3bf7f2",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 880,
    "wires": [
      [
        "3fa979185b00a86c"
      ]
    ]
  },
  {
    "id": "1242d3d4030389f5",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 800,
    "wires": [
      [
        "a6453d0cdf185a00"
      ]
    ]
  },
  {
    "id": "82ccf490a0bd5dbf",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 720,
    "wires": [
      [
        "3dd2b1f3ac581194"
      ]
    ]
  },
  {
    "id": "593a650c23e05eda",
    "type": "switch",
    "z": "dfb97c6505f003d9",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1750,
    "y": 920,
    "wires": [
      [
        "e4926f5a6a42c3cf"
      ]
    ]
  },
  {
    "id": "2e686d1b8ac123ef",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.patio",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.patio_notification_light",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1820,
    "y": 960,
    "wires": [
      [
        "593a650c23e05eda"
      ]
    ]
  },
  {
    "id": "8b669eb0ffc4fdc0",
    "type": "switch",
    "z": "dfb97c6505f003d9",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1750,
    "y": 840,
    "wires": [
      [
        "a981a3acda3bf7f2"
      ]
    ]
  },
  {
    "id": "3fa979185b00a86c",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.hotbox_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.hotbox_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1850,
    "y": 880,
    "wires": [
      [
        "8b669eb0ffc4fdc0"
      ]
    ]
  },
  {
    "id": "4756af2cf9966227",
    "type": "switch",
    "z": "dfb97c6505f003d9",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1750,
    "y": 760,
    "wires": [
      [
        "1242d3d4030389f5"
      ]
    ]
  },
  {
    "id": "a6453d0cdf185a00",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.kitchen_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_kitchen_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1850,
    "y": 800,
    "wires": [
      [
        "4756af2cf9966227"
      ]
    ]
  },
  {
    "id": "09de7d2338bffacc",
    "type": "switch",
    "z": "dfb97c6505f003d9",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1750,
    "y": 680,
    "wires": [
      [
        "82ccf490a0bd5dbf"
      ]
    ]
  },
  {
    "id": "3dd2b1f3ac581194",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.entrance_in",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_entrance_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1840,
    "y": 720,
    "wires": [
      [
        "09de7d2338bffacc"
      ]
    ]
  },
  {
    "id": "a28f7b4e5938455a",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.livingroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_livingroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 540,
    "y": 640,
    "wires": [
      [
        "f6eab789cbd882e3"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "33a55975615f8545",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 640,
    "wires": [
      [
        "cc4c3fcc17a0914e"
      ]
    ]
  },
  {
    "id": "d4085f68174c73d8",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 640,
    "wires": [
      [
        "7921d8c3beb64e57"
      ]
    ]
  },
  {
    "id": "7921d8c3beb64e57",
    "type": "template",
    "z": "dfb97c6505f003d9",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 1440,
    "y": 640,
    "wires": [
      [
        "33a55975615f8545"
      ]
    ]
  },
  {
    "id": "da340bab1bfeabb6",
    "type": "delay",
    "z": "dfb97c6505f003d9",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1080,
    "y": 640,
    "wires": [
      [
        "d4085f68174c73d8"
      ]
    ]
  },
  {
    "id": "f6eab789cbd882e3",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 640,
    "wires": [
      [
        "d0e9bcb81e15c2e3"
      ]
    ]
  },
  {
    "id": "d0e9bcb81e15c2e3",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 920,
    "y": 640,
    "wires": [
      [
        "da340bab1bfeabb6"
      ]
    ]
  },
  {
    "id": "cc4c3fcc17a0914e",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.livingroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.group_livingroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1860,
    "y": 640,
    "wires": [
      [
        "cb4d9f0c4110702b"
      ]
    ]
  },
  {
    "id": "cb4d9f0c4110702b",
    "type": "switch",
    "z": "dfb97c6505f003d9",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1750,
    "y": 600,
    "wires": [
      [
        "33a55975615f8545"
      ]
    ]
  },
  {
    "id": "8c7456abb749808a",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1060,
    "y": 560,
    "wires": [
      [
        "37bcb81b399086ae",
        "151efa7534923119"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "56de61e0d809ba77",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2160,
    "y": 560,
    "wires": [
      [
        "895d6a84e56f8bfe",
        "11f21ab76a3a546b"
      ]
    ]
  },
  {
    "id": "7912b9b681500142",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1760,
    "y": 560,
    "wires": [
      [
        "864c932a3c4c250b"
      ]
    ]
  },
  {
    "id": "864c932a3c4c250b",
    "type": "template",
    "z": "dfb97c6505f003d9",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 1960,
    "y": 560,
    "wires": [
      [
        "56de61e0d809ba77"
      ]
    ]
  },
  {
    "id": "fbaa2e568aba0ee0",
    "type": "delay",
    "z": "dfb97c6505f003d9",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "1",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1600,
    "y": 560,
    "wires": [
      [
        "7912b9b681500142"
      ]
    ]
  },
  {
    "id": "37bcb81b399086ae",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1230,
    "y": 560,
    "wires": [
      [
        "92e1ed806843cd80"
      ]
    ]
  },
  {
    "id": "92e1ed806843cd80",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1400,
    "y": 560,
    "wires": [
      [
        "fbaa2e568aba0ee0"
      ]
    ]
  },
  {
    "id": "895d6a84e56f8bfe",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.bedroom_lights",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.bedroom_lights",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 2380,
    "y": 560,
    "wires": [
      [
        "9e0951868dbe15d2",
        "11f21ab76a3a546b"
      ]
    ]
  },
  {
    "id": "9e0951868dbe15d2",
    "type": "switch",
    "z": "dfb97c6505f003d9",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2270,
    "y": 520,
    "wires": [
      [
        "56de61e0d809ba77"
      ]
    ]
  },
  {
    "id": "6402fc45aa975a92",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.thierry",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.thierry",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "status",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "entity_old",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "entity_id",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 530,
    "y": 160,
    "wires": [
      [
        "2a504003bec81b1e"
      ]
    ],
    "outputLabels": [
      "data.attributes"
    ]
  },
  {
    "id": "2a504003bec81b1e",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "rules",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "color_value",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness_pct",
        "pt": "msg",
        "to": "dbrigthness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 160,
    "wires": [
      [
        "54c3cd8409cbec5b"
      ]
    ]
  },
  {
    "id": "54c3cd8409cbec5b",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 940,
    "y": 160,
    "wires": [
      [
        "1e0f35ee233412c3"
      ]
    ]
  },
  {
    "id": "1e0f35ee233412c3",
    "type": "delay",
    "z": "dfb97c6505f003d9",
    "name": "",
    "pauseType": "random",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "2",
    "randomLast": "3",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1100,
    "y": 160,
    "wires": [
      [
        "fd54554c87c115e3"
      ]
    ]
  },
  {
    "id": "fd54554c87c115e3",
    "type": "change",
    "z": "dfb97c6505f003d9",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.rgb_color",
        "pt": "msg",
        "to": "entity_old.attributes.rgb_color",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.brightness",
        "pt": "msg",
        "to": "entity_old.attributes.brightness",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.data.entity_id",
        "pt": "msg",
        "to": "entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 160,
    "wires": [
      [
        "83717d1cae286c12"
      ]
    ]
  },
  {
    "id": "83717d1cae286c12",
    "type": "template",
    "z": "dfb97c6505f003d9",
    "name": "Extract status",
    "field": "payload.service",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\"turn_{{status}}\"",
    "output": "json",
    "x": 1460,
    "y": 160,
    "wires": [
      [
        "2f76e4ae9f417e7b"
      ]
    ]
  },
  {
    "id": "2f76e4ae9f417e7b",
    "type": "api-call-service",
    "z": "dfb97c6505f003d9",
    "name": "Change Lights",
    "server": "7ab5c227.a3ce8c",
    "version": 5,
    "debugenabled": false,
    "domain": "light",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1660,
    "y": 160,
    "wires": [
      [
        "2ca583cbae66cdd5"
      ]
    ]
  },
  {
    "id": "6da73629a705f36c",
    "type": "switch",
    "z": "dfb97c6505f003d9",
    "name": "!=rain",
    "property": "data.attributes.rgb_color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color_value",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1770,
    "y": 120,
    "wires": [
      [
        "2f76e4ae9f417e7b"
      ]
    ]
  },
  {
    "id": "2ca583cbae66cdd5",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "light.thierry",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.thierry",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1850,
    "y": 160,
    "wires": [
      [
        "6da73629a705f36c"
      ]
    ]
  },
  {
    "id": "79b5832995dc742f",
    "type": "api-current-state",
    "z": "dfb97c6505f003d9",
    "name": "sleeping",
    "server": "7ab5c227.a3ce8c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.maxi_sleeping",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 520,
    "y": 560,
    "wires": [
      [
        "8c7456abb749808a"
      ],
      [
        "759db47b11b97885"
      ]
    ],
    "outputLabels": [
      "data.attributes",
      ""
    ]
  },
  {
    "id": "151efa7534923119",
    "type": "debug",
    "z": "dfb97c6505f003d9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1090,
    "y": 500,
    "wires": []
  },
  {
    "id": "759db47b11b97885",
    "type": "switch",
    "z": "dfb97c6505f003d9",
    "name": "!=green",
    "property": "color_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "green",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 840,
    "y": 580,
    "wires": [
      [
        "8c7456abb749808a"
      ]
    ]
  }
]